openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: 'Aiven API Documentation Service: Kafka API'
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Service:_Kafka
  x-displayName: 'Service: Kafka'
paths:
  /project/{project}/service/{service_name}/acl:
    post:
      summary: Add Aiven Kafka ACL entry
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaAclAdd
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaAclAddRequestBody'
            example:
              permission: readwrite
              topic: top*
              username: admin*
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaAclAddResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_acl_too_many
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_acl_too_many: Maximum number of service ACLs reached'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: List Aiven ACL entries for Kafka service
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaAclList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaAclListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_not_found: Service not found'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/acl/{kafka_acl_id}:
    delete:
      summary: Delete a Kafka ACL entry
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaAclDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/kafka_acl_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaAclDeleteResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_acl_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_acl_not_found: No such service ACL exists'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/connectors:
    post:
      summary: Create a Kafka Connect connector
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectCreateConnector
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaConnectCreateConnectorRequestBody'
            example:
              connector\.class: io.debezium.connector.postgresql.PostgresConnector
              name: s3-sink-us-east-1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectCreateConnectorResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Lists Kafka connectors
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectList
      description: Returns successfully resolved connectors in 'connectors' array. If any connectors fail plugin resolution, they are returned in 'failed_connectors' array with an 'error' field explaining the issue.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/connectors/{connector_name}:
    delete:
      summary: Delete Kafka Connect connector
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectDeleteConnector
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectDeleteConnectorResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    put:
      summary: Edit Kafka Connect connector
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectEditConnector
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaConnectEditConnectorRequestBody'
            example:
              connector\.class: io.debezium.connector.postgresql.PostgresConnector
              name: s3-sink-us-east-1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectEditConnectorResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/available-connectors:
    get:
      summary: Get available Kafka Connect connectors
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectGetAvailableConnectors
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectGetAvailableConnectorsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/connector-plugins/{connector_name}/configuration:
    get:
      summary: Get Kafka Connect connector configuration schema
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectGetConnectorConfiguration
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectGetConnectorConfigurationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/connectors/{connector_name}/status:
    get:
      summary: Get a Kafka Connect Connector status
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectGetConnectorStatus
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectGetConnectorStatusResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/connectors/{connector_name}/pause:
    post:
      summary: Pause a Kafka Connect Connector
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectPauseConnector
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectPauseConnectorResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/connectors/{connector_name}/restart:
    post:
      summary: Restart a Kafka Connect Connector
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectRestartConnector
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectRestartConnectorResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/connectors/{connector_name}/tasks/{task_id}/restart:
    post:
      summary: Restart a Kafka Connect Connector task
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectRestartConnectorTask
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      - $ref: '#/components/parameters/task_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectRestartConnectorTaskResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/connectors/{connector_name}/resume:
    post:
      summary: Resume a Kafka Connect Connector
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectResumeConnector
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectResumeConnectorResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/connectors/{connector_name}/stop:
    post:
      summary: Stop a Kafka Connect Connector
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaConnectStopConnector
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/connector_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaConnectStopConnectorResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/kafka/acl:
    post:
      summary: Add a Kafka-native ACL entry
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaNativeAclAdd
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaNativeAclAddRequestBody'
            example:
              host: '*'
              operation: Read
              pattern_type: LITERAL
              permission_type: ALLOW
              principal: User:alice
              resource_name: consumer-group-1.
              resource_type: Topic
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaNativeAclAddResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_acl_too_many
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_acl_too_many: Maximum number of service ACLs reached'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_acl_not_supported
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_acl_not_supported: Unsupported Kafka-native ACL'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: List Kafka-native ACL entries
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaNativeAclList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaNativeAclListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_not_found: Service not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_maintenance_required
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_maintenance_required: The service does not support the functionality. A maintenance update is required.'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/acl/{kafka_acl_id}:
    delete:
      summary: Delete a Kafka-native ACL entry
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaNativeAclDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/kafka_acl_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaNativeAclDeleteResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_acl_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_acl_not_found: No such service ACL exists'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get single Kafka-native ACL entry
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaNativeAclGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/kafka_acl_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaNativeAclGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_acl_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_acl_not_found: No such service ACL exists'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/quota:
    post:
      summary: Create Kafka quota
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaQuotaCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaQuotaCreateRequestBody'
            example:
              client\-id: abc123
              consumer_byte_rate: '1048576'
              producer_byte_rate: '1048576'
              request_percentage: '25'
              user: alice
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaQuotaCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    delete:
      summary: Delete Kafka quota
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaQuotaDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/servicekafkaquotadelete_client-id'
      - $ref: '#/components/parameters/servicekafkaquotadelete_user'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaQuotaDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: List Kafka quotas
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaQuotaList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaQuotaListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/quota/describe:
    get:
      summary: Describe Specific Kafka quotas
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaQuotaDescribe
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/servicekafkaquotadescribe_client-id'
      - $ref: '#/components/parameters/servicekafkaquotadescribe_user'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaQuotaDescribeResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/tiered-storage/storage-usage/by-topic:
    get:
      summary: Get the Kafka tiered storage object storage usage by topic
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTieredStorageStorageUsageByTopic
      description: Return "400 Bad Request" if tiered storage feature is not enabled for this service. Rarely, the data may be not available. In this case, "503 Service Unavailable" is returned and the client should try later.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTieredStorageStorageUsageByTopicResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/tiered-storage/storage-usage/total:
    get:
      summary: Get the Kafka tiered storage total object storage usage
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTieredStorageStorageUsageTotal
      description: Return "400 Bad Request" if tiered storage feature is not enabled for this service. Rarely, the data may be not available. In this case, "503 Service Unavailable" is returned and the client should try later.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTieredStorageStorageUsageTotalResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/tiered-storage/summary:
    get:
      summary: Get the Kafka tiered storage summary
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTieredStorageSummary
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTieredStorageSummaryResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/topic:
    post:
      summary: Create a Kafka topic
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTopicCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaTopicCreateRequestBody'
            example:
              cleanup_policy: delete
              config:
                cleanup_policy: delete
                compression_type: zstd
                delete_retention_ms: 0
                diskless_enable: false
                file_delete_delay_ms: 0
                flush_messages: 0
                flush_ms: 0
                index_interval_bytes: 0
                local_retention_bytes: -2
                local_retention_ms: -2
                max_compaction_lag_ms: 0
                max_message_bytes: 0
                message_downconversion_enable: true
                message_format_version: 2.7-IV2
                message_timestamp_after_max_ms: 0
                message_timestamp_before_max_ms: 0
                message_timestamp_difference_max_ms: 0
                message_timestamp_type: CreateTime
                min_cleanable_dirty_ratio: 0.5
                min_compaction_lag_ms: 0
                min_insync_replicas: 2
                preallocate: false
                remote_storage_enable: false
                retention_bytes: -1
                retention_ms: 604800000
                segment_bytes: 1073741824
                segment_index_bytes: 0
                segment_jitter_ms: 0
                segment_ms: 1
                unclean_leader_election_enable: false
              min_insync_replicas: 2
              owner_user_group_id: ug22ba494e096
              partitions: 1
              replication: 2
              retention_bytes: -1
              retention_hours: 72
              tags:
              - key: My-tag_key
                value: My tag value, value.
              topic_description: Platform events
              topic_name: mytopic
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTopicCreateResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_invalid_config
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_invalid_config: Topic configuration either invalid or conflicting with kafka setup'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_already_exists
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_already_exists: Topic already exists and cannot be created'
        '503':
          description: The server cannot process the request due to a high load
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_service_unavailable: Kafka service is currently unavailable'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get Kafka topic list
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTopicList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTopicListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/topic/{topic_name}:
    delete:
      summary: Delete a Kafka topic
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTopicDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/topic_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTopicDeleteResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_not_found: No such topic exists'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_reserved
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_reserved: Topic is reserved for internal use'
        '503':
          description: The server cannot process the request due to a high load
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_service_unavailable: Kafka service is currently unavailable'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get Kafka topic info
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTopicGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/topic_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTopicGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_not_found: No such topic exists'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_not_synchronized
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_not_synchronized: Topic state is not synchronized'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Update a Kafka topic
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTopicUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/topic_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaTopicUpdateRequestBody'
            example:
              config:
                cleanup_policy: delete
                compression_type: zstd
                delete_retention_ms: 0
                diskless_enable: false
                file_delete_delay_ms: 0
                flush_messages: 0
                flush_ms: 0
                index_interval_bytes: 0
                local_retention_bytes: -2
                local_retention_ms: -2
                max_compaction_lag_ms: 0
                max_message_bytes: 0
                message_downconversion_enable: true
                message_format_version: 2.7-IV2
                message_timestamp_after_max_ms: 0
                message_timestamp_before_max_ms: 0
                message_timestamp_difference_max_ms: 0
                message_timestamp_type: CreateTime
                min_cleanable_dirty_ratio: 0.5
                min_compaction_lag_ms: 0
                min_insync_replicas: 2
                preallocate: false
                remote_storage_enable: false
                retention_bytes: -1
                retention_ms: 604800000
                segment_bytes: 1073741824
                segment_index_bytes: 0
                segment_jitter_ms: 0
                segment_ms: 1
                unclean_leader_election_enable: false
              min_insync_replicas: 2
              owner_user_group_id: ug22ba494e096
              partitions: 1
              replication: 2
              retention_bytes: -1
              retention_hours: 72
              tags:
              - key: My-tag_key
                value: My tag value, value.
              topic_description: Platform events
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTopicUpdateResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_invalid_config
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_invalid_config: Topic configuration either invalid or conflicting with kafka setup'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_topic_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_topic_not_found: No such topic exists'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_partition_reassignment_in_progress
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_partition_reassignment_in_progress: Unable to update partitions during partition reassignment'
        '503':
          description: The server cannot process the request due to a high load
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - kafka_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'kafka_service_unavailable: Kafka service is currently unavailable'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/kafka/rest/topics/{topic_name}/messages:
    post:
      summary: List kafka topic messages
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTopicMessageList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/topic_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaTopicMessageListRequestBody'
            example:
              format: json
              max_bytes: 67108864
              partitions: {}
              timeout: 3000
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTopicMessageListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/rest/topics/{topic_name}/produce:
    post:
      summary: Produce message into a kafka topic
      tags:
      - Service:_Kafka
      operationId: ServiceKafkaTopicMessageProduce
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/topic_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaTopicMessageProduceRequestBody'
            example:
              format: binary
              key_schema: '{\"name\": \"int\", \"type\": \"int\"}'
              key_schema_id: 123
              records:
              - key: {}
                partition: 1
                value: {}
              value_schema: '{\"name\": \"int\", \"type\": \"int\"}'
              value_schema_id: 123
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaTopicMessageProduceResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/kafka/schema-registry/acl:
    post:
      summary: Add a Schema Registry ACL entry
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistryAclAdd
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceSchemaRegistryAclAddRequestBody'
            example:
              permission: schema_registry_read
              resource: 'Config:'
              username: admin*
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistryAclAddResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_acl_too_many
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_acl_too_many: Maximum number of service ACLs reached'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: List Schema Registry ACL entries
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistryAclList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistryAclListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/schema-registry/acl/{schema_registry_acl_id}:
    delete:
      summary: Delete a Schema Registry ACL entry
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistryAclDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/schema_registry_acl_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistryAclDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/kafka/schema/compatibility/subjects/{subject_name}/versions/{version_id}:
    post:
      summary: Check compatibility of schema in Schema Registry
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistryCompatibility
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      - $ref: '#/components/parameters/version_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceSchemaRegistryCompatibilityRequestBody'
            example:
              schema: '{"type": "string"}'
              schemaType: AVRO
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistryCompatibilityResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/schema/config:
    get:
      summary: Get global configuration for Schema Registry
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistryGlobalConfigGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistryGlobalConfigGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Edit global configuration for Schema Registry
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistryGlobalConfigPut
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceSchemaRegistryGlobalConfigPutRequestBody'
            example:
              compatibility: FULL
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistryGlobalConfigPutResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/kafka/schema/schemas/ids/{schema_id}:
    get:
      summary: Get schema in Schema Registry
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySchemaGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/schema_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySchemaGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/schema/config/{subject_name}:
    get:
      summary: Get configuration for Schema Registry subject
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectConfigGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectConfigGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Edit configuration for Schema Registry subject
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectConfigPut
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceSchemaRegistrySubjectConfigPutRequestBody'
            example:
              compatibility: FULL
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectConfigPutResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/kafka/schema/subjects/{subject_name}:
    delete:
      summary: Delete Schema Registry subject
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/kafka/schema/subjects/{subject_name}/versions/{version_id}:
    delete:
      summary: Delete Schema Registry subject version
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectVersionDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      - $ref: '#/components/parameters/version_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectVersionDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get Schema Registry Subject version
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectVersionGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      - $ref: '#/components/parameters/version_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectVersionGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/schema/subjects/{subject_name}/versions:
    post:
      summary: Register a new Schema in Schema Registry
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectVersionPost
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceSchemaRegistrySubjectVersionPostRequestBody'
            example:
              references:
              - name: container1.proto
                subject: topic1-values
                version: 1
              schema: '{"type": "string"}'
              schemaType: AVRO
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectVersionPostResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get Schema Registry subject versions
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectVersionsGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectVersionsGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/schema/subjects/{subject_name}/versions/{version_id}/schema:
    get:
      summary: 'DEPRECATED: Get raw schema of a specific version in Schema Registry'
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjectVersionSchemaGet
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/subject_name'
      - $ref: '#/components/parameters/version_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectVersionSchemaGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/kafka/schema/subjects:
    get:
      summary: Lists Schema Registry subjects
      tags:
      - Service:_Kafka
      operationId: ServiceSchemaRegistrySubjects
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSchemaRegistrySubjectsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
components:
  schemas:
    ServiceSchemaRegistrySubjectVersionPostRequestBody:
      type: object
      description: ServiceSchemaRegistrySubjectVersionPostRequestBody
      properties:
        references:
          type: array
          maxItems: 128
          description: Schema references
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 1024
                description: The name used to reference the provided subject and version
                title: Name
              subject:
                type: string
                maxLength: 1024
                description: Subject
              version:
                type: integer
                minimum: 0
                description: Version
            required:
            - name
            - subject
            - version
        schema:
          type: string
          maxLength: 1048576
          description: Schema
        schemaType:
          type: string
          description: Schema type
          enum:
          - AVRO
          - JSON
          - PROTOBUF
      required:
      - schema
    ServiceSchemaRegistrySubjectsResponse:
      type: object
      description: ServiceSchemaRegistrySubjectsResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        subjects:
          type: array
          description: List of available Schema Registry subjects
          items:
            type: string
      required:
      - subjects
    ServiceKafkaTopicMessageProduceResponse:
      type: object
      description: ServiceKafkaTopicMessageProduceResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        key_schema_id:
          type: integer
          description: The ID for the schema used to produce keys, or null if keys were not used
        message:
          type: string
          description: Printable result of the request
        offsets:
          type: array
          description: List of offsets for the produced record
          items:
            type: object
            properties:
              error:
                type: string
                description: An error message describing why the operation failed, or null if it succeeded
              error_code:
                type: integer
                description: An error code classifying the reason this operation failed, or null if it succeeded. 1 = Non-retriable Kafka exception, 2 = Retriable Kafka exception; the message might be sent successfully if retried
              offset:
                type: integer
                description: Offset of the message, or null if publishing the message failed
              partition:
                type: integer
                description: Partition the message was published to, or null if publishing the message failed
        value_schema_id:
          type: integer
          description: The ID for the schema used to produce values
    ServiceSchemaRegistryAclAddResponse:
      type: object
      description: ServiceSchemaRegistryAclAddResponse
      properties:
        acl:
          type: array
          description: List of Schema Registry ACL entries
          items:
            type: object
            properties:
              id:
                type: string
                maxLength: 40
                description: ID
              permission:
                type: string
                description: ACL entry for Schema Registry
                enum:
                - schema_registry_read
                - schema_registry_write
              resource:
                type: string
                minLength: 1
                maxLength: 249
                description: Schema Registry ACL entry resource name pattern
              username:
                type: string
                minLength: 1
                maxLength: 64
                description: Username
            required:
            - permission
            - resource
            - username
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - acl
    ServiceKafkaConnectEditConnectorResponse:
      type: object
      description: ServiceKafkaConnectEditConnectorResponse
      properties:
        connector:
          type: object
          description: Kafka connector information
          properties:
            config:
              type: object
              description: Connector configuration parameters
              properties:
                connector.class:
                  type: string
                  maxLength: 1024
                  description: The Java class for the connector
                name:
                  type: string
                  maxLength: 1024
                  description: Unique name for the connector
              required:
              - connector.class
              - name
            name:
              type: string
              maxLength: 1024
              description: Connector name
            plugin:
              type: object
              description: Kafka Connector plugin information
              properties:
                author:
                  type: string
                  description: Connector author name
                available_versions:
                  type: array
                  description: Versions available on the service
                  items:
                    type: object
                    properties:
                      deprecated:
                        type: boolean
                        description: If the version is deprecated.
                      needs_maintenance:
                        type: boolean
                        description: Using this version requires a maintenance update.
                      version:
                        type: string
                        description: Connector version number
                class:
                  type: string
                  description: Connector class name
                docURL:
                  type: string
                  description: Connector documentation URL
                plugin_name:
                  type: string
                  description: Connector plugin name
                preview:
                  type: boolean
                  description: Describes if connector is in beta
                preview_info:
                  type: string
                  description: Information about beta stage of connector
                title:
                  type: string
                  description: Descriptive human readable name defined by Aiven
                type:
                  type: string
                  description: Describes whether data flows from or to Kafka
                  enum:
                  - sink
                  - source
                  - unknown
                version:
                  type: string
                  description: Connector version number
              required:
              - author
              - class
              - docURL
              - title
              - type
              - version
            tasks:
              type: array
              description: List of tasks of a connector
              items:
                type: object
                properties:
                  connector:
                    type: string
                    description: Related connector name
                  task:
                    type: integer
                    description: Task id / number
                required:
                - connector
                - task
          required:
          - config
          - name
          - plugin
          - tasks
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - connector
    ServiceSchemaRegistrySubjectVersionDeleteResponse:
      type: object
      description: ServiceSchemaRegistrySubjectVersionDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceKafkaTieredStorageStorageUsageByTopicResponse:
      type: object
      description: ServiceKafkaTieredStorageStorageUsageByTopicResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        storage_usage:
          type: object
          description: Storage usage by tiered storage by topics
          properties: {}
      required:
      - storage_usage
    ServiceKafkaConnectStopConnectorResponse:
      type: object
      description: ServiceKafkaConnectStopConnectorResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceSchemaRegistrySchemaGetResponse:
      type: object
      description: ServiceSchemaRegistrySchemaGetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceKafkaQuotaDeleteResponse:
      type: object
      description: ServiceKafkaQuotaDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceSchemaRegistrySubjectVersionSchemaGetResponse:
      type: object
      description: ServiceSchemaRegistrySubjectVersionSchemaGetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceKafkaTopicMessageListResponse:
      type: object
      description: ServiceKafkaTopicMessageListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        messages:
          type: array
          description: List of messages from topic
          items:
            type: object
            properties:
              key:
                type: object
                description: The message key, formatted according to the embedded format
                properties: {}
              offset:
                type: integer
                description: Offset of the message
              partition:
                type: integer
                description: Partition of the message
              topic:
                type: string
                description: The name of the topic
              value:
                type: object
                description: The message value, formatted according to the embedded format
                properties: {}
    ServiceKafkaAclDeleteResponse:
      type: object
      description: ServiceKafkaAclDeleteResponse
      properties:
        acl:
          type: array
          description: List of Aiven ACL entries for Kafka service
          items:
            type: object
            properties:
              id:
                type: string
                maxLength: 40
                description: ID
              permission:
                type: string
                description: Kafka permission
                enum:
                - admin
                - read
                - readwrite
                - write
              topic:
                type: string
                minLength: 1
                maxLength: 249
                description: Topic name pattern
              username:
                type: string
                minLength: 1
                maxLength: 64
                description: Username
            required:
            - permission
            - topic
            - username
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - acl
    ServiceKafkaAclAddRequestBody:
      type: object
      description: ServiceKafkaAclAddRequestBody
      properties:
        permission:
          type: string
          description: Kafka permission
          enum:
          - admin
          - read
          - readwrite
          - write
        topic:
          type: string
          minLength: 1
          maxLength: 249
          description: Topic name pattern
        username:
          type: string
          minLength: 1
          maxLength: 64
          description: Username
      required:
      - permission
      - topic
      - username
    ServiceKafkaNativeAclDeleteResponse:
      type: object
      description: ServiceKafkaNativeAclDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceKafkaTopicMessageListRequestBody:
      type: object
      description: ServiceKafkaTopicMessageListRequestBody
      properties:
        format:
          type: string
          description: The format of consumed messages, which is used to convert messages into a JSON-compatible form. If unspecified, defaults to binary
          enum:
          - binary
          - json
          - avro
          - protobuf
          - jsonschema
        max_bytes:
          type: integer
          minimum: 1024
          maximum: 1000000000
          description: The maximum number of bytes of unencoded keys and values that should be included in the response. This provides approximate control over the size of responses and the amount of memory required to store the decoded response. The actual limit will be the minimum of this setting and the server-side configuration consumer.request.max.bytes. Default is unlimited
        partitions:
          type: object
          description: Object of desired partition / offset mappings
          properties: {}
        timeout:
          type: integer
          minimum: 3000
          maximum: 40000
          description: The maximum total time to wait for messages for a request if the maximum request size has not yet been reached
      required:
      - partitions
    ServiceKafkaNativeAclAddResponse:
      type: object
      description: ServiceKafkaNativeAclAddResponse
      properties:
        acl:
          type: object
          description: Kafka-native ACL entry for Kafka service
          properties:
            host:
              type: string
              minLength: 0
              maxLength: 256
              description: the host or * for all hosts
            id:
              type: string
              maxLength: 40
              description: ID
            operation:
              type: string
              description: Kafka ACL operation represents an operation which an ACL grants or denies permission to perform
              enum:
              - All
              - Alter
              - AlterConfigs
              - ClusterAction
              - Create
              - CreateTokens
              - Delete
              - Describe
              - DescribeConfigs
              - DescribeTokens
              - IdempotentWrite
              - Read
              - Write
            pattern_type:
              type: string
              description: Kafka ACL pattern type of resource name
              enum:
              - LITERAL
              - PREFIXED
            permission_type:
              type: string
              description: Kafka ACL permission type
              enum:
              - ALLOW
              - DENY
            principal:
              type: string
              minLength: 0
              maxLength: 256
              description: principal is in 'principalType:name' format
            resource_name:
              type: string
              minLength: 0
              maxLength: 256
              description: Resource pattern used to match specified resources
            resource_type:
              type: string
              description: Kafka ACL resource type represents a type of resource which an ACL can be applied to
              enum:
              - Cluster
              - DelegationToken
              - Group
              - Topic
              - TransactionalId
              - User
          required:
          - host
          - id
          - operation
          - pattern_type
          - permission_type
          - principal
          - resource_name
          - resource_type
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - acl
    ServiceKafkaTopicCreateResponse:
      type: object
      description: ServiceKafkaTopicCreateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceKafkaNativeAclAddRequestBody:
      type: object
      description: ServiceKafkaNativeAclAddRequestBody
      properties:
        host:
          type: string
          minLength: 0
          maxLength: 256
          description: the host or * for all hosts
        operation:
          type: string
          description: Kafka ACL operation represents an operation which an ACL grants or denies permission to perform
          enum:
          - All
          - Alter
          - AlterConfigs
          - ClusterAction
          - Create
          - CreateTokens
          - Delete
          - Describe
          - DescribeConfigs
          - DescribeTokens
          - IdempotentWrite
          - Read
          - Write
        pattern_type:
          type: string
          description: Kafka ACL pattern type of resource name
          default: LITERAL
          enum:
          - LITERAL
          - PREFIXED
        permission_type:
          type: string
          description: Kafka ACL permission type
          default: ALLOW
          enum:
          - ALLOW
          - DENY
        principal:
          type: string
          minLength: 0
          maxLength: 256
          description: principal is in 'PrincipalType:name' format
        resource_name:
          type: string
          minLength: 0
          maxLength: 256
          description: Resource pattern used to match specified resources
        resource_type:
          type: string
          description: Kafka ACL resource type represents a type of resource which an ACL can be applied to
          enum:
          - Cluster
          - DelegationToken
          - Group
          - Topic
          - TransactionalId
          - User
      required:
      - operation
      - pattern_type
      - permission_type
      - principal
      - resource_name
      - resource_type
    ServiceSchemaRegistrySubjectConfigPutRequestBody:
      type: object
      description: ServiceSchemaRegistrySubjectConfigPutRequestBody
      properties:
        compatibility:
          type: string
          description: Compatibility level
          enum:
          - BACKWARD
          - BACKWARD_TRANSITIVE
          - FORWARD
          - FORWARD_TRANSITIVE
          - FULL
          - FULL_TRANSITIVE
          - NONE
      required:
      - compatibility
    ServiceSchemaRegistryGlobalConfigPutRequestBody:
      type: object
      description: ServiceSchemaRegistryGlobalConfigPutRequestBody
      properties:
        compatibility:
          type: string
          description: Compatibility level
          enum:
          - BACKWARD
          - BACKWARD_TRANSITIVE
          - FORWARD
          - FORWARD_TRANSITIVE
          - FULL
          - FULL_TRANSITIVE
          - NONE
      required:
      - compatibility
    ServiceKafkaNativeAclGetResponse:
      type: object
      description: ServiceKafkaNativeAclGetResponse
      properties:
        acl:
          type: object
          description: Kafka-native ACL entry for Kafka service
          properties:
            host:
              type: string
              minLength: 0
              maxLength: 256
              description: the host or * for all hosts
            id:
              type: string
              maxLength: 40
              description: ID
            operation:
              type: string
              description: Kafka ACL operation represents an operation which an ACL grants or denies permission to perform
              enum:
              - All
              - Alter
              - AlterConfigs
              - ClusterAction
              - Create
              - CreateTokens
              - Delete
              - Describe
              - DescribeConfigs
              - DescribeTokens
              - IdempotentWrite
              - Read
              - Write
            pattern_type:
              type: string
              description: Kafka ACL pattern type of resource name
              enum:
              - LITERAL
              - PREFIXED
            permission_type:
              type: string
              description: Kafka ACL permission type
              enum:
              - ALLOW
              - DENY
            principal:
              type: string
              minLength: 0
              maxLength: 256
              description: principal is in 'principalType:name' format
            resource_name:
              type: string
              minLength: 0
              maxLength: 256
              description: Resource pattern used to match specified resources
            resource_type:
              type: string
              description: Kafka ACL resource type represents a type of resource which an ACL can be applied to
              enum:
              - Cluster
              - DelegationToken
              - Group
              - Topic
              - TransactionalId
              - User
          required:
          - host
          - id
          - operation
          - pattern_type
          - permission_type
          - principal
          - resource_name
          - resource_type
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - acl
    ServiceKafkaNativeAclListResponse:
      type: object
      description: ServiceKafkaNativeAclListResponse
      properties:
        acl:
          type: array
          description: List of Aiven ACL entries for Kafka service
          items:
            type: object
            properties:
              id:
                type: string
                maxLength: 40
                description: ID
              permission:
                type: string
                description: Kafka permission
                enum:
                - admin
                - read
                - readwrite
                - write
              topic:
                type: string
                minLength: 1
                maxLength: 249
                description: Topic name pattern
              username:
                type: string
                minLength: 1
                maxLength: 64
                description: Username
            required:
            - permission
            - topic
            - username
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        kafka_acl:
          type: array
          description: List of Kafka-native ACL entries
          items:
            type: object
            properties:
              host:
                type: string
                minLength: 0
                maxLength: 256
                description: the host or * for all hosts
              id:
                type: string
                maxLength: 40
                description: ID
              operation:
                type: string
                description: Kafka ACL operation represents an operation which an ACL grants or denies permission to perform
                enum:
                - All
                - Alter
                - AlterConfigs
                - ClusterAction
                - Create
                - CreateTokens
                - Delete
                - Describe
                - DescribeConfigs
                - DescribeTokens
                - IdempotentWrite
                - Read
                - Write
              pattern_type:
                type: string
                description: Kafka ACL pattern type of resource name
                enum:
                - LITERAL
                - PREFIXED
              permission_type:
                type: string
                description: Kafka ACL permission type
                enum:
                - ALLOW
                - DENY
              principal:
                type: string
                minLength: 0
                maxLength: 256
                description: principal is in 'principalType:name' format
              resource_name:
                type: string
                minLength: 0
                maxLength: 256
                description: Resource pattern used to match specified resources
              resource_type:
                type: string
                description: Kafka ACL resource type represents a type of resource which an ACL can be applied to
                enum:
                - Cluster
                - DelegationToken
                - Group
                - Topic
                - TransactionalId
                - User
            required:
            - host
            - id
            - operation
            - pattern_type
            - permission_type
            - principal
            - resource_name
            - resource_type
        message:
          type: string
          description: Printable result of the request
      required:
      - acl
      - kafka_acl
    ServiceKafkaConnectDeleteConnectorResponse:
      type: object
      description: ServiceKafkaConnectDeleteConnectorResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
[...]
