openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Ticket [deprecated] API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Ticket_[deprecated]
  x-displayName: Ticket [deprecated]
paths:
  /organization/{organization_id}/tickets:
    get:
      summary: List organization support tickets
      tags:
      - Ticket_[deprecated]
      operationId: OrganizationTicketList
      deprecated: true
      description: 'DEPRECATED: Support tickets have been moved to https://support.aiven.io/.'
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTicketListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - tickets:read
  /project/{project}/tickets:
    post:
      summary: Create a support ticket
      tags:
      - Ticket_[deprecated]
      operationId: ProjectTicketCreate
      deprecated: true
      description: 'DEPRECATED: Support tickets have been moved to https://support.aiven.io/.'
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTicketCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
        - tickets:write
    get:
      summary: List support tickets
      tags:
      - Ticket_[deprecated]
      operationId: ProjectTicketList
      deprecated: true
      description: 'DEPRECATED: Support tickets have been moved to https://support.aiven.io/.'
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTicketListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
        - tickets:read
  /project/{project}/tickets/{ticket_id}/invite:
    post:
      summary: Invite a user to a ticket
      tags:
      - Ticket_[deprecated]
      operationId: ProjectTicketInvite
      deprecated: true
      description: 'DEPRECATED: Support tickets have been moved to https://support.aiven.io/.'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/ticket_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTicketInviteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
        - tickets:write
components:
  parameters:
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
    ticket_id:
      in: path
      name: ticket_id
      description: Ticket ID
      schema:
        type: string
      required: true
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
  schemas:
    ProjectTicketInviteResponse:
      type: object
      description: ProjectTicketInviteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - message
    OrganizationTicketListResponse:
      type: object
      description: OrganizationTicketListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        tickets:
          type: array
          description: List of tickets
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              create_time:
                type: string
                maxLength: 36
                description: Created timestamp, ISO 8601 format
              description:
                type: string
                minLength: 1
                maxLength: 32000
                description: Longer description
              followers:
                type: array
                description: Ticket followers
                items:
                  type: object
                  properties:
                    real_name:
                      type: string
                      maxLength: 256
                      description: User real name
                    user_email:
                      type: string
                      maxLength: 254
                      description: User email address
                    user_id:
                      type: string
                      description: User ID
                  required:
                  - real_name
                  - user_email
                  - user_id
              following:
                type: boolean
                description: Whether the current user is following this ticket
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              project_name:
                type: string
                maxLength: 63
                description: Project name
              service_name:
                type: string
                minLength: 1
                maxLength: 64
                description: Service name
              severity:
                type: string
                description: Severity level
                enum:
                - critical
                - high
                - low
              state:
                type: string
                description: Is ticket open or closed
                enum:
                - closed
                - open
              submitter:
                type: object
                description: User information
                properties:
                  real_name:
                    type: string
                    maxLength: 256
                    description: User real name
                  user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                  user_id:
                    type: string
                    description: User ID
                required:
                - real_name
                - user_email
                - user_id
              ticket_id:
                type: string
                description: Ticket ID
              title:
                type: string
                minLength: 1
                maxLength: 255
                description: Short description
              update_time:
                type: string
                maxLength: 36
                description: Update timestamp, ISO 8601 format
              user_email:
                type: string
                maxLength: 254
                description: User email address
              user_real_name:
                type: string
                maxLength: 256
                description: User real name
            required:
            - create_time
            - description
            - followers
            - service_name
            - severity
            - state
            - submitter
            - ticket_id
            - title
            - update_time
            - user_email
            - user_real_name
      required:
      - tickets
    ProjectTicketListResponse:
      type: object
      description: ProjectTicketListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        tickets:
          type: array
          description: List of tickets
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              create_time:
                type: string
                maxLength: 36
                description: Created timestamp, ISO 8601 format
              description:
                type: string
                minLength: 1
                maxLength: 32000
                description: Longer description
              followers:
                type: array
                description: Ticket followers
                items:
                  type: object
                  properties:
                    real_name:
                      type: string
                      maxLength: 256
                      description: User real name
                    user_email:
                      type: string
                      maxLength: 254
                      description: User email address
                    user_id:
                      type: string
                      description: User ID
                  required:
                  - real_name
                  - user_email
                  - user_id
              following:
                type: boolean
                description: Whether the current user is following this ticket
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              project_name:
                type: string
                maxLength: 63
                description: Project name
              service_name:
                type: string
                minLength: 1
                maxLength: 64
                description: Service name
              severity:
                type: string
                description: Severity level
                enum:
                - critical
                - high
                - low
              state:
                type: string
                description: Is ticket open or closed
                enum:
                - closed
                - open
              submitter:
                type: object
                description: User information
                properties:
                  real_name:
                    type: string
                    maxLength: 256
                    description: User real name
                  user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                  user_id:
                    type: string
                    description: User ID
                required:
                - real_name
                - user_email
                - user_id
              ticket_id:
                type: string
                description: Ticket ID
              title:
                type: string
                minLength: 1
                maxLength: 255
                description: Short description
              update_time:
                type: string
                maxLength: 36
                description: Update timestamp, ISO 8601 format
              user_email:
                type: string
                maxLength: 254
                description: User email address
              user_real_name:
                type: string
                maxLength: 256
                description: User real name
            required:
            - create_time
            - description
            - followers
            - project_name
            - service_name
            - severity
            - state
            - submitter
            - ticket_id
            - title
            - update_time
            - user_email
            - user_real_name
      required:
      - tickets
    ProjectTicketCreateResponse:
      type: object
      description: ProjectTicketCreateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        ticket:
          type: object
          description: Support ticket
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            create_time:
              type: string
              maxLength: 36
              description: Created timestamp, ISO 8601 format
            description:
              type: string
              minLength: 1
              maxLength: 32000
              description: Longer description
            followers:
              type: array
              description: Ticket followers
              items:
                type: object
                properties:
                  real_name:
                    type: string
                    maxLength: 256
                    description: User real name
                  user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                  user_id:
                    type: string
                    description: User ID
                required:
                - real_name
                - user_email
                - user_id
            following:
              type: boolean
              description: Whether the current user is following this ticket
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            project_name:
              type: string
              maxLength: 63
              description: Project name
            service_name:
              type: string
              minLength: 1
              maxLength: 64
              description: Service name
            severity:
              type: string
              description: Severity level
              enum:
              - critical
              - high
              - low
            state:
              type: string
              description: Is ticket open or closed
              enum:
              - closed
              - open
            submitter:
              type: object
              description: User information
              properties:
                real_name:
                  type: string
                  maxLength: 256
                  description: User real name
                user_email:
                  type: string
                  maxLength: 254
                  description: User email address
                user_id:
                  type: string
                  description: User ID
              required:
              - real_name
              - user_email
              - user_id
            ticket_id:
              type: string
              description: Ticket ID
            title:
              type: string
              minLength: 1
              maxLength: 255
              description: Short description
            update_time:
              type: string
              maxLength: 36
              description: Update timestamp, ISO 8601 format
            user_email:
              type: string
              maxLength: 254
              description: User email address
            user_real_name:
              type: string
              maxLength: 256
              description: User real name
          required:
          - create_time
          - description
          - followers
          - project_name
          - service_name
          - severity
          - state
          - submitter
          - ticket_id
          - title
          - update_time
          - user_email
          - user_real_name
      required:
      - ticket
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
