openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Domains API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Domains
  x-displayName: Domains
paths:
  /organization/{organization_id}/domains:
    post:
      summary: Create a domain
      tags:
      - Domains
      operationId: OrganizationDomainAdd
      description: Creates a new domain in an organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationDomainAddRequestBody'
            example:
              domain_name: example.com
              verification_type: dns
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomainAddResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: List domains
      tags:
      - Domains
      operationId: OrganizationDomainsList
      description: Returns a list of all verified domains in an organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomainsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/domains/{domain_id}:
    patch:
      summary: Update a domain
      tags:
      - Domains
      operationId: OrganizationDomainUpdate
      description: Updates a domain in an organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/domain_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationDomainUpdateRequestBody'
            example:
              verification_type: dns
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomainUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    delete:
      summary: Delete a domain
      tags:
      - Domains
      operationId: OrganizationDomainsRemove
      description: Deletes a domain from an organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/domain_id'
      responses:
        '204':
          description: Delete a domain
          content: {}
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/domains/{domain_id}/verify:
    post:
      summary: Verify a domain
      tags:
      - Domains
      operationId: OrganizationDomainVerify
      description: Verifies a domain in an organization. If a user signs up to the Aiven platform with a verified domain, they are automatically added as managed users to the organization that has this domain verified.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/domain_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomainVerifyResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
components:
  schemas:
    OrganizationDomainUpdateResponse:
      type: object
      description: OrganizationDomainUpdateResponse
      properties:
        challenge_token:
          type: string
          description: Random string to be used for validation
        create_time:
          type: string
          maxLength: 36
          description: Time of creating the domain
        domain_id:
          type: string
          description: ID of the domain
        domain_name:
          type: string
          description: Name of the domain
        linked_authentication_method_ids:
          type: array
          description: Linked Authentication Method Ids
          items:
            type: string
        organization_id:
          type: string
          description: ID of the organization owning this domain
        state:
          type: string
          description: An enumeration.
          title: State of the verification process
          enum:
          - deleted
          - unverified
          - verified
        verification_type:
          type: string
          description: An enumeration.
          title: Type of verification to be made
          enum:
          - dns
          - http
      required:
      - challenge_token
      - create_time
      - domain_id
      - domain_name
      - linked_authentication_method_ids
      - organization_id
      - state
      - verification_type
    OrganizationDomainAddResponse:
      type: object
      description: OrganizationDomainAddResponse
      properties:
        challenge_token:
          type: string
          description: Random string to be used for validation
        create_time:
          type: string
          maxLength: 36
          description: Time of creating the domain
        domain_id:
          type: string
          description: ID of the domain
        domain_name:
          type: string
          description: Name of the domain
        linked_authentication_method_ids:
          type: array
          description: Linked Authentication Method Ids
          items:
            type: string
        organization_id:
          type: string
          description: ID of the organization owning this domain
        state:
          type: string
          description: An enumeration.
          title: State of the verification process
          enum:
          - deleted
          - unverified
          - verified
        verification_type:
          type: string
          description: An enumeration.
          title: Type of verification to be made
          enum:
          - dns
          - http
      required:
      - challenge_token
      - create_time
      - domain_id
      - domain_name
      - linked_authentication_method_ids
      - organization_id
      - state
      - verification_type
    OrganizationDomainAddRequestBody:
      type: object
      description: OrganizationDomainAddRequestBody
      properties:
        domain_name:
          type: string
          description: Name of the domain to be added
        verification_type:
          type: string
          description: An enumeration.
          title: Type of verification to be made
          enum:
          - dns
          - http
      required:
      - domain_name
    OrganizationDomainVerifyResponse:
      type: object
      description: OrganizationDomainVerifyResponse
      properties:
        challenge_token:
          type: string
          description: Random string to be used for validation
        create_time:
          type: string
          maxLength: 36
          description: Time of creating the domain
        domain_id:
          type: string
          description: ID of the domain
        domain_name:
          type: string
          description: Name of the domain
        linked_authentication_method_ids:
          type: array
          description: Linked Authentication Method Ids
          items:
            type: string
        organization_id:
          type: string
          description: ID of the organization owning this domain
        state:
          type: string
          description: An enumeration.
          title: State of the verification process
          enum:
          - deleted
          - unverified
          - verified
        verification_type:
          type: string
          description: An enumeration.
          title: Type of verification to be made
          enum:
          - dns
          - http
      required:
      - challenge_token
      - create_time
      - domain_id
      - domain_name
      - linked_authentication_method_ids
      - organization_id
      - state
      - verification_type
    OrganizationDomainsListResponse:
      type: object
      description: OrganizationDomainsListResponse
      properties:
        domains:
          type: array
          description: List of domains for the organization
          items:
            type: object
            properties:
              challenge_token:
                type: string
                description: Random string to be used for validation
              create_time:
                type: string
                maxLength: 36
                description: Time of creating the domain
              domain_id:
                type: string
                description: ID of the domain
              domain_name:
                type: string
                description: Name of the domain
              linked_authentication_method_ids:
                type: array
                description: Linked Authentication Method Ids
                items:
                  type: string
              organization_id:
                type: string
                description: ID of the organization owning this domain
              state:
                type: string
                description: An enumeration.
                title: State of the verification process
                enum:
                - deleted
                - unverified
                - verified
              verification_type:
                type: string
                description: An enumeration.
                title: Type of verification to be made
                enum:
                - dns
                - http
            required:
            - challenge_token
            - create_time
            - domain_id
            - domain_name
            - linked_authentication_method_ids
            - organization_id
            - state
            - verification_type
      required:
      - domains
    OrganizationDomainUpdateRequestBody:
      type: object
      description: OrganizationDomainUpdateRequestBody
      properties:
        verification_type:
          type: string
          description: An enumeration.
          title: OrganizationDomainVerificationType
          enum:
          - dns
          - http
  parameters:
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
    domain_id:
      in: path
      name: domain_id
      description: ID of a domain
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
