openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: 'Aiven API Documentation Service: Open Search API'
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Service:_OpenSearch
  x-displayName: 'Service: OpenSearch'
paths:
  /project/{project}/service/{service_name}/opensearch/acl:
    get:
      summary: Show OpenSearch ACL configuration
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchAclGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchAclGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    post:
      summary: Set OpenSearch ACL configuration
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchAclSet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpenSearchAclSetRequestBody'
            example:
              opensearch_acl_config:
                acls:
                - rules:
                  - index: ind*
                    permission: deny
                  username: admin*
                enabled: false
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchAclSetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    put:
      summary: Update OpenSearch ACL configuration
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchAclUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpenSearchAclUpdateRequestBody'
            example:
              opensearch_acl_config:
                acls:
                - rules:
                  - index: ind*
                    permission: deny
                  username: admin*
                enabled: false
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchAclUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/opensearch/{index_pattern}/_close:
    post:
      summary: Open OpenSearch indices
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchIndexClose
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/index_pattern'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchIndexCloseResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - index_close_failed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'index_close_failed: Index close failed'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/index/close_multiple:
    post:
      summary: Close multiple OpenSearch indexes
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchIndexCloseMultiple
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpenSearchIndexCloseMultipleRequestBody'
            example:
              indices:
              - index1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchIndexCloseMultipleResponse'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/index/{index_pattern}:
    delete:
      summary: Delete an OpenSearch index
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchIndexDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/index_pattern'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchIndexDeleteResponse'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_delete_system_index
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_delete_system_index: Index can not be deleted through Aiven API'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - index_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'index_not_found: Index not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/index:
    get:
      summary: List OpenSearch indexes
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchIndexList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchIndexListResponse'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/{index_pattern}/_open:
    post:
      summary: Open OpenSearch indices
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchIndexOpen
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/index_pattern'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchIndexOpenResponse'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/index/open_multiple:
    post:
      summary: Open multiple OpenSearch indexes
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchIndexOpenMultiple
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpenSearchIndexOpenMultipleRequestBody'
            example:
              indices:
              - index1
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchIndexOpenMultipleResponse'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/opensearch/security:
    get:
      summary: Show OpenSearch security configuration status
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchSecurityGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchSecurityGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/security/admin:
    put:
      summary: Change Opensearch Security Admin password
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchSecurityReset
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpenSearchSecurityResetRequestBody'
            example:
              admin_password: h3.2aD!z2
              new_password: h3.2aD!z2
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchSecurityResetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    post:
      summary: Enable Opensearch Security Admin by setting the password
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpenSearchSecuritySet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpenSearchSecuritySetRequestBody'
            example:
              admin_password: h3.2aD!z2
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpenSearchSecuritySetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/opensearch/_snapshot/{repository_name}/{snapshot_name}:
    post:
      summary: Create a snapshot to custom repository
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoCreateSnapshot
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      - $ref: '#/components/parameters/snapshot_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpensearchCustomRepoCreateSnapshotRequestBody'
            example:
              ignore_unavailable: false
              include_global_state: true
              indices: '*'
              partial: false
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoCreateSnapshotResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - snapshot_creation_failed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'snapshot_creation_failed: Snapshot creation failed'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    delete:
      summary: Delete a snapshot from custom repository
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoDeleteSnapshot
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      - $ref: '#/components/parameters/snapshot_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoDeleteSnapshotResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - snapshot_deletion_failed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'snapshot_deletion_failed: Unable to delete snapshot'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Show snapshot details
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoShowSnapshot
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      - $ref: '#/components/parameters/snapshot_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoShowSnapshotResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/_snapshot/{repository_name}/_all:
    get:
      summary: List all snapshots in custom repository
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoListSnapshots
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoListSnapshotsResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/_snapshot/{repository_name}/_verify:
    post:
      summary: Verify custom repo name is allowed
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoNameVerify
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoNameVerifyResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - snapshot_deletion_failed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'snapshot_deletion_failed: Unable to delete snapshot'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/opensearch/_snapshot/{repository_name}/{snapshot_name}/_restore:
    post:
      summary: Restore a snapshot from custom repository
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoRestoreSnapshot
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      - $ref: '#/components/parameters/snapshot_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpensearchCustomRepoRestoreSnapshotRequestBody'
            example:
              ignore_index_settings: index.number_of_replicas
              ignore_unavailable: false
              include_aliases: false
              include_global_state: false
              index_settings: index.number_of_replicas=1
              indices: '*'
              partial: false
              rename_alias_pattern: (.+)
              rename_alias_replacement: $1_restored
              rename_pattern: (.+)
              rename_replacement: $1_restored
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoRestoreSnapshotResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - snapshot_restoration_failed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'snapshot_restoration_failed: Snapshot restoration failed'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '500':
          description: Server got itself in trouble
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_internal_server_error
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_internal_server_error: OpenSearch service is not able to process the request'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/opensearch/_snapshot/{repository_name}/{snapshot_name}/_restore_check:
    post:
      summary: Dry run endpoint to check for conflicted indices before restoring a snapshot
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoRestoreSnapshotCheck
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      - $ref: '#/components/parameters/snapshot_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOpensearchCustomRepoRestoreSnapshotCheckRequestBody'
            example:
              ignore_unavailable: false
              include_aliases: false
              indices: '*'
              rename_pattern: (.+)
              rename_replacement: $1_restored
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoRestoreSnapshotCheckResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - snapshot_restoration_failed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'snapshot_restoration_failed: Snapshot restoration failed'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '500':
          description: Server got itself in trouble
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_internal_server_error
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_internal_server_error: OpenSearch service is not able to process the request'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/opensearch/_snapshot/{repository_name}/{snapshot_name}/_status:
    get:
      summary: Show full status of a snapshot in custom repository
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoShowSnapshotStatus
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      - $ref: '#/components/parameters/snapshot_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoShowSnapshotStatusResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/_snapshot/{repository_name}/_status:
    get:
      summary: List currently running snapshots for a custom repository
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchCustomRepoSnapshotsInProgress
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/repository_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchCustomRepoSnapshotsInProgressResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/_snapshot:
    get:
      summary: List custom repositories defined for OpenSearch service
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchListCustomRepos
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchListCustomReposResponse'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/_snapshot/restoration_in_progress:
    get:
      summary: List restorations in progress for this service
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchListRestorationsInProgress
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchListRestorationsInProgressResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - repository_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'repository_not_found: Repository not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - not_powered
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'not_powered: Service is not powered'
        '429':
          description: The user has sent too many requests in a given amount of time ("rate limiting")
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_too_many_requests
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_too_many_requests: OpenSearch service is not able to process the request due to too many requests'
        '502':
          description: Invalid responses from another server/proxy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - opensearch_service_unavailable
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'opensearch_service_unavailable: OpenSearch service is not able to process the request'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/opensearch/tiered-storage/summary:
    get:
      summary: Get OpenSearch tiered storage summary
      tags:
      - Service:_OpenSearch
      operationId: ServiceOpensearchTieredStorageSummary
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOpensearchTieredStorageSummaryResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_does_not_exist
                          - service_does_not_exist
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_does_not_exist: Project does not exist. service_does_not_exist: Service does not exist'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
components:
  schemas:
    ServiceOpensearchListCustomReposResponse:
      type: object
      description: ServiceOpensearchListCustomReposResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        repositories:
          type: array
          description: List of custom repositories
          items:
            type: object
            properties:
              name:
                type: string
                description: Repository name
              settings:
                type: object
                description: Repository settings
                properties:
                  base_path:
                    type: string
                    description: Base path
                required:
                - base_path
              type:
                type: string
                description: Repository type
            required:
            - name
            - settings
            - type
      required:
      - repositories
    ServiceOpensearchListRestorationsInProgressResponse:
      type: object
      description: ServiceOpensearchListRestorationsInProgressResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        snapshots:
          type: array
          description: List of running restorations
          items:
            type: object
            properties:
              repo_name:
                type: string
                description: Repository name
              running_time_in_nanos:
                type: integer
                description: Running time in nanoseconds
              snapshot_name:
                type: string
                description: Snapshot name
              start_time_in_millis:
                type: integer
                description: Restoration start time in milliseconds
            required:
            - snapshot_name
    ServiceOpensearchTieredStorageSummaryResponse:
      type: object
      description: ServiceOpensearchTieredStorageSummaryResponse
      properties:
        current_cost:
          type: string
          description: The current cost in USD of tiered storage since the beginning of the billing period
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        forecasted_cost:
          type: string
          description: The forecasted cost in USD of tiered storage in the billing period
        forecasted_rate:
          type: string
          description: The rate on GBs/hour used to calculate the forecasted cost
        message:
          type: string
          description: Printable result of the request
        storage_usage_history:
          type: object
          description: History of usage and cumulative costs in the billing period
          properties:
            hourly:
              type: array
              description: History by hour
              items:
                type: object
                properties:
                  estimated_cost:
                    type: string
                    description: The estimated cost in USD of tiered storage for this hour
                  hour_start:
                    type: string
                    maxLength: 36
                    description: Timestamp in ISO 8601 format, always in UTC
                  peak_stored_bytes:
                    type: integer
                    minimum: 0
                    description: Peak bytes stored on object storage at this hour
                required:
                - hour_start
                - peak_stored_bytes
          required:
          - hourly
        total_storage_usage:
          type: integer
          minimum: 0
          description: Total storage usage by tiered storage, in bytes
      required:
      - current_cost
      - forecasted_cost
      - storage_usage_history
      - total_storage_usage
    ServiceOpenSearchIndexListResponse:
      type: object
      description: ServiceOpenSearchIndexListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        indexes:
          type: array
          description: List of OpenSearch indexes
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              docs:
                type: integer
                description: Number of documents in index. -1 means not available.
              health:
                type: string
                description: Index health
                enum:
                - green
                - yellow
                - red
                - red*
                - unknown
              index_name:
                type: string
                description: Index name
              number_of_replicas:
                type: integer
                minimum: 0
                description: Number of replicas for an index
              number_of_shards:
                type: integer
                minimum: 1
                description: Number of shards in an index
              read_only_allow_delete:
                type: boolean
                description: Whether an index is set as read-only (but allows deletion). null means unknown.
              replication:
                type: object
                description: Index replication
                properties:
                  leader_index:
                    type: string
                    description: Leader index name
                  leader_project:
                    type: string
                    description: Leader project name
                  leader_service:
                    type: string
                    description: Leader service name
              size:
                type: integer
                description: Index size in bytes. -1 means not available.
              status:
                type: string
                description: Index status
                enum:
                - unknown
                - open
                - close
                - none
            required:
            - create_time
            - index_name
            - number_of_replicas
            - number_of_shards
        message:
          type: string
          description: Printable result of the request
      required:
      - indexes
    ServiceOpenSearchSecuritySetResponse:
      type: object
      description: ServiceOpenSearchSecuritySetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
[...]
