openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Organization Billing Group API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: OrganizationBillingGroup
  x-displayName: OrganizationBillingGroup
paths:
  /organization/{organization_id}/credit-memos/{credit_memo_id}:
    get:
      summary: Get a specific credit memo by ID
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingCreditMemoGet
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/credit_memo_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingCreditMemoGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/credit-memos/{credit_memo_id}/pdf:
    get:
      summary: Get a PDF Credit Memo
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingCreditMemoPdfGet
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/credit_memo_id'
      responses:
        '200':
          description: Returns a PDF report
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/credit-memos:
    get:
      summary: Get credit memos for an organization
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingCreditMemosList
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingCreditMemosListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/billing-groups:
    post:
      summary: Create an organization billing group
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingGroupCreate
      parameters:
      - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationBillingGroupCreateRequestBody'
            example:
              billing_address_id: addr4b1ff1ceeaa
              billing_contact_emails:
              - email: jane@example.com
              billing_emails:
              - email: jane@example.com
              billing_group_name: Default billing group for the organization
              custom_invoice_text: Extra billing text
              payment_method:
                payment_method_id: pm4b1ff1ceeaa
                payment_method_type: credit_card
              shipping_address_id: addr4b1ff1ceeaa
              vat_id: FI12345678
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingGroupCreateResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invalid_email_format
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invalid_email_format: Invalid email format'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
    get:
      summary: List billing groups in an organization
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingGroupList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingGroupListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/billing-group/{billing_group_id}:
    delete:
      summary: Delete an organization billing group
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingGroupDelete
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '204':
          description: Delete an organization billing group
          content: {}
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - billing_group_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'billing_group_not_found: Billing group not found'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
    get:
      summary: Get organization billing group details
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingGroupGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingGroupGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - billing_group_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'billing_group_not_found: Billing group not found'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
    put:
      summary: Update organization billing group details
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingGroupUpdate
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/billing_group_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationBillingGroupUpdateRequestBody'
            example:
              billing_address_id: addr4b1ff1ceeaa
              billing_contact_emails:
              - email: jane@example.com
              billing_emails:
              - email: jane@example.com
              billing_group_name: Default billing group for the organization
              custom_invoice_text: Extra billing text
              payment_method:
                payment_method_id: pm4b1ff1ceeaa
                payment_method_type: credit_card
              shipping_address_id: addr4b1ff1ceeaa
              vat_id: FI12345678
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingGroupUpdateResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - billing_group_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'billing_group_not_found: Billing group not found'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
  /organization/{organization_id}/invoice/{invoice_number}/csv:
    get:
      summary: Get a single invoice as a CSV of invoice lines
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingInvoiceCsvGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/invoice_number'
      responses:
        '200':
          description: Returns a CSV report
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invoice_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invoice_not_found: Invoice not found'
        '501':
          description: Server does not support this operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invoice_lines_not_supported
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invoice_lines_not_supported: Invoice lines not supported for this specific invoice. Please contact Aiven support for assistance.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/invoice/{invoice_number}:
    get:
      summary: Get a single invoice
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingInvoiceGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/invoice_number'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingInvoiceGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invoice_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invoice_not_found: Invoice not found'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/invoice/{invoice_number}/lines:
    get:
      summary: Get invoice lines for a single invoice
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingInvoiceLinesList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/invoice_number'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingInvoiceLinesListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
        '501':
          description: Server does not support this operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invoice_lines_not_supported
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invoice_lines_not_supported: Invoice lines not supported for this specific invoice. Please contact Aiven support for assistance.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/invoices:
    get:
      summary: Get a list of invoices
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingInvoiceList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organizationbillinginvoicelist_billing_group_ids'
      - $ref: '#/components/parameters/organizationbillinginvoicelist_state'
      - $ref: '#/components/parameters/organizationbillinginvoicelist_starting_date'
      - $ref: '#/components/parameters/organizationbillinginvoicelist_ending_date'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingInvoiceListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/invoice/{invoice_number}/pdf:
    get:
      summary: Get a PDF invoice
      tags:
      - OrganizationBillingGroup
      operationId: OrganizationBillingInvoicePdfGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/invoice_number'
      responses:
        '200':
          description: Returns a PDF report
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
components:
  schemas:
    OrganizationBillingGroupCreateResponse:
      type: object
      description: OrganizationBillingGroupCreateResponse
      properties:
        billing_address_id:
          type: string
          maxLength: 36
          description: Billing address ID
        billing_contact_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_group_id:
          type: string
          description: Billing group ID
        billing_group_name:
          type: string
          minLength: 1
          maxLength: 128
          description: Billing Group Name
        create_time:
          type: string
          maxLength: 36
          description: The date when this billing group was created
        custom_invoice_text:
          type: string
          maxLength: 256
          description: Extra billing text
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        payment_method:
          type: object
          description: Payment method
          properties:
            payment_method_id:
              type: string
              maxLength: 36
              description: Payment method ID
            payment_method_type:
              type: string
              description: An enumeration.
              title: Payment method type
              enum:
              - aws_subscription
              - azure_subscription
              - bank_transfer
              - credit_card
              - gcp_subscription
              - custom
          required:
          - payment_method_id
          - payment_method_type
        shipping_address_id:
          type: string
          maxLength: 36
          description: Shipping address ID
        vat_id:
          type: string
          description: VAT ID
      required:
      - billing_address_id
      - billing_contact_emails
      - billing_emails
      - billing_group_id
      - billing_group_name
      - create_time
      - organization_id
      - shipping_address_id
    OrganizationBillingInvoiceLinesListResponse:
      type: object
      description: OrganizationBillingInvoiceLinesListResponse
      properties:
        lines:
          type: array
          description: Lines
          items:
            type: object
            properties:
              begin_time:
                type: string
                description: Start timestamp of the line item
              cloud:
                type: string
                description: Name of the cloud provider
              currency:
                type: string
                description: Acceptable currencies for a billing group.
                title: Local currency code
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              description:
                type: string
                description: Description of the line item
              end_time:
                type: string
                description: End timestamp of the line item
              line_type:
                type: string
                description: An enumeration.
                title: Type of line item
                enum:
                - commitment_fee
                - credit_consumption
                - extra_charge
                - multiplier
                - other_event
                - pro_platform_charge
                - rounding
                - service_charge
                - support_charge
              plan:
                type: string
                description: Plan of the service
              project_id:
                type: string
                description: Name of the project
              service_id:
                type: string
                description: ID of the service
              service_type:
                type: string
                description: Type of service
              tags:
                type: object
                description: Associated tags (key-value pairs)
                properties: {}
              total:
                type: string
                description: Total amount in local currency
              total_usd:
                type: string
                description: Total amount in USD
            required:
            - line_type
            - total
            - total_usd
      required:
      - lines
    OrganizationBillingCreditMemosListResponse:
      type: object
      description: OrganizationBillingCreditMemosListResponse
      properties:
        credit_memos:
          type: array
          description: A list of billing credit memos belonging to the organization
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: The date when this credit memo was created
              credit_memo_id:
                type: string
                description: Credit memo ID
              currency:
                type: string
                description: Acceptable currencies for a billing group.
                title: Credit memo currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              invoice_number:
                type: string
                description: Invoice ID
              invoice_period:
                type: object
                description: The period this credit memo refers to
                properties:
                  begin_time:
                    type: string
                    maxLength: 36
                    description: The start date of the period this invoice refers to
                  end_time:
                    type: string
                    maxLength: 36
                    description: The end date of the period this invoice refers to
                required:
                - begin_time
                - end_time
              issue_time:
                type: string
                maxLength: 36
                description: The date the credit memo was issued
              net:
                type: string
                description: Total credit memo amount without taxes in local currency
              net_usd:
                type: string
                description: Total credit memo amount without taxes in USD
              send_time:
                type: string
                maxLength: 36
                description: The date when this credit memo was sent
              state:
                type: string
                description: State of the credit memo
                enum:
                - draft
                - ready
                - sent
              total:
                type: string
                description: Total credit memo amount in local currency
            required:
            - create_time
            - credit_memo_id
            - currency
            - invoice_number
            - invoice_period
            - net
            - net_usd
            - state
            - total
      required:
      - credit_memos
    OrganizationBillingGroupUpdateRequestBody:
      type: object
      description: OrganizationBillingGroupUpdateRequestBody
      properties:
        billing_address_id:
          type: string
          maxLength: 36
          description: Billing address ID
        billing_contact_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_group_name:
          type: string
          minLength: 1
          maxLength: 128
          description: Billing group name
        custom_invoice_text:
          type: string
          maxLength: 254
          description: Extra billing text
        payment_method:
          type: object
          description: Payment method
          properties:
            payment_method_id:
              type: string
              maxLength: 36
              description: Payment method ID
            payment_method_type:
              type: string
              description: An enumeration.
              title: Payment method type
              enum:
              - aws_subscription
              - azure_subscription
              - bank_transfer
              - credit_card
              - gcp_subscription
              - custom
          required:
          - payment_method_id
          - payment_method_type
        shipping_address_id:
          type: string
          maxLength: 36
          description: Shipping address ID
        vat_id:
          type: string
          description: VAT ID
    OrganizationBillingInvoiceGetResponse:
      type: object
      description: OrganizationBillingInvoiceGetResponse
      properties:
        billing_group_id:
          type: string
          description: Billing group ID
        create_time:
          type: string
          maxLength: 36
          description: The date when this invoice was created
        currency:
          type: string
          description: Acceptable currencies for a billing group.
          title: Invoice currency
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
        download_only:
          type: boolean
          description: Download only
        due_date:
          type: string
          maxLength: 10
          description: The date when this invoice is due
        invoice_number:
          type: string
          description: Invoice ID
        invoice_period:
          type: object
          description: InvoicePeriod
          properties:
            begin_time:
              type: string
              maxLength: 36
              description: The start date of the period this invoice refers to
            end_time:
              type: string
              maxLength: 36
              description: The end date of the period this invoice refers to
          required:
          - begin_time
          - end_time
        issue_date:
          type: string
          maxLength: 10
          description: The date the invoice was issued
        net:
          type: string
          description: Total invoice amount without taxes in local currency
        net_usd:
          type: string
          description: Total invoice amount without taxes in USD
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        state:
          type: string
          description: State of the invoice
          enum:
          - accrual
          - consolidated
          - due
          - estimate
          - failed_credit_card_charge
          - failed_no_credit_card
          - mailed
          - no_payment_expected
          - paid
          - partner_metering
          - uncollectible
          - waived
          - due_only_project_charges_calculated
          - estimate_only_project_charges_calculated
        total:
          type: string
          description: Total invoice amount including taxes in local currency
        total_usd:
          type: string
          description: Total invoice amount including taxes in USD
      required:
      - billing_group_id
      - create_time
      - currency
      - download_only
      - invoice_number
      - invoice_period
      - issue_date
      - net
      - net_usd
      - organization_id
      - state
      - total
      - total_usd
    OrganizationBillingGroupCreateRequestBody:
      type: object
      description: OrganizationBillingGroupCreateRequestBody
      properties:
        billing_address_id:
          type: string
          maxLength: 36
          description: Billing address ID
        billing_contact_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_group_name:
          type: string
          minLength: 1
          maxLength: 128
          description: Billing Group Name
        custom_invoice_text:
          type: string
          maxLength: 256
          description: Extra billing text
        payment_method:
          type: object
          description: Payment method
          properties:
            payment_method_id:
              type: string
              maxLength: 36
              description: Payment method ID
            payment_method_type:
              type: string
              description: An enumeration.
              title: Payment method type
              enum:
              - aws_subscription
              - azure_subscription
              - bank_transfer
              - credit_card
              - gcp_subscription
              - custom
          required:
          - payment_method_id
          - payment_method_type
        shipping_address_id:
          type: string
          maxLength: 36
          description: Shipping address ID
        vat_id:
          type: string
          description: VAT ID
      required:
      - billing_address_id
      - billing_contact_emails
      - billing_emails
      - billing_group_name
      - payment_method
      - shipping_address_id
    OrganizationBillingGroupListResponse:
      type: object
      description: OrganizationBillingGroupListResponse
      properties:
        billing_groups:
          type: array
          description: A list of all billing groups belonging to the organization
          items:
            type: object
            properties:
              billing_address_id:
                type: string
                maxLength: 36
                description: Billing address ID
              billing_contact_emails:
                type: array
                description: List of billing contact emails
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: Email
                  required:
                  - email
              billing_emails:
                type: array
                description: List of billing contact emails
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: Email
                  required:
                  - email
              billing_group_id:
                type: string
                description: Billing group ID
              billing_group_name:
                type: string
                minLength: 1
                maxLength: 128
                description: Billing Group Name
              create_time:
                type: string
                maxLength: 36
                description: The date when this billing group was created
              custom_invoice_text:
                type: string
                maxLength: 256
                description: Extra billing text
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              payment_method:
                type: object
                description: Payment method
                properties:
                  payment_method_id:
                    type: string
                    maxLength: 36
                    description: Payment method ID
                  payment_method_type:
                    type: string
                    description: An enumeration.
                    title: Payment method type
                    enum:
                    - aws_subscription
                    - azure_subscription
                    - bank_transfer
                    - credit_card
                    - gcp_subscription
                    - custom
                required:
                - payment_method_id
                - payment_method_type
              shipping_address_id:
                type: string
                maxLength: 36
                description: Shipping address ID
              vat_id:
                type: string
                description: VAT ID
            required:
            - billing_address_id
            - billing_contact_emails
            - billing_emails
            - billing_group_id
            - billing_group_name
            - create_time
            - organization_id
            - shipping_address_id
      required:
      - billing_groups
    OrganizationBillingCreditMemoGetResponse:
      type: object
      description: OrganizationBillingCreditMemoGetResponse
      properties:
        create_time:
          type: string
          maxLength: 36
          description: The date when this credit memo was created
        credit_memo_id:
          type: string
          description: Credit memo ID
        currency:
          type: string
          description: Acceptable currencies for a billing group.
          title: Credit memo currency
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
        invoice_number:
          type: string
          description: Invoice ID
        invoice_period:
          type: object
          description: The period this credit memo refers to
          properties:
            begin_time:
              type: string
              maxLength: 36
              description: The start date of the period this invoice refers to
            end_time:
              type: string
              maxLength: 36
              description: The end date of the period this invoice refers to
          required:
          - begin_time
          - end_time
        issue_time:
          type: string
          maxLength: 36
          description: The date the credit memo was issued
        net:
          type: string
          description: Total credit memo amount without taxes in local currency
        net_usd:
          type: string
          description: Total credit memo amount without taxes in USD
        send_time:
          type: string
          maxLength: 36
          description: The date when this credit memo was sent
        state:
          type: string
          description: State of the credit memo
          enum:
          - draft
          - ready
          - sent
        total:
          type: string
          description: Total credit memo amount in local currency
      required:
      - create_time
      - credit_memo_id
      - currency
      - invoice_number
      - invoice_period
      - net
      - net_usd
      - state
      - total
    OrganizationBillingGroupGetResponse:
      type: object
      description: OrganizationBillingGroupGetResponse
      properties:
        billing_address_id:
          type: string
          maxLength: 36
          description: Billing address ID
        billing_contact_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_group_id:
          type: string
          description: Billing group ID
        billing_group_name:
          type: string
          minLength: 1
          maxLength: 128
          description: Billing Group Name
        create_time:
          type: string
          maxLength: 36
          description: The date when this billing group was created
        custom_invoice_text:
          type: string
          maxLength: 256
          description: Extra billing text
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        payment_method:
          type: object
          description: Payment method
          properties:
            payment_method_id:
              type: string
              maxLength: 36
              description: Payment method ID
            payment_method_type:
              type: string
              description: An enumeration.
              title: Payment method type
              enum:
              - aws_subscription
              - azure_subscription
              - bank_transfer
              - credit_card
              - gcp_subscription
              - custom
          required:
          - payment_method_id
          - payment_method_type
        shipping_address_id:
          type: string
          maxLength: 36
          description: Shipping address ID
        vat_id:
          type: string
          description: VAT ID
      required:
      - billing_address_id
      - billing_contact_emails
      - billing_emails
      - billing_group_id
      - billing_group_name
      - create_time
      - organization_id
      - shipping_address_id
    OrganizationBillingInvoiceListResponse:
      type: object
      description: OrganizationBillingInvoiceListResponse
      properties:
        invoices:
          type: array
          description: A list of billing invoices belonging to the organization
          items:
            type: object
            properties:
              billing_group_id:
                type: string
                description: Billing group ID
              create_time:
                type: string
                maxLength: 36
                description: The date when this invoice was created
              currency:
                type: string
                description: Acceptable currencies for a billing group.
                title: Invoice currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              download_only:
                type: boolean
                description: Download only
              due_date:
                type: string
                maxLength: 10
                description: The date when this invoice is due
              invoice_number:
                type: string
                description: Invoice ID
              invoice_period:
                type: object
                description: InvoicePeriod
                properties:
                  begin_time:
                    type: string
                    maxLength: 36
                    description: The start date of the period this invoice refers to
                  end_time:
                    type: string
                    maxLength: 36
                    description: The end date of the period this invoice refers to
                required:
                - begin_time
                - end_time
              issue_date:
                type: string
                maxLength: 10
                description: The date the invoice was issued
              net:
                type: string
                description: Total invoice amount without taxes in local currency
              net_usd:
                type: string
                description: Total invoice amount without taxes in USD
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              state:
                type: string
                description: State of the invoice
                enum:
                - accrual
                - consolidated
                - due
                - estimate
                - failed_credit_card_charge
                - failed_no_credit_card
                - mailed
                - no_payment_expected
                - paid
                - partner_metering
                - uncollectible
                - waived
                - due_only_project_charges_calculated
                - estimate_only_project_charges_calculated
              total:
                type: string
                description: Total invoice amount including taxes in local currency
              total_usd:
                type: string
                description: Total invoice amount including taxes in USD
            required:
            - billing_group_id
            - create_time
            - currency
            - download_only
            - invoice_number
            - invoice_period
            - issue_date
            - net
            - net_usd
            - organization_id
            - state
            - total
            - total_usd
      required:
      - invoices
    OrganizationBillingGroupUpdateResponse:
      type: object
      description: OrganizationBillingGroupUpdateResponse
      properties:
        billing_address_id:
          type: string
          maxLength: 36
          description: Billing address ID
        billing_contact_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_emails:
          type: array
          description: List of billing contact emails
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: Email
            required:
            - email
        billing_group_id:
          type: string
          description: Billing group ID
        billing_group_name:
          type: string
          minLength: 1
          maxLength: 128
          description: Billing Group Name
        create_time:
          type: string
          maxLength: 36
          description: The date when this billing group was created
        custom_invoice_text:
          type: string
          maxLength: 256
          description: Extra billing text
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        payment_method:
          type: object
          description: Payment method
          properties:
            payment_method_id:
              type: string
              maxLength: 36
              description: Payment method ID
            payment_method_type:
              type: string
              description: An enumeration.
              title: Payment method type
              enum:
              - aws_subscription
              - azure_subscription
              - bank_transfer
              - credit_card
              - gcp_subscription
              - custom
          required:
          - payment_method_id
          - payment_method_type
        shipping_address_id:
          type: string
          maxLength: 36
          description: Shipping address ID
        vat_id:
          type: string
          description: VAT ID
      required:
      - billing_address_id
      - billing_contact_emails
      - billing_emails
      - billing_group_id
      - billing_group_name
      - create_time
      - organization_id
      - shipping_address_id
  parameters:
    organizationbillinginvoicelist_state:
      in: query
      name: state
      description: refers to state of the invoice
      schema:
        type: array
      required: false
    organizationbillinginvoicelist_billing_group_ids:
      in: query
      name: billing_group_ids
      description: IDs of the billing_groups
      schema:
        type: array
      required: false
    billing_group_id:
      in: path
      name: billing_group_id
      description: Billing group id
      schema:
        type: string
      required: true
    credit_memo_id:
      in: path
      name: credit_memo_id
      description: Credit Memo ID
      schema:
        type: string
      required: true
    invoice_number:
      in: path
      name: invoice_number
      description: Invoice number
      schema:
        type: string
      required: true
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
    organizationbillinginvoicelist_ending_date:
      in: query
      name: ending_date
      description: ending date in the invoice time period
      schema:
        type: string
      required: false
    organizationbillinginvoicelist_starting_date:
      in: query
      name: starting_date
      description: starting date in the invoice time period
      schema:
        type: string
      required: false
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
