openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: 'Aiven API Documentation Service: Flink API'
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Service:_Flink
  x-displayName: 'Service: Flink'
paths:
  /project/{project}/service/{service_name}/flink/application/{application_id}/deployment/{deployment_id}/cancel:
    post:
      summary: Cancel an ApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCancelApplicationDeployment
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCancelApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/jar_application/{application_id}/deployment/{deployment_id}/cancel:
    post:
      summary: Cancel a JarApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCancelJarApplicationDeployment
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCancelJarApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/application:
    post:
      summary: Create a Flink Application
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCreateApplication
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkCreateApplicationRequestBody'
            example:
              application_version:
                sinks:
                - create_table: CREATE TABLE table1 cpu FLOAT, node INT, cpu_percent INT, occurred_at TIMESTAMP_LTZ(3) WITH ()
                  integration_id: 9865d88e-b397-452e-b8a3-d716d6f85f7e
                sources:
                - create_table: CREATE TABLE table1 cpu FLOAT, node INT, cpu_percent INT, occurred_at TIMESTAMP_LTZ(3) WITH ()
                  integration_id: 9865d88e-b397-452e-b8a3-d716d6f85f7e
                statement: INSERT INTO table_out SELECT c1, c2 FROM table_in WHERE c1 > 0
              name: TestJob
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCreateApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get all Flink Applications
      tags:
      - Service:_Flink
      operationId: ServiceFlinkListApplications
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkListApplicationsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/application/{application_id}/deployment:
    post:
      summary: Create an ApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCreateApplicationDeployment
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkCreateApplicationDeploymentRequestBody'
            example:
              parallelism: 1
              restart_enabled: true
              starting_savepoint: path/to/savepoint
              version_id: 543e420d-aa63-43e8-b8e8-294a78c600e7
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCreateApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get all ApplicationDeployments
      tags:
      - Service:_Flink
      operationId: ServiceFlinkListApplicationDeployments
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkListApplicationDeploymentsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/application/{application_id}/version:
    post:
      summary: Create a Flink ApplicationVersion
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCreateApplicationVersion
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkCreateApplicationVersionRequestBody'
            example:
              sinks:
              - create_table: CREATE TABLE table1 cpu FLOAT, node INT, cpu_percent INT, occurred_at TIMESTAMP_LTZ(3) WITH ()
                integration_id: 9865d88e-b397-452e-b8a3-d716d6f85f7e
              sources:
              - create_table: CREATE TABLE table1 cpu FLOAT, node INT, cpu_percent INT, occurred_at TIMESTAMP_LTZ(3) WITH ()
                integration_id: 9865d88e-b397-452e-b8a3-d716d6f85f7e
              statement: INSERT INTO table_out SELECT c1, c2 FROM table_in WHERE c1 > 0
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCreateApplicationVersionResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/jar_application:
    post:
      summary: Create a Flink JarApplication
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCreateJarApplication
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkCreateJarApplicationRequestBody'
            example:
              name: TestJob
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCreateJarApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get all Flink JarApplications
      tags:
      - Service:_Flink
      operationId: ServiceFlinkListJarApplications
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkListJarApplicationsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/jar_application/{application_id}/deployment:
    post:
      summary: Create an JarApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCreateJarApplicationDeployment
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkCreateJarApplicationDeploymentRequestBody'
            example:
              entry_class: com.example.MyFlinkJob
              parallelism: 1
              program_args:
              - example-argument
              restart_enabled: true
              starting_savepoint: path/to/savepoint
              version_id: 543e420d-aa63-43e8-b8e8-294a78c600e7
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCreateJarApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get all JarApplicationDeployments
      tags:
      - Service:_Flink
      operationId: ServiceFlinkListJarApplicationDeployments
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkListJarApplicationDeploymentsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/jar_application/{application_id}/version:
    post:
      summary: Create a Flink JarApplicationVersion
      tags:
      - Service:_Flink
      operationId: ServiceFlinkCreateJarApplicationVersion
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkCreateJarApplicationVersionResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/application/{application_id}:
    delete:
      summary: Delete a Flink Application
      tags:
      - Service:_Flink
      operationId: ServiceFlinkDeleteApplication
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkDeleteApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get a Flink Application
      tags:
      - Service:_Flink
      operationId: ServiceFlinkGetApplication
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkGetApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Update a Flink Application
      tags:
      - Service:_Flink
      operationId: ServiceFlinkUpdateApplication
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkUpdateApplicationRequestBody'
            example:
              name: TestJob
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkUpdateApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/application/{application_id}/deployment/{deployment_id}:
    delete:
      summary: Delete an ApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkDeleteApplicationDeployment
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkDeleteApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get an ApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkGetApplicationDeployment
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkGetApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/application/{application_id}/version/{application_version_id}:
    delete:
      summary: Delete a Flink ApplicationVersion
      tags:
      - Service:_Flink
      operationId: ServiceFlinkDeleteApplicationVersion
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/application_version_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkDeleteApplicationVersionResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get a Flink ApplicationVersion
      tags:
      - Service:_Flink
      operationId: ServiceFlinkGetApplicationVersion
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/application_version_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkGetApplicationVersionResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/jar_application/{application_id}:
    delete:
      summary: Delete a Flink JarApplication
      tags:
      - Service:_Flink
      operationId: ServiceFlinkDeleteJarApplication
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkDeleteJarApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get a Flink JarApplication
      tags:
      - Service:_Flink
      operationId: ServiceFlinkGetJarApplication
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkGetJarApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Update a Flink JarApplication
      tags:
      - Service:_Flink
      operationId: ServiceFlinkUpdateJarApplication
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkUpdateJarApplicationRequestBody'
            example:
              name: TestJob
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkUpdateJarApplicationResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/jar_application/{application_id}/deployment/{deployment_id}:
    delete:
      summary: Delete a JarApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkDeleteJarApplicationDeployment
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkDeleteJarApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get a JarApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkGetJarApplicationDeployment
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkGetJarApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/jar_application/{application_id}/version/{application_version_id}:
    delete:
      summary: Delete a Flink JarApplicationVersion
      tags:
      - Service:_Flink
      operationId: ServiceFlinkDeleteJarApplicationVersion
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/application_version_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkDeleteJarApplicationVersionResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get a Flink JarApplicationVersion
      tags:
      - Service:_Flink
      operationId: ServiceFlinkGetJarApplicationVersion
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/application_version_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkGetJarApplicationVersionResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/job/{job_id}:
    get:
      summary: Get a Flink job info
      tags:
      - Service:_Flink
      operationId: ServiceFlinkJobDetails
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/job_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkJobDetailsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/job:
    get:
      summary: Get all Flink jobs
      tags:
      - Service:_Flink
      operationId: ServiceFlinkJobsList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkJobsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/overview:
    get:
      summary: Get a cluster overview
      tags:
      - Service:_Flink
      operationId: ServiceFlinkOverview
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkOverviewResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/flink/application/{application_id}/deployment/{deployment_id}/stop:
    post:
      summary: Stop an ApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkStopApplicationDeployment
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkStopApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/jar_application/{application_id}/deployment/{deployment_id}/stop:
    post:
      summary: Stop an JarApplicationDeployment
      tags:
      - Service:_Flink
      operationId: ServiceFlinkStopJarApplicationDeployment
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      - $ref: '#/components/parameters/deployment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkStopJarApplicationDeploymentResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/flink/application/{application_id}/version/validate:
    post:
      summary: Validate a Flink ApplicationVersion
      tags:
      - Service:_Flink
      operationId: ServiceFlinkValidateApplicationVersion
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/application_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFlinkValidateApplicationVersionRequestBody'
            example:
              sinks:
              - create_table: CREATE TABLE table1 cpu FLOAT, node INT, cpu_percent INT, occurred_at TIMESTAMP_LTZ(3) WITH ()
                integration_id: 9865d88e-b397-452e-b8a3-d716d6f85f7e
              sources:
              - create_table: CREATE TABLE table1 cpu FLOAT, node INT, cpu_percent INT, occurred_at TIMESTAMP_LTZ(3) WITH ()
                integration_id: 9865d88e-b397-452e-b8a3-d716d6f85f7e
              statement: INSERT INTO table_out SELECT c1, c2 FROM table_in WHERE c1 > 0
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFlinkValidateApplicationVersionResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
components:
  schemas:
    ServiceFlinkCreateJarApplicationResponse:
      type: object
      description: ServiceFlinkCreateJarApplicationResponse
      properties:
        application_versions:
          type: array
          maxItems: 64
          description: JarApplicationVersions
          items:
            type: object
            properties:
              created_at:
                type: string
                description: The creation timestamp of this entity in ISO 8601 format, always in UTC
                title: Created at
              created_by:
                type: string
                description: The creator of this entity
                title: Created by
              file_info:
                type: object
                description: Flink JarApplicationVersion FileInfo
                properties:
                  file_sha256:
                    type: string
                    minLength: 64
                    maxLength: 64
                    description: sha256 of the file if known
                  file_size:
                    type: integer
                    description: The size of the file in bytes
                  file_status:
                    type: string
                    description: Indicates whether the uploaded .jar file has been verified by the system and deployment ready
                    title: File status
                    enum:
                    - INITIAL
                    - READY
                    - FAILED
                  url:
                    type: string
                    minLength: 1
                    maxLength: 50000
                    description: The pre-signed url of the bucket where the .jar file is uploaded. Becomes null when the JarApplicationVersion is ready or failed.
                    title: AWS s3 pre-signed url
                  verify_error_code:
                    type: integer
                    description: In the case file_status is FAILED, the error code of the failure.
                    title: Verify error code
                    enum:
                    - '1'
                    - '2'
                    - '3'
                  verify_error_message:
                    type: string
                    minLength: 16
                    maxLength: 512
                    description: In the case file_status is FAILED, may contain details about the failure.
                    title: Verify error message
              id:
                type: string
                minLength: 36
                maxLength: 36
                description: ApplicationVersion ID
              version:
                type: integer
                description: Version number
            required:
            - created_at
            - created_by
            - id
            - version
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        current_deployment:
          type: object
          description: Flink JarApplicationDeployment
          properties:
            created_at:
              type: string
              description: The creation timestamp of this entity in ISO 8601 format, always in UTC
              title: Created at
            created_by:
              type: string
              description: The creator of this entity
              title: Created by
            entry_class:
              type: string
              minLength: 1
              maxLength: 128
              description: The fully qualified name of the entry class to pass during Flink job submission through the entryClass parameter
              title: Entry class
            error_msg:
              type: string
              description: Error message describing what caused deployment to fail
              title: Deployment error
            id:
              type: string
              minLength: 36
              maxLength: 36
              description: Deployment ID
            job_id:
              type: string
              minLength: 1
              maxLength: 128
              description: Job ID
            last_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            parallelism:
              type: integer
              minimum: 1
              maximum: 128
              description: Reading of Flink parallel execution documentation is recommended before setting this value to other than 1. Please do not set this value higher than (total number of nodes x number_of_task_slots), or every new job created will fail.
              title: Flink Job parallelism
            program_args:
              type: array
              maxItems: 32
              description: Arguments to pass during Flink job submission through the programArgsList parameter
              title: Program arguments
              items:
                type: string
            starting_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            status:
              type: string
              description: Deployment status
              enum:
              - INITIALIZING
              - CREATED
              - RUNNING
              - FAILING
              - FAILED
              - SAVING
              - CANCELLING_REQUESTED
              - CANCELLING
              - CANCELED
              - SAVING_AND_STOP_REQUESTED
              - SAVING_AND_STOP
              - FINISHED
              - RESTARTING
              - SUSPENDED
              - DELETE_REQUESTED
              - DELETING
              - RECONCILING
            version_id:
              type: string
              minLength: 36
              maxLength: 36
              description: ApplicationVersion ID
          required:
          - created_at
          - created_by
          - id
          - parallelism
          - status
          - version_id
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: Application ID
        message:
          type: string
          description: Printable result of the request
        name:
          type: string
          maxLength: 128
          description: Application name
        updated_at:
          type: string
          description: The update timestamp of this entity in ISO 8601 format, always in UTC
          title: Updated at
        updated_by:
          type: string
          description: The latest updater of this entity
          title: Updated by
      required:
      - application_versions
      - created_at
      - created_by
      - id
      - name
      - updated_at
      - updated_by
    ServiceFlinkOverviewResponse:
      type: object
      description: ServiceFlinkOverviewResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        flink\-commit:
          type: string
          description: Commit of Flink version
        flink\-version:
          type: string
          description: Flink version
        jobs\-cancelled:
          type: integer
          description: Number of cancelled jobs
        jobs\-failed:
          type: integer
          description: Number of failed jobs
        jobs\-finished:
          type: integer
          description: Number of finished jobs
        jobs\-running:
          type: integer
          description: Number of running jobs
        message:
          type: string
          description: Printable result of the request
        slots\-available:
          type: integer
          description: Number of slots available
        slots\-total:
          type: integer
          description: Number of slots
        taskmanagers:
          type: integer
          description: Number of TaskManagers
    ServiceFlinkGetJarApplicationVersionResponse:
      type: object
      description: ServiceFlinkGetJarApplicationVersionResponse
      properties:
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        file_info:
          type: object
          description: Flink JarApplicationVersion FileInfo
          properties:
            file_sha256:
              type: string
              minLength: 64
              maxLength: 64
              description: sha256 of the file if known
            file_size:
              type: integer
              description: The size of the file in bytes
            file_status:
              type: string
              description: Indicates whether the uploaded .jar file has been verified by the system and deployment ready
              title: File status
              enum:
              - INITIAL
              - READY
              - FAILED
            url:
              type: string
              minLength: 1
              maxLength: 50000
              description: The pre-signed url of the bucket where the .jar file is uploaded. Becomes null when the JarApplicationVersion is ready or failed.
              title: AWS s3 pre-signed url
            verify_error_code:
              type: integer
              description: In the case file_status is FAILED, the error code of the failure.
              title: Verify error code
              enum:
              - '1'
              - '2'
              - '3'
            verify_error_message:
              type: string
              minLength: 16
              maxLength: 512
              description: In the case file_status is FAILED, may contain details about the failure.
              title: Verify error message
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: ApplicationVersion ID
        message:
          type: string
          description: Printable result of the request
        version:
          type: integer
          description: Version number
      required:
      - created_at
      - created_by
      - id
      - version
    ServiceFlinkDeleteJarApplicationVersionResponse:
      type: object
      description: ServiceFlinkDeleteJarApplicationVersionResponse
      properties:
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        file_info:
          type: object
          description: Flink JarApplicationVersion FileInfo
          properties:
            file_sha256:
              type: string
              minLength: 64
              maxLength: 64
              description: sha256 of the file if known
            file_size:
              type: integer
              description: The size of the file in bytes
            file_status:
              type: string
              description: Indicates whether the uploaded .jar file has been verified by the system and deployment ready
              title: File status
              enum:
              - INITIAL
              - READY
              - FAILED
            url:
              type: string
              minLength: 1
              maxLength: 50000
              description: The pre-signed url of the bucket where the .jar file is uploaded. Becomes null when the JarApplicationVersion is ready or failed.
              title: AWS s3 pre-signed url
            verify_error_code:
              type: integer
              description: In the case file_status is FAILED, the error code of the failure.
              title: Verify error code
              enum:
              - '1'
              - '2'
              - '3'
            verify_error_message:
              type: string
              minLength: 16
              maxLength: 512
              description: In the case file_status is FAILED, may contain details about the failure.
              title: Verify error message
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: ApplicationVersion ID
        message:
          type: string
          description: Printable result of the request
        version:
          type: integer
          description: Version number
      required:
      - created_at
      - created_by
      - id
      - version
    ServiceFlinkCreateJarApplicationRequestBody:
      type: object
      description: ServiceFlinkCreateJarApplicationRequestBody
      properties:
        name:
          type: string
          maxLength: 128
          description: Application name
      required:
      - name
    ServiceFlinkListApplicationsResponse:
      type: object
      description: ServiceFlinkListApplicationsResponse
      properties:
        applications:
          type: array
          maxItems: 1024
          description: Flink Applications
          items:
            type: object
            properties:
              created_at:
                type: string
                description: The creation timestamp of this entity in ISO 8601 format, always in UTC
                title: Created at
              created_by:
                type: string
                description: The creator of this entity
                title: Created by
              id:
                type: string
                minLength: 36
                maxLength: 36
                description: Application ID
              name:
                type: string
                maxLength: 128
                description: Application name
              updated_at:
                type: string
                description: The update timestamp of this entity in ISO 8601 format, always in UTC
                title: Updated at
              updated_by:
                type: string
                description: The latest updater of this entity
                title: Updated by
            required:
            - id
            - name
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - applications
    ServiceFlinkJobDetailsResponse:
      type: object
      description: ServiceFlinkJobDetailsResponse
      properties:
        duration:
          type: integer
          description: Duration of the job
        end\-time:
          type: integer
          description: End time of the job
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        isStoppable:
          type: boolean
          description: Whether the job is stoppable
        jid:
          type: string
          description: Job ID
        maxParallelism:
          type: integer
          description: Max parallelism
        message:
          type: string
          description: Printable result of the request
        name:
          type: string
          description: Job name
        now:
          type: integer
          description: Epoch time
        plan:
          type: object
          description: Plan
          properties: {}
        start\-time:
          type: integer
          description: Start time epoch
        state:
          type: string
          description: Job state
          enum:
          - INITIALIZING
          - CREATED
          - RUNNING
          - FAILING
          - FAILED
          - CANCELLING
          - CANCELED
          - FINISHED
          - RESTARTING
          - SUSPENDED
          - RECONCILING
        status\-counts:
          type: object
          description: Status counts
          properties:
            CANCELED:
              type: integer
              description: CANCELED
            CANCELING:
              type: integer
              description: CANCELING
            CREATED:
              type: integer
              description: CREATED
            DEPLOYING:
              type: integer
              description: DEPLOYING
            FAILED:
              type: integer
              description: FAILED
            FINISHED:
              type: integer
              description: FINISHED
            INITIALIZING:
              type: integer
              description: INITIALIZING
            RECONCILING:
              type: integer
              description: RECONCILING
            RUNNING:
              type: integer
              description: RUNNING
            SCHEDULED:
              type: integer
              description: SCHEDULED
        timestamps:
          type: object
          description: Timestamps
          properties: {}
        vertices:
          type: array
          description: Vertices
          items:
            type: object
            properties: {}
    ServiceFlinkUpdateApplicationResponse:
      type: object
      description: ServiceFlinkUpdateApplicationResponse
      properties:
        application_versions:
          type: array
          maxItems: 64
          description: ApplicationVersions
          items:
            type: object
            properties:
              created_at:
                type: string
                description: The creation timestamp of this entity in ISO 8601 format, always in UTC
                title: Created at
              created_by:
                type: string
                description: The creator of this entity
                title: Created by
              id:
                type: string
                minLength: 36
                maxLength: 36
                description: ApplicationVersion ID
              sinks:
                type: array
                maxItems: 64
                description: Sinks
                items:
                  type: object
                  properties:
                    columns:
                      type: array
                      maxItems: 256
                      description: Columns
                      items:
                        type: object
                        properties:
                          data_type:
                            type: string
                            minLength: 1
                            maxLength: 2048
                            description: The data type of the column
                          extras:
                            type: string
                            maxLength: 256
                            description: Column extra information
                          key:
                            type: string
                            maxLength: 512
                            description: The key info of the column
                          name:
                            type: string
                            minLength: 1
                            maxLength: 256
                            description: The name of the column
                          nullable:
                            type: boolean
                            description: Whether the column is nullable, i.e. if true, the column is NOT NULL
                          watermark:
                            type: string
                            maxLength: 512
                            description: Information of the watermark if the column is used for watermark.
                        required:
                        - data_type
                        - name
                        - nullable
                    create_table:
                      type: string
                      maxLength: 4096
                      description: The CREATE TABLE statement
                    integration_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Integration ID
                    options:
                      type: object
                      description: Option
                      properties: {}
                    table_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Sink ID
                    table_name:
                      type: string
                      description: Table name
                  required:
                  - columns
                  - create_table
                  - options
                  - table_id
                  - table_name
              sources:
                type: array
                maxItems: 64
                description: Sources
                items:
                  type: object
                  properties:
                    columns:
                      type: array
                      maxItems: 256
                      description: Columns
                      items:
                        type: object
                        properties:
                          data_type:
                            type: string
                            minLength: 1
                            maxLength: 2048
                            description: The data type of the column
                          extras:
                            type: string
                            maxLength: 256
                            description: Column extra information
                          key:
                            type: string
                            maxLength: 512
                            description: The key info of the column
                          name:
                            type: string
                            minLength: 1
                            maxLength: 256
                            description: The name of the column
                          nullable:
                            type: boolean
                            description: Whether the column is nullable, i.e. if true, the column is NOT NULL
                          watermark:
                            type: string
                            maxLength: 512
                            description: Information of the watermark if the column is used for watermark.
                        required:
                        - data_type
                        - name
                        - nullable
                    create_table:
                      type: string
                      maxLength: 4096
                      description: The CREATE TABLE statement
                    integration_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Integration ID
                    options:
                      type: object
                      description: Option
                      properties: {}
                    table_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Source ID
                    table_name:
                      type: string
                      description: Table name
                  required:
                  - columns
                  - create_table
                  - options
                  - table_id
                  - table_name
              statement:
                type: string
                maxLength: 50000
                description: The INSERT INTO SQL statement that will be performed as a job
                title: Job SQL statement
              version:
                type: integer
                description: Version number
            required:
            - created_at
            - created_by
            - id
            - sinks
            - sources
            - statement
            - version
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        current_deployment:
          type: object
          description: Flink ApplicationDeployment
          properties:
            created_at:
              type: string
              description: The creation timestamp of this entity in ISO 8601 format, always in UTC
              title: Created at
            created_by:
              type: string
              description: The creator of this entity
              title: Created by
            error_msg:
              type: string
              description: Error message describing what caused deployment to fail
              title: Deployment error
            id:
              type: string
              minLength: 36
              maxLength: 36
              description: Deployment ID
            job_id:
              type: string
              minLength: 1
              maxLength: 128
              description: Job ID
            last_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            parallelism:
              type: integer
              minimum: 1
              maximum: 128
              description: Reading of Flink parallel execution documentation is recommended before setting this value to other than 1. Please do not set this value higher than (total number of nodes x number_of_task_slots), or every new job created will fail.
              title: Flink Job parallelism
            restart_enabled:
              type: boolean
              description: Specifies whether a Flink Job is restarted in case it fails
            starting_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            status:
              type: string
              description: Deployment status
              enum:
              - INITIALIZING
              - CREATED
              - RUNNING
              - FAILING
              - FAILED
              - SAVING
              - CANCELLING_REQUESTED
              - CANCELLING
              - CANCELED
              - SAVING_AND_STOP_REQUESTED
              - SAVING_AND_STOP
              - FINISHED
              - RESTARTING
              - SUSPENDED
              - DELETE_REQUESTED
              - DELETING
              - RECONCILING
            version_id:
              type: string
              minLength: 36
              maxLength: 36
              description: ApplicationVersion ID
          required:
          - created_at
          - created_by
          - id
          - parallelism
          - restart_enabled
          - status
          - version_id
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: Application ID
        message:
          type: string
          description: Printable result of the request
        name:
          type: string
          maxLength: 128
          description: Application name
        updated_at:
          type: string
          description: The update timestamp of this entity in ISO 8601 format, always in UTC
          title: Updated at
        updated_by:
          type: string
          description: The latest updater of this entity
          title: Updated by
      required:
      - application_versions
      - created_at
      - created_by
      - id
      - name
      - updated_at
      - updated_by
    ServiceFlinkJobsListResponse:
      type: object
      description: ServiceFlinkJobsListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        jobs:
          type: array
          description: Jobs
          items:
            type: object
            properties:
              id:
                type: string
                description: Job ID
              status:
                type: string
                description: Job status
                enum:
                - INITIALIZING
                - CREATED
                - RUNNING
                - FAILING
                - FAILED
                - CANCELLING
                - CANCELED
                - FINISHED
                - RESTARTING
                - SUSPENDED
                - RECONCILING
        message:
          type: string
          description: Printable result of the request
    ServiceFlinkDeleteJarApplicationDeploymentResponse:
      type: object
      description: ServiceFlinkDeleteJarApplicationDeploymentResponse
      properties:
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        entry_class:
          type: string
          minLength: 1
          maxLength: 128
          description: The fully qualified name of the entry class to pass during Flink job submission through the entryClass parameter
          title: Entry class
        error_msg:
          type: string
          description: Error message describing what caused deployment to fail
          title: Deployment error
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: Deployment ID
        job_id:
          type: string
          minLength: 1
          maxLength: 128
          description: Job ID
        last_savepoint:
          type: string
          minLength: 1
          maxLength: 2048
          description: Job savepoint
        message:
          type: string
          description: Printable result of the request
        parallelism:
          type: integer
          minimum: 1
          maximum: 128
          description: Reading of Flink parallel execution documentation is recommended before setting this value to other than 1. Please do not set this value higher than (total number of nodes x number_of_task_slots), or every new job created will fail.
          title: Flink Job parallelism
        program_args:
          type: array
          maxItems: 32
          description: Arguments to pass during Flink job submission through the programArgsList parameter
          title: Program arguments
          items:
            type: string
        starting_savepoint:
          type: string
          minLength: 1
          maxLength: 2048
          description: Job savepoint
        status:
          type: string
          description: Deployment status
          enum:
          - INITIALIZING
          - CREATED
          - RUNNING
          - FAILING
          - FAILED
          - SAVING
          - CANCELLING_REQUESTED
          - CANCELLING
          - CANCELED
          - SAVING_AND_STOP_REQUESTED
          - SAVING_AND_STOP
          - FINISHED
          - RESTARTING
          - SUSPENDED
          - DELETE_REQUESTED
          - DELETING
          - RECONCILING
        version_id:
          type: string
          minLength: 36
          maxLength: 36
          description: ApplicationVersion ID
      required:
      - created_at
      - created_by
      - id
      - parallelism
      - status
      - version_id
    ServiceFlinkListJarApplicationsResponse:
      type: object
      description: ServiceFlinkListJarApplicationsResponse
      properties:
        applications:
          type: array
          maxItems: 1024
          description: Flink JarApplications
          items:
            type: object
            properties:
              created_at:
                type: string
                description: The creation timestamp of this entity in ISO 8601 format, always in UTC
                title: Created at
              created_by:
                type: string
                description: The creator of this entity
                title: Created by
              id:
                type: string
                minLength: 36
                maxLength: 36
                description: Application ID
              name:
                type: string
                maxLength: 128
                description: Application name
              updated_at:
                type: string
                description: The update timestamp of this entity in ISO 8601 format, always in UTC
                title: Updated at
              updated_by:
                type: string
                description: The latest updater of this entity
                title: Updated by
            required:
            - id
            - name
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - applications
    ServiceFlinkStopApplicationDeploymentResponse:
      type: object
      description: ServiceFlinkStopApplicationDeploymentResponse
      properties:
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        error_msg:
          type: string
          description: Error message describing what caused deployment to fail
          title: Deployment error
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: Deployment ID
        job_id:
          type: string
          minLength: 1
          maxLength: 128
          description: Job ID
        last_savepoint:
          type: string
          minLength: 1
          maxLength: 2048
          description: Job savepoint
        message:
          type: string
          description: Printable result of the request
        parallelism:
          type: integer
          minimum: 1
          maximum: 128
          description: Reading of Flink parallel execution documentation is recommended before setting this value to other than 1. Please do not set this value higher than (total number of nodes x number_of_task_slots), or every new job created will fail.
          title: Flink Job parallelism
        restart_enabled:
          type: boolean
          description: Specifies whether a Flink Job is restarted in case it fails
        starting_savepoint:
          type: string
          minLength: 1
          maxLength: 2048
          description: Job savepoint
        status:
          type: string
          description: Deployment status
          enum:
          - INITIALIZING
          - CREATED
          - RUNNING
          - FAILING
          - FAILED
          - SAVING
          - CANCELLING_REQUESTED
          - CANCELLING
          - CANCELED
          - SAVING_AND_STOP_REQUESTED
          - SAVING_AND_STOP
          - FINISHED
          - RESTARTING
          - SUSPENDED
          - DELETE_REQUESTED
          - DELETING
          - RECONCILING
        version_id:
          type: string
          minLength: 36
          maxLength: 36
          description: ApplicationVersion ID
      required:
      - created_at
      - created_by
      - id
      - parallelism
      - restart_enabled
      - status
      - version_id
    ServiceFlinkGetApplicationResponse:
      type: object
      description: ServiceFlinkGetApplicationResponse
      properties:
        application_versions:
          type: array
          maxItems: 64
          description: ApplicationVersions
          items:
            type: object
            properties:
              created_at:
                type: string
                description: The creation timestamp of this entity in ISO 8601 format, always in UTC
                title: Created at
              created_by:
                type: string
                description: The creator of this entity
                title: Created by
              id:
                type: string
                minLength: 36
                maxLength: 36
                description: ApplicationVersion ID
              sinks:
                type: array
                maxItems: 64
                description: Sinks
                items:
                  type: object
                  properties:
                    columns:
                      type: array
                      maxItems: 256
                      description: Columns
                      items:
                        type: object
                        properties:
                          data_type:
                            type: string
                            minLength: 1
                            maxLength: 2048
                            description: The data type of the column
                          extras:
                            type: string
                            maxLength: 256
                            description: Column extra information
                          key:
                            type: string
                            maxLength: 512
                            description: The key info of the column
                          name:
                            type: string
                            minLength: 1
                            maxLength: 256
                            description: The name of the column
                          nullable:
                            type: boolean
                            description: Whether the column is nullable, i.e. if true, the column is NOT NULL
                          watermark:
                            type: string
                            maxLength: 512
                            description: Information of the watermark if the column is used for watermark.
                        required:
                        - data_type
                        - name
                        - nullable
                    create_table:
                      type: string
                      maxLength: 4096
                      description: The CREATE TABLE statement
                    integration_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Integration ID
                    options:
                      type: object
                      description: Option
                      properties: {}
                    table_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Sink ID
                    table_name:
                      type: string
                      description: Table name
                  required:
                  - columns
                  - create_table
                  - options
                  - table_id
                  - table_name
              sources:
                type: array
                maxItems: 64
                description: Sources
                items:
                  type: object
                  properties:
                    columns:
                      type: array
                      maxItems: 256
                      description: Columns
                      items:
                        type: object
                        properties:
                          data_type:
                            type: string
                            minLength: 1
                            maxLength: 2048
                            description: The data type of the column
                          extras:
                            type: string
                            maxLength: 256
                            description: Column extra information
                          key:
                            type: string
                            maxLength: 512
                            description: The key info of the column
                          name:
                            type: string
                            minLength: 1
                            maxLength: 256
                            description: The name of the column
                          nullable:
                            type: boolean
                            description: Whether the column is nullable, i.e. if true, the column is NOT NULL
                          watermark:
                            type: string
                            maxLength: 512
                            description: Information of the watermark if the column is used for watermark.
                        required:
                        - data_type
                        - name
                        - nullable
                    create_table:
                      type: string
                      maxLength: 4096
                      description: The CREATE TABLE statement
                    integration_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Integration ID
                    options:
                      type: object
                      description: Option
                      properties: {}
                    table_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Source ID
                    table_name:
                      type: string
                      description: Table name
                  required:
                  - columns
                  - create_table
                  - options
                  - table_id
                  - table_name
              statement:
                type: string
                maxLength: 50000
                description: The INSERT INTO SQL statement that will be performed as a job
                title: Job SQL statement
              version:
                type: integer
                description: Version number
            required:
            - created_at
            - created_by
            - id
            - sinks
            - sources
            - statement
            - version
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        current_deployment:
          type: object
          description: Flink ApplicationDeployment
          properties:
            created_at:
              type: string
              description: The creation timestamp of this entity in ISO 8601 format, always in UTC
              title: Created at
            created_by:
              type: string
              description: The creator of this entity
              title: Created by
            error_msg:
              type: string
              description: Error message describing what caused deployment to fail
              title: Deployment error
            id:
              type: string
              minLength: 36
              maxLength: 36
              description: Deployment ID
            job_id:
              type: string
              minLength: 1
              maxLength: 128
              description: Job ID
            last_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            parallelism:
              type: integer
              minimum: 1
              maximum: 128
              description: Reading of Flink parallel execution documentation is recommended before setting this value to other than 1. Please do not set this value higher than (total number of nodes x number_of_task_slots), or every new job created will fail.
              title: Flink Job parallelism
            restart_enabled:
              type: boolean
              description: Specifies whether a Flink Job is restarted in case it fails
            starting_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            status:
              type: string
              description: Deployment status
              enum:
              - INITIALIZING
              - CREATED
              - RUNNING
              - FAILING
              - FAILED
              - SAVING
              - CANCELLING_REQUESTED
              - CANCELLING
              - CANCELED
              - SAVING_AND_STOP_REQUESTED
              - SAVING_AND_STOP
              - FINISHED
              - RESTARTING
              - SUSPENDED
              - DELETE_REQUESTED
              - DELETING
              - RECONCILING
            version_id:
              type: string
              minLength: 36
              maxLength: 36
              description: ApplicationVersion ID
          required:
          - created_at
          - created_by
          - id
          - parallelism
          - restart_enabled
          - status
          - version_id
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: Application ID
        message:
          type: string
          description: Printable result of the request
        name:
          type: string
          maxLength: 128
          description: Application name
        updated_at:
          type: string
          description: The update timestamp of this entity in ISO 8601 format, always in UTC
          title: Updated at
        updated_by:
          type: string
          description: The latest updater of this entity
          title: Updated by
      required:
      - application_versions
      - created_at
      - created_by
      - id
      - name
      - updated_at
      - updated_by
    ServiceFlinkGetJarApplicationResponse:
      type: object
      description: ServiceFlinkGetJarApplicationResponse
      properties:
        application_versions:
          type: array
          maxItems: 64
          description: JarApplicationVersions
          items:
            type: object
            properties:
              created_at:
                type: string
                description: The creation timestamp of this entity in ISO 8601 format, always in UTC
                title: Created at
              created_by:
                type: string
                description: The creator of this entity
                title: Created by
              file_info:
                type: object
                description: Flink JarApplicationVersion FileInfo
                properties:
                  file_sha256:
                    type: string
                    minLength: 64
                    maxLength: 64
                    description: sha256 of the file if known
                  file_size:
                    type: integer
                    description: The size of the file in bytes
                  file_status:
                    type: string
                    description: Indicates whether the uploaded .jar file has been verified by the system and deployment ready
                    title: File status
                    enum:
                    - INITIAL
                    - READY
                    - FAILED
                  url:
                    type: string
                    minLength: 1
                    maxLength: 50000
                    description: The pre-signed url of the bucket where the .jar file is uploaded. Becomes null when the JarApplicationVersion is ready or failed.
                    title: AWS s3 pre-signed url
                  verify_error_code:
                    type: integer
                    description: In the case file_status is FAILED, the error code of the failure.
                    title: Verify error code
                    enum:
                    - '1'
                    - '2'
                    - '3'
                  verify_error_message:
                    type: string
                    minLength: 16
                    maxLength: 512
                    description: In the case file_status is FAILED, may contain details about the failure.
                    title: Verify error message
              id:
                type: string
                minLength: 36
                maxLength: 36
                description: ApplicationVersion ID
              version:
                type: integer
                description: Version number
            required:
            - created_at
            - created_by
            - id
            - version
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        current_deployment:
          type: object
          description: Flink JarApplicationDeployment
          properties:
            created_at:
              type: string
              description: The creation timestamp of this entity in ISO 8601 format, always in UTC
              title: Created at
            created_by:
              type: string
              description: The creator of this entity
              title: Created by
            entry_class:
              type: string
              minLength: 1
              maxLength: 128
              description: The fully qualified name of the entry class to pass during Flink job submission through the entryClass parameter
              title: Entry class
            error_msg:
              type: string
              description: Error message describing what caused deployment to fail
              title: Deployment error
            id:
              type: string
              minLength: 36
              maxLength: 36
              description: Deployment ID
            job_id:
              type: string
              minLength: 1
              maxLength: 128
              description: Job ID
            last_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            parallelism:
              type: integer
              minimum: 1
              maximum: 128
              description: Reading of Flink parallel execution documentation is recommended before setting this value to other than 1. Please do not set this value higher than (total number of nodes x number_of_task_slots), or every new job created will fail.
              title: Flink Job parallelism
            program_args:
              type: array
              maxItems: 32
              description: Arguments to pass during Flink job submission through the programArgsList parameter
              title: Program arguments
              items:
                type: string
            starting_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            status:
              type: string
              description: Deployment status
              enum:
              - INITIALIZING
              - CREATED
              - RUNNING
              - FAILING
              - FAILED
              - SAVING
              - CANCELLING_REQUESTED
              - CANCELLING
              - CANCELED
              - SAVING_AND_STOP_REQUESTED
              - SAVING_AND_STOP
              - FINISHED
              - RESTARTING
              - SUSPENDED
              - DELETE_REQUESTED
              - DELETING
              - RECONCILING
            version_id:
              type: string
              minLength: 36
              maxLength: 36
              description: ApplicationVersion ID
          required:
          - created_at
          - created_by
          - id
          - parallelism
          - status
          - version_id
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        id:
          type: string
          minLength: 36
          maxLength: 36
          description: Application ID
        message:
          type: string
          description: Printable result of the request
        name:
          type: string
          maxLength: 128
          description: Application name
        updated_at:
          type: string
          description: The update timestamp of this entity in ISO 8601 format, always in UTC
          title: Updated at
        updated_by:
          type: string
          description: The latest updater of this entity
          title: Updated by
      required:
      - application_versions
      - created_at
      - created_by
      - id
      - name
      - updated_at
      - updated_by
    ServiceFlinkCreateApplicationResponse:
      type: object
      description: ServiceFlinkCreateApplicationResponse
      properties:
        application_versions:
          type: array
          maxItems: 64
          description: ApplicationVersions
          items:
            type: object
            properties:
              created_at:
                type: string
                description: The creation timestamp of this entity in ISO 8601 format, always in UTC
                title: Created at
              created_by:
                type: string
                description: The creator of this entity
                title: Created by
              id:
                type: string
                minLength: 36
                maxLength: 36
                description: ApplicationVersion ID
              sinks:
                type: array
                maxItems: 64
                description: Sinks
                items:
                  type: object
                  properties:
                    columns:
                      type: array
                      maxItems: 256
                      description: Columns
                      items:
                        type: object
                        properties:
                          data_type:
                            type: string
                            minLength: 1
                            maxLength: 2048
                            description: The data type of the column
                          extras:
                            type: string
                            maxLength: 256
                            description: Column extra information
                          key:
                            type: string
                            maxLength: 512
                            description: The key info of the column
                          name:
                            type: string
                            minLength: 1
                            maxLength: 256
                            description: The name of the column
                          nullable:
                            type: boolean
                            description: Whether the column is nullable, i.e. if true, the column is NOT NULL
                          watermark:
                            type: string
                            maxLength: 512
                            description: Information of the watermark if the column is used for watermark.
                        required:
                        - data_type
                        - name
                        - nullable
                    create_table:
                      type: string
                      maxLength: 4096
                      description: The CREATE TABLE statement
                    integration_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Integration ID
                    options:
                      type: object
                      description: Option
                      properties: {}
                    table_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Sink ID
                    table_name:
                      type: string
                      description: Table name
                  required:
                  - columns
                  - create_table
                  - options
                  - table_id
                  - table_name
              sources:
                type: array
                maxItems: 64
                description: Sources
                items:
                  type: object
                  properties:
                    columns:
                      type: array
                      maxItems: 256
                      description: Columns
                      items:
                        type: object
                        properties:
                          data_type:
                            type: string
                            minLength: 1
                            maxLength: 2048
                            description: The data type of the column
                          extras:
                            type: string
                            maxLength: 256
                            description: Column extra information
                          key:
                            type: string
                            maxLength: 512
                            description: The key info of the column
                          name:
                            type: string
                            minLength: 1
                            maxLength: 256
                            description: The name of the column
                          nullable:
                            type: boolean
                            description: Whether the column is nullable, i.e. if true, the column is NOT NULL
                          watermark:
                            type: string
                            maxLength: 512
                            description: Information of the watermark if the column is used for watermark.
                        required:
                        - data_type
                        - name
                        - nullable
                    create_table:
                      type: string
                      maxLength: 4096
                      description: The CREATE TABLE statement
                    integration_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Integration ID
                    options:
                      type: object
                      description: Option
                      properties: {}
                    table_id:
                      type: string
                      minLength: 36
                      maxLength: 36
                      description: Source ID
                    table_name:
                      type: string
                      description: Table name
                  required:
                  - columns
                  - create_table
                  - options
                  - table_id
                  - table_name
              statement:
                type: string
                maxLength: 50000
                description: The INSERT INTO SQL statement that will be performed as a job
                title: Job SQL statement
              version:
                type: integer
                description: Version number
            required:
            - created_at
            - created_by
            - id
            - sinks
            - sources
            - statement
            - version
        created_at:
          type: string
          description: The creation timestamp of this entity in ISO 8601 format, always in UTC
          title: Created at
        created_by:
          type: string
          description: The creator of this entity
          title: Created by
        current_deployment:
          type: object
          description: Flink ApplicationDeployment
          properties:
            created_at:
              type: string
              description: The creation timestamp of this entity in ISO 8601 format, always in UTC
              title: Created at
            created_by:
              type: string
              description: The creator of this entity
              title: Created by
            error_msg:
              type: string
              description: Error message describing what caused deployment to fail
              title: Deployment error
            id:
              type: string
              minLength: 36
              maxLength: 36
              description: Deployment ID
            job_id:
              type: string
              minLength: 1
              maxLength: 128
              description: Job ID
            last_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            parallelism:
              type: integer
              minimum: 1
              maximum: 128
              description: Reading of Flink parallel execution documentation is recommended before setting this value to other than 1. Please do not set this value higher than (total number of nodes x number_of_task_slots), or every new job created will fail.
              title: Flink Job parallelism
            restart_enabled:
              type: boolean
              description: Specifies whether a Flink Job is restarted in case it fails
            starting_savepoint:
              type: string
              minLength: 1
              maxLength: 2048
              description: Job savepoint
            status:
              type: string
              description: Deployment status
              enum:
              - INITIALIZING
              - CREATED
              - RUNNING
              - FAILING
              - FAILED
              - SAVING
              - CANCELLING_REQUESTED
              - CANCELLING
              - CANCELED
              - SAVING_AND_STOP_REQUESTED
              - SAVING_AND_STOP
              - FINISHED
              - RESTARTING
              - SUSPENDED
              - DELETE_REQUESTED
              - DELETING
              - RECONCILING
            version_id:
              type: string
              minLength: 36
              maxLength: 36
              description: ApplicationVersion ID
          required:
          - created_at
          - created_by
          - id
          - parallelism
          - restart_enabled
          - status
          - version_id
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
[...]
