openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Service API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Service
  x-displayName: Service
paths:
  /project/{project}/service_types:
    get:
      summary: List service types for a project
      tags:
      - Service
      operationId: ListProjectServiceTypes
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectServiceTypesResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /service_types:
    get:
      summary: List publicly available service types
      tags:
      - Service
      operationId: ListPublicServiceTypes
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPublicServiceTypesResponse'
  /service_versions:
    get:
      summary: List service versions
      tags:
      - Service
      operationId: ListServiceVersions
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceVersionsResponse'
  /tenants/{tenant}/os-available-plugins:
    get:
      summary: List OpenSearch plugins available for this tenant grouped by OpenSearch version
      tags:
      - Service
      operationId: OsAvailablePlugins
      parameters:
      - $ref: '#/components/parameters/tenant'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OsAvailablePluginsResponse'
        '500':
          description: Server got itself in trouble
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - internal_server_error
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'internal_server_error: Internal server error'
  /tenants/{tenant}/pg-available-extensions:
    get:
      summary: List PostgreSQL extensions available for this tenant grouped by PG version
      tags:
      - Service
      operationId: PgAvailableExtensions
      parameters:
      - $ref: '#/components/parameters/tenant'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PgAvailableExtensionsResponse'
  /project/{project}/service/{service_name}/logs:
    post:
      summary: Get service log entries
      tags:
      - Service
      operationId: ProjectGetServiceLogs
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectGetServiceLogsRequestBody'
            example:
              limit: 100
              offset: '23425325'
              severity: warning
              sort_order: asc
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetServiceLogsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/tags:
    get:
      summary: List all tags attached to the service
      tags:
      - Service
      operationId: ProjectServiceTagsList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServiceTagsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Replace all project tags with a new set of tags, deleting old ones
      tags:
      - Service
      operationId: ProjectServiceTagsReplace
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectServiceTagsReplaceRequestBody'
            example:
              tags: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServiceTagsReplaceResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    patch:
      summary: Update one or more tags, creating ones that don't exist, and deleting ones…
      tags:
      - Service
      operationId: ProjectServiceTagsUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectServiceTagsUpdateRequestBody'
            example:
              tags: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServiceTagsUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/alerts:
    get:
      summary: List active alerts for service
      tags:
      - Service
      operationId: ServiceAlertsList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAlertsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/backup_to_another_region/report:
    post:
      summary: Get service's backup to another region information
      tags:
      - Service
      operationId: ServiceBackupToAnotherRegionReport
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceBackupToAnotherRegionReportRequestBody'
            example:
              kafka_topic_name: customer_accounts_topic
              period: hour
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceBackupToAnotherRegionReportResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/backups:
    get:
      summary: Get service backup information
      tags:
      - Service
      operationId: ServiceBackupsGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceBackupsGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/query/cancel:
    post:
      summary: Cancel specified query from service
      tags:
      - Service
      operationId: ServiceCancelQuery
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCancelQueryRequestBody'
            example:
              pid: 84562
              terminate: 'true'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCancelQueryResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service:
    post:
      summary: Create a service
      tags:
      - Service
      operationId: ServiceCreate
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCreateRequestBody'
            example:
              cloud: aws-eu-central-1
              cmk_id: 12345678-1234-1234-1234-12345678abcd
              copy_tags: true
              disk_space_mb: 65536
              group_name: mygroup
              maintenance:
                dow: sunday
                time: '12:30:00'
              plan: hobbyist
              project_vpc_id: 1007a317-aa2a-4fb4-9056-93924c5ee46f
              service_integrations:
              - integration_type: read_replica
                source_service: myservice
              service_name: db123
              service_type: pg
              static_ips:
              - ip350351b76da
              tags: {}
              tech_emails:
              - email: jane@example.com
              termination_protection: true
              user_config: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: List services
      tags:
      - Service
      operationId: ServiceList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/servicelist_include_secrets'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/rotate-internal-secrets:
    post:
      summary: Rotate DataHub internal authentication secrets
      tags:
      - Service
      operationId: ServiceDataHubRotateInternalSecrets
      description: 'Generates fresh values for DATAHUB_SECRET (Play session signing key) and DATAHUB_SYSTEM_CLIENT_SECRET (system OAuth client secret), updates every DataHub app child accordingly, and triggers a coordinated restart so the new values take effect everywhere simultaneously. USER-VISIBLE SIDE EFFECT: every active browser session is invalidated -- all currently logged-in users will be signed out and must re-login after the coordinated restart. Inter-service calls may briefly return 401 errors while the rotation is in flight. DATAHUB_SYSTEM_CLIENT_ID is the fixed identifier "__datahub_system" and is intentionally left untouched.'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDataHubRotateInternalSecretsResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_not_found: Service not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_type_not_allowed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_type_not_allowed: Service type not allowed'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/db:
    post:
      summary: Create a new logical database for service
      tags:
      - Service
      operationId: ServiceDatabaseCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDatabaseCreateRequestBody'
            example:
              database: testdb
              lc_collate: en_US.UTF-8
              lc_ctype: en_US.UTF-8
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDatabaseCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: List service databases
      tags:
      - Service
      operationId: ServiceDatabaseList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDatabaseListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/db/{dbname}:
    delete:
      summary: Delete a logical database
      tags:
      - Service
      operationId: ServiceDatabaseDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/dbname'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDatabaseDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}:
    delete:
      summary: Terminate a service
      tags:
      - Service
      operationId: ServiceDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get service information
      tags:
      - Service
      operationId: ServiceGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/serviceget_include_secrets'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Update service configuration
      tags:
      - Service
      operationId: ServiceUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/serviceupdate_allow_unclean_poweroff'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceUpdateRequestBody'
            example:
              cloud: aws-eu-central-1
              cmk_id: 12345678-1234-1234-1234-12345678abcd
              disk_space_mb: 65536
              group_name: mygroup
              karapace: true
              maintenance:
                dow: sunday
                time: '12:30:00'
              plan: hobbyist
              powered: true
              project_vpc_id: 1007a317-aa2a-4fb4-9056-93924c5ee46f
              schema_registry_authz: true
              tech_emails:
              - email: jane@example.com
              termination_protection: true
              user_config: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/enable-writes:
    post:
      summary: Temporarily enable writes for a service in read-only mode.
      tags:
      - Service
      operationId: ServiceEnableWrites
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEnableWritesResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/migration:
    get:
      summary: Get migration status
      tags:
      - Service
      operationId: ServiceGetMigrationStatus
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceGetMigrationStatusResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/maintenance/start:
    put:
      summary: Start maintenance updates
      tags:
      - Service
      operationId: ServiceMaintenanceStart
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMaintenanceStartResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/metrics:
    post:
      summary: Fetch service metrics
      tags:
      - Service
      operationId: ServiceMetricsFetch
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceMetricsFetchRequestBody'
            example:
              kafka_topic_name: customer_accounts_topic
              period: hour
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetricsFetchResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/privatelink/aws/connections:
    get:
      summary: List VPC Endpoint connections for an AWS Privatelink Endpoint Service
      tags:
      - Service
      operationId: ServicePrivatelinkAWSConnectionList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAWSConnectionListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:read
  /project/{project}/service/{service_name}/privatelink/aws:
    post:
      summary: Create an AWS Privatelink Endpoint Service
      tags:
      - Service
      operationId: ServicePrivatelinkAWSCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrivatelinkAWSCreateRequestBody'
            example:
              principals:
              - arn:aws:iam::012345678901:root
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAWSCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
    delete:
      summary: Delete an AWS Privatelink Endpoint Service
      tags:
      - Service
      operationId: ServicePrivatelinkAWSDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAWSDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
    get:
      summary: Get AWS Privatelink Endpoint Service information
      tags:
      - Service
      operationId: ServicePrivatelinkAWSGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAWSGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:read
    put:
      summary: Update an AWS Privatelink Endpoint Service
      tags:
      - Service
      operationId: ServicePrivatelinkAWSUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrivatelinkAWSUpdateRequestBody'
            example:
              principals:
              - arn:aws:iam::012345678901:root
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAWSUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
  /project/{project}/service/{service_name}/privatelink/azure/connections/{privatelink_connection_id}/approve:
    post:
      summary: Approve an Azure private endpoint connection pending user approval
      tags:
      - Service
      operationId: ServicePrivatelinkAzureConnectionApproval
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/privatelink_connection_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAzureConnectionApprovalResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
  /project/{project}/service/{service_name}/privatelink/azure/connections:
    get:
      summary: List private endpoint connections for an Azure Privatelink Service
      tags:
      - Service
      operationId: ServicePrivatelinkAzureConnectionList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAzureConnectionListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:read
  /project/{project}/service/{service_name}/privatelink/azure/connections/{privatelink_connection_id}:
    put:
      summary: Update a private endpoint connection for an Azure Privatelink Service
      tags:
      - Service
      operationId: ServicePrivatelinkAzureConnectionUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/privatelink_connection_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrivatelinkAzureConnectionUpdateRequestBody'
            example:
              user_ip_address: 10.20.30.40
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAzureConnectionUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
  /project/{project}/service/{service_name}/privatelink/azure:
    post:
      summary: Create an Azure Privatelink Service
      tags:
      - Service
      operationId: ServicePrivatelinkAzureCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrivatelinkAzureCreateRequestBody'
            example:
              user_subscription_ids:
              - adcf7194-d877-4505-a47a-91fefd96e3b8
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAzureCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
    delete:
      summary: Delete an Azure Privatelink Service
      tags:
      - Service
      operationId: ServicePrivatelinkAzureDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAzureDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
    get:
      summary: Get Azure Privatelink Service information
      tags:
      - Service
      operationId: ServicePrivatelinkAzureGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAzureGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:read
    put:
      summary: Update an Azure Privatelink Service
      tags:
      - Service
      operationId: ServicePrivatelinkAzureUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePrivatelinkAzureUpdateRequestBody'
            example:
              user_subscription_ids:
              - adcf7194-d877-4505-a47a-91fefd96e3b8
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrivatelinkAzureUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:write
  /project/{project}/service/{service_name}/query/activity:
    post:
      summary: Fetch current queries for the service
      tags:
      - Service
      operationId: ServiceQueryActivity
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceQueryActivityRequestBody'
            example:
              limit: 100
              offset: 100
              order_by: client_id:desc
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQueryActivityResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/query/stats/reset:
    put:
      summary: Reset service's query statistics
      tags:
      - Service
      operationId: ServiceQueryStatisticsReset
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceQueryStatisticsResetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/service_type:
    patch:
      summary: Update the service type of a service
      tags:
      - Service
      operationId: ServiceServiceTypeUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceServiceTypeUpdateRequestBody'
            example:
              service_type: pg
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceServiceTypeUpdateResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_type_not_allowed
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_type_not_allowed: Service type not allowed'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_not_found: Service not found'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - service_maintenance_required
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'service_maintenance_required: The service does not support the functionality. A maintenance update is required.'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/task:
    post:
      summary: Create a new task for service
      tags:
      - Service
      operationId: ServiceTaskCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceTaskCreateRequestBody'
            example:
              create_searchable_snapshot:
                indices: my-index
              create_user_backup:
                backup_name: influxdb-backup
              dataset_import:
                dataset_name: pagila
              migration_check:
                ignore_dbs: db1,db2
                ignore_roles: role1,role2
                method: dump
                source_project_name: myproject
                source_service_name: db123
                source_service_uri: mysql://user:pass@host:port/db
              target_version: '18'
              task_type: upgrade_check
              upgrade_check:
                async: true
                target_version: '18'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTaskCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/task/{task_id}:
    get:
      summary: Get task result
      tags:
      - Service
      operationId: ServiceTaskGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/task_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTaskGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/user:
    post:
      summary: Create a new (sub) user for service
      tags:
      - Service
      operationId: ServiceUserCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceUserCreateRequestBody'
            example:
              access_control:
                dragonfly_acl_categories:
                - +@all
                dragonfly_acl_commands:
                - -acl
                dragonfly_acl_keys:
                - prefix_*
                pg_allow_replication: true
                redis_acl_categories:
                - +@all
                redis_acl_channels:
                - some*chan
                redis_acl_commands:
                - -acl
                redis_acl_keys:
                - prefix_*
                valkey_acl_categories:
                - +@all
                valkey_acl_channels:
                - some*chan
                valkey_acl_commands:
                - -acl
                valkey_acl_keys:
                - prefix_*
              authentication: caching_sha2_password
              username: testuser
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUserCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/service/{service_name}/user/{service_username}:
    put:
      summary: Modify service user credentials
      tags:
      - Service
      operationId: ServiceUserCredentialsModify
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/service_username'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceUserCredentialsModifyRequestBody'
            example:
              access_control:
                dragonfly_acl_categories:
                - +@all
                dragonfly_acl_commands:
                - -acl
                dragonfly_acl_keys:
                - prefix_*
                pg_allow_replication: true
                redis_acl_categories:
                - +@all
                redis_acl_channels:
                - some*chan
                redis_acl_commands:
                - -acl
                redis_acl_keys:
                - prefix_*
                valkey_acl_categories:
                - +@all
                valkey_acl_channels:
                - some*chan
                valkey_acl_commands:
                - -acl
                valkey_acl_keys:
                - prefix_*
              authentication: caching_sha2_password
              new_password: password12345
              operation: acknowledge-renewal
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUserCredentialsModifyResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    delete:
      summary: Delete a service user
      tags:
      - Service
      operationId: ServiceUserDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/service_username'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUserDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get details for a single user
      tags:
      - Service
      operationId: ServiceUserGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/service_username'
      - $ref: '#/components/parameters/serviceuserget_include_secrets'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUserGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/user/{service_username}/credentials/reset:
    put:
      summary: Reset service user credentials
      tags:
      - Service
      operationId: ServiceUserCredentialsReset
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/service_username'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUserCredentialsResetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
components:
  parameters:
    service_name:
      in: path
      name: service_name
      description: Service name
      schema:
        type: string
      required: true
    task_id:
      in: path
      name: task_id
      description: Service task
      schema:
        type: string
      required: true
    servicelist_include_secrets:
      in: query
      name: include_secrets
      description: Explicitly indicates that the client wants to read secrets that might be returned by this endpoint.
      schema:
        type: boolean
      required: false
    serviceget_include_secrets:
      in: query
      name: include_secrets
      description: Explicitly indicates that the client wants to read secrets that might be returned by this endpoint.
      schema:
        type: boolean
      required: false
    serviceuserget_include_secrets:
      in: query
      name: include_secrets
      description: Explicitly indicates that the client wants to read secrets that might be returned by this endpoint.
      schema:
        type: boolean
      required: false
    privatelink_connection_id:
      in: path
      name: privatelink_connection_id
      description: Privatelink connection ID
      schema:
        type: string
      required: true
    service_username:
      in: path
      name: service_username
      description: Service username
      schema:
        type: string
      required: true
    serviceupdate_allow_unclean_poweroff:
      in: query
      name: allow_unclean_poweroff
      description: Allows or disallows powering off a service if some WAL segments are not available for a future restoration of the service, which might result in data loss when powering the service back on
      schema:
        type: boolean
        default: true
      required: false
    tenant:
      in: path
      name: tenant
      description: Aiven tenant ID
      schema:
        type: string
      required: true
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
    dbname:
      in: path
      name: dbname
      description: DatabaseName
      schema:
        type: string
      required: true
  schemas:
    ServiceUserCredentialsModifyResponse:
      type: object
      description: ServiceUserCredentialsModifyResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service:
          type: object
          description: Service information
          properties:
            acl:
              type: array
              description: List of Aiven ACL entries for Kafka service
              items:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 40
                    description: ID
                  permission:
                    type: string
                    description: Kafka permission
                    enum:
                    - admin
                    - read
                    - readwrite
                    - write
                  topic:
                    type: string
                    minLength: 1
                    maxLength: 249
                    description: Topic name pattern
                  username:
                    type: string
                    minLength: 1
                    maxLength: 64
                    description: Username
                required:
                - permission
                - topic
                - username
            backups:
              type: array
              description: List of backups for the service
              items:
                type: object
                properties:
                  additional_regions:
                    type: array
                    description: Additional backup regions, if available
                    items:
                      type: object
                      properties:
                        cloud:
                          type: string
                          maxLength: 256
                          description: Target cloud
                        pause_reason:
                          type: string
                          description: Reason for pausing the backup synchronization
                        paused:
                          type: boolean
                          description: Indicates additional backup synchronization is paused
                        region:
                          type: string
                          description: Cloud storage region name
                      required:
                      - cloud
                  backup_name:
                    type: string
                    description: Internal name of this backup
                  backup_time:
                    type: string
                    maxLength: 36
                    description: Backup timestamp (ISO 8601)
                  data_size:
                    type: integer
                    description: Backup's original size before compression
                  incremental:
                    type: boolean
                    description: Indicates if this backup is a full or an incremental one (available only for MySQL)
                  storage_location:
                    type: string
                    description: Location where this backup is stored
                  tiered_storage_data_size:
                    type: integer
                    description: The amount of tiered storage data in bytes referenced by this backup.
                required:
                - backup_name
                - backup_time
                - data_size
            cloud_description:
              type: string
              description: Cloud provider and location
            cloud_name:
              type: string
              maxLength: 256
              description: Target cloud
            cmk_id:
              type: string
              description: Active Customer Managed Key identifier (CMK ID)
            components:
              type: array
              description: Service component information objects
              items:
                type: object
                properties:
                  component:
                    type: string
                    description: Service component name
                  host:
                    type: string
                    description: DNS name for connecting to the service component
                  kafka_authentication_method:
                    type: string
                    description: Kafka authentication method. This is a value specific to the 'kafka' service component
                    enum:
                    - certificate
                    - sasl
                  kafka_ssl_ca:
                    type: string
                    description: Specifies if this port uses Project CA or Letsencrypt. If not specified, the default is using Project CA.This is a value specific to the 'kafka' service component.
                    enum:
                    - project_ca
                    - letsencrypt
                  path:
                    type: string
                    description: Path component of the service URL (useful only if service component is HTTP or HTTPS endpoint)
                  port:
                    type: integer
                    minimum: 0
                    maximum: 65535
                    description: Port number for connecting to the service component
                  privatelink_connection_id:
                    type: string
                    description: Privatelink connection ID
                  route:
                    type: string
                    description: Network access route
                    enum:
                    - dynamic
                    - public
                    - private
                    - privatelink
                  ssl:
                    type: boolean
                    description: Whether the endpoint is encrypted or accepts plaintext. By default endpoints are always encrypted andthis property is only included for service components that may disable encryption.
                  usage:
                    type: string
                    description: DNS usage name
                    enum:
                    - disaster_recovery
                    - primary
                    - replica
                    - ha_replica
                required:
                - component
                - host
                - port
                - route
                - usage
            connection_info:
              type: object
              description: Service-specific connection information properties
              properties: {}
            connection_pools:
              type: array
              description: PostgreSQL PGBouncer connection pools
              items:
                type: object
                properties:
                  connection_uri:
                    type: string
                    description: Connection URI for the DB pool
                  database:
                    type: string
                    maxLength: 63
                    description: Database name
                  pool_mode:
                    type: string
                    description: PGBouncer pool mode
                    enum:
                    - session
                    - transaction
                    - statement
                  pool_name:
                    type: string
                    maxLength: 63
                    description: Connection pool name
                  pool_size:
                    type: integer
                    minimum: 1
                    maximum: 10000
                    description: Size of PGBouncer's PostgreSQL side connection pool
                  username:
                    type: string
                    maxLength: 64
                    description: Pool username
                required:
                - connection_uri
                - database
                - pool_mode
                - pool_name
                - pool_size
            create_time:
              type: string
              maxLength: 36
              description: Service creation timestamp (ISO 8601)
            databases:
              type: array
              description: List of service's user database names
              items:
                type: string
            disk_space_mb:
              type: integer
              minimum: 0
              description: Megabytes of disk space for data storage
            features:
              type: object
              description: Feature flags
              properties: {}
            group_list:
              type: array
              description: List of service groups the service belongs to. This field is deprecated. It is always set to single element with value 'default'
              items:
                type: string
            is_cluster_plan:
              type: boolean
              description: True when the service uses a cluster plan with dedicated node groups
            kafka_acl:
              type: array
              description: List of Kafka-native ACL entries
              items:
                type: object
                properties:
                  host:
                    type: string
                    minLength: 0
                    maxLength: 256
                    description: the host or * for all hosts
                  id:
                    type: string
                    maxLength: 40
                    description: ID
                  operation:
                    type: string
                    description: Kafka ACL operation represents an operation which an ACL grants or denies permission to perform
                    enum:
                    - All
                    - Alter
                    - AlterConfigs
                    - ClusterAction
                    - Create
                    - CreateTokens
                    - Delete
                    - Describe
                    - DescribeConfigs
                    - DescribeTokens
                    - IdempotentWrite
                    - Read
                    - Write
                  pattern_type:
                    type: string
                    description: Kafka ACL pattern type of resource name
                    enum:
                    - LITERAL
                    - PREFIXED
                  permission_type:
                    type: string
                    description: Kafka ACL permission type
                    enum:
                    - ALLOW
                    - DENY
                  principal:
                    type: string
                    minLength: 0
                    maxLength: 256
                    description: principal is in 'principalType:name' format
                  resource_name:
                    type: string
                    minLength: 0
                    maxLength: 256
                    description: Resource pattern used to match specified resources
                  resource_type:
                    type: string
                    description: Kafka ACL resource type represents a type of resource which an ACL can be applied to
                    enum:
                    - Cluster
                    - DelegationToken
                    - Group
                    - Topic
                    - TransactionalId
                    - User
                required:
                - host
                - id
                - operation
                - pattern_type
                - permission_type
                - principal
                - resource_name
                - resource_type
            maintenance:
              type: object
              description: Automatic maintenance settings
              properties:
                controlled_switchover:
                  type: object
                  description: Controlled switchover status
                  properties:
                    completed_at:
                      type: string
                      description: Time when the switchover completed, if it has completed
                    enabled:
                      type: boolean
                      description: Controlled switchover configured and enabled
                    scheduled_start_time:
                      type: string
                      description: Scheduled start time of the switchover window, if enabled and active
                    state:
                      type: string
                      description: Controlled switchover state
                      enum:
                      - INACTIVE
                      - PENDING
                      - SCHEDULED
                      - RUNNING
                      - COMPLETED
                      - COMPLETED_EARLY
                    termination_reason:
                      type: string
                      description: Reason for switchover termination
                  required:
                  - enabled
                  - scheduled_start_time
                  - state
                dow:
                  type: string
                  description: Day of week for installing updates
                  enum:
                  - monday
                  - tuesday
                  - wednesday
                  - thursday
                  - friday
                  - saturday
                  - sunday
                  - never
                enabled:
                  type: boolean
                  description: Service maintenance enabled
                time:
                  type: string
                  minLength: 8
                  maxLength: 8
                  description: Time for installing updates, UTC
                updates:
                  type: array
                  description: List of updates waiting to be installed
                  items:
                    type: object
                    properties:
                      deadline:
                        type: string
                        description: Deadline for installing the update
                      description:
                        type: string
                        description: Description of the update
                      documentation_link:
                        type: string
                        description: Optional link
                      impact:
                        type: string
                        description: Impact statement of the update
                      impact_portable_text:
                        type: string
                        description: Impact statement in portable text format
                      start_after:
                        type: string
                        description: The earliest time the update will be automatically applied
                      start_at:
                        type: string
                        description: The time when the update will be automatically applied
              required:
              - dow
              - enabled
              - time
              - updates
            metadata:
              type: object
              description: Service type specific metadata
              properties: {}
            node_count:
              type: integer
              description: Number of service nodes in the active plan
            node_cpu_count:
              type: integer
              description: Number of CPUs for each node
            node_memory_mb:
              type: number
              description: Megabytes of memory for each node
            node_states:
              type: array
              description: State of individual service nodes
              items:
                type: object
                properties:
                  availability_zone:
                    type: string
                    description: The availability zone in which the node is place. If there is no availability zone available this field will be missing.
                  name:
                    type: string
                    description: Name of the service node
                  progress_updates:
                    type: array
                    description: Extra information regarding the progress for current state
                    items:
                      type: object
                      properties:
                        completed:
                          type: boolean
                          description: Indicates whether this phase has been completed or not
                        current:
                          type: integer
                          description: Current progress for this phase. May be missing or null.
                        max:
                          type: integer
                          description: Maximum progress value for this phase. May be missing or null. May change.
                        min:
                          type: integer
                          description: Minimum progress value for this phase. May be missing or null.
                        phase:
                          type: string
                          description: Key identifying this phase
                          enum:
                          - prepare
                          - basebackup
                          - basebackup_prepare
                          - stream
                          - finalize
                        unit:
                          type: string
                          description: Unit for current/min/max values. New units may be added. If null should be treated as generic unit
                          enum:
                          - binlogs
                          - bytes_compressed
                          - bytes_uncompressed
                          - prepare_percent
                          - wal_lsn
                      required:
                      - completed
                      - phase
                  role:
                    type: string
                    description: Role of this node. Only returned for a subset of service types
                    enum:
                    - master
                    - standby
                    - read-replica
                  roles:
                    type: string
                    description: 'A role string indicating the node''s roles in the OpenSearch cluster. Only populated for OpenSearch services using cluster plans. Format: first character is ''*'' (elected cluster manager) or ''-'' (not elected), followed by role letters: ''d'' (data), ''i'' (ingest), ''m'' (cluster_manager eligible), ''c'' (coordinating), ''L'' (ML), ''D'' (Dashboards). Example: ''*mc'' means elected cluster manager with cluster_manager and coordinating roles.'
                    title: Roles of this node. Only returned for OpenSearch services with cluster plans
                  shard:
                    type: object
                    description: Shard of this node. Only returned for a subset of service types
                    properties:
                      name:
                        type: string
                        description: Name of the shard.
                      position:
                        type: integer
                        description: Position of this shard within the service
                  state:
                    type: string
                    description: Current state of the service node
                    enum:
                    - leaving
                    - running
                    - setting_up_vm
                    - syncing_data
                    - timing_out
                    - unknown
                required:
                - availability_zone
                - name
                - state
            plan:
              type: string
              maxLength: 128
              description: Subscription plan
            project_vpc_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Project VPC ID
            schema_registry_acl:
              type: array
              description: List of Schema Registry ACL entries
              items:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 40
                    description: ID
                  permission:
                    type: string
                    description: ACL entry for Schema Registry
                    enum:
                    - schema_registry_read
                    - schema_registry_write
                  resource:
                    type: string
                    minLength: 1
                    maxLength: 249
                    description: Schema Registry ACL entry resource name pattern
                  username:
                    type: string
                    minLength: 1
                    maxLength: 64
                    description: Username
                required:
                - permission
                - resource
                - username
            server_group:
              type: object
              description: Service IaaS server group
              properties:
                enabled:
                  type: boolean
                  description: Flag set if server group is in use for the service
                type:
                  type: string
                  description: IaaS server group type
            service_integrations:
              type: array
              description: Integrations with other services
              items:
                type: object
                properties:
                  active:
                    type: boolean
                    description: True when integration is active
                  description:
                    type: string
                    description: Description of the integration
                  dest_endpoint:
                    type: string
                    description: Destination endpoint name
                  dest_endpoint_id:
                    type: string
                    description: Destination endpoint id
                  dest_project:
                    type: string
                    maxLength: 63
                    description: Project name
                  dest_service:
                    type: string
                    description: Destination service name
                  dest_service_type:
                    type: string
                    maxLength: 64
                    description: Service type code
                  enabled:
                    type: boolean
                    description: True when integration is enabled
                  integration_status:
                    type: object
                    description: Integration status
                    properties:
                      state:
                        type: object
                        description: Service integration state
                        properties:
                          errors:
                            type: array
                            description: Errors
                            items:
                              type: string
                          likely_error_cause:
                            type: string
                            description: Most likely cause of the errors
                            enum:
                            - 'null'
                            - destination
                            - integration
                            - source
                            - unknown
                          nodes:
                            type: object
                            description: Nodes
                            properties: {}
                          status:
                            type: string
                            description: Service integration status
                            enum:
                            - failed
                            - inactive
                            - running
                            - starting
                            - unknown
                        required:
                        - errors
                        - nodes
                        - status
                      status_user_desc:
                        type: string
                        description: Integration status description
                    required:
                    - state
                    - status_user_desc
                  integration_type:
                    type: string
                    description: Type of the integration
                  service_integration_id:
                    type: string
                    description: Integration ID
                  source_endpoint:
                    type: string
                    description: Source endpoint name
                  source_endpoint_id:
                    type: string
                    description: Source endpoint ID
                  source_project:
                    type: string
                    maxLength: 63
                    description: Project name
                  source_service:
                    type: string
                    description: Source service name
                  source_service_type:
                    type: string
                    maxLength: 64
                    description: Service type code
                  user_config:
                    type: object
                    description: Service integration settings
                    properties: {}
                required:
                - active
                - description
                - dest_project
                - dest_service_type
                - enabled
                - integration_type
                - service_integration_id
                - source_project
                - source_service
                - source_service_type
            service_name:
              type: string
              minLength: 1
              maxLength: 64
              description: Service name
            service_notifications:
              type: array
              description: Service notifications
              items:
                type: object
                properties:
                  level:
                    type: string
                    description: Notification level
                    enum:
                    - notice
                    - warning
                  message:
                    type: string
                    maxLength: 1024
                    description: Human notification message
                  metadata:
                    type: object
                    description: Notification metadata
                    properties:
                      end_of_life_help_article_url:
                        type: string
                        description: Link to the help article
                      end_of_life_policy_url:
                        type: string
                        description: Link to the help article
                      service_end_of_life_time:
                        type: string
                        maxLength: 36
                        description: Timestamp in ISO 8601 format, always in UTC
                      upgrade_to_service_type:
                        type: string
                        maxLength: 64
                        description: If the customer takes no action, the service is updated to this service type when end of life is reached on the Aiven platform. If it is the same as the service type, the platform only upgrades the version.
                      upgrade_to_version:
                        type: string
                        maxLength: 32
                        description: The version to which the service will be updated at the end of life on the Aiven platform if the user does not take any action
                  type:
                    type: string
                    description: Notification type
                    enum:
                    - service_end_of_life
                    - service_powered_off_removal
                required:
                - level
                - message
                - metadata
                - type
            service_type:
              type: string
              maxLength: 64
              description: Service type code
            service_type_description:
              type: string
              description: Single line description of the service
            service_uri:
              type: string
              description: URI for connecting to the service (may be null)
            service_uri_params:
              type: object
              description: service_uri parameterized into key-value pairs
              properties: {}
            state:
              type: string
              description: State of the service
              enum:
              - POWEROFF
              - REBALANCING
              - REBUILDING
              - RUNNING
            tags:
              type: object
              description: Set of resource tags
              properties: {}
            tech_emails:
              type: array
              maxItems: 10
              description: List of service technical email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            termination_protection:
              type: boolean
              description: Service is protected against termination and powering off
            topics:
              type: array
              description: 'Kafka topics. DEPRECATED: Use /project/$project/service/$service/topic instead'
              items:
                type: object
                properties:
                  cleanup_policy:
                    type: string
                    maxLength: 64
                    description: The retention policy to use on old segments. Possible values include 'delete', 'compact', or a comma-separated list of them. The default policy ('delete') will discard old segments when their retention time or size limit has been reached. The 'compact' setting will enable log compaction on the topic.
                    title: cleanup.policy
                  min_insync_replicas:
                    type: integer
                    minimum: 1
                    description: When a producer sets acks to 'all' (or '-1'), this configuration specifies the minimum number of replicas that must acknowledge a write for the write to be considered successful. If this minimum cannot be met, then the producer will raise an exception (either NotEnoughReplicas or NotEnoughReplicasAfterAppend). When used together, min.insync.replicas and acks allow you to enforce greater durability guarantees. A typical scenario would be to create a topic with a replication factor of 3, set min.insync.replicas to 2, and produce with acks of 'all'. This will ensure that the producer raises an exception if a majority of replicas do not receive a write.
                    title: min.insync.replicas
                  partitions:
                    type: integer
                    minimum: 1
                    maximum: 1000000
                    description: Number of partitions
                  replication:
                    type: integer
                    minimum: 1
                    description: Number of replicas
                  retention_bytes:
                    type: integer
                    description: This configuration controls the maximum size a partition (which consists of log segments) can grow to before we will discard old log segments to free up space if we are using the 'delete' retention policy. By default there is no size limit only a time limit. Since this limit is enforced at the partition level, multiply it by the number of partitions to compute the topic retention in bytes.
                    title: retention.bytes
                  retention_hours:
                    type: integer
                    maximum: 2562047788015
                    description: Retention period (hours)
                  state:
                    type: string
                    description: Topic state
                    enum:
                    - ACTIVE
                    - CONFIGURING
                    - DELETING
                  topic_name:
                    type: string
                    minLength: 1
                    maxLength: 249
                    description: Topic name
                required:
                - cleanup_policy
                - min_insync_replicas
                - partitions
                - replication
                - retention_bytes
                - retention_hours
                - topic_name
            update_time:
              type: string
              maxLength: 36
              description: Service last update timestamp (ISO 8601)
            user_config:
              type: object
              description: Service type-specific settings
              properties: {}
            users:
              type: array
              description: List of service users
              items:
                type: object
                properties:
                  access_cert:
                    type: string
                    description: Access certificate for TLS client authentication
                  access_cert_not_valid_after_time:
                    type: string
                    description: Validity end time (ISO8601) for the current access certificate
                  access_control:
                    type: object
                    description: Service type specific access control rules for user. Currently only used for configuring user ACLs for Redis version 6 and above.
                    title: Service specific access controls for user
                    properties:
                      dragonfly_acl_categories:
                        type: array
                        maxItems: 256
                        description: Command category rules
                        items:
                          type: string
                      dragonfly_acl_commands:
                        type: array
                        maxItems: 256
                        description: Rules for individual commands
                        items:
                          type: string
                      dragonfly_acl_keys:
                        type: array
                        maxItems: 256
                        description: Key access rules
                        items:
                          type: string
                      pg_allow_replication:
                        type: boolean
                        description: Enable REPLICATION role option
                      redis_acl_categories:
                        type: array
                        maxItems: 256
                        description: Command category rules
                        items:
                          type: string
                      redis_acl_channels:
                        type: array
                        maxItems: 256
                        description: Glob-style patterns defining which pub/sub channels can be accessed. If array is not defined, the default policy is used (allchannels).
                        title: Permitted pub/sub channel patterns
                        items:
                          type: string
                      redis_acl_commands:
                        type: array
                        maxItems: 256
                        description: Rules for individual commands
                        items:
                          type: string
                      redis_acl_keys:
                        type: array
                        maxItems: 256
                        description: Key access rules
                        items:
                          type: string
                      valkey_acl_categories:
                        type: array
                        maxItems: 256
                        description: Command category rules
                        items:
                          type: string
                      valkey_acl_channels:
                        type: array
                        maxItems: 256
                        description: Glob-style patterns defining which pub/sub channels can be accessed. If array is not defined, the default policy is used (allchannels).
                        title: Permitted pub/sub channel patterns
                        items:
                          type: string
                      valkey_acl_commands:
                        type: array
                        maxItems: 256
                        description: Rules for individual commands
                        items:
                          type: string
                      valkey_acl_keys:
                        type: array
                        maxItems: 256
                        description: Key access rules
                        items:
                          type: string
                  access_key:
                    type: string
                    description: Access key for TLS client authentication
                  authentication:
                    type: string
                    description: Service specific authentication details. Currently only used for MySQL where accepted options are 'mysql_native_password' and 'caching_sha2_password', latter being default when this is not explicitly set.
                    title: Authentication details
                    enum:
                    - 'null'
                    - caching_sha2_password
                    - mysql_native_password
                  expiring_cert_not_valid_after_time:
                    type: string
                    description: When the existing certificate is nearing expiration and a new certificate has been generated, the validity end time (ISO8601) for the expiring certificate
                    title: Validity end time (ISO8601) for the expiring access certificate
                  password:
                    type: string
                    description: Account password. A null value indicates a user overridden password.
                  password_updated_time:
                    type: string
                    description: Timestamp (ISO8601) of the last time this password was set.
                  type:
                    type: string
                    description: Account type
                  username:
                    type: string
                    description: Account username
                required:
                - password
                - type
                - username
          required:
          - cloud_name
          - create_time
          - group_list
          - plan
          - project_vpc_id
          - service_integrations
          - service_name
          - service_type
          - service_uri
          - state
          - termination_protection
          - update_time
          - user_config
      required:
      - service
    ServiceMetricsFetchResponse:
      type: object
      description: ServiceMetricsFetchResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        metrics:
          type: object
          description: Service metrics in Google chart compatible format
          properties: {}
      required:
      - metrics
    ServiceServiceTypeUpdateRequestBody:
      type: object
      description: ServiceServiceTypeUpdateRequestBody
      properties:
        service_type:
          type: string
          maxLength: 64
          description: Service type code
      required:
      - service_type
    ServiceDatabaseDeleteResponse:
      type: object
      description: ServiceDatabaseDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServicePrivatelinkAzureUpdateRequestBody:
      type: object
      description: ServicePrivatelinkAzureUpdateRequestBody
      properties:
        user_subscription_ids:
          type: array
          maxItems: 16
          description: IDs of Azure subscriptions allowed to connect to the service
          title: Subscription ID allowlist
          items:
            type: string
      required:
      - user_subscription_ids
    ServicePrivatelinkAzureConnectionListResponse:
      type: object
      description: ServicePrivatelinkAzureConnectionListResponse
      properties:
        connections:
          type: array
          description: Private endpoint connection list
          items:
            type: object
            properties:
              private_endpoint_id:
                type: string
                description: Azure private endpoint ID
              privatelink_connection_id:
                type: string
                description: Privatelink connection ID
              state:
                type: string
                description: The Aiven connection state. The Azure connection status has a separate value
                title: Privatelink connection state
                enum:
                - pending-user-approval
                - user-approved
                - connected
                - active
              user_ip_address:
                type: string
                maxLength: 15
                description: (Private) IP address of Privatelink endpoint
            required:
            - private_endpoint_id
            - state
            - user_ip_address
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - connections
    ListProjectServiceTypesResponse:
      type: object
      description: ListProjectServiceTypesResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_types:
          type: object
          description: Service plans by service type
          properties:
            clickhouse:
              type: object
              description: Service type information
              properties:
                default_version:
                  type: string
                  description: Default version of the service if no explicit version is defined
                description:
                  type: string
                  description: Single line description of the service
                latest_available_version:
                  type: string
                  description: Latest available version of the service
                service_plans:
                  type: array
                  description: List of plans available for this type of service
                  items:
                    type: object
                    properties:
                      backup_config:
                        type: object
                        description: Backup configuration for this service plan
                        properties:
                          frequent_interval_minutes:
                            type: integer
                            minimum: 0
                            description: Interval of taking a frequent backup in service types supporting different backup schedules
                          frequent_oldest_age_minutes:
                            type: integer
                            minimum: 0
                            description: Maximum age of the oldest frequent backup in service types supporting different backup schedules
                          infrequent_interval_minutes:
                            type: integer
                            minimum: 0
                            description: Interval of taking an infrequent backup in service types supporting different backup schedules
                          infrequent_oldest_age_minutes:
                            type: integer
                            minimum: 0
                            description: Maximum age of the oldest infrequent backup in service types supporting different backup schedules
                          interval:
                            type: integer
                            minimum: 0
                            description: The interval, in hours, at which backups are generated. For some services, like PostgreSQL, this is the interval at which full snapshots are taken and continuous incremental backup stream is maintained in addition to that.
                          max_count:
                            type: integer
                            minimum: 0
                            description: Maximum number of backups to keep. Zero when no backups are created.
                          recovery_mode:
                            type: string
                            description: Mechanism how backups can be restored. 'basic' means a backup is restored as is so that the system is restored to the state it was when the backup was generated. 'pitr' means point-in-time-recovery, which allows restoring the system to any state since the first available full snapshot.
                            enum:
                            - basic
                            - pitr
                        required:
                        - interval
                        - max_count
                        - recovery_mode
                      is_cluster_plan:
                        type: boolean
                        description: True when the plan is a cluster plan with dedicated node groups
                      max_memory_percent:
                        type: integer
                        minimum: 0
                        maximum: 100
                        description: Maximum amount of system memory as a percentage (0-100) the service can actually use after taking into account management overhead. This is relevant for memory bound services for which some service management operations require allocating proportional amount of memory on top the basic load.
                      node_count:
                        type: integer
                        minimum: 1
                        maximum: 100
                        description: Number of nodes in this service plan
                      primary_count:
                        type: integer
                        minimum: 1
                        description: Number of primary nodes in this Valkey cluster service plan
                      regions:
                        type: object
                        description: Service plan hourly price per cloud region
                        properties: {}
                      service_plan:
                        type: string
                        maxLength: 128
                        description: Subscription plan
                      service_type:
                        type: string
                        maxLength: 64
                        description: Service type code
                      shard_count:
                        type: integer
                        minimum: 1
                        description: Number of shards in this service plan
                    required:
                    - backup_config
                    - service_plan
                    - service_type
                user_config_schema:
                  type: object
                  description: JSON-Schema for the 'user_config' properties
                  properties: {}
              required:
              - description
              - service_plans
              - user_config_schema
            dragonfly:
              type: object
              description: Service type information
              properties:
                default_version:
                  type: string
                  description: Default version of the service if no explicit version is defined
                description:
                  type: string
                  description: Single line description of the service
                latest_available_version:
                  type: string
                  description: Latest available version of the service
                service_plans:
                  type: array
                  description: List of plans available for this type of service
                  items:
                    type: object
                    properties:
                      backup_config:
                        type: object
                        description: Backup configuration for this service plan
                        properties:
                          frequent_interval_minutes:
                            type: integer
                            minimum: 0
                            description: Interval of taking a frequent backup in service types supporting different backup schedules
                          frequent_oldest_age_minutes:
                            type: integer
                            minimum: 0
                            description: Maximum age of the oldest frequent backup in service types supporting different backup schedules
                          infrequent_interval_minutes:
                            type: integer
                            minimum: 0
                            description: Interval of taking an infrequent backup in service types supporting different backup schedules
                          infrequent_oldest_age_minutes:
                            type: integer
                            minimum: 0
                            description: Maximum age of the oldest infrequent backup in service types supporting different backup schedules
                          interval:
                            type: integer
                            minimum: 0
                            description: The interval, in hours, at which backups are generated. For some services, like PostgreSQL, this is the interval at which full snapshots are taken and continuous incremental backup stream is maintained in addition to that.
                          max_count:
                            type: integer
                            minimum: 0
                            description: Maximum number of backups to keep. Zero when no backups are created.
                          recovery_mode:
                            type: string
                            description: Mechanism how backups can be restored. 'basic' means a backup is restored as is so that the system is restored to the state it was when the backup was generated. 'pitr' means point-in-time-recovery, which allows restoring the system to any state since the first available full snapshot.
                            enum:
                            - basic
[...]
