openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Custom Cloud API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Custom_Cloud
  x-displayName: Custom Cloud
paths:
  /organization/{organization_id}/custom-cloud-environments:
    post:
      summary: Create a custom cloud
      tags:
      - Custom_Cloud
      operationId: CustomCloudEnvironmentCreate
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Creates a custom cloud environment in an organization.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCloudEnvironmentCreateRequestBody'
            example:
              cloud_provider: aws
              cloud_region: eu-west-1
              contact_emails:
              - email: jane@example.com
                real_name: Jane Smith
                role: admin
              deployment_model: standard
              display_name: byoc-cloud-prod-eu-west-1
              reserved_cidr: 192.168.6.0/24
              tags: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCloudEnvironmentCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/custom-cloud-environments/{custom_cloud_environment_id}:
    delete:
      summary: Delete a custom cloud
      tags:
      - Custom_Cloud
      operationId: CustomCloudEnvironmentDelete
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Deletes a custom cloud environment from an organization.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/custom_cloud_environment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCloudEnvironmentDeleteResponse'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - request_forbidden
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'request_forbidden: Not authorized to view the request'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - custom_cloud_environment_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'custom_cloud_environment_not_found: Custom cloud environment not found'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: Retrieve a custom cloud
      tags:
      - Custom_Cloud
      operationId: CustomCloudEnvironmentGet
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Retrieves the details of a custom cloud environment.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/custom_cloud_environment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCloudEnvironmentGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - custom_cloud_environment_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'custom_cloud_environment_not_found: Custom cloud environment not found'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
    put:
      summary: Update a custom cloud
      tags:
      - Custom_Cloud
      operationId: CustomCloudEnvironmentUpdate
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Updates a custom cloud environment.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/custom_cloud_environment_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCloudEnvironmentUpdateRequestBody'
            example:
              aws_iam_role_arn: arn:aws:iam::012345678901:root
              cloud_provider: aws
              cloud_region: eu-west-1
              contact_emails:
              - email: jane@example.com
                real_name: Jane Smith
                role: admin
              deployment_model: standard
              display_name: byoc-cloud-prod-eu-west-1
              google_privilege_bearing_service_account_id: projects/your-project/serviceAccounts/infrastructure@your-project.iam.gserviceaccount.com
              oracle_compartment_id: ocid1.tenancy.oc1..aaaaaaaaba3pv6wkcr4jqae5f44n2b2m2yt2j6rx32uzr4h25vqstifsfdsq
              reserved_cidr: 192.168.6.0/24
              tags: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCloudEnvironmentUpdateResponse'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - request_forbidden
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'request_forbidden: Not authorized to view the request'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - custom_cloud_environment_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'custom_cloud_environment_not_found: Custom cloud environment not found'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/custom-cloud-environments/{custom_cloud_environment_id}/permissions:
    get:
      summary: Retrieve custom cloud permissions
      tags:
      - Custom_Cloud
      operationId: CustomCloudEnvironmentPermissionsGet
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Retrieves details of the permissions for using a custom cloud environment.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/custom_cloud_environment_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCloudEnvironmentPermissionsGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - custom_cloud_environment_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'custom_cloud_environment_not_found: Custom cloud environment not found'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
    put:
      summary: Update custom cloud permissions
      tags:
      - Custom_Cloud
      operationId: CustomCloudEnvironmentPermissionsSet
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Updates the permissions to use a custom cloud environment.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/custom_cloud_environment_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCloudEnvironmentPermissionsSetRequestBody'
            example:
              accounts:
              - a22ba494e096
              - a441b467e067
              projects:
              - project-prod
              - project-dev
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCloudEnvironmentPermissionsSetResponse'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - request_forbidden
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'request_forbidden: Not authorized to view the request'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - custom_cloud_environment_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'custom_cloud_environment_not_found: Custom cloud environment not found'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/custom-cloud-environments/{custom_cloud_environment_id}/provision:
    post:
      summary: Provision custom cloud resources in Aiven
      tags:
      - Custom_Cloud
      operationId: CustomCloudEnvironmentProvision
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Call this endpoint after running the Terraform infrastructure template in your cloud provider account. This validates the creation of the custom cloud environment and provisions the resources required for building the environment.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/custom_cloud_environment_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCloudEnvironmentProvisionRequestBody'
            example:
              aws_iam_role_arn: arn:aws:iam::012345678901:root
              google_privilege_bearing_service_account_id: projects/your-project/serviceAccounts/infrastructure@your-project.iam.gserviceaccount.com
              oracle_compartment_id: ocid1.tenancy.oc1..aaaaaaaaba3pv6wkcr4jqae5f44n2b2m2yt2j6rx32uzr4h25vqstifsfdsq
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCloudEnvironmentProvisionResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - custom_cloud_environment_cloud_not_supported
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'custom_cloud_environment_cloud_not_supported: Provisioning a custom cloud in this cloud is not supported.'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - request_forbidden
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'request_forbidden: Not authorized to view the request'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - custom_cloud_environment_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'custom_cloud_environment_not_found: Custom cloud environment not found'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
components:
  schemas:
    CustomCloudEnvironmentDeleteResponse:
      type: object
      description: CustomCloudEnvironmentDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    CustomCloudEnvironmentCreateRequestBody:
      type: object
      description: CustomCloudEnvironmentCreateRequestBody
      properties:
        cloud_provider:
          type: string
          description: Cloud provider for the BYOC cloud
          enum:
          - aws
          - azure
          - google
          - oracle
        cloud_region:
          type: string
          maxLength: 32
          description: Cloud region for the BYOC cloud
        contact_emails:
          type: array
          maxItems: 10
          description: Email addresses for notifications and alerts for this BYOC cloud
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
              real_name:
                type: string
                maxLength: 256
                description: User real name
              role:
                type: string
                maxLength: 256
                description: Role of this user
            required:
            - email
        deployment_model:
          type: string
          description: Deployment model for the BYOC cloud
          enum:
          - direct_ipsec_ingress
          - ipsec_ingress
          - standard
          - standard_public
          - pci_dss
          - hipaa
        display_name:
          type: string
          maxLength: 64
          description: Short name for this BYOC cloud
        reserved_cidr:
          type: string
          maxLength: 18
          description: CIDR range reserved for Aiven provisioned networks in the BYOC cloud
        tags:
          type: object
          description: Set of resource tags
          properties: {}
      required:
      - cloud_provider
      - cloud_region
      - deployment_model
      - display_name
      - reserved_cidr
    CustomCloudEnvironmentUpdateResponse:
      type: object
      description: CustomCloudEnvironmentUpdateResponse
      properties:
        custom_cloud_environment:
          type: object
          description: Custom cloud environment
          properties:
            aiven_aws_account_principal:
              type: string
              maxLength: 1024
              description: Entity that assumes the IAM role for controlling the BYOC account
            aiven_aws_assume_role_external_id:
              type: string
              minLength: 2
              maxLength: 1224
              description: External ID for assuming the IAM role for controlling the BYOC account
            aiven_aws_object_storage_credentials_creator_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user that impersonates the object storage role to grant VMs access to storage buckets
            aiven_aws_object_storage_user_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user which Aiven managed VMs will use to access the buckets
            aiven_google_account_principal:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aiven_management_cidr_blocks:
              type: array
              description: IP address ranges for incoming connections to the bastion host from the Aiven management plane
              items:
                type: string
            aiven_object_storage_credentials_creator_user:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aws_iam_role_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN
            aws_subnets_bastion:
              type: object
              description: Subnets to build in the bastion VPC
              properties: {}
            aws_subnets_workload:
              type: object
              description: Subnets to build in the workload VPC
              properties: {}
            bucket_names:
              type: object
              description: Names and usages of buckets required for workloads
              properties: {}
            byoc_resource_tags:
              type: object
              description: Set of tags for the resources provisioned on the BYOC account
              properties: {}
            byoc_unique_name:
              type: string
              description: Name for all the resources created for the custom cloud environment
            cloud_provider:
              type: string
              description: Cloud provider for the BYOC cloud
              enum:
              - aws
              - azure
              - google
              - oracle
            cloud_region:
              type: string
              maxLength: 32
              description: Cloud region for the BYOC cloud
            contact_emails:
              type: array
              maxItems: 10
              description: Email addresses for notifications and alerts for this BYOC cloud
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                  real_name:
                    type: string
                    maxLength: 256
                    description: User real name
                  role:
                    type: string
                    maxLength: 256
                    description: Role of this user
                required:
                - email
            custom_cloud_environment_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Custom cloud environment ID
            custom_cloud_names:
              type: array
              description: Cloud names that can be used to provision a service on this BYOC
              items:
                type: string
            deployment_model:
              type: string
              description: Deployment model for the BYOC cloud
              enum:
              - direct_ipsec_ingress
              - ipsec_ingress
              - standard
              - standard_public
              - pci_dss
              - hipaa
            display_name:
              type: string
              maxLength: 64
              description: Short name for this BYOC cloud
            errors:
              type: array
              description: List of errors for this custom cloud environment
              items:
                type: object
                properties:
                  category:
                    type: string
                    description: Category of this error
                    enum:
                    - general_error
                  message:
                    type: string
                    description: Description of this error
                required:
                - category
                - message
            google_bastion_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the bastion subnet
            google_privilege_bearing_service_account_id:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            google_workload_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the workload subnet
            oracle_compartment_id:
              type: string
              maxLength: 2048
              description: Used to uniquely identify an asset in Oracle's cloud. May refer to a range of object types including instance, tenancy, subnet and more.
              title: Oracle Cloud ID
            oracle_subnet_bastion:
              type: string
              maxLength: 18
              description: CIDR for the bastion subnet
            oracle_subnet_workload:
              type: string
              maxLength: 18
              description: CIDR for the private workload subnet
            reserved_cidr:
              type: string
              maxLength: 18
              description: CIDR range reserved for Aiven provisioned networks in the BYOC cloud
            state:
              type: string
              description: State of this BYOC cloud
              enum:
              - draft
              - validating
              - creating
              - creation_failed
              - active
              - disconnected
              - reconnecting
              - deleting
              - deletion_failed
              - deleted
            tags:
              type: object
              description: Set of resource tags
              properties: {}
            update_time:
              type: string
              maxLength: 36
              description: Custom cloud environment last update timestamp (ISO 8601)
            use_customer_owned_storage:
              type: boolean
              description: True if this BYOC cloud is using customer owned storage
          required:
          - contact_emails
          - custom_cloud_environment_id
          - display_name
          - state
          - update_time
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - custom_cloud_environment
    CustomCloudEnvironmentPermissionsGetResponse:
      type: object
      description: CustomCloudEnvironmentPermissionsGetResponse
      properties:
        accounts:
          type: array
          minItems: 0
          maxItems: 1000
          description: Accounts
          items:
            type: string
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        projects:
          type: array
          minItems: 0
          maxItems: 1000
          description: Projects
          items:
            type: string
      required:
      - accounts
      - projects
    CustomCloudEnvironmentProvisionResponse:
      type: object
      description: CustomCloudEnvironmentProvisionResponse
      properties:
        custom_cloud_environment:
          type: object
          description: Custom cloud environment
          properties:
            aiven_aws_account_principal:
              type: string
              maxLength: 1024
              description: Entity that assumes the IAM role for controlling the BYOC account
            aiven_aws_assume_role_external_id:
              type: string
              minLength: 2
              maxLength: 1224
              description: External ID for assuming the IAM role for controlling the BYOC account
            aiven_aws_object_storage_credentials_creator_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user that impersonates the object storage role to grant VMs access to storage buckets
            aiven_aws_object_storage_user_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user which Aiven managed VMs will use to access the buckets
            aiven_google_account_principal:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aiven_management_cidr_blocks:
              type: array
              description: IP address ranges for incoming connections to the bastion host from the Aiven management plane
              items:
                type: string
            aiven_object_storage_credentials_creator_user:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aws_iam_role_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN
            aws_subnets_bastion:
              type: object
              description: Subnets to build in the bastion VPC
              properties: {}
            aws_subnets_workload:
              type: object
              description: Subnets to build in the workload VPC
              properties: {}
            bucket_names:
              type: object
              description: Names and usages of buckets required for workloads
              properties: {}
            byoc_resource_tags:
              type: object
              description: Set of tags for the resources provisioned on the BYOC account
              properties: {}
            byoc_unique_name:
              type: string
              description: Name for all the resources created for the custom cloud environment
            cloud_provider:
              type: string
              description: Cloud provider for the BYOC cloud
              enum:
              - aws
              - azure
              - google
              - oracle
            cloud_region:
              type: string
              maxLength: 32
              description: Cloud region for the BYOC cloud
            contact_emails:
              type: array
              maxItems: 10
              description: Email addresses for notifications and alerts for this BYOC cloud
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                  real_name:
                    type: string
                    maxLength: 256
                    description: User real name
                  role:
                    type: string
                    maxLength: 256
                    description: Role of this user
                required:
                - email
            custom_cloud_environment_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Custom cloud environment ID
            custom_cloud_names:
              type: array
              description: Cloud names that can be used to provision a service on this BYOC
              items:
                type: string
            deployment_model:
              type: string
              description: Deployment model for the BYOC cloud
              enum:
              - direct_ipsec_ingress
              - ipsec_ingress
              - standard
              - standard_public
              - pci_dss
              - hipaa
            display_name:
              type: string
              maxLength: 64
              description: Short name for this BYOC cloud
            errors:
              type: array
              description: List of errors for this custom cloud environment
              items:
                type: object
                properties:
                  category:
                    type: string
                    description: Category of this error
                    enum:
                    - general_error
                  message:
                    type: string
                    description: Description of this error
                required:
                - category
                - message
            google_bastion_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the bastion subnet
            google_privilege_bearing_service_account_id:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            google_workload_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the workload subnet
            oracle_compartment_id:
              type: string
              maxLength: 2048
              description: Used to uniquely identify an asset in Oracle's cloud. May refer to a range of object types including instance, tenancy, subnet and more.
              title: Oracle Cloud ID
            oracle_subnet_bastion:
              type: string
              maxLength: 18
              description: CIDR for the bastion subnet
            oracle_subnet_workload:
              type: string
              maxLength: 18
              description: CIDR for the private workload subnet
            reserved_cidr:
              type: string
              maxLength: 18
              description: CIDR range reserved for Aiven provisioned networks in the BYOC cloud
            state:
              type: string
              description: State of this BYOC cloud
              enum:
              - draft
              - validating
              - creating
              - creation_failed
              - active
              - disconnected
              - reconnecting
              - deleting
              - deletion_failed
              - deleted
            tags:
              type: object
              description: Set of resource tags
              properties: {}
            update_time:
              type: string
              maxLength: 36
              description: Custom cloud environment last update timestamp (ISO 8601)
            use_customer_owned_storage:
              type: boolean
              description: True if this BYOC cloud is using customer owned storage
          required:
          - contact_emails
          - custom_cloud_environment_id
          - display_name
          - state
          - update_time
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - custom_cloud_environment
    CustomCloudEnvironmentProvisionRequestBody:
      type: object
      description: CustomCloudEnvironmentProvisionRequestBody
      properties:
        aws_iam_role_arn:
          type: string
          maxLength: 2048
          description: Amazon Resource Name
          title: ARN
        google_privilege_bearing_service_account_id:
          type: string
          maxLength: 311
          description: Google account identifier
          title: Account ID
        oracle_compartment_id:
          type: string
          maxLength: 2048
          description: Used to uniquely identify an asset in Oracle's cloud. May refer to a range of object types including instance, tenancy, subnet and more.
          title: Oracle Cloud ID
    CustomCloudEnvironmentPermissionsSetResponse:
      type: object
      description: CustomCloudEnvironmentPermissionsSetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    CustomCloudEnvironmentPermissionsSetRequestBody:
      type: object
      description: CustomCloudEnvironmentPermissionsSetRequestBody
      properties:
        accounts:
          type: array
          minItems: 0
          maxItems: 1000
          description: Accounts
          items:
            type: string
        projects:
          type: array
          minItems: 0
          maxItems: 1000
          description: Projects
          items:
            type: string
      required:
      - accounts
      - projects
    CustomCloudEnvironmentUpdateRequestBody:
      type: object
      description: CustomCloudEnvironmentUpdateRequestBody
      properties:
        aws_iam_role_arn:
          type: string
          maxLength: 2048
          description: Amazon Resource Name
          title: ARN
        cloud_provider:
          type: string
          description: Cloud provider for the BYOC cloud
          enum:
          - aws
          - azure
          - google
          - oracle
        cloud_region:
          type: string
          maxLength: 32
          description: Cloud region for the BYOC cloud
        contact_emails:
          type: array
          minItems: 1
          maxItems: 10
          description: Email addresses for notifications and alerts for this BYOC cloud
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
              real_name:
                type: string
                maxLength: 256
                description: User real name
              role:
                type: string
                maxLength: 256
                description: Role of this user
            required:
            - email
        deployment_model:
          type: string
          description: Deployment model for the BYOC cloud
          enum:
          - direct_ipsec_ingress
          - ipsec_ingress
          - standard
          - standard_public
          - pci_dss
          - hipaa
        display_name:
          type: string
          maxLength: 64
          description: Short name for this BYOC cloud
        google_privilege_bearing_service_account_id:
          type: string
          maxLength: 311
          description: Google account identifier
          title: Account ID
        oracle_compartment_id:
          type: string
          maxLength: 2048
          description: Used to uniquely identify an asset in Oracle's cloud. May refer to a range of object types including instance, tenancy, subnet and more.
          title: Oracle Cloud ID
        reserved_cidr:
          type: string
          maxLength: 18
          description: CIDR range reserved for Aiven provisioned networks in the BYOC cloud
        tags:
          type: object
          description: Set of resource tags
          properties: {}
    CustomCloudEnvironmentCreateResponse:
      type: object
      description: CustomCloudEnvironmentCreateResponse
      properties:
        custom_cloud_environment:
          type: object
          description: Custom cloud environment
          properties:
            aiven_aws_account_principal:
              type: string
              maxLength: 1024
              description: Entity that assumes the IAM role for controlling the BYOC account
            aiven_aws_assume_role_external_id:
              type: string
              minLength: 2
              maxLength: 1224
              description: External ID for assuming the IAM role for controlling the BYOC account
            aiven_aws_object_storage_credentials_creator_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user that impersonates the object storage role to grant VMs access to storage buckets
            aiven_aws_object_storage_user_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user which Aiven managed VMs will use to access the buckets
            aiven_google_account_principal:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aiven_management_cidr_blocks:
              type: array
              description: IP address ranges for incoming connections to the bastion host from the Aiven management plane
              items:
                type: string
            aiven_object_storage_credentials_creator_user:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aws_iam_role_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN
            aws_subnets_bastion:
              type: object
              description: Subnets to build in the bastion VPC
              properties: {}
            aws_subnets_workload:
              type: object
              description: Subnets to build in the workload VPC
              properties: {}
            bucket_names:
              type: object
              description: Names and usages of buckets required for workloads
              properties: {}
            byoc_resource_tags:
              type: object
              description: Set of tags for the resources provisioned on the BYOC account
              properties: {}
            byoc_unique_name:
              type: string
              description: Name for all the resources created for the custom cloud environment
            cloud_provider:
              type: string
              description: Cloud provider for the BYOC cloud
              enum:
              - aws
              - azure
              - google
              - oracle
            cloud_region:
              type: string
              maxLength: 32
              description: Cloud region for the BYOC cloud
            contact_emails:
              type: array
              maxItems: 10
              description: Email addresses for notifications and alerts for this BYOC cloud
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                  real_name:
                    type: string
                    maxLength: 256
                    description: User real name
                  role:
                    type: string
                    maxLength: 256
                    description: Role of this user
                required:
                - email
            custom_cloud_environment_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Custom cloud environment ID
            custom_cloud_names:
              type: array
              description: Cloud names that can be used to provision a service on this BYOC
              items:
                type: string
            deployment_model:
              type: string
              description: Deployment model for the BYOC cloud
              enum:
              - direct_ipsec_ingress
              - ipsec_ingress
              - standard
              - standard_public
              - pci_dss
              - hipaa
            display_name:
              type: string
              maxLength: 64
              description: Short name for this BYOC cloud
            errors:
              type: array
              description: List of errors for this custom cloud environment
              items:
                type: object
                properties:
                  category:
                    type: string
                    description: Category of this error
                    enum:
                    - general_error
                  message:
                    type: string
                    description: Description of this error
                required:
                - category
                - message
            google_bastion_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the bastion subnet
            google_privilege_bearing_service_account_id:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            google_workload_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the workload subnet
            oracle_compartment_id:
              type: string
              maxLength: 2048
              description: Used to uniquely identify an asset in Oracle's cloud. May refer to a range of object types including instance, tenancy, subnet and more.
              title: Oracle Cloud ID
            oracle_subnet_bastion:
              type: string
              maxLength: 18
              description: CIDR for the bastion subnet
            oracle_subnet_workload:
              type: string
              maxLength: 18
              description: CIDR for the private workload subnet
            reserved_cidr:
              type: string
              maxLength: 18
              description: CIDR range reserved for Aiven provisioned networks in the BYOC cloud
            state:
              type: string
              description: State of this BYOC cloud
              enum:
              - draft
              - validating
              - creating
              - creation_failed
              - active
              - disconnected
              - reconnecting
              - deleting
              - deletion_failed
              - deleted
            tags:
              type: object
              description: Set of resource tags
              properties: {}
            update_time:
              type: string
              maxLength: 36
              description: Custom cloud environment last update timestamp (ISO 8601)
            use_customer_owned_storage:
              type: boolean
              description: True if this BYOC cloud is using customer owned storage
          required:
          - contact_emails
          - custom_cloud_environment_id
          - display_name
          - state
          - update_time
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - custom_cloud_environment
    CustomCloudEnvironmentGetResponse:
      type: object
      description: CustomCloudEnvironmentGetResponse
      properties:
        custom_cloud_environment:
          type: object
          description: Custom cloud environment
          properties:
            aiven_aws_account_principal:
              type: string
              maxLength: 1024
              description: Entity that assumes the IAM role for controlling the BYOC account
            aiven_aws_assume_role_external_id:
              type: string
              minLength: 2
              maxLength: 1224
              description: External ID for assuming the IAM role for controlling the BYOC account
            aiven_aws_object_storage_credentials_creator_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user that impersonates the object storage role to grant VMs access to storage buckets
            aiven_aws_object_storage_user_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN of the IAM user which Aiven managed VMs will use to access the buckets
            aiven_google_account_principal:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aiven_management_cidr_blocks:
              type: array
              description: IP address ranges for incoming connections to the bastion host from the Aiven management plane
              items:
                type: string
            aiven_object_storage_credentials_creator_user:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            aws_iam_role_arn:
              type: string
              maxLength: 2048
              description: Amazon Resource Name
              title: ARN
            aws_subnets_bastion:
              type: object
              description: Subnets to build in the bastion VPC
              properties: {}
            aws_subnets_workload:
              type: object
              description: Subnets to build in the workload VPC
              properties: {}
            bucket_names:
              type: object
              description: Names and usages of buckets required for workloads
              properties: {}
            byoc_resource_tags:
              type: object
              description: Set of tags for the resources provisioned on the BYOC account
              properties: {}
            byoc_unique_name:
              type: string
              description: Name for all the resources created for the custom cloud environment
            cloud_provider:
              type: string
              description: Cloud provider for the BYOC cloud
              enum:
              - aws
              - azure
              - google
              - oracle
            cloud_region:
              type: string
              maxLength: 32
              description: Cloud region for the BYOC cloud
            contact_emails:
              type: array
              maxItems: 10
              description: Email addresses for notifications and alerts for this BYOC cloud
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                  real_name:
                    type: string
                    maxLength: 256
                    description: User real name
                  role:
                    type: string
                    maxLength: 256
                    description: Role of this user
                required:
                - email
            custom_cloud_environment_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Custom cloud environment ID
            custom_cloud_names:
              type: array
              description: Cloud names that can be used to provision a service on this BYOC
              items:
                type: string
            deployment_model:
              type: string
              description: Deployment model for the BYOC cloud
              enum:
              - direct_ipsec_ingress
              - ipsec_ingress
              - standard
              - standard_public
              - pci_dss
              - hipaa
            display_name:
              type: string
              maxLength: 64
              description: Short name for this BYOC cloud
            errors:
              type: array
              description: List of errors for this custom cloud environment
              items:
                type: object
                properties:
                  category:
                    type: string
                    description: Category of this error
                    enum:
                    - general_error
                  message:
                    type: string
                    description: Description of this error
                required:
                - category
                - message
            google_bastion_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the bastion subnet
            google_privilege_bearing_service_account_id:
              type: string
              maxLength: 311
              description: Google account identifier
              title: Account ID
            google_workload_cidr:
              type: string
              maxLength: 18
              description: Private IP address block for the workload VPC containing the workload subnet
            oracle_compartment_id:
              type: string
              maxLength: 2048
              description: Used to uniquely identify an asset in Oracle's cloud. May refer to a range of object types including instance, tenancy, subnet and more.
              title: Oracle Cloud ID
            oracle_subnet_bastion:
              type: string
              maxLength: 18
              description: CIDR for the bastion subnet
            oracle_subnet_workload:
              type: string
              maxLength: 18
              description: CIDR for the private workload subnet
            reserved_cidr:
              type: string
              maxLength: 18
              description: CIDR range reserved for Aiven provisioned networks in the BYOC cloud
            state:
              type: string
              description: State of this BYOC cloud
              enum:
              - draft
              - validating
              - creating
              - creation_failed
              - active
              - disconnected
              - reconnecting
              - deleting
              - deletion_failed
              - deleted
            tags:
              type: object
              description: Set of resource tags
              properties: {}
            update_time:
              type: string
              maxLength: 36
              description: Custom cloud environment last update timestamp (ISO 8601)
            use_customer_owned_storage:
              type: boolean
              description: True if this BYOC cloud is using customer owned storage
          required:
          - contact_emails
          - custom_cloud_environment_id
          - display_name
          - state
          - update_time
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - custom_cloud_environment
  parameters:
    custom_cloud_environment_id:
      in: path
      name: custom_cloud_environment_id
      description: ID of a custom cloud environment
      schema:
        type: string
      required: true
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
