openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Account API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Account
  x-displayName: Account
paths:
  /account/{account_id}/payment_methods:
    post:
      summary: Attach payment method for account
      tags:
      - Account
      operationId: AccountAttachPaymentMethod
      parameters:
      - $ref: '#/components/parameters/account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAttachPaymentMethodRequestBody'
            example:
              payment_method_id: pm_1Q0PsIJvEtkwdCNYMSaVuRz6
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAttachPaymentMethodResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - payments:write
    get:
      summary: List credit cards attached as a payment method to the account
      tags:
      - Account
      operationId: AccountPaymentMethodsList
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentMethodsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - payments:read
  /account/{account_id}/authentication:
    post:
      summary: Create a new authentication method
      tags:
      - Account
      operationId: AccountAuthenticationMethodCreate
      parameters:
      - $ref: '#/components/parameters/account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAuthenticationMethodCreateRequestBody'
            example:
              auth_token_extend_when_used: true
              auth_token_max_age_seconds: 42
              authentication_method_name: Main SAML service
              authentication_method_type: internal
              auto_join_team_id: at29872a9e
              auto_join_user_group_id: ug22ba494e096
              linked_domains:
              - domain_id: domain-a9s7d6f98as7d6
              saml_assertion_signed_enabled: true
              saml_authn_requests_signed_enabled: true
              saml_certificate: '-----BEGIN CERTIFICATE...'
              saml_digest_algorithm: sha256
              saml_entity_id: https://example.com/saml2/entity
              saml_field_mapping:
                email: email
                first_name: first_name
                groups: groups
                identity: email
                last_name: last_name
                real_name: full_name
              saml_idp_login_allowed: true
              saml_idp_url: https://example.com/saml2/idp
              saml_join_groups: true
              saml_requested_authn_context_enabled: true
              saml_signature_algorithm: rsa-sha256
              saml_variant: adfs
              scim_enabled: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAuthenticationMethodCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - authentication:write
    get:
      summary: List authentication methods
      tags:
      - Account
      operationId: AccountAuthenticationMethodsList
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAuthenticationMethodsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - authentication:read
  /account/{account_id}/authentication/{account_authentication_method_id}:
    delete:
      summary: Delete authentication method
      tags:
      - Account
      operationId: AccountAuthenticationMethodDelete
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/account_authentication_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAuthenticationMethodDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - authentication:write
    get:
      summary: Get details of a single authentication method
      tags:
      - Account
      operationId: AccountAuthenticationMethodGet
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/account_authentication_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAuthenticationMethodGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - authentication:read
    put:
      summary: Update authentication method
      tags:
      - Account
      operationId: AccountAuthenticationMethodUpdate
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/account_authentication_method_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAuthenticationMethodUpdateRequestBody'
            example:
              auth_token_extend_when_used: true
              auth_token_max_age_seconds: 42
              authentication_method_enabled: true
              authentication_method_name: Main SAML service
              auto_join_team_id: at29872a9e
              auto_join_user_group_id: ug22ba494e096
              saml_assertion_signed_enabled: true
              saml_authn_requests_signed_enabled: true
              saml_certificate: '-----BEGIN CERTIFICATE...'
              saml_digest_algorithm: sha256
              saml_entity_id: https://example.com/saml2/entity
              saml_field_mapping:
                email: email
                first_name: first_name
                groups: groups
                identity: email
                last_name: last_name
                real_name: full_name
              saml_idp_login_allowed: true
              saml_idp_url: https://example.com/saml2/idp
              saml_join_groups: true
              saml_requested_authn_context_enabled: true
              saml_signature_algorithm: rsa-sha256
              saml_variant: adfs
              scim_enabled: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAuthenticationMethodUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - authentication:write
  /account/{account_id}/billing-group:
    get:
      summary: List account billing groups
      tags:
      - Account
      operationId: AccountBillingGroupList
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBillingGroupListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - billing:read
  /account:
    post:
      summary: Create a new account
      tags:
      - Account
      operationId: AccountCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequestBody'
            example:
              account_name: Aiven Ltd
              parent_account_id: a22ba494e096
              primary_billing_group_id: ffb3f0cd-5532-4eb9-8867-f2cac5823492
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - marketplace_subscription_already_linked_to_organization
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'marketplace_subscription_already_linked_to_organization: Marketplace subscription is already linked to an organization.'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - account_unit_cannot_create_for_personal_tier
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'account_unit_cannot_create_for_personal_tier: You cannot create organizational units in a Personal organization. Consider upgrading to a Business organization.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: List accounts you have access to
      tags:
      - Account
      operationId: AccountList
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /account/{account_id}:
    delete:
      summary: Delete empty account
      tags:
      - Account
      operationId: AccountDelete
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: Get account details
      tags:
      - Account
      operationId: AccountGet
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
    put:
      summary: Update existing account
      tags:
      - Account
      operationId: AccountUpdate
      parameters:
      - $ref: '#/components/parameters/account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequestBody'
            example:
              account_name: Aiven Ltd
              primary_billing_group_id: ffb3f0cd-5532-4eb9-8867-f2cac5823492
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /account/{account_id}/events:
    get:
      summary: List account events
      tags:
      - Account
      operationId: AccountEventList
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEventListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /account/{account_id}/parent_account:
    put:
      summary: Move an existing organization unit
      tags:
      - Account
      operationId: AccountMove
      parameters:
      - $ref: '#/components/parameters/account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountMoveRequestBody'
            example:
              parent_account_id: a22ba494e096
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMoveResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /account/{account_id}/payment_method/{card_id}:
    delete:
      summary: Delete credit card attached to the account as a payment method
      tags:
      - Account
      operationId: AccountPaymentMethodDelete
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/card_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentMethodDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - payments:write
  /account/{account_id}/projects:
    get:
      summary: List projects belonging to account
      tags:
      - Account
      operationId: AccountProjectsList
      deprecated: true
      description: 'DEPRECATED: Use the organization projects API to list projects within the organization'
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProjectsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - projects:read
  /account/{account_id}/project/{project_name}/teams:
    get:
      summary: List account teams associated to a project
      tags:
      - Account
      operationId: AccountProjectsTeamsList
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/project_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProjectsTeamsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - projects:read
  /account/{account_id}/teams:
    post:
      summary: Create a new team
      tags:
      - Account
      operationId: AccountTeamCreate
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamCreateResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - team_names_must_be_unique
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'team_names_must_be_unique: Team with the same name already exists'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          - team_limit_exceeded
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it. team_limit_exceeded: Maximum number of teams reached, please contact support to increase the limit'
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - account_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'account_not_found: No such account exists'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: List teams belonging to an account
      tags:
      - Account
      operationId: AccountTeamList
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /account/{account_id}/team/{team_id}:
    delete:
      summary: Delete a team
      tags:
      - Account
      operationId: AccountTeamDelete
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: Get details for a single team
      tags:
      - Account
      operationId: AccountTeamGet
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
    put:
      summary: Update team details
      tags:
      - Account
      operationId: AccountTeamUpdate
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountTeamUpdateRequestBody'
            example:
              team_name: Ops team
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /account/{account_id}/team/{team_id}/invites:
    get:
      summary: List pending invites
      tags:
      - Account
      operationId: AccountTeamInvitesList
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamInvitesListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /account/{account_id}/team/{team_id}/invites/{user_email}:
    delete:
      summary: Cancel pending user invite
      tags:
      - Account
      operationId: AccountTeamMemberCancelInvite
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      - $ref: '#/components/parameters/user_email'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamMemberCancelInviteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /account/{account_id}/invite/{invite_verification_code}:
    post:
      summary: Confirm account team invite
      tags:
      - Account
      operationId: AccountTeamMemberVerifyInvite
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/invite_verification_code'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamMemberVerifyInviteResponse'
  /account/{account_id}/team/{team_id}/member/{user_id}:
    delete:
      summary: Remove a member from the team
      tags:
      - Account
      operationId: AccountTeamMembersDelete
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      - $ref: '#/components/parameters/user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamMembersDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /account/{account_id}/team/{team_id}/members:
    post:
      summary: Invite a new member to join the team
      tags:
      - Account
      operationId: AccountTeamMembersInvite
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamMembersInviteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: List members of a single team
      tags:
      - Account
      operationId: AccountTeamMembersList
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamMembersListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /account/{account_id}/team/{team_id}/project/{project}:
    post:
      summary: Associate team to a project
      tags:
      - Account
      operationId: AccountTeamProjectAssociate
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountTeamProjectAssociateRequestBody'
            example:
              team_type: operator
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamProjectAssociateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - projects:read
    put:
      summary: Update team-project association
      tags:
      - Account
      operationId: AccountTeamProjectAssociationUpdate
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountTeamProjectAssociationUpdateRequestBody'
            example:
              team_type: operator
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamProjectAssociationUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - projects:read
    delete:
      summary: Disassociate team from a project
      tags:
      - Account
      operationId: AccountTeamProjectDisassociate
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamProjectDisassociateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
        - projects:read
  /account/{account_id}/team/{team_id}/projects:
    get:
      summary: List projects associated to a team
      tags:
      - Account
      operationId: AccountTeamProjectList
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTeamProjectListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - projects:read
  /account/{account_id}/user/{user_id}/projects:
    get:
      summary: List projects associated with this account that user has access to
      tags:
      - Account
      operationId: AccountUserProjectsList
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUserProjectsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
        - projects:read
  /account/{account_id}/user/{user_id}/teams:
    get:
      summary: List all teams for user
      tags:
      - Account
      operationId: AccountUserTeamsList
      description: Teams have been replaced by groups. To make the transition to groups smoother, migrate your teams to groups. Members of the Account Owners team are automatically made super admin. You can change their access level by revoking super admin privileges, or by granting other roles and permissions.
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/account_id'
      - $ref: '#/components/parameters/user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUserTeamsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /account/{account_id}/users/search:
    post:
      summary: List/search users who are members of any team on this account
      tags:
      - Account
      operationId: AccountUsersSearch
      parameters:
      - $ref: '#/components/parameters/account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUsersSearchRequestBody'
            example:
              limit: 100
              order_by:
              - user_email:desc
              query: john
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUsersSearchResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
components:
  schemas:
    AccountTeamUpdateRequestBody:
      type: object
      description: AccountTeamUpdateRequestBody
      properties:
        team_name:
          type: string
          maxLength: 128
          description: Team name
      required:
      - team_name
    AccountTeamGetResponse:
      type: object
      description: AccountTeamGetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        team:
          type: object
          description: Account Team details
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            create_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            team_id:
              type: string
              maxLength: 32
              description: Team ID
            team_name:
              type: string
              maxLength: 128
              description: Team name
            update_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
          required:
          - team_id
          - team_name
      required:
      - team
    AccountBillingGroupListResponse:
      type: object
      description: AccountBillingGroupListResponse
      properties:
        account_billing_groups:
          type: array
          description: List of billing groups
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              account_name:
                type: string
                maxLength: 83
                description: Account name
              address_lines:
                type: array
                maxItems: 3
                description: Address lines
                items:
                  type: string
              billing_address:
                type: string
                maxLength: 1000
                description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
              billing_address_id:
                type: string
                maxLength: 36
                description: Address ID
              billing_contact_emails:
                type: array
                maxItems: 10
                description: List of billing groups contact email addresses
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: User email address
                  required:
                  - email
              billing_currency:
                type: string
                description: Billing currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              billing_emails:
                type: array
                maxItems: 10
                description: List of project billing email addresses
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: User email address
                  required:
                  - email
              billing_extra_text:
                type: string
                maxLength: 1000
                description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
              billing_group_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Billing group ID
              billing_group_name:
                type: string
                maxLength: 128
                description: Billing group name
              billing_type:
                type: string
                description: Method of charging/invoicing this project
              card_info:
                type: object
                description: Credit card assigned to the project
                properties:
                  brand:
                    type: string
                    description: Brand
                  card_id:
                    type: string
                    maxLength: 64
                    description: Credit card ID
                  country:
                    type: string
                    maxLength: 128
                    description: Country
                  country_code:
                    type: string
                    maxLength: 2
                    description: Two letter ISO country code
                  exp_month:
                    type: integer
                    minimum: 1
                    maximum: 12
                    description: Expiration month
                  exp_year:
                    type: integer
                    minimum: 2015
                    maximum: 2100
                    description: Expiration year
                  last4:
                    type: string
                    description: Credit card last four digits
                  name:
                    type: string
                    maxLength: 256
                    description: Name on the credit card
                  user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - brand
                - card_id
                - country
                - country_code
                - exp_month
                - exp_year
                - last4
                - name
                - user_email
              city:
                type: string
                maxLength: 50
                description: Address city
              company:
                type: string
                maxLength: 83
                description: Name of a company
              country:
                type: string
                maxLength: 128
                description: Billing country
              country_code:
                type: string
                maxLength: 2
                description: Two letter ISO country code
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              estimated_balance_local:
                type: string
                description: Estimated balance in billing currency, before tax
              estimated_balance_usd:
                type: string
                description: Estimated balance in USD, before tax
              payment_method:
                type: string
                description: Payment method
                enum:
                - accrual
                - card
                - disabled
                - email
                - no_payment_expected
                - partner
              shipping_address_id:
                type: string
                maxLength: 36
                description: Address ID
              state:
                type: string
                maxLength: 30
                description: Address state or province
              vat_id:
                type: string
                maxLength: 64
                description: EU VAT Identification Number
              zip_code:
                type: string
                maxLength: 36
                description: Address zip code
            required:
            - account_id
            - account_name
            - address_lines
            - billing_address_id
            - billing_contact_emails
            - billing_currency
            - billing_emails
            - billing_extra_text
            - billing_group_id
            - billing_group_name
            - billing_type
            - card_info
            - city
            - company
            - country
            - country_code
            - create_time
            - estimated_balance_local
            - estimated_balance_usd
            - payment_method
            - shipping_address_id
            - state
            - vat_id
            - zip_code
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - account_billing_groups
    AccountTeamMembersDeleteResponse:
      type: object
      description: AccountTeamMembersDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    AccountAuthenticationMethodUpdateResponse:
      type: object
      description: AccountAuthenticationMethodUpdateResponse
      properties:
        authentication_method:
          type: object
          description: AuthenticationMethod
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            auth_token_extend_when_used:
              type: boolean
              description: Extend authentication token validity when used
            auth_token_max_age_seconds:
              type: integer
              minimum: 300
              maximum: 1296000
              description: Auth Token Max Age Seconds
            authentication_method_enabled:
              type: boolean
              description: If true, authentication method can be used to access account/projects in account. If false, authentication method can still be used to sign in
            authentication_method_id:
              type: string
              description: Authentication Method ID
            authentication_method_name:
              type: string
              maxLength: 128
              description: Authentication Method Name
            authentication_method_type:
              type: string
              description: An enumeration.
              title: Authentication method type
              enum:
              - internal
              - saml
            auto_join_team_id:
              type: string
              maxLength: 32
              description: Deprecated; always null. Teams are being sunset, so this value is ignored on writes and always returned as null.
            auto_join_user_group_id:
              type: string
              maxLength: 36
              description: Automatically add users to a group, when user signs up using this authentication method
            create_time:
              type: string
              maxLength: 36
              description: Create Time
            delete_time:
              type: string
              maxLength: 36
              description: Delete Time
            internal_mcp_enabled:
              type: boolean
              description: MCP connections enabled
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            saml_acs_url:
              type: string
              maxLength: 2048
              description: Saml Acs Url
            saml_assertion_signed_enabled:
              type: boolean
              description: Set to 'true' to enable WantAssertionsSigned
            saml_authn_requests_signed_enabled:
              type: boolean
              description: Set to 'true' to enable AuthnRequestsSigned
            saml_cert:
              type: string
              description: An enumeration.
              title: SAMLVariant
              enum:
              - adfs
            saml_certificate:
              type: string
              maxLength: 16384
              description: Identity provider's certificate
            saml_certificate_issuer:
              type: string
              description: Saml Certificate Issuer
            saml_certificate_not_valid_after:
              type: string
              maxLength: 36
              description: Saml Certificate Not Valid After
            saml_certificate_not_valid_before:
              type: string
              maxLength: 36
              description: Saml Certificate Not Valid Before
            saml_certificate_subject:
              type: string
              description: Saml Certificate Subject
            saml_digest_algorithm:
              type: string
              description: An enumeration.
              title: Digest algorithm. This is an advanced option that typically does not need to be set.
              default: sha256
              enum:
              - sha1
              - sha256
              - sha384
              - sha512
            saml_entity_id:
              type: string
              maxLength: 2048
              description: Saml Entity ID
            saml_field_mapping:
              type: object
              description: SAMLFieldMapping
              properties:
                email:
                  type: string
                  maxLength: 256
                  description: Field name for user email
                  default: email
                first_name:
                  type: string
                  maxLength: 256
                  description: Field name for user's first name
                  default: first_name
                groups:
                  type: string
                  maxLength: 256
                  description: Field name for user's groups memberships. Contents of this field are used to handle group memberships when SCIM is not available and SAML is used to manage group memberships.
                  default: groups
                identity:
                  type: string
                  maxLength: 256
                  description: Field name for user's identity. This field must always exist in responses, and must be immutable and unique. Contents of this field are used to identify the user. Using user ID (such as unix user ID) is highly recommended, as email address may change, requiring relinking user to Aiven user.
                  default: email
                last_name:
                  type: string
                  maxLength: 256
                  description: Field name for user's lastname
                  default: last_name
                real_name:
                  type: string
                  maxLength: 256
                  description: Field name for user's full name. If specified, first_name and last_name mappings are ignored
            saml_idp_login_allowed:
              type: boolean
              description: Set to 'true' to enable IdP initiated login
            saml_idp_url:
              type: string
              maxLength: 2048
              description: Saml Idp Url
            saml_join_groups:
              type: boolean
              description: SAML join groups enabled
            saml_metadata_url:
              type: string
              maxLength: 2048
              description: Saml Metadata Url
            saml_requested_authn_context_enabled:
              type: boolean
              description: Set to 'false' to disable RequestedAuthnContext
            saml_signature_algorithm:
              type: string
              description: An enumeration.
              title: SAMLSignatureAlgorithm
              default: rsa-sha256
              enum:
              - rsa-sha1
              - dsa-sha1
              - rsa-sha256
              - rsa-sha384
              - rsa-sha512
            saml_sp_certificate:
              type: string
              maxLength: 16384
              description: Saml Sp Certificate
            saml_variant:
              type: string
              description: An enumeration.
              title: SAMLVariant
              enum:
              - adfs
            scim_enabled:
              type: boolean
              description: SCIM API enabled
            scim_url:
              type: string
              maxLength: 2048
              description: Scim Url
            state:
              type: string
              description: An enumeration.
              title: AuthenticationMethodState
              enum:
              - active
              - deleted
              - pending_configuration
            update_time:
              type: string
              maxLength: 36
              description: Update Time
          required:
          - account_id
          - authentication_method_enabled
          - authentication_method_id
          - authentication_method_type
          - auto_join_team_id
          - auto_join_user_group_id
          - create_time
          - delete_time
          - state
          - update_time
      required:
      - authentication_method
    AccountTeamProjectAssociationUpdateRequestBody:
      type: object
      description: AccountTeamProjectAssociationUpdateRequestBody
      properties:
        team_type:
          type: string
          description: Team type (permission level)
          enum:
          - admin
          - operator
          - developer
          - read_only
          - project:integrations:read
          - project:integrations:write
          - project:networking:read
          - project:networking:write
          - project:permissions:read
          - service:configuration:write
          - service:logs:read
          - project:services:read
          - project:services:write
          - project:audit_logs:read
          - service:data:write
          - service:secrets:read
          - service:users:write
          - service:metrics:read
          - role:project:admin
          - role:services:maintenance
          - role:services:recover
          - organization:projects:write
          - organization:billing:read
          - organization:billing:write
          - organization:audit_logs:read
          - organization:users:write
          - organization:app_users:write
          - organization:groups:write
          - organization:domains:write
          - organization:networking:read
          - organization:networking:write
          - role:organization:admin
    AccountUpdateResponse:
      type: object
      description: AccountUpdateResponse
      properties:
        account:
          type: object
          description: Account details
          properties:
            access_source:
              type: string
              description: Describe the source of the account
              enum:
              - descendant_membership
              - organization_membership
              - project_membership
              - team_membership
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            account_name:
              type: string
              maxLength: 83
              description: Account name
            account_owner_team_id:
              type: string
              maxLength: 32
              description: Team ID
            create_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            features:
              type: object
              description: Feature flags
              properties: {}
            is_account_member:
              type: boolean
              description: If true, user is part of a team of this or a parent account
            is_account_owner:
              type: boolean
              description: If true, user is part of the owners team for this account
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            parent_account_id:
              type: string
              maxLength: 36
              description: Account ID
            primary_billing_group_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Primary billing group ID - deprecated, always null
            root_account_id:
              type: string
              maxLength: 36
              description: Account ID
            tenant_id:
              type: string
              maxLength: 64
              description: Tenant identifier
            update_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
          required:
          - account_id
          - account_name
          - account_owner_team_id
          - create_time
          - is_account_owner
          - organization_id
          - primary_billing_group_id
          - root_account_id
          - update_time
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - account
    AccountUsersSearchRequestBody:
      type: object
      description: AccountUsersSearchRequestBody
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 500
          description: Maximum number of results to return
          default: 100
        order_by:
          type: string
          description: Sorting criteria; desc is descending order and asc ascending
          enum:
          - user_email:asc
          - user_email:desc
          - user_id:asc
          - user_id:desc
          - real_name:asc
          - real_name:desc
        query:
          type: string
          maxLength: 128
          description: Very simple filtering is used; a single word is recommended
          title: Filter keyword
    AccountProjectsListResponse:
      type: object
      description: AccountProjectsListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        projects:
          type: array
          description: List of projects
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              account_name:
                type: string
                maxLength: 83
                description: Account name
              address_lines:
                type: array
                maxItems: 3
                description: Address lines
                items:
                  type: string
              available_credits:
                type: string
                description: 'DEPRECATED: Available credits, in USD. Always 0.00, use billing group credits instead'
              billing_address:
                type: string
                maxLength: 1000
                description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
              billing_currency:
                type: string
                description: Billing currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              billing_emails:
                type: array
                maxItems: 10
                description: List of project billing email addresses
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: User email address
                  required:
                  - email
              billing_extra_text:
                type: string
                maxLength: 1000
                description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
              billing_group_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Billing group ID
              billing_group_name:
                type: string
                maxLength: 128
                description: Billing group name
              card_info:
                type: object
                description: Credit card assigned to the project
                properties:
                  brand:
                    type: string
                    description: Brand
                  card_id:
                    type: string
                    maxLength: 64
                    description: Credit card ID
                  country:
                    type: string
                    maxLength: 128
                    description: Country
                  country_code:
                    type: string
                    maxLength: 2
                    description: Two letter ISO country code
                  exp_month:
                    type: integer
                    minimum: 1
                    maximum: 12
                    description: Expiration month
                  exp_year:
                    type: integer
                    minimum: 2015
                    maximum: 2100
                    description: Expiration year
                  last4:
                    type: string
                    description: Credit card last four digits
                  name:
                    type: string
                    maxLength: 256
                    description: Name on the credit card
                  user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - brand
                - card_id
                - country
                - country_code
                - exp_month
                - exp_year
                - last4
                - name
                - user_email
              city:
                type: string
                maxLength: 50
                description: Address city
              company:
                type: string
                maxLength: 83
                description: Name of a company
              country:
                type: string
                maxLength: 128
                description: Billing country
              country_code:
                type: string
                maxLength: 2
                description: Two letter ISO country code
              default_cloud:
                type: string
                maxLength: 256
                description: Default cloud to use when launching services
              end_of_life_extension:
                type: object
                description: End of life extension information
                properties:
                  elasticsearch:
                    type: object
                    description: Service EOL extension
                    properties:
                      eol_date:
                        type: string
                        description: Extended EOL date
                      version:
                        type: string
                        description: Service version
                    required:
                    - eol_date
                    - version
              estimated_balance:
                type: string
                description: Estimated balance, in USD
              estimated_balance_local:
                type: string
                description: Estimated balance, in billing currency
              features:
                type: object
                description: Feature flags
                properties: {}
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              payment_method:
                type: string
                description: Payment method
              project_name:
                type: string
                maxLength: 63
                description: Project name
              state:
                type: string
                maxLength: 30
                description: Address state or province
              tags:
                type: object
                description: Set of resource tags
                properties: {}
              tech_emails:
                type: array
                maxItems: 10
                description: List of project tech email addresses
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: User email address
                  required:
                  - email
              tenant_id:
                type: string
                description: Tenant ID
              trial_expiration_time:
                type: string
                maxLength: 36
                description: Trial expiration time (ISO 8601)
              vat_id:
                type: string
                maxLength: 64
                description: EU VAT Identification Number
              zip_code:
                type: string
                maxLength: 36
                description: Address zip code
            required:
            - account_id
            - billing_address
            - billing_emails
            - billing_group_id
            - billing_group_name
            - country
            - country_code
            - default_cloud
            - estimated_balance
            - organization_id
            - payment_method
            - project_name
            - vat_id
        total_project_count:
          type: integer
          description: Total count of projects associated to account.
      required:
      - projects
    AccountUpdateRequestBody:
      type: object
      description: AccountUpdateRequestBody
      properties:
        account_name:
          type: string
          maxLength: 83
          description: Account name
        primary_billing_group_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Billing group ID
    AccountUsersSearchResponse:
      type: object
      description: AccountUsersSearchResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        users:
          type: array
          description: List of users
          items:
            type: object
            properties:
              real_name:
                type: string
                maxLength: 256
                description: User real name
              user_email:
                type: string
                maxLength: 254
                description: User email address
              user_id:
                type: string
                description: User ID
            required:
            - real_name
            - user_email
            - user_id
      required:
      - users
    AccountTeamListResponse:
      type: object
      description: AccountTeamListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        teams:
          type: array
          description: List of teams
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              team_id:
                type: string
                maxLength: 32
                description: Team ID
              team_name:
                type: string
                maxLength: 128
                description: Team name
              update_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
            required:
            - team_id
            - team_name
      required:
      - teams
    AccountTeamProjectAssociationUpdateResponse:
      type: object
      description: AccountTeamProjectAssociationUpdateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    AccountTeamCreateResponse:
      type: object
      description: AccountTeamCreateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        team:
          type: object
          description: Account Team details
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            create_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            team_id:
              type: string
              maxLength: 32
              description: Team ID
            team_name:
              type: string
              maxLength: 128
              description: Team name
            update_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
          required:
          - team_id
          - team_name
      required:
      - team
    AccountPaymentMethodDeleteResponse:
      type: object
      description: AccountPaymentMethodDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    AccountCreateRequestBody:
      type: object
      description: AccountCreateRequestBody
      properties:
        account_name:
          type: string
          maxLength: 83
          description: Account name
        parent_account_id:
          type: string
          maxLength: 36
          description: Account ID
        primary_billing_group_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Billing group ID
      required:
      - account_name
    AccountAuthenticationMethodDeleteResponse:
      type: object
      description: AccountAuthenticationMethodDeleteResponse
      properties:
        message:
          type: string
          description: Response message field
      required:
      - message
    AccountTeamProjectDisassociateResponse:
      type: object
      description: AccountTeamProjectDisassociateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    AccountAuthenticationMethodsListResponse:
      type: object
      description: AccountAuthenticationMethodsListResponse
      properties:
        authentication_methods:
          type: array
          description: Authentication Methods
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              auth_token_extend_when_used:
                type: boolean
                description: Extend authentication token validity when used
              auth_token_max_age_seconds:
                type: integer
                minimum: 300
                maximum: 1296000
                description: Auth Token Max Age Seconds
              authentication_method_enabled:
                type: boolean
                description: If true, authentication method can be used to access account/projects in account. If false, authentication method can still be used to sign in
              authentication_method_id:
                type: string
                description: Authentication Method ID
              authentication_method_name:
                type: string
                maxLength: 128
                description: Authentication Method Name
              authentication_method_type:
                type: string
                description: An enumeration.
                title: Authentication method type
                enum:
                - internal
                - saml
              auto_join_team_id:
                type: string
                maxLength: 32
                description: Deprecated; always null. Teams are being sunset, so this value is ignored on writes and always returned as null.
              auto_join_user_group_id:
                type: string
                maxLength: 36
                description: Automatically add users to a group, when user signs up using this authentication method
              create_time:
                type: string
                maxLength: 36
                description: Create Time
              delete_time:
                type: string
                maxLength: 36
                description: Delete Time
              internal_mcp_enabled:
                type: boolean
                description: MCP connections enabled
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              saml_acs_url:
                type: string
                maxLength: 2048
                description: Saml Acs Url
              saml_assertion_signed_enabled:
                type: boolean
                description: Set to 'true' to enable WantAssertionsSigned
              saml_authn_requests_signed_enabled:
                type: boolean
                description: Set to 'true' to enable AuthnRequestsSigned
              saml_cert:
                type: string
                description: An enumeration.
                title: SAMLVariant
                enum:
                - adfs
              saml_certificate:
                type: string
                maxLength: 16384
                description: Identity provider's certificate
              saml_certificate_issuer:
                type: string
                description: Saml Certificate Issuer
              saml_certificate_not_valid_after:
                type: string
                maxLength: 36
                description: Saml Certificate Not Valid After
              saml_certificate_not_valid_before:
                type: string
                maxLength: 36
                description: Saml Certificate Not Valid Before
              saml_certificate_subject:
                type: string
                description: Saml Certificate Subject
              saml_digest_algorithm:
                type: string
                description: An enumeration.
                title: Digest algorithm. This is an advanced option that typically does not need to be set.
                default: sha256
                enum:
                - sha1
                - sha256
                - sha384
                - sha512
              saml_entity_id:
                type: string
                maxLength: 2048
                description: Saml Entity ID
              saml_field_mapping:
                type: object
                description: SAMLFieldMapping
                properties:
                  email:
                    type: string
                    maxLength: 256
                    description: Field name for user email
                    default: email
                  first_name:
                    type: string
                    maxLength: 256
                    description: Field name for user's first name
                    default: first_name
                  groups:
                    type: string
                    maxLength: 256
                    description: Field name for user's groups memberships. Contents of this field are used to handle group memberships when SCIM is not available and SAML is used to manage group memberships.
                    default: groups
                  identity:
                    type: string
                    maxLength: 256
                    description: Field name for user's identity. This field must always exist in responses, and must be immutable and unique. Contents of this field are used to identify the user. Using user ID (such as unix user ID) is highly recommended, as email address may change, requiring relinking user to Aiven user.
                    default: email
                  last_name:
                    type: string
                    maxLength: 256
                    description: Field name for user's lastname
                    default: last_name
                  real_name:
                    type: string
                    maxLength: 256
                    description: Field name for user's full name. If specified, first_name and last_name mappings are ignored
              saml_idp_login_allowed:
                type: boolean
                description: Set to 'true' to enable IdP initiated login
              saml_idp_url:
                type: string
                maxLength: 2048
                description: Saml Idp Url
              saml_join_groups:
                type: boolean
                description: SAML join groups enabled
              saml_metadata_url:
                type: string
                maxLength: 2048
                description: Saml Metadata Url
              saml_requested_authn_context_enabled:
                type: boolean
                description: Set to 'false' to disable RequestedAuthnContext
              saml_signature_algorithm:
                type: string
                description: An enumeration.
                title: SAMLSignatureAlgorithm
                default: rsa-sha256
                enum:
                - rsa-sha1
                - dsa-sha1
                - rsa-sha256
                - rsa-sha384
                - rsa-sha512
              saml_sp_certificate:
                type: string
                maxLength: 16384
                description: Saml Sp Certificate
              saml_variant:
                type: string
                description: An enumeration.
                title: SAMLVariant
                enum:
                - adfs
              scim_enabled:
                type: boolean
                description: SCIM API enabled
              scim_url:
                type: string
                maxLength: 2048
                description: Scim Url
              state:
                type: string
                description: An enumeration.
                title: AuthenticationMethodState
                enum:
                - active
                - deleted
                - pending_configuration
              update_time:
                type: string
                maxLength: 36
                description: Update Time
            required:
            - account_id
            - authentication_method_enabled
            - authentication_method_id
            - authentication_method_type
            - auto_join_team_id
            - auto_join_user_group_id
            - create_time
            - delete_time
            - state
            - update_time
      required:
      - authentication_methods
    AccountUserProjectsListResponse:
      type: object
      description: AccountUserProjectsListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        user_projects:
          type: array
          description: List of user's projects
          items:
            type: object
            properties:
              access_type:
                type: string
                description: Access type
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              member_type:
                type: string
                description: Project member type
                enum:
                - admin
                - developer
                - operator
                - organization:app_users:write
                - organization:audit_logs:read
                - organization:billing:read
                - organization:billing:write
                - organization:domains:write
                - organization:groups:write
                - organization:networking:read
                - organization:networking:write
                - organization:projects:write
                - organization:users:write
                - project:audit_logs:read
                - project:integrations:read
                - project:integrations:write
                - project:networking:read
                - project:networking:write
                - project:permissions:read
                - project:services:read
                - project:services:write
                - read_only
                - role:organization:admin
                - role:project:admin
                - role:services:maintenance
                - role:services:recover
                - service:configuration:write
                - service:data:write
                - service:logs:read
                - service:metrics:read
                - service:secrets:read
                - service:users:write
              project_name:
                type: string
                maxLength: 63
                description: Project name
              real_name:
                type: string
                maxLength: 256
                description: User real name
              team_id:
                type: string
                maxLength: 32
                description: Team ID
              team_name:
                type: string
                maxLength: 128
                description: Team name
              user_email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - account_id
            - create_time
            - member_type
            - project_name
            - real_name
            - team_id
            - team_name
            - user_email
      required:
      - user_projects
    AccountTeamProjectAssociateResponse:
      type: object
      description: AccountTeamProjectAssociateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    AccountMoveResponse:
      type: object
      description: AccountMoveResponse
      properties:
        account:
          type: object
          description: Account details
          properties:
            access_source:
              type: string
              description: Describe the source of the account
              enum:
              - descendant_membership
              - organization_membership
              - project_membership
              - team_membership
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            account_name:
              type: string
              maxLength: 83
              description: Account name
            account_owner_team_id:
              type: string
              maxLength: 32
              description: Team ID
            create_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            features:
              type: object
              description: Feature flags
              properties: {}
            is_account_member:
              type: boolean
              description: If true, user is part of a team of this or a parent account
            is_account_owner:
              type: boolean
              description: If true, user is part of the owners team for this account
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            parent_account_id:
              type: string
              maxLength: 36
              description: Account ID
            primary_billing_group_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Primary billing group ID - deprecated, always null
            root_account_id:
              type: string
              maxLength: 36
              description: Account ID
            tenant_id:
              type: string
              maxLength: 64
              description: Tenant identifier
            update_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
          required:
          - account_id
          - account_name
          - account_owner_team_id
          - create_time
          - is_account_owner
          - organization_id
          - primary_billing_group_id
          - root_account_id
          - update_time
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - account
    AccountAuthenticationMethodGetResponse:
      type: object
      description: AccountAuthenticationMethodGetResponse
      properties:
        authentication_method:
          type: object
          description: AuthenticationMethod
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            auth_token_extend_when_used:
              type: boolean
              description: Extend authentication token validity when used
            auth_token_max_age_seconds:
              type: integer
              minimum: 300
              maximum: 1296000
              description: Auth Token Max Age Seconds
            authentication_method_enabled:
              type: boolean
              description: If true, authentication method can be used to access account/projects in account. If false, authentication method can still be used to sign in
            authentication_method_id:
              type: string
              description: Authentication Method ID
            authentication_method_name:
              type: string
              maxLength: 128
              description: Authentication Method Name
            authentication_method_type:
              type: string
              description: An enumeration.
              title: Authentication method type
              enum:
              - internal
              - saml
            auto_join_team_id:
              type: string
              maxLength: 32
              description: Deprecated; always null. Teams are being sunset, so this value is ignored on writes and always returned as null.
            auto_join_user_group_id:
              type: string
              maxLength: 36
              description: Automatically add users to a group, when user signs up using this authentication method
            create_time:
              type: string
              maxLength: 36
              description: Create Time
            delete_time:
              type: string
              maxLength: 36
              description: Delete Time
            internal_mcp_enabled:
              type: boolean
              description: MCP connections enabled
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            saml_acs_url:
              type: string
              maxLength: 2048
              description: Saml Acs Url
            saml_assertion_signed_enabled:
              type: boolean
              description: Set to 'true' to enable WantAssertionsSigned
            saml_authn_requests_signed_enabled:
              type: boolean
              description: Set to 'true' to enable AuthnRequestsSigned
            saml_cert:
              type: string
              description: An enumeration.
              title: SAMLVariant
              enum:
              - adfs
            saml_certificate:
              type: string
              maxLength: 16384
              description: Identity provider's certificate
            saml_certificate_issuer:
              type: string
              description: Saml Certificate Issuer
            saml_certificate_not_valid_after:
              type: string
              maxLength: 36
              description: Saml Certificate Not Valid After
            saml_certificate_not_valid_before:
              type: string
              maxLength: 36
              description: Saml Certificate Not Valid Before
            saml_certificate_subject:
              type: string
              description: Saml Certificate Subject
            saml_digest_algorithm:
              type: string
              description: An enumeration.
              title: Digest algorithm. This is an advanced option that typically does not need to be set.
              default: sha256
              enum:
              - sha1
              - sha256
              - sha384
              - sha512
            saml_entity_id:
              type: string
              maxLength: 2048
              description: Saml Entity ID
            saml_field_mapping:
              type: object
              description: SAMLFieldMapping
              properties:
                email:
                  type: string
                  maxLength: 256
                  description: Field name for user email
                  default: email
                first_name:
                  type: string
                  maxLength: 256
                  description: Field name for user's first name
                  default: first_name
                groups:
                  type: string
                  maxLength: 256
                  description: Field name for user's groups memberships. Contents of this field are used to handle group memberships when SCIM is not available and SAML is used to manage group memberships.
                  default: groups
                identity:
                  type: string
                  maxLength: 256
                  description: Field name for user's identity. This field must always exist in responses, and must be immutable and unique. Contents of this field are used to identify the user. Using user ID (such as unix user ID) is highly recommended, as email address may change, requiring relinking user to Aiven user.
                  default: email
                last_name:
                  type: string
                  maxLength: 256
                  description: Field name for user's lastname
                  default: last_name
                real_name:
                  type: string
                  maxLength: 256
                  description: Field name for user's full name. If specified, first_name and last_name mappings are ignored
            saml_idp_login_allowed:
              type: boolean
              description: Set to 'true' to enable IdP initiated login
            saml_idp_url:
              type: string
              maxLength: 2048
              description: Saml Idp Url
            saml_join_groups:
              type: boolean
              description: SAML join groups enabled
            saml_metadata_url:
              type: string
              maxLength: 2048
[...]
