openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Static IP API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: StaticIP
  x-displayName: StaticIP
paths:
  /project/{project}/static-ips/{static_ip_address_id}/association:
    post:
      summary: Associate a static IP address with a service
      tags:
      - StaticIP
      operationId: ProjectStaticIPAssociate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/static_ip_address_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectStaticIPAssociateRequestBody'
            example:
              service_name: db123
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStaticIPAssociateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - static_ips:read
        - projects:write
    delete:
      summary: Dissociate a static IP address from a service
      tags:
      - StaticIP
      operationId: ProjectStaticIPDissociate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/static_ip_address_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStaticIPDissociateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - static_ips:read
        - projects:write
  /project/{project}/static-ip-availability:
    get:
      summary: List static IP address cloud availability and prices for a project
      tags:
      - StaticIP
      operationId: ProjectStaticIPAvailabilityList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStaticIPAvailabilityListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - static_ips:read
  /project/{project}/static-ips/{static_ip_address_id}:
    patch:
      summary: Update a static IP address configuration
      tags:
      - StaticIP
      operationId: ProjectStaticIPPatch
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/static_ip_address_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectStaticIPPatchRequestBody'
            example:
              termination_protection: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStaticIPPatchResponse'
      security:
      - tokenAuth: []
        oauth2:
        - static_ips:write
    delete:
      summary: Delete a static IP address
      tags:
      - StaticIP
      operationId: StaticIPDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/static_ip_address_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticIPDeleteResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
      security:
      - tokenAuth: []
        oauth2:
        - static_ips:write
  /project/{project}/static-ips:
    post:
      summary: Create static IP address
      tags:
      - StaticIP
      operationId: StaticIPCreate
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaticIPCreateRequestBody'
            example:
              cloud_name: aws-eu-central-1
              termination_protection: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticIPCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - static_ips:write
    get:
      summary: List static IP addresses
      tags:
      - StaticIP
      operationId: StaticIPList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticIPListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - static_ips:read
components:
  schemas:
    ProjectStaticIPPatchResponse:
      type: object
      description: ProjectStaticIPPatchResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        ip_address:
          type: string
          description: IPv4 address
        message:
          type: string
          description: Printable result of the request
        service_name:
          type: string
          minLength: 1
          maxLength: 64
          description: Service name
        state:
          type: string
          description: Static IP address state
          enum:
          - creating
          - created
          - available
          - assigned
          - deleting
          - deleted
        static_ip_address_id:
          type: string
          description: Static IP address identifier
        termination_protection:
          type: boolean
          description: Static IP address is protected against deletion
      required:
      - cloud_name
      - ip_address
      - service_name
      - state
      - static_ip_address_id
      - termination_protection
    StaticIPDeleteResponse:
      type: object
      description: StaticIPDeleteResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        ip_address:
          type: string
          description: IPv4 address
        message:
          type: string
          description: Printable result of the request
        service_name:
          type: string
          minLength: 1
          maxLength: 64
          description: Service name
        state:
          type: string
          description: Static IP address state
          enum:
          - creating
          - created
          - available
          - assigned
          - deleting
          - deleted
        static_ip_address_id:
          type: string
          description: Static IP address identifier
        termination_protection:
          type: boolean
          description: Static IP address is protected against deletion
      required:
      - cloud_name
      - ip_address
      - service_name
      - state
      - static_ip_address_id
      - termination_protection
    ProjectStaticIPDissociateResponse:
      type: object
      description: ProjectStaticIPDissociateResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        ip_address:
          type: string
          description: IPv4 address
        message:
          type: string
          description: Printable result of the request
        service_name:
          type: string
          minLength: 1
          maxLength: 64
          description: Service name
        state:
          type: string
          description: Static IP address state
          enum:
          - creating
          - created
          - available
          - assigned
          - deleting
          - deleted
        static_ip_address_id:
          type: string
          description: Static IP address identifier
        termination_protection:
          type: boolean
          description: Static IP address is protected against deletion
      required:
      - cloud_name
      - ip_address
      - service_name
      - state
      - static_ip_address_id
      - termination_protection
    StaticIPCreateResponse:
      type: object
      description: StaticIPCreateResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        ip_address:
          type: string
          description: IPv4 address
        message:
          type: string
          description: Printable result of the request
        service_name:
          type: string
          minLength: 1
          maxLength: 64
          description: Service name
        state:
          type: string
          description: Static IP address state
          enum:
          - creating
          - created
          - available
          - assigned
          - deleting
          - deleted
        static_ip_address_id:
          type: string
          description: Static IP address identifier
        termination_protection:
          type: boolean
          description: Static IP address is protected against deletion
      required:
      - cloud_name
      - ip_address
      - service_name
      - state
      - static_ip_address_id
      - termination_protection
    ProjectStaticIPAssociateRequestBody:
      type: object
      description: ProjectStaticIPAssociateRequestBody
      properties:
        service_name:
          type: string
          minLength: 1
          maxLength: 64
          description: Service name
      required:
      - service_name
    StaticIPListResponse:
      type: object
      description: StaticIPListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        static_ips:
          type: array
          description: Paginated array
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              ip_address:
                type: string
                description: IPv4 address
              service_name:
                type: string
                minLength: 1
                maxLength: 64
                description: Service name
              state:
                type: string
                description: Static IP address state
                enum:
                - creating
                - created
                - available
                - assigned
                - deleting
                - deleted
              static_ip_address_id:
                type: string
                description: Static IP address identifier
              termination_protection:
                type: boolean
                description: Static IP address is protected against deletion
            required:
            - cloud_name
            - ip_address
            - service_name
            - state
            - static_ip_address_id
            - termination_protection
      required:
      - static_ips
    ProjectStaticIPAssociateResponse:
      type: object
      description: ProjectStaticIPAssociateResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        ip_address:
          type: string
          description: IPv4 address
        message:
          type: string
          description: Printable result of the request
        service_name:
          type: string
          minLength: 1
          maxLength: 64
          description: Service name
        state:
          type: string
          description: Static IP address state
          enum:
          - creating
          - created
          - available
          - assigned
          - deleting
          - deleted
        static_ip_address_id:
          type: string
          description: Static IP address identifier
        termination_protection:
          type: boolean
          description: Static IP address is protected against deletion
      required:
      - cloud_name
      - ip_address
      - service_name
      - state
      - static_ip_address_id
      - termination_protection
    ProjectStaticIPPatchRequestBody:
      type: object
      description: ProjectStaticIPPatchRequestBody
      properties:
        termination_protection:
          type: boolean
          description: Static IP address is protected against deletion
    StaticIPCreateRequestBody:
      type: object
      description: StaticIPCreateRequestBody
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        termination_protection:
          type: boolean
          description: Static IP address is protected against deletion
      required:
      - cloud_name
    ProjectStaticIPAvailabilityListResponse:
      type: object
      description: ProjectStaticIPAvailabilityListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        static_ip_address_availability:
          type: array
          description: Paginated array
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              price_usd:
                type: string
                description: Hourly static IP address price in this cloud region
            required:
            - cloud_name
            - price_usd
      required:
      - static_ip_address_availability
  parameters:
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
    static_ip_address_id:
      in: path
      name: static_ip_address_id
      description: Static IP address identifier
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
