openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: 'Aiven API Documentation Service: Thanos API'
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Service:_Thanos
  x-displayName: 'Service: Thanos'
paths:
  /project/{project}/service/{service_name}/thanos/storage/summary:
    get:
      summary: Get Thanos object storage summary
      tags:
      - Service:_Thanos
      operationId: ServiceThanosStorageSummary
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceThanosStorageSummaryResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_does_not_exist
                          - service_does_not_exist
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_does_not_exist: Project does not exist. service_does_not_exist: Service does not exist'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
components:
  parameters:
    service_name:
      in: path
      name: service_name
      description: Service name
      schema:
        type: string
      required: true
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
  schemas:
    ServiceThanosStorageSummaryResponse:
      type: object
      description: ServiceThanosStorageSummaryResponse
      properties:
        current_cost:
          type: string
          description: The current cost in USD of tiered storage since the beginning of the billing period
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        forecasted_cost:
          type: string
          description: The forecasted cost in USD of tiered storage in the billing period
        forecasted_rate:
          type: string
          description: The rate on GBs/hour used to calculate the forecasted cost
        message:
          type: string
          description: Printable result of the request
        storage_usage_history:
          type: object
          description: History of usage and cumulative costs in the billing period
          properties:
            hourly:
              type: array
              description: History by hour
              items:
                type: object
                properties:
                  estimated_cost:
                    type: string
                    description: The estimated cost in USD of tiered storage for this hour
                  hour_start:
                    type: string
                    maxLength: 36
                    description: Timestamp in ISO 8601 format, always in UTC
                  peak_stored_bytes:
                    type: integer
                    minimum: 0
                    description: Peak bytes stored on object storage at this hour
                required:
                - hour_start
                - peak_stored_bytes
          required:
          - hourly
        total_storage_usage:
          type: integer
          minimum: 0
          description: Total storage usage by tiered storage, in bytes
      required:
      - current_cost
      - forecasted_cost
      - storage_usage_history
      - total_storage_usage
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
