openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Project API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Project
  x-displayName: Project
paths:
  /project/{project}/vpc-peering-connection-types:
    get:
      summary: List VPC peering connection types for a project
      tags:
      - Project
      operationId: ListProjectVpcPeeringConnectionTypes
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectVpcPeeringConnectionTypesResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/alerts:
    get:
      summary: List active alerts for a project
      tags:
      - Project
      operationId: ProjectAlertsList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAlertsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project:
    post:
      summary: Create a project
      tags:
      - Project
      operationId: ProjectCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateRequestBody'
            example:
              account_id: a22ba494e096
              add_account_owners_admin_access: true
              address_lines:
              - Main Street 1
              base_port: 10000
              billing_address: 'DEPRECATED: use split address fields like `company`, `address_lines`, `zip_code`, `city` and `state` instead'
              billing_currency: USD
              billing_emails:
              - email: jane@example.com
              billing_extra_text: 'Purchase order: PO100018'
              billing_group_id: ffb3f0cd-5532-4eb9-8867-f2cac5823492
              card_id: 9330c086-8781-11e5-89ff-5404a64abfef
              city: Helsinki
              cloud: aws-eu-central-1
              company: My Company
              copy_from_project: myexistingproject
              copy_tags: true
              country_code: FI
              project: myproject
              state: ''
              tags: {}
              tech_emails:
              - email: jane@example.com
              use_source_project_billing_group: false
              vat_id: FI27957435
              zip_code: '01234'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreateResponse'
        '409':
          description: Request conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_already_exists
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_already_exists: Project already exists'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    get:
      summary: List projects
      tags:
      - Project
      operationId: ProjectList
      deprecated: true
      description: 'DEPRECATED: Use the organization projects API to list projects within each organization'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}:
    delete:
      summary: Delete project
      tags:
      - Project
      operationId: ProjectDelete
      deprecated: true
      description: 'DEPRECATED: Use the per-organization project DELETE API'
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    get:
      summary: Get project details
      tags:
      - Project
      operationId: ProjectGet
      deprecated: true
      description: 'DEPRECATED: Use the organization project API to retrieve project details'
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
    put:
      summary: Update project
      tags:
      - Project
      operationId: ProjectUpdate
      deprecated: true
      description: 'DEPRECATED: Use the organization project PATCH API for partial updates'
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateRequestBody'
            example:
              account_id: a22ba494e096
              add_account_owners_admin_access: true
              address_lines:
              - Main Street 1
              billing_address: 'DEPRECATED: use split address fields like `company`, `address_lines`, `zip_code`, `city` and `state` instead'
              billing_currency: USD
              billing_emails:
              - email: jane@example.com
              billing_extra_text: 'Purchase order: PO100018'
              billing_group_id: ffb3f0cd-5532-4eb9-8867-f2cac5823492
              card_id: 9330c086-8781-11e5-89ff-5404a64abfef
              city: Helsinki
              cloud: aws-eu-central-1
              company: My Company
              country_code: FI
              project_name: myproject
              state: ''
              tags: {}
              tech_emails:
              - email: jane@example.com
              vat_id: FI27957435
              zip_code: '01234'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/download-sbom/{file_format}/{download_cookie}:
    get:
      summary: Download SBOM report
      tags:
      - Project
      operationId: ProjectDownloadSBOMReport
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/file_format'
      - $ref: '#/components/parameters/download_cookie'
      responses:
        '200':
          description: Returns a SBOM report
          content:
            text/csv:
              schema:
                type: string
                format: binary
            text/json:
              schema:
                type: string
                format: binary
  /project/{project}/generate-sbom-download-url/{file_format}:
    get:
      summary: Generate SBOM for project
      tags:
      - Project
      operationId: ProjectGenerateSbomDownloadUrl
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/file_format'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGenerateSbomDownloadUrlResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/events:
    get:
      summary: Get project event log entries
      tags:
      - Project
      operationId: ProjectGetEventLogs
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetEventLogsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/invite:
    post:
      summary: Send project membership invitation
      tags:
      - Project
      operationId: ProjectInvite
      deprecated: true
      description: 'DEPRECATED: Use the Organizations APIs to invite users and the Permissions API to manage access'
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInviteRequestBody'
            example:
              member_type: admin
              user_email: jane@example.com
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInviteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/invite/{invite_verification_code}:
    post:
      summary: Confirm project invite
      tags:
      - Project
      operationId: ProjectInviteAccept
      deprecated: true
      description: 'DEPRECATED: Use the Organizations APIs to invite users and the Permissions API to manage access'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/invite_verification_code'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInviteAcceptResponse'
  /project/{project}/invite/{invited_email}:
    delete:
      summary: Delete an invitation to a project
      tags:
      - Project
      operationId: ProjectInviteDelete
      deprecated: true
      description: 'DEPRECATED: Use the Organizations APIs to invite users and the Permissions API to manage access'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/invited_email'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInviteDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/privatelink-availability:
    get:
      summary: List Privatelink cloud availability and prices for a project
      tags:
      - Project
      operationId: ProjectPrivatelinkAvailabilityList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPrivatelinkAvailabilityListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - privatelink:read
  /project/{project}/service-types/{service_type}/plans:
    get:
      summary: List service plans
      tags:
      - Project
      operationId: ProjectServicePlanList
      description: Returns a list of the plans available for a service type.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_type'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServicePlanListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/pricing/service-types/{service_type}/plans/{service_plan}/clouds/{cloud}:
    get:
      summary: Get plan pricing
      tags:
      - Project
      operationId: ProjectServicePlanPriceGet
      description: Returns pricing information for a service plan.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_type'
      - $ref: '#/components/parameters/service_plan'
      - $ref: '#/components/parameters/cloud'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServicePlanPriceGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/service-types/{service_type}/plans/{service_plan}:
    get:
      summary: Get service plan details
      tags:
      - Project
      operationId: ProjectServicePlanSpecsGet
      description: Returns information about a plan for a service type such as the disk storage and backup configuration.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_type'
      - $ref: '#/components/parameters/service_plan'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServicePlanSpecsGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/service-types/{service_type}:
    get:
      summary: Get service type details
      tags:
      - Project
      operationId: ProjectServiceTypesGet
      description: Returns the configuration options for a service type.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_type'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServiceTypesGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/service-types:
    get:
      summary: List service types
      tags:
      - Project
      operationId: ProjectServiceTypesList
      description: Returns a list of all available service types and their configuration options.
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectServiceTypesListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/tags:
    get:
      summary: List all tags attached to this project
      tags:
      - Project
      operationId: ProjectTagsList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTagsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
    put:
      summary: Replace all project tags with a new set of tags, deleting old ones
      tags:
      - Project
      operationId: ProjectTagsReplace
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectTagsReplaceRequestBody'
            example:
              tags: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTagsReplaceResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    patch:
      summary: Update one or more tags, creating ones that don't exist, and deleting ones…
      tags:
      - Project
      operationId: ProjectTagsUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectTagsUpdateRequestBody'
            example:
              tags: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTagsUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/users:
    get:
      summary: List users with access to the project.
      tags:
      - Project
      operationId: ProjectUserList
      deprecated: true
      description: 'DEPRECATED: Use the Organizations APIs to manage users and the Permissions API to manage access'
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUserListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/user/{user_email}:
    delete:
      summary: Remove user from the project
      tags:
      - Project
      operationId: ProjectUserRemove
      deprecated: true
      description: 'DEPRECATED: Use the Organizations APIs to update users and the Permissions API to manage access'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/user_email'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUserRemoveResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    put:
      summary: Update a project user
      tags:
      - Project
      operationId: ProjectUserUpdate
      deprecated: true
      description: 'DEPRECATED: Use the Organizations APIs to update users and the Permissions API to manage access'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/user_email'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUserUpdateRequestBody'
            example:
              member_type: admin
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUserUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/vpcs:
    post:
      summary: Create a VPC in a cloud for the project
      tags:
      - Project
      operationId: VpcCreate
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpcCreateRequestBody'
            example:
              cloud_name: aws-eu-central-1
              network_cidr: 192.168.6.0/24
              peering_connections:
              - peer_azure_app_id: adcf7194-d877-4505-a47a-91fefd96e3b8
                peer_azure_tenant_id: adcf7194-d877-4505-a47a-91fefd96e3b8
                peer_cloud_account: '123456789012'
                peer_region: us-east-1
                peer_resource_group: my-peered-rg
                peer_vpc: vpc-2f09a348
                user_peer_network_cidrs:
                - 192.168.6.0/24
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    get:
      summary: List VPCs for a project
      tags:
      - Project
      operationId: VpcList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/vpcs/{project_vpc_id}:
    delete:
      summary: Delete a project VPC
      tags:
      - Project
      operationId: VpcDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    get:
      summary: Get VPC information
      tags:
      - Project
      operationId: VpcGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/vpcs/{project_vpc_id}/peering-connections:
    post:
      summary: Create a peering connection for a project VPC
      tags:
      - Project
      operationId: VpcPeeringConnectionCreate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpcPeeringConnectionCreateRequestBody'
            example:
              peer_azure_app_id: adcf7194-d877-4505-a47a-91fefd96e3b8
              peer_azure_tenant_id: adcf7194-d877-4505-a47a-91fefd96e3b8
              peer_cloud_account: '123456789012'
              peer_region: us-east-1
              peer_resource_group: my-peered-rg
              peer_vpc: vpc-2f09a348
              user_peer_network_cidrs:
              - 192.168.6.0/24
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcPeeringConnectionCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/vpcs/{project_vpc_id}/peering-connections/peer-accounts/{peer_cloud_account}/peer-vpcs/{peer_vpc}:
    delete:
      summary: Delete a peering connection for a project VPC
      tags:
      - Project
      operationId: VpcPeeringConnectionDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      - $ref: '#/components/parameters/peer_cloud_account'
      - $ref: '#/components/parameters/peer_vpc'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcPeeringConnectionDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/vpcs/{project_vpc_id}/user-peer-network-cidrs:
    put:
      summary: Update user-defined peer network CIDRs for a project VPC
      tags:
      - Project
      operationId: VpcPeeringConnectionUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpcPeeringConnectionUpdateRequestBody'
            example:
              add:
              - cidr: 192.168.6.0/24
                peer_cloud_account: '123456789012'
                peer_resource_group: my-peered-rg
                peer_vpc: vpc-2f09a348
              delete:
              - 192.168.6.0/24
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcPeeringConnectionUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  ? /project/{project}/vpcs/{project_vpc_id}/peering-connections/peer-accounts/{peer_cloud_account}/peer-vpcs/{peer_vpc}/peer-regions/{peer_region}
  : delete:
      summary: Delete a peering connection for a project VPC
      tags:
      - Project
      operationId: VpcPeeringConnectionWithRegionDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      - $ref: '#/components/parameters/peer_cloud_account'
      - $ref: '#/components/parameters/peer_vpc'
      - $ref: '#/components/parameters/peer_region'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcPeeringConnectionWithRegionDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  ? /project/{project}/vpcs/{project_vpc_id}/peering-connections/peer-accounts/{peer_cloud_account}/peer-resource-groups/{peer_resource_group}/peer-vpcs/{peer_vpc}
  : delete:
      summary: Delete a peering connection for a project VPC
      tags:
      - Project
      operationId: VpcPeeringConnectionWithResourceGroupDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      - $ref: '#/components/parameters/peer_cloud_account'
      - $ref: '#/components/parameters/peer_resource_group'
      - $ref: '#/components/parameters/peer_vpc'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcPeeringConnectionWithResourceGroupDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/vpcs/{project_vpc_id}/peering-connections/refresh:
    post:
      summary: Check if the state of peering connections in the cloud has changed
      tags:
      - Project
      operationId: VpcPeeringConnectionsRefresh
      description: 'This endpoint may be changed or removed at any time. Don''t use it in production environments.


        Triggers an asynchronous refresh of the peering connection states for a project VPC. Checks the state of the peering connections in the cloud provider and updates them in Aiven. To confirm the refresh has completed, retrieve the project VPC using GET /project/{project}/vpcs/{project_vpc_id} and check that the pending_build_only_peering_connections field has returned to null.'
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/project_vpc_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcPeeringConnectionsRefreshResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
components:
  schemas:
    ProjectUpdateRequestBody:
      type: object
      description: ProjectUpdateRequestBody
      properties:
        account_id:
          type: string
          maxLength: 36
          description: Account ID
        add_account_owners_admin_access:
          type: boolean
          description: '[DEPRECATED] If account_id is set, grant account owner team admin access to this project. This flag is ignored and assumed true.'
        address_lines:
          type: array
          maxItems: 3
          description: '[DEPRECATED] Address lines'
          items:
            type: string
        billing_address:
          type: string
          maxLength: 1000
          description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
        billing_currency:
          type: string
          description: '[DEPRECATED] Billing currency'
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
        billing_emails:
          type: array
          maxItems: 10
          description: '[DEPRECATED] List of project billing email addresses'
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - email
        billing_extra_text:
          type: string
          maxLength: 1000
          description: '[DEPRECATED] Extra text to be included in all project invoices, e.g. purchase order or cost center number'
        billing_group_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Billing group ID
        card_id:
          type: string
          maxLength: 64
          description: '[DEPRECATED] Credit card ID'
        city:
          type: string
          maxLength: 50
          description: '[DEPRECATED] Address city'
        cloud:
          type: string
          maxLength: 256
          description: Target cloud
        company:
          type: string
          maxLength: 83
          description: '[DEPRECATED] Name of company'
        country_code:
          type: string
          maxLength: 2
          description: '[DEPRECATED] Two letter country code for billing country'
        project_name:
          type: string
          maxLength: 63
          description: Project name
        state:
          type: string
          maxLength: 30
          description: '[DEPRECATED] Address state'
        tags:
          type: object
          description: Set of resource tags
          properties: {}
        tech_emails:
          type: array
          maxItems: 10
          description: List of project tech email addresses
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - email
        vat_id:
          type: string
          maxLength: 64
          description: '[DEPRECATED] EU VAT Identification Number'
        zip_code:
          type: string
          maxLength: 36
          description: '[DEPRECATED] Address zip code'
    VpcPeeringConnectionCreateRequestBody:
      type: object
      description: VpcPeeringConnectionCreateRequestBody
      properties:
        peer_azure_app_id:
          type: string
          maxLength: 1024
          description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
        peer_azure_tenant_id:
          type: string
          maxLength: 1024
          description: Azure tenant id in UUID4 form
        peer_cloud_account:
          type: string
          maxLength: 1024
          description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
        peer_region:
          type: string
          maxLength: 1024
          description: The peer VPC's region on AWS. May be omitted or set to null if the peer is in the same region as the Aiven project VPC. Omit or set to null on GCP, Azure, or UpCloud.
        peer_resource_group:
          type: string
          maxLength: 1024
          description: Azure resource group name of the peered VPC
        peer_vpc:
          type: string
          maxLength: 1024
          description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
        user_peer_network_cidrs:
          type: array
          maxItems: 128
          description: List of private IPv4 ranges to route through the peering connection
          items:
            type: string
      required:
      - peer_cloud_account
      - peer_vpc
    VpcPeeringConnectionsRefreshResponse:
      type: object
      description: VpcPeeringConnectionsRefreshResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        network_cidr:
          type: string
          maxLength: 18
          description: IPv4 network range CIDR
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        project_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - cloud_name
      - create_time
      - network_cidr
      - peering_connections
      - project_vpc_id
      - state
      - update_time
    VpcPeeringConnectionWithRegionDeleteResponse:
      type: object
      description: VpcPeeringConnectionWithRegionDeleteResponse
      properties:
        create_time:
          type: string
          maxLength: 36
          description: VPC peering connection creation timestamp
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        peer_azure_app_id:
          type: string
          maxLength: 1024
          description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
        peer_azure_tenant_id:
          type: string
          maxLength: 1024
          description: Azure tenant id in UUID4 form
        peer_cloud_account:
          type: string
          maxLength: 1024
          description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
        peer_region:
          type: string
          maxLength: 1024
          description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
        peer_resource_group:
          type: string
          maxLength: 1024
          description: Azure resource group name of the peered VPC
        peer_vpc:
          type: string
          maxLength: 1024
          description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
        peering_connection_id:
          type: string
          minLength: 36
          maxLength: 36
          description: VPC peering connection ID
        state:
          type: string
          description: Project VPC peering connection state
          enum:
          - ACTIVE
          - APPROVED
          - APPROVED_PEER_REQUESTED
          - DELETED
          - DELETED_BY_PEER
          - DELETING
          - ERROR
          - INVALID_SPECIFICATION
          - PENDING_PEER
          - REJECTED_BY_PEER
        state_info:
          type: object
          description: State-specific help or error information
          properties:
            message:
              type: string
              description: Human-readable information message
            type:
              type: string
              description: Type of state information
            warnings:
              type: array
              description: List of warnings if any
              items:
                type: object
                properties:
                  conflicting_aws_account_id:
                    type: string
                    description: AWS account id of conflicting VPC
                  conflicting_aws_vpc_id:
                    type: string
                    description: VPC id which is conflicting with the current one
                  conflicting_aws_vpc_peering_connection_id:
                    type: string
                    description: AWS VPC connection id which is conflicting with current VPC
                  message:
                    type: string
                    description: Warning message to be shown to the user
                  type:
                    type: string
                    description: Type of warning
                    enum:
                    - overlapping-peer-vpc-ip-ranges
                    - upcloud-peering-in-error
                required:
                - message
                - type
          required:
          - message
          - type
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to the VPC peering connection
        user_peer_network_cidrs:
          type: array
          maxItems: 128
          description: List of private IPv4 ranges to route through the peering connection
          items:
            type: string
        vpc_peering_connection_type:
          type: string
          description: Type of network connection from the VPC
          enum:
          - aws-tgw-vpc-attachment
          - aws-vpc-peering-connection
          - azure-vnet-peering
          - do-vpc-peering
          - google-vpc-peering
          - upcloud-vpc-peering
      required:
      - create_time
      - peer_azure_app_id
      - peer_azure_tenant_id
      - peer_cloud_account
      - peer_resource_group
      - peer_vpc
      - state
      - state_info
      - update_time
      - user_peer_network_cidrs
      - vpc_peering_connection_type
    VpcPeeringConnectionUpdateResponse:
      type: object
      description: VpcPeeringConnectionUpdateResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        network_cidr:
          type: string
          maxLength: 18
          description: IPv4 network range CIDR
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        project_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - cloud_name
      - create_time
      - network_cidr
      - peering_connections
      - project_vpc_id
      - state
      - update_time
    ProjectGenerateSbomDownloadUrlResponse:
      type: object
      description: ProjectGenerateSbomDownloadUrlResponse
      properties:
        download_url:
          type: string
          maxLength: 2048
          description: Relative signed URL for report download
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - download_url
    ProjectServiceTypesListResponse:
      type: object
      description: ProjectServiceTypesListResponse
      properties:
        clickhouse:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        dragonfly:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        elasticsearch:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        flink:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        grafana:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        kafka:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        kafka_connect:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        kafka_mirrormaker:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        message:
          type: string
          description: Printable result of the request
        mysql:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        opensearch:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        pg:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        redis:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        thanos:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
        valkey:
          type: object
          description: Service type information
          properties:
            default_version:
              type: string
              description: Default version of the service if no explicit version is defined
            description:
              type: string
              description: Single line description of the service
            latest_available_version:
              type: string
              description: Latest available version of the service
            user_config_schema:
              type: object
              description: JSON-Schema for the 'user_config' properties
              properties: {}
          required:
          - description
          - user_config_schema
    VpcCreateResponse:
      type: object
      description: VpcCreateResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        network_cidr:
          type: string
          maxLength: 18
          description: IPv4 network range CIDR
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        project_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - cloud_name
      - create_time
      - network_cidr
      - peering_connections
      - project_vpc_id
      - state
      - update_time
    ProjectServiceTypesGetResponse:
      type: object
      description: ProjectServiceTypesGetResponse
      properties:
        default_version:
          type: string
          description: Default version of the service if no explicit version is defined
        description:
          type: string
          description: Single line description of the service
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        latest_available_version:
          type: string
          description: Latest available version of the service
        message:
          type: string
          description: Printable result of the request
        user_config_schema:
          type: object
          description: JSON-Schema for the 'user_config' properties
          properties: {}
      required:
      - description
      - user_config_schema
    ProjectCreateResponse:
      type: object
      description: ProjectCreateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        project:
          type: object
          description: Project information
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            account_name:
              type: string
              maxLength: 83
              description: Account name
            address_lines:
              type: array
              maxItems: 3
              description: Address lines
              items:
                type: string
            available_credits:
              type: string
              description: 'DEPRECATED: Available credits, in USD. Always 0.00, use billing group credits instead'
            billing_address:
              type: string
              maxLength: 1000
              description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
            billing_currency:
              type: string
              description: Billing currency
              enum:
              - AUD
              - CAD
              - CHF
              - DKK
              - EUR
              - GBP
              - JPY
              - NOK
              - NZD
              - SEK
              - SGD
              - USD
            billing_emails:
              type: array
              maxItems: 10
              description: List of project billing email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            billing_extra_text:
              type: string
              maxLength: 1000
              description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
            billing_group_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Billing group ID
            billing_group_name:
              type: string
              maxLength: 128
              description: Billing group name
            card_info:
              type: object
              description: Credit card assigned to the project
              properties:
                brand:
                  type: string
                  description: Brand
                card_id:
                  type: string
                  maxLength: 64
                  description: Credit card ID
                country:
                  type: string
                  maxLength: 128
                  description: Country
                country_code:
                  type: string
                  maxLength: 2
                  description: Two letter ISO country code
                exp_month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  description: Expiration month
                exp_year:
                  type: integer
                  minimum: 2015
                  maximum: 2100
                  description: Expiration year
                last4:
                  type: string
                  description: Credit card last four digits
                name:
                  type: string
                  maxLength: 256
                  description: Name on the credit card
                user_email:
                  type: string
                  maxLength: 254
                  description: User email address
              required:
              - brand
              - card_id
              - country
              - country_code
              - exp_month
              - exp_year
              - last4
              - name
              - user_email
            city:
              type: string
              maxLength: 50
              description: Address city
            company:
              type: string
              maxLength: 83
              description: Name of a company
            country:
              type: string
              maxLength: 128
              description: Billing country
            country_code:
              type: string
              maxLength: 2
              description: Two letter ISO country code
            default_cloud:
              type: string
              maxLength: 256
              description: Default cloud to use when launching services
            end_of_life_extension:
              type: object
              description: End of life extension information
              properties:
                elasticsearch:
                  type: object
                  description: Service EOL extension
                  properties:
                    eol_date:
                      type: string
                      description: Extended EOL date
                    version:
                      type: string
                      description: Service version
                  required:
                  - eol_date
                  - version
            estimated_balance:
              type: string
              description: Estimated balance, in USD
            estimated_balance_local:
              type: string
              description: Estimated balance, in billing currency
            features:
              type: object
              description: Feature flags
              properties: {}
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            payment_method:
              type: string
              description: Payment method
            project_name:
              type: string
              maxLength: 63
              description: Project name
            state:
              type: string
              maxLength: 30
              description: Address state or province
            tags:
              type: object
              description: Set of resource tags
              properties: {}
            tech_emails:
              type: array
              maxItems: 10
              description: List of project tech email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            tenant_id:
              type: string
              description: Tenant ID
            trial_expiration_time:
              type: string
              maxLength: 36
              description: Trial expiration time (ISO 8601)
            vat_id:
              type: string
              maxLength: 64
              description: EU VAT Identification Number
            zip_code:
              type: string
              maxLength: 36
              description: Address zip code
          required:
          - account_id
          - billing_address
          - billing_emails
          - billing_group_id
          - billing_group_name
          - country
          - country_code
          - default_cloud
          - estimated_balance
          - organization_id
          - payment_method
          - project_name
          - vat_id
      required:
      - project
    VpcDeleteResponse:
      type: object
      description: VpcDeleteResponse
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        network_cidr:
          type: string
          maxLength: 18
          description: IPv4 network range CIDR
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        project_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - cloud_name
      - create_time
      - network_cidr
      - peering_connections
      - project_vpc_id
      - state
      - update_time
    VpcCreateRequestBody:
      type: object
      description: VpcCreateRequestBody
      properties:
        cloud_name:
          type: string
          maxLength: 256
          description: Target cloud
        network_cidr:
          type: string
          maxLength: 18
          description: IPv4 network range CIDR
        peering_connections:
          type: array
          maxItems: 128
          description: List of peering connection requests for the VPC
          items:
            type: object
            properties:
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region on AWS. May be omitted or set to null if the peer is in the same region as the Aiven project VPC. Omit or set to null on GCP, Azure, or UpCloud.
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
            required:
            - peer_cloud_account
            - peer_vpc
      required:
      - cloud_name
      - network_cidr
      - peering_connections
    ProjectTagsUpdateResponse:
      type: object
      description: ProjectTagsUpdateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ProjectListResponse:
      type: object
      description: ProjectListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        project_membership:
          type: object
          description: Project membership and type of membership
          properties:
            ANY:
              type: string
              description: Project member type
              enum:
              - admin
              - developer
              - operator
              - organization:app_users:write
              - organization:audit_logs:read
              - organization:billing:read
              - organization:billing:write
              - organization:domains:write
              - organization:groups:write
              - organization:networking:read
              - organization:networking:write
              - organization:projects:write
              - organization:users:write
              - project:audit_logs:read
              - project:integrations:read
              - project:integrations:write
              - project:networking:read
              - project:networking:write
              - project:permissions:read
              - project:services:read
              - project:services:write
              - read_only
              - role:organization:admin
              - role:project:admin
              - role:services:maintenance
              - role:services:recover
              - service:configuration:write
              - service:data:write
              - service:logs:read
              - service:metrics:read
              - service:secrets:read
              - service:users:write
        project_memberships:
          type: object
          description: List of project membership and type of membership
          properties:
            ANY:
              type: array
              description: List of project member type
              items:
                type: string
        projects:
          type: array
          description: List of projects
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              account_name:
                type: string
                maxLength: 83
                description: Account name
              address_lines:
                type: array
                maxItems: 3
                description: Address lines
                items:
                  type: string
              available_credits:
                type: string
                description: 'DEPRECATED: Available credits, in USD. Always 0.00, use billing group credits instead'
              billing_address:
                type: string
                maxLength: 1000
                description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
              billing_currency:
                type: string
                description: Billing currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              billing_emails:
                type: array
                maxItems: 10
                description: List of project billing email addresses
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: User email address
                  required:
                  - email
              billing_extra_text:
                type: string
                maxLength: 1000
                description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
              billing_group_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Billing group ID
              billing_group_name:
                type: string
                maxLength: 128
                description: Billing group name
              card_info:
                type: object
                description: Credit card assigned to the project
                properties:
                  brand:
                    type: string
                    description: Brand
                  card_id:
                    type: string
                    maxLength: 64
                    description: Credit card ID
                  country:
                    type: string
                    maxLength: 128
                    description: Country
                  country_code:
                    type: string
                    maxLength: 2
                    description: Two letter ISO country code
                  exp_month:
                    type: integer
                    minimum: 1
                    maximum: 12
                    description: Expiration month
                  exp_year:
                    type: integer
                    minimum: 2015
                    maximum: 2100
                    description: Expiration year
                  last4:
                    type: string
                    description: Credit card last four digits
                  name:
                    type: string
                    maxLength: 256
                    description: Name on the credit card
                  user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - brand
                - card_id
                - country
                - country_code
                - exp_month
                - exp_year
                - last4
                - name
                - user_email
              city:
                type: string
                maxLength: 50
                description: Address city
              company:
                type: string
                maxLength: 83
                description: Name of a company
              country:
                type: string
                maxLength: 128
                description: Billing country
              country_code:
                type: string
                maxLength: 2
                description: Two letter ISO country code
              default_cloud:
                type: string
                maxLength: 256
                description: Default cloud to use when launching services
              end_of_life_extension:
                type: object
                description: End of life extension information
                properties:
                  elasticsearch:
                    type: object
                    description: Service EOL extension
                    properties:
                      eol_date:
                        type: string
                        description: Extended EOL date
                      version:
                        type: string
                        description: Service version
                    required:
                    - eol_date
                    - version
              estimated_balance:
                type: string
                description: Estimated balance, in USD
              estimated_balance_local:
                type: string
                description: Estimated balance, in billing currency
              features:
                type: object
                description: Feature flags
                properties: {}
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              payment_method:
                type: string
                description: Payment method
              project_name:
                type: string
                maxLength: 63
                description: Project name
              state:
                type: string
                maxLength: 30
                description: Address state or province
              tags:
                type: object
[...]
