openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Users API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Users
  x-displayName: Users
paths:
  /access_token:
    post:
      summary: Create new access token
      tags:
      - Users
      operationId: AccessTokenCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenCreateRequestBody'
            example:
              description: Integration client Alpha
              extend_when_used: true
              ip_allowlist:
              - 192.168.6.0/24
              max_age_seconds: 86400
              scopes:
              - user:read
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
    get:
      summary: List all valid access tokens
      tags:
      - Users
      operationId: AccessTokenList
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:read
        - authentication:read
  /access_token/{token_prefix}:
    delete:
      summary: Revoke an access token
      tags:
      - Users
      operationId: AccessTokenRevoke
      parameters:
      - $ref: '#/components/parameters/token_prefix'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenRevokeResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
    put:
      summary: Update an existing access token
      tags:
      - Users
      operationId: AccessTokenUpdate
      parameters:
      - $ref: '#/components/parameters/token_prefix'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenUpdateRequestBody'
            example:
              description: Integration client Alpha
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /me/password_strength:
    post:
      summary: Check password strength for an existing user
      tags:
      - Users
      operationId: CheckPasswordStrengthExistingUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPasswordStrengthExistingUserRequestBody'
            example:
              new_password: xyz567
              old_password: '!@$password12345'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckPasswordStrengthExistingUserResponse'
      security:
      - tokenAuth: []
        oauth2: []
  /user/password_strength:
    post:
      summary: Check password strength for a new user
      tags:
      - Users
      operationId: CheckPasswordStrengthNewUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPasswordStrengthNewUserRequestBody'
            example:
              email: jane@example.com
              password: xyz567
              real_name: Jane Smith
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckPasswordStrengthNewUserResponse'
  /organization/{organization_id}/user/{member_user_id}/user-groups:
    get:
      summary: List user groups of the organization's member
      tags:
      - Users
      operationId: OrganizationMemberGroupsList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberGroupsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/user/{member_user_id}/permissions:
    get:
      summary: List resources permissions of the organization's member
      tags:
      - Users
      operationId: OrganizationMemberPermissionsList
      description: Returns a comprehensive list of resources within an organization, including units, projects, and the organization itself, along with the specific permissions assigned to the user for each resource.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMemberPermissionsListResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - authentication:read
  /organization/{organization_id}/user/{member_user_id}/authentication_methods:
    get:
      summary: List authentication methods for a user in the organization
      tags:
      - Users
      operationId: OrganizationUserAuthenticationMethodsList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserAuthenticationMethodsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/user/{member_user_id}:
    delete:
      summary: Remove a user from the organization
      tags:
      - Users
      operationId: OrganizationUserDelete
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      responses:
        '204':
          description: Remove a user from the organization
          content: {}
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - cannot_remove_managed_users_from_organization
                          - organization_must_have_one_super_admin
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'cannot_remove_managed_users_from_organization: Cannot remove managed users from organization. organization_must_have_one_super_admin: Organization must contain at least one super admin.'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - action_forbidden_for_managed_users
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'action_forbidden_for_managed_users: Requested action not allowed for managed users'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: Get details on a user of the organization
      tags:
      - Users
      operationId: OrganizationUserGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
    patch:
      summary: Update details on a user of the organization
      tags:
      - Users
      operationId: OrganizationUserUpdate
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUserUpdateRequestBody'
            example:
              city: Helsinki
              country: FI
              department: Workshop
              is_super_admin: true
              job_title: Carpenter
              real_name: Jane Smith
              state: active
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/user:
    get:
      summary: List users of the organization
      tags:
      - Users
      operationId: OrganizationUserList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organizationuserlist_include_application_users'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/user/{member_user_id}/reset_password:
    post:
      summary: Reset the password of a managed user in the organization
      tags:
      - Users
      operationId: OrganizationUserPasswordReset
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      responses:
        '204':
          description: Reset the password of a managed user in the organization
          content: {}
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/user/{member_user_id}/access-token/{token_prefix}:
    delete:
      summary: Revoke the token of a managed user in the organization
      tags:
      - Users
      operationId: OrganizationUserRevokeToken
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      - $ref: '#/components/parameters/token_prefix'
      responses:
        '204':
          description: Revoke the token of a managed user in the organization
          content: {}
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /organization/{organization_id}/user/{member_user_id}/access-tokens:
    get:
      summary: List tokens from an organization's member
      tags:
      - Users
      operationId: OrganizationUserTokensList
      description: Returns tokens generated using general authentication methods or authentication methods linked to the organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/member_user_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUserTokensListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /me/2fa:
    put:
      summary: Configure two-factor authentication
      tags:
      - Users
      operationId: TwoFactorAuthConfigure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorAuthConfigureRequestBody'
            example:
              method: otp
              password: '!@$password12345'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorAuthConfigureResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /me/2fa/otp:
    put:
      summary: Complete one-time password configuration
      tags:
      - Users
      operationId: TwoFactorAuthConfigureOTP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorAuthConfigureOTPRequestBody'
            example:
              otp: '987654'
              password: '!@$password12345'
              uri: otpauth://totp/Aiven:foo%40example.com?secret=NF4E6L2JPISKV3AI&issuer=Aiven
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorAuthConfigureOTPResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /user/{user_id}:
    delete:
      summary: Delete user account
      tags:
      - Users
      operationId: UserAccountDelete
      parameters:
      - $ref: '#/components/parameters/user_id'
      responses:
        '204':
          description: Delete user account
          content: {}
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - cannot_delete_active_managed_users
                          - cannot_delete_users_with_organizations_memberships
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'cannot_delete_active_managed_users: Managed users must be deactivated before deletion. Please deactivate the user first.. cannot_delete_users_with_organizations_memberships: To delete your user account, you have to first leave all organizations.'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - action_forbidden_for_managed_users
                          - action_forbidden_on_application_users
                          - action_forbidden_on_unmanaged_users
                          - user_not_organization_admin
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'action_forbidden_for_managed_users: Requested action not allowed for managed users. action_forbidden_on_application_users: Requested action not allowed on application users. action_forbidden_on_unmanaged_users: Requested action not allowed on unmanaged users. user_not_organization_admin: User is not organization administrator.'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /me/account/invites/accept:
    post:
      summary: Accept all invites for a single account
      tags:
      - Users
      operationId: UserAccountInvitesAccept
      deprecated: true
      description: Use the organization invitations API instead.
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountInvitesAcceptResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /me/account/invites:
    get:
      summary: List pending account invites
      tags:
      - Users
      operationId: UserAccountInvitesList
      deprecated: true
      description: Use the organization invitations API instead.
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountInvitesListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:read
        - authentication:read
  /me/account/invites/reject:
    post:
      summary: Reject invite to a team
      tags:
      - Users
      operationId: UserAccountInvitesReject
      deprecated: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountInvitesRejectResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /userauth:
    post:
      summary: Authenticate user
      tags:
      - Users
      operationId: UserAuth
      description: Authenticate user and return token for following authorizations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuthRequestBody'
            example:
              email: jane@example.com
              otp: '987654'
              password: '!@$password12345'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthResponse'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - user_deactivated
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'user_deactivated: Your account has been temporary suspended. Please contact your organization admin.'
  /userauth/login_options:
    post:
      summary: Get available login options
      tags:
      - Users
      operationId: UserAuthLoginOptions
      description: Get available user login options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuthLoginOptionsRequestBody'
            example:
              email: jane@example.com
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthLoginOptionsResponse'
  /me/authentication_methods/{user_authentication_method_id}:
    delete:
      summary: Delete linked authentication method, and revoke all associated access tokens
      tags:
      - Users
      operationId: UserAuthenticationMethodDelete
      parameters:
      - $ref: '#/components/parameters/user_authentication_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthenticationMethodDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /me/authentication_methods:
    get:
      summary: List linked authentication methods
      tags:
      - Users
      operationId: UserAuthenticationMethodsList
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthenticationMethodsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:read
        - authentication:read
  /me/expire_tokens:
    post:
      summary: Expire all authorization tokens
      tags:
      - Users
      operationId: UserExpireTokens
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExpireTokensResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /me:
    get:
      summary: Get information for the current session's user
      tags:
      - Users
      operationId: UserInfo
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:read
    patch:
      summary: Edit profile
      tags:
      - Users
      operationId: UserUpdate
      description: Updates details for the user. Returns user's updated information upon success.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequestBody'
            example:
              city: Berlin
              country: DE
              department: Account manager
              job_title: Account manager
              real_name: Jane Smith
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
  /me/logout:
    post:
      summary: Logout user, removing current authentication token
      tags:
      - Users
      operationId: UserLogout
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLogoutResponse'
      security:
      - tokenAuth: []
        oauth2: []
  /me/password:
    put:
      summary: Change user password
      tags:
      - Users
      operationId: UserPasswordChange
      description: Sets a new password for the user. Immediately expires all existing authentication tokens.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPasswordChangeRequestBody'
            example:
              new_password: xyz567
              password: '!@$password12345'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPasswordChangeResponse'
      security:
      - tokenAuth: []
        oauth2:
        - user:write
        - authentication:write
  /user/password_reset/{verification_code}:
    post:
      summary: Confirm user password reset
      tags:
      - Users
      operationId: UserPasswordReset
      parameters:
      - $ref: '#/components/parameters/verification_code'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPasswordResetRequestBody'
            example:
              new_password: xyz567
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPasswordResetResponse'
  /user/password_reset_request:
    post:
      summary: Request user password reset
      tags:
      - Users
      operationId: UserPasswordResetRequest
      description: Request a password reset code to be sent to the user's email address.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPasswordResetRequestRequestBody'
            example:
              email: jane@example.com
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPasswordResetRequestResponse'
  /user/verify_email/{verification_code}:
    post:
      summary: Confirm user email address
      tags:
      - Users
      operationId: UserVerifyEmail
      description: Confirm user email address after user has received the confirm code via email.
      parameters:
      - $ref: '#/components/parameters/verification_code'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVerifyEmailResponse'
  /user/credit_code/{credit_code}:
    get:
      summary: Validate campaign credit code
      tags:
      - Users
      operationId: ValidateCreditCode
      parameters:
      - $ref: '#/components/parameters/credit_code'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCreditCodeResponse'
  /me/referral/validation/{referral_code}:
    get:
      summary: Validate referral_code code
      tags:
      - Users
      operationId: ValidateReferralCode
      parameters:
      - $ref: '#/components/parameters/referral_code'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateReferralCodeResponse'
components:
  schemas:
    CheckPasswordStrengthNewUserResponse:
      type: object
      description: CheckPasswordStrengthNewUserResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        password_strength:
          type: object
          description: Password strength
          properties:
            is_acceptable:
              type: boolean
              description: True if the password is acceptable
            message:
              type: string
              description: Password strength message
            score:
              type: integer
              minimum: 0
              maximum: 4
              description: Password strength score
          required:
          - message
          - score
      required:
      - password_strength
    UserPasswordChangeRequestBody:
      type: object
      description: UserPasswordChangeRequestBody
      properties:
        new_password:
          type: string
          maxLength: 256
          description: New password
        password:
          type: string
          maxLength: 256
          description: Current password
      required:
      - new_password
      - password
    UserAuthLoginOptionsRequestBody:
      type: object
      description: UserAuthLoginOptionsRequestBody
      properties:
        email:
          type: string
          maxLength: 254
          description: User email address
    TwoFactorAuthConfigureResponse:
      type: object
      description: TwoFactorAuthConfigureResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        method:
          type: string
          maxLength: 32
          description: Two-factor authentication method being used, if any
        qrcode:
          type: string
          description: QR code describing the TOTP as a base64-encoded PNG
        uri:
          type: string
          maxLength: 2048
          description: URI describing the TOTP
      required:
      - method
    UserPasswordResetRequestResponse:
      type: object
      description: UserPasswordResetRequestResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    CheckPasswordStrengthNewUserRequestBody:
      type: object
      description: CheckPasswordStrengthNewUserRequestBody
      properties:
        email:
          type: string
          maxLength: 254
          description: User email address
        password:
          type: string
          maxLength: 256
          description: New password
        real_name:
          type: string
          maxLength: 256
          description: User real name
      required:
      - password
    UserAuthenticationMethodDeleteResponse:
      type: object
      description: UserAuthenticationMethodDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    UserAccountInvitesAcceptResponse:
      type: object
      description: UserAccountInvitesAcceptResponse
      properties:
        account_invites:
          type: array
          description: List of invites
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              account_name:
                type: string
                maxLength: 83
                description: Account name
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              invited_by_user_email:
                type: string
                maxLength: 254
                description: User email address
              team_id:
                type: string
                maxLength: 32
                description: Team ID
              team_name:
                type: string
                maxLength: 128
                description: Team name
              user_email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - account_id
            - account_name
            - create_time
            - invited_by_user_email
            - team_id
            - team_name
            - user_email
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - account_invites
    TwoFactorAuthConfigureOTPResponse:
      type: object
      description: TwoFactorAuthConfigureOTPResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        method:
          type: string
          maxLength: 32
          description: Two-factor authentication method being used, if any
        token:
          type: string
          description: New API session authentication token when configuration is complete
      required:
      - method
      - token
    OrganizationUserUpdateRequestBody:
      type: object
      description: OrganizationUserUpdateRequestBody
      properties:
        city:
          type: string
          maxLength: 512
          description: City
        country:
          type: string
          description: Country
        department:
          type: string
          description: Department
        is_super_admin:
          type: boolean
          description: Alters super admin state of the organization user
        job_title:
          type: string
          description: Job Title
        real_name:
          type: string
          maxLength: 256
          description: Real Name
        state:
          type: string
          description: An enumeration.
          title: State of the user in the organization
          enum:
          - active
          - deactivated
          - deleted
    AccessTokenRevokeResponse:
      type: object
      description: AccessTokenRevokeResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    OrganizationMemberGroupsListResponse:
      type: object
      description: OrganizationMemberGroupsListResponse
      properties:
        user_groups:
          type: array
          description: User Groups
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: User group creation time
              description:
                type: string
                maxLength: 4096
                description: Description
              managed_by_scim:
                type: boolean
                description: Managed By Scim
              update_time:
                type: string
                maxLength: 36
                description: User group last update time
              user_group_id:
                type: string
                maxLength: 36
                description: User Group ID
              user_group_name:
                type: string
                maxLength: 128
                description: User Group Name
            required:
            - create_time
            - description
            - managed_by_scim
            - update_time
            - user_group_id
            - user_group_name
      required:
      - user_groups
    UserPasswordResetRequestBody:
      type: object
      description: UserPasswordResetRequestBody
      properties:
        new_password:
          type: string
          maxLength: 256
          description: New password
      required:
      - new_password
    UserAccountInvitesRejectResponse:
      type: object
      description: UserAccountInvitesRejectResponse
      properties:
        account_invites:
          type: array
          description: List of invites
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              account_name:
                type: string
                maxLength: 83
                description: Account name
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              invited_by_user_email:
                type: string
                maxLength: 254
                description: User email address
              team_id:
                type: string
                maxLength: 32
                description: Team ID
              team_name:
                type: string
                maxLength: 128
                description: Team name
              user_email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - account_id
            - account_name
            - create_time
            - invited_by_user_email
            - team_id
            - team_name
            - user_email
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - account_invites
    OrganizationUserAuthenticationMethodsListResponse:
      type: object
      description: OrganizationUserAuthenticationMethodsListResponse
      properties:
        authentication_methods:
          type: array
          description: List of authentication methods for the organization user
          items:
            type: object
            properties:
              is_enabled_2fa:
                type: boolean
                description: Verifies if 2FA is enabled for the user
                default: false
              last_used_time:
                type: string
                maxLength: 36
                description: Last activity time with the authentication method
              local_provider_id:
                type: string
                description: Local authentication method provider resource ID
              method_id:
                type: string
                description: User authentication method ID
              name:
                type: string
                description: Name of the organization authentication method
              organization_id:
                type: string
                description: Organization ID
              remote_provider_id:
                type: string
                description: Remote authentication method provider ID
              type:
                type: string
                description: Type of the organization authentication method
              user_email:
                type: string
                description: User's email address for the authentication method
              user_id:
                type: string
                description: User ID
            required:
            - remote_provider_id
      required:
      - authentication_methods
    AccessTokenCreateResponse:
      type: object
      description: AccessTokenCreateResponse
      properties:
        create_time:
          type: string
          description: Timestamp when the access token was created
        created_manually:
          type: boolean
          description: True for tokens explicitly created via the access_tokens API, false for tokens created via login.
        currently_active:
          type: boolean
          description: true if API request was made with this access token
        description:
          type: string
          maxLength: 1000
          description: Name / description of an access token
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        expiry_time:
          type: string
          description: Timestamp when the access token will expire unless extended, if ever
        extend_when_used:
          type: boolean
          description: Extend token expiration time when token is used. Only applicable if max_age_seconds is specified.
        full_token:
          type: string
          description: This full access token can be used to make API calls. This can also be used to update or revoke tokens. Note that when using this token with the update and revoke APIs it must be URL encoded because it may contain /, + and = characters (/ =&gt; %2F, + =&gt; %2B, = =&gt; %3D).
        ip_allowlist:
          type: array
          maxItems: 100
          description: List of allowed IP ranges
          items:
            type: string
        last_ip:
          type: string
          description: IP address the access token was last used from in case it has ever been used
        last_used_time:
          type: string
          description: Timestamp when the access token was last used, if ever
        last_user_agent:
          type: string
          description: User agent string of the client that last used the token in case it has ever been used
        last_user_agent_human_readable:
          type: string
          description: Human readable user agent string of the client that last used the token in case user agent is known
        max_age_seconds:
          type: number
          minimum: 600
          maximum: 315360000
          description: Time the token remains valid since creation (or since last use if extend_when_used is true)
        message:
          type: string
          description: Printable result of the request
        scopes:
          type: array
          maxItems: 100
          description: Scopes this token is restricted to, if specified
          items:
            type: string
        token_prefix:
          type: string
          description: First characters of the actual token value. Full value is only exposed after creation. This value is used when updating or revoking tokens. Note that the value may contain /, + and = characters and must be URL encoded when used (/ =&gt; %2F, + =&gt; %2B, = =&gt; %3D).
      required:
      - create_time
      - created_manually
      - extend_when_used
      - full_token
      - max_age_seconds
      - token_prefix
    UserPasswordChangeResponse:
      type: object
      description: UserPasswordChangeResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        token:
          type: string
          description: API session authentication token
      required:
      - token
    TwoFactorAuthConfigureRequestBody:
      type: object
      description: TwoFactorAuthConfigureRequestBody
      properties:
        method:
          type: string
          maxLength: 32
          description: Two-factor authentication method being used, if any
        password:
          type: string
          maxLength: 256
          description: Current password
      required:
      - method
      - password
    TwoFactorAuthConfigureOTPRequestBody:
      type: object
      description: TwoFactorAuthConfigureOTPRequestBody
      properties:
        otp:
          type: string
          maxLength: 6
          description: One-time password
        password:
          type: string
          maxLength: 256
          description: Current password
        uri:
          type: string
          maxLength: 2048
          description: URI describing the TOTP
      required:
      - otp
      - password
      - uri
    CheckPasswordStrengthExistingUserRequestBody:
      type: object
      description: CheckPasswordStrengthExistingUserRequestBody
      properties:
        new_password:
          type: string
          maxLength: 256
          description: New password
        old_password:
          type: string
          maxLength: 256
          description: User password
      required:
      - new_password
      - old_password
    OrganizationMemberPermissionsListResponse:
      type: object
      description: OrganizationMemberPermissionsListResponse
      properties:
        permissions:
          type: array
          description: Organization member permissions
          items:
            type: object
            properties:
              permissions:
                type: array
                description: List of roles
                items:
                  type: string
              resource_id:
                type: string
                description: Resource Identifier
              resource_type:
                type: string
                description: An enumeration.
                title: Resource type
                enum:
                - project
                - organization
                - organization_unit
            required:
            - permissions
            - resource_id
            - resource_type
      required:
      - permissions
    UserVerifyEmailResponse:
      type: object
      description: UserVerifyEmailResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        invite_details:
          type: object
          description: Details of verified invite
          properties:
            user_email:
              type: string
              maxLength: 254
              description: User email address
          required:
          - user_email
        message:
          type: string
          description: Printable result of the request
      required:
      - invite_details
    OrganizationUserUpdateResponse:
      type: object
      description: OrganizationUserUpdateResponse
      properties:
        is_super_admin:
          type: boolean
          description: Super admin state of the organization user
        join_time:
          type: string
          maxLength: 36
          description: Join time
        last_activity_time:
          type: string
          maxLength: 36
          description: Last activity time
        user_id:
          type: string
          description: User ID
        user_info:
          type: object
          description: OrganizationUserInfo
          properties:
            city:
              type: string
              maxLength: 512
              description: City
            country:
              type: string
              description: Country
            create_time:
              type: string
              maxLength: 36
              description: Creation time
            department:
              type: string
              description: Department
            is_application_user:
              type: boolean
              description: Is Application User
            job_title:
              type: string
              description: Job Title
            managed_by_scim:
              type: boolean
              description: Managed By Scim
            managing_organization_id:
              type: string
              maxLength: 36
              description: Managing Organization ID
            real_name:
              type: string
              maxLength: 256
              description: Real Name
            state:
              type: string
              description: State
            user_email:
              type: string
              maxLength: 254
              description: User Email
          required:
          - create_time
          - is_application_user
          - managed_by_scim
          - real_name
          - state
          - user_email
      required:
      - is_super_admin
      - join_time
      - last_activity_time
      - user_id
      - user_info
    UserUpdateResponse:
      type: object
      description: UserUpdateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        user:
          type: object
          description: User information
          properties:
            auth:
              type: array
              description: List of user's required authentication methods
              items:
                type: string
            city:
              type: string
              maxLength: 256
              description: City
            country:
              type: string
              maxLength: 256
              description: Country code ISO 3166-1 alpha-2
            create_time:
              type: string
              maxLength: 36
              description: User registration time
            department:
              type: string
              maxLength: 256
              description: Job department
            features:
              type: object
              description: Feature flags
              properties: {}
            invitations:
              type: array
              description: List of pending invitations
              items:
                type: object
                properties:
                  invite_code:
                    type: string
                    description: Code for accepting the invitation
                  invite_time:
                    type: string
                    maxLength: 36
                    description: Timestamp in ISO 8601 format, always in UTC
                  inviting_user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                  project_name:
                    type: string
                    maxLength: 63
                    description: Project name
                required:
                - invite_code
                - invite_time
                - inviting_user_email
                - project_name
            job_title:
              type: string
              maxLength: 256
              description: Job title
            managed_by_scim:
              type: boolean
              description: User management status
            managing_organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            project_membership:
              type: object
              description: Project membership and type of membership
              properties:
                ANY:
                  type: string
                  description: Project member type
                  enum:
                  - admin
                  - developer
                  - operator
                  - organization:app_users:write
                  - organization:audit_logs:read
                  - organization:billing:read
                  - organization:billing:write
                  - organization:domains:write
                  - organization:groups:write
                  - organization:networking:read
                  - organization:networking:write
                  - organization:projects:write
                  - organization:users:write
                  - project:audit_logs:read
                  - project:integrations:read
                  - project:integrations:write
                  - project:networking:read
                  - project:networking:write
                  - project:permissions:read
                  - project:services:read
                  - project:services:write
                  - read_only
                  - role:organization:admin
                  - role:project:admin
                  - role:services:maintenance
                  - role:services:recover
                  - service:configuration:write
                  - service:data:write
                  - service:logs:read
                  - service:metrics:read
                  - service:secrets:read
                  - service:users:write
            project_memberships:
              type: object
              description: List of project membership and type of membership
              properties:
                ANY:
                  type: array
                  description: List of project member type
                  items:
                    type: string
            projects:
              type: array
              description: List of projects the user is a member of
              items:
                type: string
            real_name:
              type: string
              maxLength: 256
              description: User real name
            state:
              type: string
              description: User account state
            tenant:
              type: string
              maxLength: 64
              description: Tenant identifier
            token_validity_begin:
              type: string
              maxLength: 36
              description: Earliest valid authentication token timestamp
            user:
              type: string
              maxLength: 254
              description: User email address
            user_id:
              type: string
              description: User ID
          required:
          - auth
          - invitations
          - project_membership
          - project_memberships
          - projects
          - real_name
          - state
          - tenant
          - user
          - user_id
      required:
      - user
    UserAccountInvitesListResponse:
      type: object
      description: UserAccountInvitesListResponse
      properties:
        account_invites:
          type: array
          description: List of invites
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              account_name:
                type: string
                maxLength: 83
                description: Account name
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              invited_by_user_email:
                type: string
                maxLength: 254
                description: User email address
              team_id:
                type: string
                maxLength: 32
                description: Team ID
              team_name:
                type: string
                maxLength: 128
                description: Team name
              user_email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - account_id
            - account_name
            - create_time
            - invited_by_user_email
            - team_id
            - team_name
            - user_email
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - account_invites
    OrganizationUserTokensListResponse:
      type: object
      description: OrganizationUserTokensListResponse
      properties:
        tokens:
          type: array
          description: List of user tokens accessible to the organization
          items:
            type: object
            properties:
              description:
                type: string
                description: Description
              ip_allowlist:
                type: array
                description: List of IP addresses that are allowed to use the token
                items:
                  type: string
              last_ip:
                type: string
                description: Last-used IP
              last_used_time:
                type: string
                maxLength: 36
                description: Last-used time
              last_user_agent:
                type: string
                description: Last-used user agent
              token_prefix:
                type: string
                description: Token prefix
            required:
            - description
            - ip_allowlist
            - last_ip
            - last_used_time
            - last_user_agent
            - token_prefix
      required:
      - tokens
    OrganizationUserListResponse:
      type: object
      description: OrganizationUserListResponse
      properties:
        users:
          type: array
          description: List of users of the organization
          items:
            type: object
            properties:
              is_super_admin:
                type: boolean
                description: Super admin state of the organization user
              join_time:
                type: string
                maxLength: 36
                description: Join time
              last_activity_time:
                type: string
                maxLength: 36
                description: Last activity time
              user_id:
                type: string
                description: User ID
              user_info:
                type: object
                description: OrganizationUserInfo
                properties:
                  city:
                    type: string
                    maxLength: 512
                    description: City
                  country:
                    type: string
                    description: Country
                  create_time:
                    type: string
                    maxLength: 36
                    description: Creation time
                  department:
                    type: string
                    description: Department
                  is_application_user:
                    type: boolean
                    description: Is Application User
                  job_title:
                    type: string
                    description: Job Title
                  managed_by_scim:
                    type: boolean
                    description: Managed By Scim
                  managing_organization_id:
                    type: string
                    maxLength: 36
                    description: Managing Organization ID
                  real_name:
                    type: string
                    maxLength: 256
                    description: Real Name
                  state:
                    type: string
                    description: State
                  user_email:
                    type: string
                    maxLength: 254
                    description: User Email
                required:
                - create_time
                - is_application_user
                - managed_by_scim
                - real_name
                - state
                - user_email
            required:
            - is_super_admin
            - join_time
            - last_activity_time
            - user_id
            - user_info
      required:
      - users
    OrganizationUserGetResponse:
      type: object
      description: OrganizationUserGetResponse
      properties:
        is_super_admin:
          type: boolean
          description: Super admin state of the organization user
        join_time:
          type: string
          maxLength: 36
          description: Join time
        last_activity_time:
          type: string
          maxLength: 36
          description: Last activity time
        user_id:
          type: string
          description: User ID
        user_info:
          type: object
          description: OrganizationUserInfo
          properties:
            city:
              type: string
              maxLength: 512
              description: City
            country:
              type: string
              description: Country
            create_time:
              type: string
              maxLength: 36
              description: Creation time
            department:
              type: string
              description: Department
            is_application_user:
              type: boolean
              description: Is Application User
            job_title:
              type: string
              description: Job Title
            managed_by_scim:
              type: boolean
              description: Managed By Scim
            managing_organization_id:
              type: string
              maxLength: 36
              description: Managing Organization ID
            real_name:
              type: string
              maxLength: 256
              description: Real Name
            state:
              type: string
              description: State
            user_email:
              type: string
              maxLength: 254
              description: User Email
          required:
          - create_time
          - is_application_user
          - managed_by_scim
          - real_name
          - state
          - user_email
      required:
      - is_super_admin
      - join_time
      - last_activity_time
      - user_id
      - user_info
    UserAuthRequestBody:
      type: object
      description: UserAuthRequestBody
      properties:
        email:
          type: string
          maxLength: 254
          description: User email address
        otp:
          type: string
          maxLength: 6
          description: One-time password
        password:
          type: string
          maxLength: 256
          description: User password
      required:
      - email
      - password
    AccessTokenCreateRequestBody:
      type: object
      description: AccessTokenCreateRequestBody
      properties:
        description:
          type: string
          maxLength: 1000
          description: Name / description of an access token
        extend_when_used:
          type: boolean
          description: Extend token expiration time when token is used. Only applicable if max_age_seconds is specified.
          default: false
        ip_allowlist:
          type: array
          maxItems: 100
          description: List of allowed IP ranges
          items:
            type: string
        max_age_seconds:
          type: number
          minimum: 600
          maximum: 315360000
          description: Time the token remains valid since creation (or since last use if extend_when_used is true)
        scopes:
          type: array
          maxItems: 100
          description: Scopes this token is restricted to, if specified
          items:
            type: string
      required:
      - description
    UserAuthLoginOptionsResponse:
      type: object
      description: UserAuthLoginOptionsResponse
      properties:
        None:
          type: array
          description: List of available login methods
          items:
            type: object
            properties: {}
        action:
          type: string
          description: Action
          enum:
          - azure_oauth
          - github_oauth
          - google_oauth
          - hasura_oauth
          - password
          - saml
          - signup
        method:
          type: string
          description: HTTP method used for redirecting
          enum:
          - POST
          - GET
        name:
          type: string
          description: Human readable name
        redirect_url:
          type: string
          description: Redirect URL for signing in
      required:
      - action
    UserAuthenticationMethodsListResponse:
      type: object
      description: UserAuthenticationMethodsListResponse
      properties:
        authentication_methods:
          type: array
          description: List of linked authentication methods
          items:
            type: object
            properties:
              authentication_method_account_id:
                type: string
                maxLength: 36
                description: Account ID
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              currently_active:
                type: boolean
                description: true if API was accessed with this authentication method
              delete_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              last_used_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              method_id:
                type: string
                description: Unique ID for authentication method
              name:
                type: string
                maxLength: 128
                description: Authentication method name
              public_remote_identity:
                type: string
                description: Identity on remote provider, if available. May be email address, but not necessarily.
              remote_provider_id:
                type: string
                description: Provider ID
              state:
                type: string
                description: State for authentication method
                enum:
                - active
                - deleted
              update_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              user_email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - authentication_method_account_id
            - create_time
            - currently_active
            - delete_time
            - last_used_time
            - method_id
            - public_remote_identity
            - remote_provider_id
            - state
            - update_time
            - user_email
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - authentication_methods
    UserPasswordResetRequestRequestBody:
      type: object
      description: UserPasswordResetRequestRequestBody
      properties:
        email:
          type: string
          maxLength: 254
          description: User email address
      required:
      - email
    CheckPasswordStrengthExistingUserResponse:
      type: object
      description: CheckPasswordStrengthExistingUserResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        password_strength:
          type: object
          description: Password strength
          properties:
            is_acceptable:
              type: boolean
              description: True if the password is acceptable
            message:
              type: string
              description: Password strength message
            score:
              type: integer
              minimum: 0
              maximum: 4
              description: Password strength score
          required:
          - message
          - score
      required:
      - password_strength
    AccessTokenUpdateRequestBody:
      type: object
      description: AccessTokenUpdateRequestBody
      properties:
        description:
          type: string
          maxLength: 1000
          description: Name / description of an access token
      required:
      - description
    UserInfoResponse:
      type: object
      description: UserInfoResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        user:
          type: object
          description: User information
          properties:
            auth:
              type: array
              description: List of user's required authentication methods
              items:
                type: string
            city:
              type: string
              maxLength: 256
              description: City
            country:
              type: string
              maxLength: 256
              description: Country code ISO 3166-1 alpha-2
            create_time:
              type: string
              maxLength: 36
              description: User registration time
            department:
              type: string
              maxLength: 256
              description: Job department
            features:
              type: object
              description: Feature flags
              properties: {}
            invitations:
              type: array
              description: List of pending invitations
              items:
                type: object
                properties:
                  invite_code:
                    type: string
                    description: Code for accepting the invitation
                  invite_time:
                    type: string
                    maxLength: 36
                    description: Timestamp in ISO 8601 format, always in UTC
                  inviting_user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                  project_name:
                    type: string
                    maxLength: 63
                    description: Project name
                required:
                - invite_code
                - invite_time
                - inviting_user_email
                - project_name
            job_title:
              type: string
              maxLength: 256
              description: Job title
            managed_by_scim:
              type: boolean
              description: User management status
            managing_organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            project_membership:
              type: object
              description: Project membership and type of membership
              properties:
                ANY:
                  type: string
                  description: Project member type
                  enum:
                  - admin
                  - developer
                  - operator
                  - organization:app_users:write
                  - organization:audit_logs:read
                  - organization:billing:read
                  - organization:billing:write
                  - organization:domains:write
                  - organization:groups:write
                  - organization:networking:read
                  - organization:networking:write
                  - organization:projects:write
                  - organization:users:write
                  - project:audit_logs:read
                  - project:integrations:read
                  - project:integrations:write
                  - project:networking:read
                  - project:networking:write
                  - project:permissions:read
                  - project:services:read
                  - project:services:write
                  - read_only
                  - role:organization:admin
                  - role:project:admin
                  - role:services:maintenance
                  - role:services:recover
                  - service:configuration:write
                  - service:data:write
                  - service:logs:read
                  - service:metrics:read
                  - service:secrets:read
                  - service:users:write
            project_memberships:
              type: object
              description: List of project membership and type of membership
              properties:
                ANY:
                  type: array
                  description: List of project member type
                  items:
                    type: string
            projects:
              type: array
              description: List of projects the user is a member of
              items:
                type: string
            real_name:
              type: string
              maxLength: 256
              description: User real name
            state:
              type: string
              description: User account state
            tenant:
              type: string
              maxLength: 64
              description: Tenant identifier
            token_validity_begin:
              type: string
              maxLength: 36
              description: Earliest valid authentication token timestamp
            user:
              type: string
              maxLength: 254
              description: User email address
            user_id:
              type: string
              description: User ID
          required:
          - auth
          - invitations
          - project_membership
          - project_memberships
          - projects
          - real_name
          - state
          - tenant
          - user
          - user_id
      required:
      - user
    UserLogoutResponse:
      type: object
      description: UserLogoutResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    UserPasswordResetResponse:
      type: object
      description: UserPasswordResetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    AccessTokenUpdateResponse:
      type: object
      description: AccessTokenUpdateResponse
      properties:
        create_time:
          type: string
          description: Timestamp when the access token was created
        created_manually:
          type: boolean
          description: True for tokens explicitly created via the access_tokens API, false for tokens created via login.
        currently_active:
          type: boolean
          description: true if API request was made with this access token
        description:
          type: string
          maxLength: 1000
          description: Name / description of an access token
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        expiry_time:
          type: string
          description: Timestamp when the access token will expire unless extended, if ever
        extend_when_used:
          type: boolean
          description: Extend token expiration time when token is used. Only applicable if max_age_seconds is specified.
        ip_allowlist:
          type: array
          maxItems: 100
          description: List of allowed IP ranges
          items:
            type: string
        last_ip:
          type: string
          description: IP address the access token was last used from in case it has ever been used
        last_used_time:
          type: string
          description: Timestamp when the access token was last used, if ever
        last_user_agent:
          type: string
          description: User agent string of the client that last used the token in case it has ever been used
        last_user_agent_human_readable:
          type: string
          description: Human readable user agent string of the client that last used the token in case user agent is known
        max_age_seconds:
          type: number
          minimum: 600
          maximum: 315360000
          description: Time the token remains valid since creation (or since last use if extend_when_used is true)
        message:
          type: string
          description: Printable result of the request
        scopes:
          type: array
          maxItems: 100
          description: Scopes this token is restricted to, if specified
          items:
            type: string
        token_prefix:
          type: string
          description: First characters of the actual token value. Full value is only exposed after creation. This value is used when updating or revoking tokens. Note that the value may contain /, + and = characters and must be URL encoded when used (/ =&gt; %2F, + =&gt; %2B, = =&gt; %3D).
      required:
      - create_time
      - extend_when_used
      - max_age_seconds
      - token_prefix
    ValidateCreditCodeResponse:
      type: object
      description: ValidateCreditCodeResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    UserExpireTokensResponse:
      type: object
      description: UserExpireTokensResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    UserAuthResponse:
      type: object
      description: UserAuthResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        return_url:
          type: string
          description: Return URL
        state:
          type: string
          description: User account state
        tenant:
          type: string
          maxLength: 64
          description: Tenant identifier
        token:
          type: string
          description: API session authentication token
        user_email:
          type: string
          maxLength: 254
          description: User email address
      required:
      - state
      - token
      - user_email
    AccessTokenListResponse:
      type: object
      description: AccessTokenListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        tokens:
          type: array
          description: List of access tokens
          items:
            type: object
            properties:
              create_time:
                type: string
                description: Timestamp when the access token was created
              created_manually:
                type: boolean
                description: True for tokens explicitly created via the access_tokens API, false for tokens created via login.
              currently_active:
                type: boolean
                description: true if API request was made with this access token
              description:
                type: string
                maxLength: 1000
                description: Name / description of an access token
              expiry_time:
                type: string
                description: Timestamp when the access token will expire unless extended, if ever
              extend_when_used:
                type: boolean
                description: Extend token expiration time when token is used. Only applicable if max_age_seconds is specified.
              ip_allowlist:
                type: array
                maxItems: 100
                description: List of allowed IP ranges
                items:
                  type: string
              last_ip:
                type: string
                description: IP address the access token was last used from in case it has ever been used
              last_used_time:
                type: string
                description: Timestamp when the access token was last used, if ever
              last_user_agent:
                type: string
                description: User agent string of the client that last used the token in case it has ever been used
              last_user_agent_human_readable:
                type: string
                description: Human readable user agent string of the client that last used the token in case user agent is known
              max_age_seconds:
                type: number
                minimum: 600
                maximum: 315360000
                description: Time the token remains valid since creation (or since last use if extend_when_used is true)
              scopes:
                type: array
                maxItems: 100
                description: Scopes this token is restricted to, if specified
                items:
                  type: string
              token_prefix:
                type: string
                description: First characters of the actual token value. Full value is only exposed after creation. This value is used when updating or revoking tokens. Note that the value may contain /, + and = characters and must be URL encoded when used (/ =&gt; %2F, + =&gt; %2B, = =&gt; %3D).
            required:
            - create_time
            - created_manually
            - extend_when_used
            - max_age_seconds
            - token_prefix
      required:
      - tokens
    ValidateReferralCodeResponse:
      type: object
      description: ValidateReferralCodeResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    UserUpdateRequestBody:
      type: object
      description: UserUpdateRequestBody
      properties:
        city:
          type: string
          maxLength: 256
          description: City
        country:
          type: string
          maxLength: 256
          description: Country code ISO 3166-1 alpha-2
        department:
          type: string
          maxLength: 256
          description: Job department
        job_title:
          type: string
          maxLength: 256
          description: Job title
        real_name:
          type: string
          maxLength: 256
          description: User real name
      required:
      - real_name
  parameters:
    user_authentication_method_id:
      in: path
      name: user_authentication_method_id
      description: User authentication method ID
      schema:
        type: string
      required: true
    verification_code:
      in: path
      name: verification_code
      description: Verification code received via email
      schema:
        type: string
      required: true
    credit_code:
      in: path
      name: credit_code
      description: Credit Code
      schema:
        type: string
      required: true
    token_prefix:
      in: path
      name: token_prefix
      description: Access token prefix
      schema:
        type: string
      required: true
    organizationuserlist_include_application_users:
      in: query
      name: include_application_users
      description: Include application users in the response. Defaults to true.
      schema:
        type: boolean
      required: false
    user_id:
      in: path
      name: user_id
      description: User ID
      schema:
        type: string
      required: true
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
    member_user_id:
      in: path
      name: member_user_id
      description: ID of the organization's user
      schema:
        type: string
      required: true
    referral_code:
      in: path
      name: referral_code
      description: Referral Code
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
[...]
