openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Secrets API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Secrets
  x-displayName: Secrets
paths:
  /project/{project}/secrets/cmks/{cmk_id}/access_check:
    post:
      summary: Trigger an access check on CMK
      tags:
      - Secrets
      operationId: CMKAccessCheckTrigger
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/cmk_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKAccessCheckTriggerResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '400':
          description: Invalid CMK ID format
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invalid_cmk_id
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invalid_cmk_id: Invalid CMK ID format'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/secrets/cmks/accessors:
    get:
      summary: List CMK accessors
      tags:
      - Secrets
      operationId: CMKAccessorsList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKAccessorsListResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/secrets/cmks:
    post:
      summary: Create new CMK
      tags:
      - Secrets
      operationId: CMKCreate
      description: 'Request example: { "provider": "aws", "resource": "arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012" } Response example: { "cmk": { "id": "550e8400-e29b-41d4-a716-446655440000", "provider": "aws", "resource": "arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012", "status": "current", "default_cmk": False, "created_at": "2025-01-15T10:30:00Z", "updated_at": "2025-01-15T10:30:00Z" } }'
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CMKCreateRequestBody'
            example:
              default_cmk: true
              provider: aws
              resource: my-resource
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKCreateResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    get:
      summary: List CMKs
      tags:
      - Secrets
      operationId: CMKList
      description: 'Response example: { "cmks": [ { "id": "550e8400-e29b-41d4-a716-446655440000", "provider": "aws", "resource": "arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012", "status": "current", "created_at": "2025-01-15T10:30:00Z", "updated_at": "2025-01-15T10:30:00Z" } ] }'
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKListResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /project/{project}/secrets/cmks/{cmk_id}:
    delete:
      summary: Delete CMK
      tags:
      - Secrets
      operationId: CMKDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/cmk_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKDeleteResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '400':
          description: Invalid CMK ID format
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invalid_cmk_id
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invalid_cmk_id: Invalid CMK ID format'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
    get:
      summary: Get CMK details
      tags:
      - Secrets
      operationId: CMKGet
      description: 'Response example: { "cmk": { "id": "550e8400-e29b-41d4-a716-446655440000", "provider": "aws", "resource": "arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012", "status": "current", "created_at": "2025-01-15T10:30:00Z", "updated_at": "2025-01-15T10:30:00Z" } }'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/cmk_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKGetResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '400':
          description: Invalid CMK ID format
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invalid_cmk_id
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invalid_cmk_id: Invalid CMK ID format'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
    post:
      summary: Update CMK
      tags:
      - Secrets
      operationId: CMKUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/cmk_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CMKUpdateRequestBody'
            example:
              default_cmk: false
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKUpdateResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '400':
          description: Invalid CMK ID format
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invalid_cmk_id
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invalid_cmk_id: Invalid CMK ID format'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
  /project/{project}/secrets/cmks/{cmk_id}/service_associations:
    get:
      summary: List services associated with a CMK
      tags:
      - Secrets
      operationId: CMKServiceAssociationsList
      description: 'Returns a list of services associated with a given CMK and their association status. Response example: { "service_associations": [ {"service_name": "my-pg-service", "status": "active"}, {"service_name": "my-kafka", "status": "activating"} ] }'
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/cmk_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMKServiceAssociationsListResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - project_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'project_not_found: Project not found'
        '400':
          description: Invalid CMK ID format
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - invalid_cmk_id
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'invalid_cmk_id: Invalid CMK ID format'
        '403':
          description: This feature is not enabled in your context, please contact support to enable it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - feature_not_enabled
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'feature_not_enabled: This feature is not enabled in your context, please contact support to enable it'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
components:
  schemas:
    CMKCreateResponse:
      type: object
      description: CMKCreateResponse
      properties:
        cmk:
          type: object
          description: CMK
          properties:
            created_at:
              type: string
              description: Created at
            default_cmk:
              type: boolean
              description: CMK is used as a default for all newly created services.
              title: Default CMK
            id:
              type: string
              minLength: 36
              maxLength: 36
              description: Customer Managed Key identifier (CMK ID)
            provider:
              type: string
              description: CMK provider
              enum:
              - aws
              - azure
              - gcp
              - oci
            resource:
              type: string
              description: Resource name
            status:
              type: string
              description: Status
              enum:
              - current
              - old
              - deleted
            updated_at:
              type: string
              description: Updated at
          required:
          - created_at
          - default_cmk
          - id
          - provider
          - resource
          - status
          - updated_at
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - cmk
    CMKCreateRequestBody:
      type: object
      description: CMKCreateRequestBody
      properties:
        default_cmk:
          type: boolean
          description: Mark the created CMK as default for all newly created services.
          title: Default CMK
        provider:
          type: string
          description: CMK provider
          enum:
          - aws
          - azure
          - gcp
          - oci
        resource:
          type: string
          minLength: 1
          maxLength: 512
          description: Resource name
      required:
      - provider
      - resource
    CMKServiceAssociationsListResponse:
      type: object
      description: CMKServiceAssociationsListResponse
      properties:
        service_associations:
          type: array
          description: Service Associations
          items:
            type: object
            properties:
              service_name:
                type: string
                description: Service name
              status:
                type: string
                description: Association status
            required:
            - service_name
            - status
      required:
      - service_associations
    CMKListResponse:
      type: object
      description: CMKListResponse
      properties:
        cmks:
          type: array
          description: Cmks
          items:
            type: object
            properties:
              created_at:
                type: string
                description: Created At
              default_cmk:
                type: boolean
                description: Default Cmk
              id:
                type: string
                description: ID
              resource:
                type: string
                description: Resource
              updated_at:
                type: string
                description: Updated At
            required:
            - created_at
            - default_cmk
            - id
            - resource
            - updated_at
      required:
      - cmks
    CMKDeleteResponse:
      type: object
      description: CMKDeleteResponse
      properties:
        cmk:
          type: object
          description: CMK
          properties:
            created_at:
              type: string
              description: Created At
            default_cmk:
              type: boolean
              description: Default Cmk
            id:
              type: string
              description: ID
            resource:
              type: string
              description: Resource
            updated_at:
              type: string
              description: Updated At
          required:
          - created_at
          - default_cmk
          - id
          - resource
          - updated_at
      required:
      - cmk
    CMKAccessCheckTriggerResponse:
      type: object
      description: CMKAccessCheckTriggerResponse
      properties:
        cmk:
          type: object
          description: CMK
          properties:
            created_at:
              type: string
              description: Created At
            default_cmk:
              type: boolean
              description: Default Cmk
            id:
              type: string
              description: ID
            resource:
              type: string
              description: Resource
            updated_at:
              type: string
              description: Updated At
          required:
          - created_at
          - default_cmk
          - id
          - resource
          - updated_at
      required:
      - cmk
    CMKAccessorsListResponse:
      type: object
      description: CMKAccessorsListResponse
      properties:
        accessors:
          type: object
          description: CMKAccessors
          properties:
            aws:
              type: object
              description: CMKAccessorsAWS
              properties:
                principal:
                  type: string
                  description: Principal
              required:
              - principal
            azure:
              type: object
              description: CMKAccessorsAzure
              properties:
                app_id:
                  type: string
                  description: Application ID
              required:
              - app_id
            gcp:
              type: object
              description: CMKAccessorsGCP
              properties:
                access_group:
                  type: string
                  description: Access Group
              required:
              - access_group
            oci:
              type: object
              description: CMKAccessorsOCI
              properties:
                access_group:
                  type: string
                  description: Access Group
                access_tenant:
                  type: string
                  description: Tenancy for the access group
              required:
              - access_group
              - access_tenant
          required:
          - azure
          - gcp
          - oci
      required:
      - accessors
    CMKGetResponse:
      type: object
      description: CMKGetResponse
      properties:
        cmk:
          type: object
          description: CMK
          properties:
            created_at:
              type: string
              description: Created At
            default_cmk:
              type: boolean
              description: Default Cmk
            id:
              type: string
              description: ID
            resource:
              type: string
              description: Resource
            updated_at:
              type: string
              description: Updated At
          required:
          - created_at
          - default_cmk
          - id
          - resource
          - updated_at
      required:
      - cmk
    CMKUpdateResponse:
      type: object
      description: CMKUpdateResponse
      properties:
        cmk:
          type: object
          description: CMK
          properties:
            created_at:
              type: string
              description: Created At
            default_cmk:
              type: boolean
              description: Default Cmk
            id:
              type: string
              description: ID
            resource:
              type: string
              description: Resource
            updated_at:
              type: string
              description: Updated At
          required:
          - created_at
          - default_cmk
          - id
          - resource
          - updated_at
      required:
      - cmk
    CMKUpdateRequestBody:
      type: object
      description: CMKUpdateRequestBody
      properties:
        default_cmk:
          type: boolean
          description: Mark the created CMK as default for all newly created services.
          title: Default CMK
  parameters:
    cmk_id:
      in: path
      name: cmk_id
      description: CMK ID
      schema:
        type: string
      required: true
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
