openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Organization Vpc API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Organization_Vpc
  x-displayName: Organization Vpc
paths:
  /organization/{organization_id}/vpc-clouds:
    get:
      summary: List organization VPC clouds
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcCloudsList
      description: List clouds available for creating organization VPCs in this organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcCloudsListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/vpcs:
    post:
      summary: Create organization VPC
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcCreate
      description: Creates an organization VPC. This requires the manage-organization-networking permissions and can be also achieved using the Aiven Console, the Aiven CLI, or the Aiven Terraform Provider.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationVpcCreateRequestBody'
            example:
              clouds:
              - cloud_name: aws-eu-central-1
                network_cidr: 192.168.6.0/24
              display_name: My organization VPC
              peering_connections:
              - peer_azure_app_id: adcf7194-d877-4505-a47a-91fefd96e3b8
                peer_azure_tenant_id: adcf7194-d877-4505-a47a-91fefd96e3b8
                peer_cloud_account: '123456789012'
                peer_region: us-east-1
                peer_resource_group: my-peered-rg
                peer_vpc: vpc-2f09a348
                user_peer_network_cidrs:
                - 192.168.6.0/24
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcCreateResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: List organization VPCs
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcList
      description: Lists organization VPCs in an organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/vpc/{organization_vpc_id}:
    delete:
      summary: Delete organization VPC
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcDelete
      description: Deletes an organization VPC. This requires removing all services from the VCP before deleting it. To remove the services from the VCP, either migrate them out of the VCP or delete them. Deleting the organization VPC terminates its peering connections, if any.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcDeleteResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: Get organization VPC
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcGet
      description: Retrieves information about an organization VPC. This requires an organization ID and an organization VPC ID, which you can find in the Aiven Console or using the Aiven API or CLI to list your organizations or VPCs.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
    put:
      summary: Update organization VPC
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcUpdate
      description: Updates organization VPC properties that can be changed after creation.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationVpcUpdateRequestBody'
            example:
              display_name: My organization VPC
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcUpdateResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/vpc/{organization_vpc_id}/peering-connections:
    post:
      summary: Create organization VPC peering
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcPeeringConnectionCreate
      description: 'Creates a peering connection for an organization VPC. This requires the manage-organization-networking permissions and two VPCs to peer: one in Aiven and one in your cloud account (Azure, AWS, Google Cloud, or UpCloud).'
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationVpcPeeringConnectionCreateRequestBody'
            example:
              peer_azure_app_id: adcf7194-d877-4505-a47a-91fefd96e3b8
              peer_azure_tenant_id: adcf7194-d877-4505-a47a-91fefd96e3b8
              peer_cloud_account: '123456789012'
              peer_region: us-east-1
              peer_resource_group: my-peered-rg
              peer_vpc: vpc-2f09a348
              user_peer_network_cidrs:
              - 192.168.6.0/24
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcPeeringConnectionCreateResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/vpc/{organization_vpc_id}/peering-connection/{peering_connection_id}:
    delete:
      summary: Delete organization VPC peering
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcPeeringConnectionDeleteById
      description: Deletes a peering connection between an Aiven organization VPC and a VPC in your cloud account (Azure, AWS, Google Cloud, or UpCloud). This results in terminating all the traffic between the VPCs.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      - $ref: '#/components/parameters/peering_connection_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcPeeringConnectionDeleteByIdResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  ? /organization/{organization_id}/vpc/{organization_vpc_id}/peering-connection/{peering_connection_id}/user-peer-network-cidrs
  : put:
      summary: Update peering connection user peer network CIDRs
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdate
      description: 'Updates user peer network CIDRS of an organization VPC peering connection.


        DEPRECATED: Use PUT /organization/<organization_id>/vpc/<organization_vpc_id>/user-peer-network-cidrs'
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      - $ref: '#/components/parameters/peering_connection_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateRequestBody'
            example:
              add:
              - cidr: 192.168.6.0/24
                peer_cloud_account: '123456789012'
                peer_resource_group: my-peered-rg
                peer_vpc: vpc-2f09a348
              delete:
              - 192.168.6.0/24
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/vpc/{organization_vpc_id}/user-peer-network-cidrs:
    put:
      summary: Update organization VPC user peer network CIDRs
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateV2
      description: Updates organization VPC user peer network CIDRs.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateV2RequestBody'
            example:
              add:
              - cidr: 192.168.6.0/24
                peer_cloud_account: '123456789012'
                peer_resource_group: my-peered-rg
                peer_vpc: vpc-2f09a348
              delete:
              - 192.168.6.0/24
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateV2Response'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
  /organization/{organization_id}/vpc-peering-connection-types:
    get:
      summary: List organization VPC peering connection types
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcPeeringConnectionTypesList
      description: Lists peering connection types available for VPCs in the organization.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcPeeringConnectionTypesListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/vpc/{organization_vpc_id}/peering-connections/refresh:
    post:
      summary: Check if the state of peering connections in the cloud has changed
      tags:
      - Organization_Vpc
      operationId: OrganizationVpcPeeringConnectionsRefresh
      description: Triggers an asynchronous refresh of the peering connection states for an organization VPC. Checks the state of the peering connections in the cloud provider and updates them in Aiven. To confirm the refresh has completed, retrieve the organization VPC using GET /organization/{organization_id}/vpc/{organization_vpc_id} and check that the pending_build_only_peering_connections field has returned to null.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organization_vpc_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationVpcPeeringConnectionsRefreshResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
components:
  schemas:
    OrganizationVpcPeeringConnectionDeleteByIdResponse:
      type: object
      description: OrganizationVpcPeeringConnectionDeleteByIdResponse
      properties:
        create_time:
          type: string
          maxLength: 36
          description: VPC peering connection creation timestamp
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        peer_azure_app_id:
          type: string
          maxLength: 1024
          description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
        peer_azure_tenant_id:
          type: string
          maxLength: 1024
          description: Azure tenant id in UUID4 form
        peer_cloud_account:
          type: string
          maxLength: 1024
          description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
        peer_region:
          type: string
          maxLength: 1024
          description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
        peer_resource_group:
          type: string
          maxLength: 1024
          description: Azure resource group name of the peered VPC
        peer_vpc:
          type: string
          maxLength: 1024
          description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
        peering_connection_id:
          type: string
          minLength: 36
          maxLength: 36
          description: VPC peering connection ID
        state:
          type: string
          description: Project VPC peering connection state
          enum:
          - ACTIVE
          - APPROVED
          - APPROVED_PEER_REQUESTED
          - DELETED
          - DELETED_BY_PEER
          - DELETING
          - ERROR
          - INVALID_SPECIFICATION
          - PENDING_PEER
          - REJECTED_BY_PEER
        state_info:
          type: object
          description: State-specific help or error information
          properties:
            message:
              type: string
              description: Human-readable information message
            type:
              type: string
              description: Type of state information
            warnings:
              type: array
              description: List of warnings if any
              items:
                type: object
                properties:
                  conflicting_aws_account_id:
                    type: string
                    description: AWS account id of conflicting VPC
                  conflicting_aws_vpc_id:
                    type: string
                    description: VPC id which is conflicting with the current one
                  conflicting_aws_vpc_peering_connection_id:
                    type: string
                    description: AWS VPC connection id which is conflicting with current VPC
                  message:
                    type: string
                    description: Warning message to be shown to the user
                  type:
                    type: string
                    description: Type of warning
                    enum:
                    - overlapping-peer-vpc-ip-ranges
                    - upcloud-peering-in-error
                required:
                - message
                - type
          required:
          - message
          - type
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to the VPC peering connection
        user_peer_network_cidrs:
          type: array
          maxItems: 128
          description: List of private IPv4 ranges to route through the peering connection
          items:
            type: string
        vpc_peering_connection_type:
          type: string
          description: Type of network connection from the VPC
          enum:
          - aws-tgw-vpc-attachment
          - aws-vpc-peering-connection
          - azure-vnet-peering
          - do-vpc-peering
          - google-vpc-peering
          - upcloud-vpc-peering
      required:
      - create_time
      - peer_azure_app_id
      - peer_azure_tenant_id
      - peer_cloud_account
      - peer_resource_group
      - peer_vpc
      - state
      - state_info
      - update_time
      - user_peer_network_cidrs
      - vpc_peering_connection_type
    OrganizationVpcPeeringConnectionCreateRequestBody:
      type: object
      description: OrganizationVpcPeeringConnectionCreateRequestBody
      properties:
        peer_azure_app_id:
          type: string
          maxLength: 1024
          description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
        peer_azure_tenant_id:
          type: string
          maxLength: 1024
          description: Azure tenant id in UUID4 form
        peer_cloud_account:
          type: string
          maxLength: 1024
          description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
        peer_region:
          type: string
          maxLength: 1024
          description: The peer VPC's region on AWS. May be omitted or set to null if the peer is in the same region as the Aiven project VPC. Omit or set to null on GCP, Azure, or UpCloud.
        peer_resource_group:
          type: string
          maxLength: 1024
          description: Azure resource group name of the peered VPC
        peer_vpc:
          type: string
          maxLength: 1024
          description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
        user_peer_network_cidrs:
          type: array
          maxItems: 128
          description: List of private IPv4 ranges to route through the peering connection
          items:
            type: string
      required:
      - peer_cloud_account
      - peer_vpc
    OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateV2RequestBody:
      type: object
      description: OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateV2RequestBody
      properties:
        add:
          type: array
          maxItems: 128
          description: CIDRs to add using a specific peering connection
          items:
            type: object
            properties:
              cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
            required:
            - cidr
            - peer_cloud_account
            - peer_vpc
        delete:
          type: array
          maxItems: 128
          description: Network CIDRs to remove from the VPC's peering connections' user_peer_network_cidrs
          items:
            type: string
    OrganizationVpcPeeringConnectionCreateResponse:
      type: object
      description: OrganizationVpcPeeringConnectionCreateResponse
      properties:
        create_time:
          type: string
          maxLength: 36
          description: VPC peering connection creation timestamp
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        peer_azure_app_id:
          type: string
          maxLength: 1024
          description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
        peer_azure_tenant_id:
          type: string
          maxLength: 1024
          description: Azure tenant id in UUID4 form
        peer_cloud_account:
          type: string
          maxLength: 1024
          description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
        peer_region:
          type: string
          maxLength: 1024
          description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
        peer_resource_group:
          type: string
          maxLength: 1024
          description: Azure resource group name of the peered VPC
        peer_vpc:
          type: string
          maxLength: 1024
          description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
        peering_connection_id:
          type: string
          minLength: 36
          maxLength: 36
          description: VPC peering connection ID
        state:
          type: string
          description: Project VPC peering connection state
          enum:
          - ACTIVE
          - APPROVED
          - APPROVED_PEER_REQUESTED
          - DELETED
          - DELETED_BY_PEER
          - DELETING
          - ERROR
          - INVALID_SPECIFICATION
          - PENDING_PEER
          - REJECTED_BY_PEER
        state_info:
          type: object
          description: State-specific help or error information
          properties:
            message:
              type: string
              description: Human-readable information message
            type:
              type: string
              description: Type of state information
            warnings:
              type: array
              description: List of warnings if any
              items:
                type: object
                properties:
                  conflicting_aws_account_id:
                    type: string
                    description: AWS account id of conflicting VPC
                  conflicting_aws_vpc_id:
                    type: string
                    description: VPC id which is conflicting with the current one
                  conflicting_aws_vpc_peering_connection_id:
                    type: string
                    description: AWS VPC connection id which is conflicting with current VPC
                  message:
                    type: string
                    description: Warning message to be shown to the user
                  type:
                    type: string
                    description: Type of warning
                    enum:
                    - overlapping-peer-vpc-ip-ranges
                    - upcloud-peering-in-error
                required:
                - message
                - type
          required:
          - message
          - type
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to the VPC peering connection
        user_peer_network_cidrs:
          type: array
          maxItems: 128
          description: List of private IPv4 ranges to route through the peering connection
          items:
            type: string
        vpc_peering_connection_type:
          type: string
          description: Type of network connection from the VPC
          enum:
          - aws-tgw-vpc-attachment
          - aws-vpc-peering-connection
          - azure-vnet-peering
          - do-vpc-peering
          - google-vpc-peering
          - upcloud-vpc-peering
      required:
      - create_time
      - peer_azure_app_id
      - peer_azure_tenant_id
      - peer_cloud_account
      - peer_resource_group
      - peer_vpc
      - state
      - state_info
      - update_time
      - user_peer_network_cidrs
      - vpc_peering_connection_type
    OrganizationVpcGetResponse:
      type: object
      description: OrganizationVpcGetResponse
      properties:
        clouds:
          type: array
          description: Clouds or clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        organization_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - clouds
      - create_time
      - display_name
      - organization_id
      - organization_vpc_id
      - peering_connections
      - state
      - update_time
    OrganizationVpcListResponse:
      type: object
      description: OrganizationVpcListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        vpcs:
          type: array
          description: List of VPCs
          items:
            type: object
            properties:
              clouds:
                type: array
                description: Clouds or clouds to create this VPC in
                items:
                  type: object
                  properties:
                    cloud_name:
                      type: string
                      maxLength: 256
                      description: Target cloud
                    network_cidr:
                      type: string
                      maxLength: 18
                      description: IPv4 network range CIDR
                  required:
                  - cloud_name
                  - network_cidr
              create_time:
                type: string
                maxLength: 36
                description: VPC creation timestamp
              display_name:
                type: string
                maxLength: 64
                description: User defined display name for this VPC
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              organization_vpc_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Project VPC ID
              state:
                type: string
                description: Project VPC state
                enum:
                - ACTIVE
                - APPROVED
                - DELETED
                - DELETING
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to VPC
            required:
            - clouds
            - create_time
            - display_name
            - organization_id
            - organization_vpc_id
            - state
            - update_time
      required:
      - vpcs
    OrganizationVpcUpdateResponse:
      type: object
      description: OrganizationVpcUpdateResponse
      properties:
        clouds:
          type: array
          description: Clouds or clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        organization_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - clouds
      - create_time
      - display_name
      - organization_id
      - organization_vpc_id
      - peering_connections
      - state
      - update_time
    OrganizationVpcUpdateRequestBody:
      type: object
      description: OrganizationVpcUpdateRequestBody
      properties:
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
    OrganizationVpcPeeringConnectionsRefreshResponse:
      type: object
      description: OrganizationVpcPeeringConnectionsRefreshResponse
      properties:
        clouds:
          type: array
          description: Clouds or clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        organization_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - clouds
      - create_time
      - display_name
      - organization_id
      - organization_vpc_id
      - peering_connections
      - state
      - update_time
    OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateResponse:
      type: object
      description: OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateResponse
      properties:
        clouds:
          type: array
          description: Clouds or clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        organization_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - clouds
      - create_time
      - display_name
      - organization_id
      - organization_vpc_id
      - peering_connections
      - state
      - update_time
    OrganizationVpcDeleteResponse:
      type: object
      description: OrganizationVpcDeleteResponse
      properties:
        clouds:
          type: array
          description: Clouds or clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        organization_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - clouds
      - create_time
      - display_name
      - organization_id
      - organization_vpc_id
      - peering_connections
      - state
      - update_time
    OrganizationVpcCloudsListResponse:
      type: object
      description: OrganizationVpcCloudsListResponse
      properties:
        clouds:
          type: array
          description: List of available clouds
          items:
            type: object
            properties:
              cloud_description:
                type: string
                description: Cloud provider and location
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              geo_latitude:
                type: number
                description: Approximate geographic latitude of the datacenters
              geo_longitude:
                type: number
                description: Approximate geographic longitude of the datacenters
              geo_region:
                type: string
                description: Geographical region
              provider:
                type: string
                description: Cloud provider name
              provider_description:
                type: string
                description: Cloud provider description
            required:
            - cloud_name
            - geo_region
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - clouds
    OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateRequestBody:
      type: object
      description: OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateRequestBody
      properties:
        add:
          type: array
          maxItems: 128
          description: CIDRs to add using a specific peering connection
          items:
            type: object
            properties:
              cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
            required:
            - cidr
            - peer_cloud_account
            - peer_vpc
        delete:
          type: array
          maxItems: 128
          description: Network CIDRs to remove from the VPC's peering connections' user_peer_network_cidrs
          items:
            type: string
    OrganizationVpcCreateResponse:
      type: object
      description: OrganizationVpcCreateResponse
      properties:
        clouds:
          type: array
          description: Clouds or clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        organization_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - clouds
      - create_time
      - display_name
      - organization_id
      - organization_vpc_id
      - peering_connections
      - state
      - update_time
    OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateV2Response:
      type: object
      description: OrganizationVpcPeeringConnectionPeerNetworkCidrsUpdateV2Response
      properties:
        clouds:
          type: array
          description: Clouds or clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        create_time:
          type: string
          maxLength: 36
          description: VPC creation timestamp
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        organization_id:
          type: string
          maxLength: 36
          description: Organization ID
        organization_vpc_id:
          type: string
          minLength: 36
          maxLength: 36
          description: Project VPC ID
        peering_connections:
          type: array
          description: List of peering connections
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: VPC peering connection creation timestamp
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region in AWS clouds. Always null in GCP, Azure, or UpCloud clouds
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              peering_connection_id:
                type: string
                minLength: 36
                maxLength: 36
                description: VPC peering connection ID
              state:
                type: string
                description: Project VPC peering connection state
                enum:
                - ACTIVE
                - APPROVED
                - APPROVED_PEER_REQUESTED
                - DELETED
                - DELETED_BY_PEER
                - DELETING
                - ERROR
                - INVALID_SPECIFICATION
                - PENDING_PEER
                - REJECTED_BY_PEER
              state_info:
                type: object
                description: State-specific help or error information
                properties:
                  message:
                    type: string
                    description: Human-readable information message
                  type:
                    type: string
                    description: Type of state information
                  warnings:
                    type: array
                    description: List of warnings if any
                    items:
                      type: object
                      properties:
                        conflicting_aws_account_id:
                          type: string
                          description: AWS account id of conflicting VPC
                        conflicting_aws_vpc_id:
                          type: string
                          description: VPC id which is conflicting with the current one
                        conflicting_aws_vpc_peering_connection_id:
                          type: string
                          description: AWS VPC connection id which is conflicting with current VPC
                        message:
                          type: string
                          description: Warning message to be shown to the user
                        type:
                          type: string
                          description: Type of warning
                          enum:
                          - overlapping-peer-vpc-ip-ranges
                          - upcloud-peering-in-error
                      required:
                      - message
                      - type
                required:
                - message
                - type
              update_time:
                type: string
                maxLength: 36
                description: Timestamp of last change to the VPC peering connection
              user_peer_network_cidrs:
                type: array
                maxItems: 128
                description: List of private IPv4 ranges to route through the peering connection
                items:
                  type: string
              vpc_peering_connection_type:
                type: string
                description: Type of network connection from the VPC
                enum:
                - aws-tgw-vpc-attachment
                - aws-vpc-peering-connection
                - azure-vnet-peering
                - do-vpc-peering
                - google-vpc-peering
                - upcloud-vpc-peering
            required:
            - create_time
            - peer_azure_app_id
            - peer_azure_tenant_id
            - peer_cloud_account
            - peer_resource_group
            - peer_vpc
            - state
            - state_info
            - update_time
            - user_peer_network_cidrs
            - vpc_peering_connection_type
        pending_build_only_peering_connections:
          type: string
          maxLength: 36
          description: VPC rebuild is scheduled
        state:
          type: string
          description: Project VPC state
          enum:
          - ACTIVE
          - APPROVED
          - DELETED
          - DELETING
        update_time:
          type: string
          maxLength: 36
          description: Timestamp of last change to VPC
      required:
      - clouds
      - create_time
      - display_name
      - organization_id
      - organization_vpc_id
      - peering_connections
      - state
      - update_time
    OrganizationVpcCreateRequestBody:
      type: object
      description: OrganizationVpcCreateRequestBody
      properties:
        clouds:
          type: array
          minItems: 1
          maxItems: 1
          description: Clouds to create this VPC in
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              network_cidr:
                type: string
                maxLength: 18
                description: IPv4 network range CIDR
            required:
            - cloud_name
            - network_cidr
        display_name:
          type: string
          maxLength: 64
          description: User defined display name for this VPC
        peering_connections:
          type: array
          maxItems: 128
          description: List of peering connection requests for the VPC
          items:
            type: object
            properties:
              peer_azure_app_id:
                type: string
                maxLength: 1024
                description: Azure app registration id in UUID4 form that is allowed to create a peering to the peer vnet
              peer_azure_tenant_id:
                type: string
                maxLength: 1024
                description: Azure tenant id in UUID4 form
              peer_cloud_account:
                type: string
                maxLength: 1024
                description: AWS account ID, GCP project ID, Azure subscription ID of the peered VPC, or string &quot;upcloud&quot; for UpCloud peering connections
              peer_region:
                type: string
                maxLength: 1024
                description: The peer VPC's region on AWS. May be omitted or set to null if the peer is in the same region as the Aiven project VPC. Omit or set to null on GCP, Azure, or UpCloud.
              peer_resource_group:
                type: string
                maxLength: 1024
                description: Azure resource group name of the peered VPC
              peer_vpc:
                type: string
                maxLength: 1024
                description: AWS VPC ID, GCP VPC network name, Azure Virtual network name of the peered VPC, or UpCloud VPC ID
              user_peer_network_cidrs:
                type: array
                maxItems: 128
[...]
