openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Project Billing API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Project_Billing
  x-displayName: Project Billing
paths:
  /project/{project}/credits:
    post:
      summary: Claim a credit code
      tags:
      - Project_Billing
      operationId: ProjectCreditsClaim
      deprecated: true
      description: 'DEPRECATED: Use /billing-group/<billing_group_id>/credits'
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreditsClaimResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:write
        - billing:write
    get:
      summary: List credits available to the project
      tags:
      - Project_Billing
      operationId: ProjectCreditsList
      description: 'List all credits available to the project. Credits are assigned at the billing group.


        DEPRECATED: Use /billing-group/<billing_group_id>/credits instead.'
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCreditsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
        - billing:read
  /project/{project}/invoice/{invoice_number}/{download_cookie}:
    get:
      summary: Download PDF invoice
      tags:
      - Project_Billing
      operationId: ProjectInvoiceGet
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/invoice_number'
      - $ref: '#/components/parameters/download_cookie'
      responses:
        '200':
          description: Returns a PDF report
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /project/{project}/invoice:
    get:
      summary: List project invoices
      tags:
      - Project_Billing
      operationId: ProjectInvoiceList
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectInvoiceListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
        - billing:read
components:
  schemas:
    ProjectCreditsListResponse:
      type: object
      description: ProjectCreditsListResponse
      properties:
        credits:
          type: array
          description: List of credits assigned to a project
          items:
            type: object
            properties:
              code:
                type: string
                maxLength: 1024
                description: Credit code
              expire_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              remaining_value:
                type: string
                description: Remaining credit value
              start_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              type:
                type: string
                description: Credit type
                enum:
                - discount
                - employee
                - evaluation
                - internal
                - other
                - outage
                - partner
                - promotion
                - purchase
                - referral
                - sponsorship
                - trial
                - trial_over
              value:
                type: string
                description: Original credit value, or for expired credits, the consumed credit value
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - credits
    ProjectInvoiceListResponse:
      type: object
      description: ProjectInvoiceListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        invoices:
          type: array
          description: List of project invoices
          items:
            type: object
            properties:
              billing_group_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Billing group ID
              billing_group_name:
                type: string
                maxLength: 128
                description: Billing group name
              billing_group_state:
                type: string
                description: Billing group state
                enum:
                - active
                - deleted
              currency:
                type: string
                description: Billing currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              download_cookie:
                type: string
                description: Authentication cookie for downloads
              due_date:
                type: string
                description: The time when the invoice is due
              generated_at:
                type: string
                description: The time when the invoice was generated
              invoice_number:
                type: string
                maxLength: 128
                description: Unique invoice reference code
              issue_date:
                type: string
                description: The time when the invoice was issued
              period_begin:
                type: string
                maxLength: 36
                description: Period begin
              period_end:
                type: string
                maxLength: 36
                description: Period end
              state:
                type: string
                description: State of this invoice
                enum:
                - accrual
                - consolidated
                - due
                - estimate
                - failed_credit_card_charge
                - failed_no_credit_card
                - mailed
                - no_payment_expected
                - paid
                - partner_metering
                - uncollectible
                - waived
                - due_only_project_charges_calculated
                - estimate_only_project_charges_calculated
              total_inc_vat:
                type: string
                description: Total including taxes
              total_vat_zero:
                type: string
                description: Total excluding taxes
            required:
            - billing_group_id
            - billing_group_name
            - billing_group_state
            - currency
            - download_cookie
            - invoice_number
            - period_begin
            - period_end
            - state
            - total_inc_vat
            - total_vat_zero
        message:
          type: string
          description: Printable result of the request
      required:
      - invoices
    ProjectCreditsClaimResponse:
      type: object
      description: ProjectCreditsClaimResponse
      properties:
        credit:
          type: object
          description: Assigned credit
          properties:
            code:
              type: string
              maxLength: 1024
              description: Credit code
            expire_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            remaining_value:
              type: string
              description: Remaining credit value
            start_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            type:
              type: string
              description: Credit type
              enum:
              - discount
              - employee
              - evaluation
              - internal
              - other
              - outage
              - partner
              - promotion
              - purchase
              - referral
              - sponsorship
              - trial
              - trial_over
            value:
              type: string
              description: Original credit value, or for expired credits, the consumed credit value
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - credit
  parameters:
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
    invoice_number:
      in: path
      name: invoice_number
      description: Invoice number
      schema:
        type: string
      required: true
    download_cookie:
      in: path
      name: download_cookie
      description: Authentication cookie for file download
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
