openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Billing Group API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: BillingGroup
  x-displayName: BillingGroup
paths:
  /billing-group:
    post:
      summary: Create a billing group
      tags:
      - BillingGroup
      operationId: BillingGroupCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingGroupCreateRequestBody'
            example:
              account_id: a22ba494e096
              address_lines:
              - Main Street 1
              billing_address_id: addr4b1ff1asdfasdf
              billing_contact_emails:
              - email: jane@example.com
              billing_currency: USD
              billing_emails:
              - email: jane@example.com
              billing_extra_text: 'Purchase order: PO100018'
              billing_group_name: my billing group
              card_id: 9330c086-8781-11e5-89ff-5404a64abfef
              city: Helsinki
              company: My Company
              copy_from_billing_group: ffb3f0cd-5532-4eb9-8867-f2cac5823492
              country_code: FI
              shipping_address_id: addr4b1ff1asdfasdf
              state: ''
              vat_id: FI27957435
              zip_code: '01234'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
    get:
      summary: List billing groups
      tags:
      - BillingGroup
      operationId: BillingGroupList
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /billing-group/{billing_group_id}/credits:
    post:
      summary: Claim a credit code
      tags:
      - BillingGroup
      operationId: BillingGroupCreditsClaim
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingGroupCreditsClaimRequestBody'
            example:
              code: AVN2015
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupCreditsClaimResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
    get:
      summary: List billing group credits
      tags:
      - BillingGroup
      operationId: BillingGroupCreditsList
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupCreditsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /billing-group/{billing_group_id}:
    delete:
      summary: Delete billing group
      tags:
      - BillingGroup
      operationId: BillingGroupDelete
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
    get:
      summary: Get billing group details
      tags:
      - BillingGroup
      operationId: BillingGroupGet
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
    put:
      summary: Update billing group
      tags:
      - BillingGroup
      operationId: BillingGroupUpdate
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingGroupUpdateRequestBody'
            example:
              account_id: a22ba494e096
              address_lines:
              - Main Street 1
              billing_address_id: addr4b1ff1asdfasdf
              billing_contact_emails:
              - email: jane@example.com
              billing_currency: USD
              billing_emails:
              - email: jane@example.com
              billing_extra_text: 'Purchase order: PO100018'
              billing_group_name: my billing group
              card_id: 9330c086-8781-11e5-89ff-5404a64abfef
              city: Helsinki
              company: My Company
              country_code: FI
              shipping_address_id: addr4b1ff1asdfasdf
              state: ''
              vat_id: FI27957435
              zip_code: '01234'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
  /billing-group/{billing_group_id}/events:
    get:
      summary: List billing group events
      tags:
      - BillingGroup
      operationId: BillingGroupEventList
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupEventListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /billing-group/{billing_group_id}/invoice/{invoice_number}/csv:
    get:
      summary: Get a single invoice as a CSV of invoice lines
      tags:
      - BillingGroup
      operationId: BillingGroupInvoiceCsvGet
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      - $ref: '#/components/parameters/invoice_number'
      - $ref: '#/components/parameters/billinggroupinvoicecsvget_cookie'
      - $ref: '#/components/parameters/billinggroupinvoicecsvget_project'
      responses:
        '200':
          description: Returns a CSV report
          content:
            text/csv:
              schema:
                type: string
                format: binary
  /billing-group/{billing_group_id}/invoice/{invoice_number}/{download_cookie}:
    get:
      summary: Download PDF invoice
      tags:
      - BillingGroup
      operationId: BillingGroupInvoiceDownload
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      - $ref: '#/components/parameters/invoice_number'
      - $ref: '#/components/parameters/download_cookie'
      responses:
        '200':
          description: Returns a PDF report
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /billing-group/{billing_group_id}/invoice/{invoice_number}:
    get:
      summary: Get a single invoice
      tags:
      - BillingGroup
      operationId: BillingGroupInvoiceGet
      deprecated: true
      description: Use GET /v1/organization/{organization_id}/invoice/{invoice_number}
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      - $ref: '#/components/parameters/invoice_number'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupInvoiceGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /billing-group/{billing_group_id}/invoice/{invoice_number}/lines:
    get:
      summary: Get invoice lines for a single invoice
      tags:
      - BillingGroup
      operationId: BillingGroupInvoiceLinesList
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      - $ref: '#/components/parameters/invoice_number'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupInvoiceLinesListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /billing-group/{billing_group_id}/invoice:
    get:
      summary: Get invoices generated for billing group
      tags:
      - BillingGroup
      operationId: BillingGroupInvoiceList
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupInvoiceListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /billing-group/{billing_group_id}/project-assign/{project}:
    post:
      summary: Assign project to billing group
      tags:
      - BillingGroup
      operationId: BillingGroupProjectAssign
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupProjectAssignResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
  /billing-group/{billing_group_id}/projects:
    get:
      summary: Get projects assigned to billing group
      tags:
      - BillingGroup
      operationId: BillingGroupProjectList
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupProjectListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /billing-group/{billing_group_id}/projects-assign:
    post:
      summary: Assign projects to billing group
      tags:
      - BillingGroup
      operationId: BillingGroupProjectsAssign
      parameters:
      - $ref: '#/components/parameters/billing_group_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingGroupProjectsAssignRequestBody'
            example:
              projects_names:
              - myproject
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGroupProjectsAssignResponse'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
components:
  schemas:
    BillingGroupUpdateRequestBody:
      type: object
      description: BillingGroupUpdateRequestBody
      properties:
        account_id:
          type: string
          maxLength: 36
          description: Account ID
        address_lines:
          type: array
          maxItems: 3
          description: Address lines
          items:
            type: string
        billing_address_id:
          type: string
          maxLength: 36
          description: Address ID
        billing_contact_emails:
          type: array
          maxItems: 10
          description: List of billing groups contact email addresses
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - email
        billing_currency:
          type: string
          description: Billing currency
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
        billing_emails:
          type: array
          maxItems: 10
          description: List of project billing email addresses
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - email
        billing_extra_text:
          type: string
          maxLength: 1000
          description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
        billing_group_name:
          type: string
          maxLength: 128
          description: Billing group name
        card_id:
          type: string
          maxLength: 64
          description: Credit card ID
        city:
          type: string
          maxLength: 50
          description: Address city
        company:
          type: string
          maxLength: 83
          description: Name of a company
        country_code:
          type: string
          maxLength: 2
          description: Two letter country code for billing country
        shipping_address_id:
          type: string
          maxLength: 36
          description: Address ID
        state:
          type: string
          maxLength: 30
          description: Address state or province
        vat_id:
          type: string
          maxLength: 64
          description: EU VAT Identification Number
        zip_code:
          type: string
          maxLength: 36
          description: Address zip code
    BillingGroupListResponse:
      type: object
      description: BillingGroupListResponse
      properties:
        billing_groups:
          type: array
          description: List of billing groups
          items:
            type: object
            properties:
              account_id:
                type: string
                maxLength: 36
                description: Account ID
              account_name:
                type: string
                maxLength: 83
                description: Account name
              address_lines:
                type: array
                maxItems: 3
                description: Address lines
                items:
                  type: string
              billing_address:
                type: string
                maxLength: 1000
                description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
              billing_address_id:
                type: string
                maxLength: 36
                description: Address ID
              billing_contact_emails:
                type: array
                maxItems: 10
                description: List of billing groups contact email addresses
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: User email address
                  required:
                  - email
              billing_currency:
                type: string
                description: Billing currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              billing_emails:
                type: array
                maxItems: 10
                description: List of project billing email addresses
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 254
                      description: User email address
                  required:
                  - email
              billing_extra_text:
                type: string
                maxLength: 1000
                description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
              billing_group_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Billing group ID
              billing_group_name:
                type: string
                maxLength: 128
                description: Billing group name
              billing_type:
                type: string
                description: Method of charging/invoicing this project
              card_info:
                type: object
                description: Credit card assigned to the project
                properties:
                  brand:
                    type: string
                    description: Brand
                  card_id:
                    type: string
                    maxLength: 64
                    description: Credit card ID
                  country:
                    type: string
                    maxLength: 128
                    description: Country
                  country_code:
                    type: string
                    maxLength: 2
                    description: Two letter ISO country code
                  exp_month:
                    type: integer
                    minimum: 1
                    maximum: 12
                    description: Expiration month
                  exp_year:
                    type: integer
                    minimum: 2015
                    maximum: 2100
                    description: Expiration year
                  last4:
                    type: string
                    description: Credit card last four digits
                  name:
                    type: string
                    maxLength: 256
                    description: Name on the credit card
                  user_email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - brand
                - card_id
                - country
                - country_code
                - exp_month
                - exp_year
                - last4
                - name
                - user_email
              city:
                type: string
                maxLength: 50
                description: Address city
              company:
                type: string
                maxLength: 83
                description: Name of a company
              country:
                type: string
                maxLength: 128
                description: Billing country
              country_code:
                type: string
                maxLength: 2
                description: Two letter ISO country code
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              estimated_balance_local:
                type: string
                description: Estimated balance in billing currency, before tax
              estimated_balance_usd:
                type: string
                description: Estimated balance in USD, before tax
              payment_method:
                type: string
                description: Payment method
                enum:
                - accrual
                - card
                - disabled
                - email
                - no_payment_expected
                - partner
              shipping_address_id:
                type: string
                maxLength: 36
                description: Address ID
              state:
                type: string
                maxLength: 30
                description: Address state or province
              vat_id:
                type: string
                maxLength: 64
                description: EU VAT Identification Number
              zip_code:
                type: string
                maxLength: 36
                description: Address zip code
            required:
            - account_id
            - account_name
            - address_lines
            - billing_address_id
            - billing_contact_emails
            - billing_currency
            - billing_emails
            - billing_extra_text
            - billing_group_id
            - billing_group_name
            - billing_type
            - card_info
            - city
            - company
            - country
            - country_code
            - create_time
            - estimated_balance_local
            - estimated_balance_usd
            - payment_method
            - shipping_address_id
            - state
            - vat_id
            - zip_code
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - billing_groups
    BillingGroupCreditsListResponse:
      type: object
      description: BillingGroupCreditsListResponse
      properties:
        credits:
          type: array
          description: List of credits assigned to a billing group
          items:
            type: object
            properties:
              code:
                type: string
                maxLength: 1024
                description: Credit code
              expire_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              remaining_value:
                type: string
                description: Remaining credit value
              start_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              type:
                type: string
                description: Credit type
                enum:
                - discount
                - employee
                - evaluation
                - internal
                - other
                - outage
                - partner
                - promotion
                - purchase
                - referral
                - sponsorship
                - trial
                - trial_over
              value:
                type: string
                description: Original credit value, or for expired credits, the consumed credit value
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - credits
    BillingGroupProjectsAssignResponse:
      type: object
      description: BillingGroupProjectsAssignResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    BillingGroupInvoiceGetResponse:
      type: object
      description: BillingGroupInvoiceGetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        invoice:
          type: object
          description: A single invoice
          properties:
            due_date:
              type: string
              description: The time when the invoice is due
            generated_at:
              type: string
              description: The time when the invoice was generated
            invoice_number:
              type: string
              maxLength: 128
              description: Unique invoice reference code
            invoice_state:
              type: string
              description: State of this invoice
              enum:
              - accrual
              - consolidated
              - due
              - estimate
              - failed_credit_card_charge
              - failed_no_credit_card
              - mailed
              - no_payment_expected
              - paid
              - partner_metering
              - uncollectible
              - waived
              - due_only_project_charges_calculated
              - estimate_only_project_charges_calculated
            local_inc_vat:
              type: string
              description: Invoice total in chosen billing currency, after VAT
            local_vat_zero:
              type: string
              description: Invoice total in chosen billing currency, before VAT
          required:
          - invoice_number
          - local_inc_vat
          - local_vat_zero
        message:
          type: string
          description: Printable result of the request
      required:
      - invoice
    BillingGroupEventListResponse:
      type: object
      description: BillingGroupEventListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        events:
          type: array
          description: List of events related to a billing group
          items:
            type: object
            properties:
              actor:
                type: string
                description: Initiator of the event
              billing_group_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Billing group ID
              create_time:
                type: string
                maxLength: 36
                description: Timestamp in ISO 8601 format, always in UTC
              event_desc:
                type: string
                description: Event description
              event_type:
                type: string
                description: Event type identifier
              log_entry_id:
                type: integer
                description: Entry ID
              project_id:
                type: string
                maxLength: 36
                description: Identifier of a project
              project_name:
                type: string
                maxLength: 63
                description: Project name
        message:
          type: string
          description: Printable result of the request
      required:
      - events
    BillingGroupInvoiceLinesListResponse:
      type: object
      description: BillingGroupInvoiceLinesListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        lines:
          type: array
          description: List of invoice lines
          items:
            type: object
            properties:
              cloud_name:
                type: string
                description: Name of the cloud, if billed resource is associated with a cloud resource
              commitment_name:
                type: string
                description: Name of the commitment which is referred to this invoice line
              description:
                type: string
                description: Human-readable short description of the invoice line
              line_pre_discount_local:
                type: string
                description: Pre-tax sum of invoice line, in local currency, before any discounts
              line_total_local:
                type: string
                description: Pre-tax sum of invoice line, in the local currency configured for the invoice
              line_total_usd:
                type: string
                description: Pre-tax sum of invoice line, in USD
              line_type:
                type: string
                description: Type of the invoice line
                enum:
                - commitment_fee
                - credit_consumption
                - extra_charge
                - multiplier
                - other_event
                - pro_platform_charge
                - rounding
                - service_charge
                - support_charge
              local_currency:
                type: string
                description: Currency used for line_local_total
              project_name:
                type: string
                description: Name of the project this line is associated with, if any
              service_name:
                type: string
                description: Name of the service, if invoice line is for service use
              service_plan:
                type: string
                description: Service plan name, if invoice line is for service use
              service_type:
                type: string
                description: Service type, if invoice line is for service use
                enum:
                - alertmanager
                - application
                - clickhouse
                - datahub
                - dragonfly
                - elasticsearch
                - flink
                - grafana
                - kafka
                - kafka_connect
                - kafka_mirrormaker
                - mysql
                - nomadclient
                - opensearch
                - pg
                - sparkpool
                - stresstester
                - sw
                - thanos
                - thanoscompactor
                - thanosparquet
                - thanosquery
                - thanosreceiver
                - thanosruler
                - thanosstore
                - valkey
                - vector
                - vmalert
              tags:
                type: object
                description: Billing tags
                properties: {}
              timestamp_begin:
                type: string
                description: Begin timestamp of the billed time period, for resources billed by time
              timestamp_end:
                type: string
                description: End timestamp of the billed time period, for resources billed by time
            required:
            - description
            - line_total_usd
            - line_type
        message:
          type: string
          description: Printable result of the request
    BillingGroupCreateResponse:
      type: object
      description: BillingGroupCreateResponse
      properties:
        billing_group:
          type: object
          description: Billing group information
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            account_name:
              type: string
              maxLength: 83
              description: Account name
            address_lines:
              type: array
              maxItems: 3
              description: Address lines
              items:
                type: string
            billing_address:
              type: string
              maxLength: 1000
              description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
            billing_address_id:
              type: string
              maxLength: 36
              description: Address ID
            billing_contact_emails:
              type: array
              maxItems: 10
              description: List of billing groups contact email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            billing_currency:
              type: string
              description: Billing currency
              enum:
              - AUD
              - CAD
              - CHF
              - DKK
              - EUR
              - GBP
              - JPY
              - NOK
              - NZD
              - SEK
              - SGD
              - USD
            billing_emails:
              type: array
              maxItems: 10
              description: List of project billing email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            billing_extra_text:
              type: string
              maxLength: 1000
              description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
            billing_group_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Billing group ID
            billing_group_name:
              type: string
              maxLength: 128
              description: Billing group name
            billing_type:
              type: string
              description: Method of charging/invoicing this project
            card_info:
              type: object
              description: Credit card assigned to the project
              properties:
                brand:
                  type: string
                  description: Brand
                card_id:
                  type: string
                  maxLength: 64
                  description: Credit card ID
                country:
                  type: string
                  maxLength: 128
                  description: Country
                country_code:
                  type: string
                  maxLength: 2
                  description: Two letter ISO country code
                exp_month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  description: Expiration month
                exp_year:
                  type: integer
                  minimum: 2015
                  maximum: 2100
                  description: Expiration year
                last4:
                  type: string
                  description: Credit card last four digits
                name:
                  type: string
                  maxLength: 256
                  description: Name on the credit card
                user_email:
                  type: string
                  maxLength: 254
                  description: User email address
              required:
              - brand
              - card_id
              - country
              - country_code
              - exp_month
              - exp_year
              - last4
              - name
              - user_email
            city:
              type: string
              maxLength: 50
              description: Address city
            company:
              type: string
              maxLength: 83
              description: Name of a company
            country:
              type: string
              maxLength: 128
              description: Billing country
            country_code:
              type: string
              maxLength: 2
              description: Two letter ISO country code
            create_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            estimated_balance_local:
              type: string
              description: Estimated balance in billing currency, before tax
            estimated_balance_usd:
              type: string
              description: Estimated balance in USD, before tax
            payment_method:
              type: string
              description: Payment method
              enum:
              - accrual
              - card
              - disabled
              - email
              - no_payment_expected
              - partner
            shipping_address_id:
              type: string
              maxLength: 36
              description: Address ID
            state:
              type: string
              maxLength: 30
              description: Address state or province
            vat_id:
              type: string
              maxLength: 64
              description: EU VAT Identification Number
            zip_code:
              type: string
              maxLength: 36
              description: Address zip code
          required:
          - account_id
          - account_name
          - address_lines
          - billing_address_id
          - billing_contact_emails
          - billing_currency
          - billing_emails
          - billing_extra_text
          - billing_group_id
          - billing_group_name
          - billing_type
          - card_info
          - city
          - company
          - country
          - country_code
          - create_time
          - estimated_balance_local
          - estimated_balance_usd
          - payment_method
          - shipping_address_id
          - state
          - vat_id
          - zip_code
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - billing_group
    BillingGroupProjectsAssignRequestBody:
      type: object
      description: BillingGroupProjectsAssignRequestBody
      properties:
        projects_names:
          type: array
          minItems: 1
          maxItems: 1024
          description: Projects names
          items:
            type: string
      required:
      - projects_names
    BillingGroupProjectListResponse:
      type: object
      description: BillingGroupProjectListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        projects:
          type: array
          description: List of projects assigned to billing group
          items:
            type: object
            properties:
              available_credits:
                type: string
                description: Available credits
              estimated_balance:
                type: string
                description: Estimated balance
              project_name:
                type: string
                maxLength: 63
                description: Project name
            required:
            - available_credits
            - estimated_balance
            - project_name
      required:
      - projects
    BillingGroupGetResponse:
      type: object
      description: BillingGroupGetResponse
      properties:
        billing_group:
          type: object
          description: Billing group information
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            account_name:
              type: string
              maxLength: 83
              description: Account name
            address_lines:
              type: array
              maxItems: 3
              description: Address lines
              items:
                type: string
            billing_address:
              type: string
              maxLength: 1000
              description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
            billing_address_id:
              type: string
              maxLength: 36
              description: Address ID
            billing_contact_emails:
              type: array
              maxItems: 10
              description: List of billing groups contact email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            billing_currency:
              type: string
              description: Billing currency
              enum:
              - AUD
              - CAD
              - CHF
              - DKK
              - EUR
              - GBP
              - JPY
              - NOK
              - NZD
              - SEK
              - SGD
              - USD
            billing_emails:
              type: array
              maxItems: 10
              description: List of project billing email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            billing_extra_text:
              type: string
              maxLength: 1000
              description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
            billing_group_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Billing group ID
            billing_group_name:
              type: string
              maxLength: 128
              description: Billing group name
            billing_type:
              type: string
              description: Method of charging/invoicing this project
            card_info:
              type: object
              description: Credit card assigned to the project
              properties:
                brand:
                  type: string
                  description: Brand
                card_id:
                  type: string
                  maxLength: 64
                  description: Credit card ID
                country:
                  type: string
                  maxLength: 128
                  description: Country
                country_code:
                  type: string
                  maxLength: 2
                  description: Two letter ISO country code
                exp_month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  description: Expiration month
                exp_year:
                  type: integer
                  minimum: 2015
                  maximum: 2100
                  description: Expiration year
                last4:
                  type: string
                  description: Credit card last four digits
                name:
                  type: string
                  maxLength: 256
                  description: Name on the credit card
                user_email:
                  type: string
                  maxLength: 254
                  description: User email address
              required:
              - brand
              - card_id
              - country
              - country_code
              - exp_month
              - exp_year
              - last4
              - name
              - user_email
            city:
              type: string
              maxLength: 50
              description: Address city
            company:
              type: string
              maxLength: 83
              description: Name of a company
            country:
              type: string
              maxLength: 128
              description: Billing country
            country_code:
              type: string
              maxLength: 2
              description: Two letter ISO country code
            create_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            estimated_balance_local:
              type: string
              description: Estimated balance in billing currency, before tax
            estimated_balance_usd:
              type: string
              description: Estimated balance in USD, before tax
            payment_method:
              type: string
              description: Payment method
              enum:
              - accrual
              - card
              - disabled
              - email
              - no_payment_expected
              - partner
            shipping_address_id:
              type: string
              maxLength: 36
              description: Address ID
            state:
              type: string
              maxLength: 30
              description: Address state or province
            vat_id:
              type: string
              maxLength: 64
              description: EU VAT Identification Number
            zip_code:
              type: string
              maxLength: 36
              description: Address zip code
          required:
          - account_id
          - account_name
          - address_lines
          - billing_address_id
          - billing_contact_emails
          - billing_currency
          - billing_emails
          - billing_extra_text
          - billing_group_id
          - billing_group_name
          - billing_type
          - card_info
          - city
          - company
          - country
          - country_code
          - create_time
          - estimated_balance_local
          - estimated_balance_usd
          - payment_method
          - shipping_address_id
          - state
          - vat_id
          - zip_code
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - billing_group
    BillingGroupUpdateResponse:
      type: object
      description: BillingGroupUpdateResponse
      properties:
        billing_group:
          type: object
          description: Billing group information
          properties:
            account_id:
              type: string
              maxLength: 36
              description: Account ID
            account_name:
              type: string
              maxLength: 83
              description: Account name
            address_lines:
              type: array
              maxItems: 3
              description: Address lines
              items:
                type: string
            billing_address:
              type: string
              maxLength: 1000
              description: 'DEPRECATED: use split address fields like company, address_lines, zip_code, city and state instead'
            billing_address_id:
              type: string
              maxLength: 36
              description: Address ID
            billing_contact_emails:
              type: array
              maxItems: 10
              description: List of billing groups contact email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            billing_currency:
              type: string
              description: Billing currency
              enum:
              - AUD
              - CAD
              - CHF
              - DKK
              - EUR
              - GBP
              - JPY
              - NOK
              - NZD
              - SEK
              - SGD
              - USD
            billing_emails:
              type: array
              maxItems: 10
              description: List of project billing email addresses
              items:
                type: object
                properties:
                  email:
                    type: string
                    maxLength: 254
                    description: User email address
                required:
                - email
            billing_extra_text:
              type: string
              maxLength: 1000
              description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
            billing_group_id:
              type: string
              minLength: 36
              maxLength: 36
              description: Billing group ID
            billing_group_name:
              type: string
              maxLength: 128
              description: Billing group name
            billing_type:
              type: string
              description: Method of charging/invoicing this project
            card_info:
              type: object
              description: Credit card assigned to the project
              properties:
                brand:
                  type: string
                  description: Brand
                card_id:
                  type: string
                  maxLength: 64
                  description: Credit card ID
                country:
                  type: string
                  maxLength: 128
                  description: Country
                country_code:
                  type: string
                  maxLength: 2
                  description: Two letter ISO country code
                exp_month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  description: Expiration month
                exp_year:
                  type: integer
                  minimum: 2015
                  maximum: 2100
                  description: Expiration year
                last4:
                  type: string
                  description: Credit card last four digits
                name:
                  type: string
                  maxLength: 256
                  description: Name on the credit card
                user_email:
                  type: string
                  maxLength: 254
                  description: User email address
              required:
              - brand
              - card_id
              - country
              - country_code
              - exp_month
              - exp_year
              - last4
              - name
              - user_email
            city:
              type: string
              maxLength: 50
              description: Address city
            company:
              type: string
              maxLength: 83
              description: Name of a company
            country:
              type: string
              maxLength: 128
              description: Billing country
            country_code:
              type: string
              maxLength: 2
              description: Two letter ISO country code
            create_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            estimated_balance_local:
              type: string
              description: Estimated balance in billing currency, before tax
            estimated_balance_usd:
              type: string
              description: Estimated balance in USD, before tax
            payment_method:
              type: string
              description: Payment method
              enum:
              - accrual
              - card
              - disabled
              - email
              - no_payment_expected
              - partner
            shipping_address_id:
              type: string
              maxLength: 36
              description: Address ID
            state:
              type: string
              maxLength: 30
              description: Address state or province
            vat_id:
              type: string
              maxLength: 64
              description: EU VAT Identification Number
            zip_code:
              type: string
              maxLength: 36
              description: Address zip code
          required:
          - account_id
          - account_name
          - address_lines
          - billing_address_id
          - billing_contact_emails
          - billing_currency
          - billing_emails
          - billing_extra_text
          - billing_group_id
          - billing_group_name
          - billing_type
          - card_info
          - city
          - company
          - country
          - country_code
          - create_time
          - estimated_balance_local
          - estimated_balance_usd
          - payment_method
          - shipping_address_id
          - state
          - vat_id
          - zip_code
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - billing_group
    BillingGroupProjectAssignResponse:
      type: object
      description: BillingGroupProjectAssignResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    BillingGroupCreateRequestBody:
      type: object
      description: BillingGroupCreateRequestBody
      properties:
        account_id:
          type: string
          maxLength: 36
          description: Account ID
        address_lines:
          type: array
          maxItems: 3
          description: Address lines
          items:
            type: string
        billing_address_id:
          type: string
          maxLength: 36
          description: Address ID
        billing_contact_emails:
          type: array
          maxItems: 10
          description: List of billing groups contact email addresses
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - email
        billing_currency:
          type: string
          description: Billing currency
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
        billing_emails:
          type: array
          maxItems: 10
          description: List of project billing email addresses
          items:
            type: object
            properties:
              email:
                type: string
                maxLength: 254
                description: User email address
            required:
            - email
        billing_extra_text:
          type: string
          maxLength: 1000
          description: Extra text to be included in all project invoices, e.g. purchase order or cost center number
        billing_group_name:
          type: string
          maxLength: 128
          description: Billing group name
        card_id:
          type: string
          maxLength: 64
          description: Credit card ID
        city:
          type: string
          maxLength: 50
          description: Address city
        company:
          type: string
          maxLength: 83
          description: Name of a company
        copy_from_billing_group:
          type: string
          minLength: 36
          maxLength: 36
          description: Billing group ID
        country_code:
          type: string
          maxLength: 2
          description: Two letter country code for billing country
        shipping_address_id:
          type: string
          maxLength: 36
          description: Address ID
        state:
          type: string
          maxLength: 30
          description: Address state or province
        vat_id:
          type: string
          maxLength: 64
          description: EU VAT Identification Number
        zip_code:
          type: string
          maxLength: 36
          description: Address zip code
      required:
      - billing_group_name
    BillingGroupCreditsClaimResponse:
      type: object
      description: BillingGroupCreditsClaimResponse
      properties:
        credit:
          type: object
          description: Assigned credit
          properties:
            code:
              type: string
              maxLength: 1024
              description: Credit code
            expire_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            remaining_value:
              type: string
              description: Remaining credit value
            start_time:
              type: string
              maxLength: 36
              description: Timestamp in ISO 8601 format, always in UTC
            type:
              type: string
              description: Credit type
              enum:
              - discount
              - employee
              - evaluation
              - internal
              - other
              - outage
              - partner
              - promotion
              - purchase
              - referral
              - sponsorship
              - trial
              - trial_over
            value:
              type: string
              description: Original credit value, or for expired credits, the consumed credit value
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - credit
    BillingGroupCreditsClaimRequestBody:
      type: object
      description: BillingGroupCreditsClaimRequestBody
      properties:
        code:
          type: string
          maxLength: 1024
          description: Credit code
      required:
      - code
    BillingGroupDeleteResponse:
      type: object
      description: BillingGroupDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    BillingGroupInvoiceListResponse:
      type: object
      description: BillingGroupInvoiceListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        invoices:
          type: array
          description: List of billing group invoices
          items:
            type: object
            properties:
              billing_group_id:
                type: string
                minLength: 36
                maxLength: 36
                description: Billing group ID
              billing_group_name:
                type: string
                maxLength: 128
                description: Billing group name
              billing_group_state:
                type: string
                description: Billing group state
                enum:
                - active
                - deleted
              currency:
                type: string
                description: Billing currency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              download_cookie:
                type: string
                description: Authentication cookie for downloads
              due_date:
                type: string
                description: The time when the invoice is due
              generated_at:
                type: string
                description: The time when the invoice was generated
              invoice_number:
                type: string
                maxLength: 128
                description: Unique invoice reference code
              issue_date:
                type: string
                description: The time when the invoice was issued
              period_begin:
                type: string
                maxLength: 36
                description: Period begin
              period_end:
                type: string
                maxLength: 36
                description: Period end
              state:
                type: string
                description: State of this invoice
                enum:
                - accrual
                - consolidated
                - due
                - estimate
                - failed_credit_card_charge
                - failed_no_credit_card
                - mailed
                - no_payment_expected
                - paid
                - partner_metering
                - uncollectible
                - waived
                - due_only_project_charges_calculated
                - estimate_only_project_charges_calculated
              total_inc_vat:
                type: string
                description: Total including taxes
              total_vat_zero:
                type: string
                description: Total excluding taxes
            required:
            - billing_group_id
            - billing_group_name
            - billing_group_state
            - currency
            - download_cookie
            - invoice_number
            - period_begin
            - period_end
            - state
            - total_inc_vat
            - total_vat_zero
        message:
          type: string
          description: Printable result of the request
      required:
      - invoices
  parameters:
    billinggroupinvoicecsvget_project:
      in: query
      name: project
      description: Project name. Only required if the provided cookie comes from the Project Billing API.
      schema:
        type: string
      required: false
    billing_group_id:
      in: path
      name: billing_group_id
      description: Billing group id
      schema:
        type: string
      required: true
    download_cookie:
      in: path
      name: download_cookie
      description: Authentication cookie for file download
      schema:
        type: string
      required: true
    billinggroupinvoicecsvget_cookie:
      in: query
      name: cookie
      description: Download cookie signature.
      schema:
        type: string
      required: true
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
    invoice_number:
      in: path
      name: invoice_number
      description: Invoice number
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
