openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Payment API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Payment
  x-displayName: Payment
paths:
  /card:
    post:
      summary: Add credit card for user
      tags:
      - Payment
      operationId: UserCreditCardAdd
      deprecated: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreditCardAddResponse'
      security:
      - tokenAuth: []
        oauth2:
        - payments:write
    get:
      summary: List user's credit cards
      tags:
      - Payment
      operationId: UserCreditCardsList
      deprecated: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreditCardsListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - payments:read
  /card/{card_id}:
    delete:
      summary: Delete user's credit card
      tags:
      - Payment
      operationId: UserCreditCardDelete
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/card_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreditCardDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - payments:write
    put:
      summary: Update user's credit card
      tags:
      - Payment
      operationId: UserCreditCardUpdate
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/card_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCreditCardUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - payments:read
components:
  schemas:
    UserCreditCardAddResponse:
      type: object
      description: UserCreditCardAddResponse
      properties:
        card:
          type: object
          description: User credit card information
          properties:
            brand:
              type: string
              description: Brand
            card_id:
              type: string
              maxLength: 64
              description: Credit card ID
            country:
              type: string
              maxLength: 128
              description: Country
            country_code:
              type: string
              maxLength: 2
              description: Two letter ISO country code
            exp_month:
              type: integer
              minimum: 1
              maximum: 12
              description: Expiration month
            exp_year:
              type: integer
              minimum: 2015
              maximum: 2100
              description: Expiration year
            last4:
              type: string
              description: Credit card last four digits
            name:
              type: string
              maxLength: 256
              description: Name on the credit card
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            projects:
              type: array
              description: List of projects the card is assigned to
              items:
                type: string
          required:
          - brand
          - card_id
          - country
          - country_code
          - exp_month
          - exp_year
          - last4
          - name
          - projects
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - card
    UserCreditCardDeleteResponse:
      type: object
      description: UserCreditCardDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    UserCreditCardsListResponse:
      type: object
      description: UserCreditCardsListResponse
      properties:
        cards:
          type: array
          description: List of user's credit cards
          items:
            type: object
            properties:
              brand:
                type: string
                description: Brand
              card_id:
                type: string
                maxLength: 64
                description: Credit card ID
              country:
                type: string
                maxLength: 128
                description: Country
              country_code:
                type: string
                maxLength: 2
                description: Two letter ISO country code
              exp_month:
                type: integer
                minimum: 1
                maximum: 12
                description: Expiration month
              exp_year:
                type: integer
                minimum: 2015
                maximum: 2100
                description: Expiration year
              last4:
                type: string
                description: Credit card last four digits
              name:
                type: string
                maxLength: 256
                description: Name on the credit card
              organization_id:
                type: string
                maxLength: 36
                description: Organization ID
              projects:
                type: array
                description: List of projects the card is assigned to
                items:
                  type: string
            required:
            - brand
            - card_id
            - country
            - country_code
            - exp_month
            - exp_year
            - last4
            - name
            - projects
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - cards
    UserCreditCardUpdateResponse:
      type: object
      description: UserCreditCardUpdateResponse
      properties:
        card:
          type: object
          description: User credit card information
          properties:
            brand:
              type: string
              description: Brand
            card_id:
              type: string
              maxLength: 64
              description: Credit card ID
            country:
              type: string
              maxLength: 128
              description: Country
            country_code:
              type: string
              maxLength: 2
              description: Two letter ISO country code
            exp_month:
              type: integer
              minimum: 1
              maximum: 12
              description: Expiration month
            exp_year:
              type: integer
              minimum: 2015
              maximum: 2100
              description: Expiration year
            last4:
              type: string
              description: Credit card last four digits
            name:
              type: string
              maxLength: 256
              description: Name on the credit card
            organization_id:
              type: string
              maxLength: 36
              description: Organization ID
            projects:
              type: array
              description: List of projects the card is assigned to
              items:
                type: string
          required:
          - brand
          - card_id
          - country
          - country_code
          - exp_month
          - exp_year
          - last4
          - name
          - projects
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - card
  parameters:
    card_id:
      in: path
      name: card_id
      description: Credit card ID
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
