openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Authentication Methods API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Authentication_Methods
  x-displayName: Authentication Methods
paths:
  /organization/{organization_id}/authentication-methods/{authentication_method_id}/domains:
    put:
      summary: Link a domain to an organization's identity provider
      tags:
      - Authentication_Methods
      operationId: OrganizationAuthDomainLink
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/authentication_method_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationAuthDomainLinkRequestBody'
            example:
              domain_id: domain-a9s7d6f98as7d6
      responses:
        '204':
          description: Link a domain to an organization's identity provider
          content: {}
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_mismatch
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_mismatch: Resources must belong to the same organization.'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - user_not_organization_admin
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'user_not_organization_admin: User is not organization administrator.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
    get:
      summary: List domains linked to an organization's identity provider
      tags:
      - Authentication_Methods
      operationId: OrganizationAuthDomainList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/authentication_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAuthDomainListResponse'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - user_not_organization_admin
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'user_not_organization_admin: User is not organization administrator.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
  /organization/{organization_id}/authentication-methods/{authentication_method_id}/domains/{domain_id}:
    delete:
      summary: Unlink domain from authentication method
      tags:
      - Authentication_Methods
      operationId: OrganizationAuthDomainUnlink
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/authentication_method_id'
      - $ref: '#/components/parameters/domain_id'
      responses:
        '204':
          description: Unlink domain from authentication method
          content: {}
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
        '403':
          description: Operation not allowed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - user_not_organization_admin
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'user_not_organization_admin: User is not organization administrator.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:write
components:
  parameters:
    authentication_method_id:
      in: path
      name: authentication_method_id
      description: Organization authentication method ID
      schema:
        type: string
      required: true
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
    domain_id:
      in: path
      name: domain_id
      description: ID of a domain
      schema:
        type: string
      required: true
  schemas:
    OrganizationAuthDomainLinkRequestBody:
      type: object
      description: OrganizationAuthDomainLinkRequestBody
      properties:
        domain_id:
          type: string
          description: ID of the domain
      required:
      - domain_id
    OrganizationAuthDomainListResponse:
      type: object
      description: OrganizationAuthDomainListResponse
      properties:
        domains:
          type: array
          description: List of domains for the organization
          items:
            type: object
            properties:
              challenge_token:
                type: string
                description: Random string to be used for validation
              create_time:
                type: string
                maxLength: 36
                description: Time of creating the domain
              domain_id:
                type: string
                description: ID of the domain
              domain_name:
                type: string
                description: Name of the domain
              linked_authentication_method_ids:
                type: array
                description: Linked Authentication Method Ids
                items:
                  type: string
              organization_id:
                type: string
                description: ID of the organization owning this domain
              state:
                type: string
                description: An enumeration.
                title: State of the verification process
                enum:
                - deleted
                - unverified
                - verified
              verification_type:
                type: string
                description: An enumeration.
                title: Type of verification to be made
                enum:
                - dns
                - http
            required:
            - challenge_token
            - create_time
            - domain_id
            - domain_name
            - linked_authentication_method_ids
            - organization_id
            - state
            - verification_type
      required:
      - domains
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
