openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Organization Emissions API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: OrganizationEmissions
  x-displayName: OrganizationEmissions
paths:
  /organization/{organization_id}/emissions:
    get:
      summary: Get organization emissions data
      tags:
      - OrganizationEmissions
      operationId: OrganizationEmissionsGet
      x-badges:
      - name: Experimental
        position: after
        color: '#787885'
      x-experimental: true
      description: This endpoint may be changed or removed at any time. Don't use it in production environments.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/organizationemissionsget_project_id'
      - $ref: '#/components/parameters/organizationemissionsget_billing_group_id'
      - $ref: '#/components/parameters/organizationemissionsget_starting_time'
      - $ref: '#/components/parameters/organizationemissionsget_ending_time'
      - $ref: '#/components/parameters/organizationemissionsget_granularity'
      - $ref: '#/components/parameters/organizationemissionsget_group_by'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEmissionsGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - accounts:read
components:
  parameters:
    organizationemissionsget_group_by:
      in: query
      name: group_by
      description: 'How to group results, default: none (organization total)'
      schema:
        type: string
        enum:
        - none
        - project
        - billing_group
      required: false
    organizationemissionsget_granularity:
      in: query
      name: granularity
      description: 'Time bucket granularity, default: month'
      schema:
        type: string
        enum:
        - day
        - month
      required: false
    organizationemissionsget_starting_time:
      in: query
      name: starting_time
      description: 'Start of time range (ISO 8601, default: start of last month)'
      schema:
        type: string
      required: false
    organizationemissionsget_ending_time:
      in: query
      name: ending_time
      description: 'End of time range (ISO 8601, default: start of current month)'
      schema:
        type: string
      required: false
    organizationemissionsget_project_id:
      in: query
      name: project_id
      description: Filter by project name (repeatable)
      schema:
        type: array
      required: false
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
    organizationemissionsget_billing_group_id:
      in: query
      name: billing_group_id
      description: Filter to specific billing groups (repeatable)
      schema:
        type: array
      required: false
  schemas:
    OrganizationEmissionsGetResponse:
      type: object
      description: OrganizationEmissionsGetResponse
      properties:
        ending_time:
          type: string
          maxLength: 36
          description: End of the query period (exclusive)
        granularity:
          type: string
          description: Granularity for emissions time buckets.
          title: Time bucket granularity
          enum:
          - day
          - month
        groups:
          type: array
          description: When group_by=none, contains a single element with org totals. When group_by=project or billing_group, contains one element per group.
          title: Emissions data grouped by the specified dimension
          items:
            type: object
            properties:
              buckets:
                type: array
                description: Emissions data broken down by time bucket
                title: Time series data
                items:
                  type: object
                  properties:
                    bucket_start:
                      type: string
                      maxLength: 36
                      description: Start of the time bucket
                    co2eq_kg:
                      type: number
                      description: Total CO2 equivalent emissions for this bucket
                      title: CO2 equivalent in kilograms
                  required:
                  - bucket_start
                  - co2eq_kg
              deleted:
                type: boolean
                description: True if the project or billing group has been deleted. Emissions from deleted resources are still included for historical accuracy.
                title: Whether the group has been deleted
                default: false
              group_name:
                type: string
                description: Name of the project or billing group. None for org-level totals.
                title: Group display name
            required:
            - buckets
        starting_time:
          type: string
          maxLength: 36
          description: Start of the query period (inclusive)
      required:
      - ending_time
      - granularity
      - groups
      - starting_time
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
