openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Organization Payment Method API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: OrganizationPaymentMethod
  x-displayName: OrganizationPaymentMethod
paths:
  /organization/{organization_id}/payment-method/bank-transfer/{payment_method_id}:
    get:
      summary: Get bank transfer payment method in the organization
      tags:
      - OrganizationPaymentMethod
      operationId: BankTransferGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/payment_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransferGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/payment-method/bank-transfers:
    get:
      summary: List bank transfers payment methods in an organization
      tags:
      - OrganizationPaymentMethod
      operationId: BankTransferList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransferListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/payment-method/credit-cards:
    post:
      summary: Create credit card payment method in the organization
      tags:
      - OrganizationPaymentMethod
      operationId: CreditCardCreate
      parameters:
      - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCardCreateRequestBody'
            example:
              stripe_payment_method_id: pm_1JXXXXXX
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardCreateResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
    get:
      summary: List credit cards payment methods in an organization
      tags:
      - OrganizationPaymentMethod
      operationId: CreditCardList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/payment-method/credit-card/{payment_method_id}:
    delete:
      summary: Delete credit card payment method in the organization
      tags:
      - OrganizationPaymentMethod
      operationId: CreditCardDelete
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/payment_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardDeleteResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:write
    get:
      summary: Get credit card payment method in the organization
      tags:
      - OrganizationPaymentMethod
      operationId: CreditCardGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/payment_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/payment-method/custom/{payment_method_id}:
    get:
      summary: Get custom payment method in the organization
      tags:
      - OrganizationPaymentMethod
      operationId: PaymentMethodCustomGet
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/payment_method_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodCustomGetResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/payment-method/custom:
    get:
      summary: List custom payment methods in an organization
      tags:
      - OrganizationPaymentMethod
      operationId: PaymentMethodCustomList
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodCustomListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
  /organization/{organization_id}/payment-methods:
    get:
      summary: List payment methods for an organization
      tags:
      - OrganizationPaymentMethod
      operationId: PaymentMethodsList
      description: Returns a lightweight list of payment method identifiers and their types for the given organization. This endpoint does not return full payment method metadata; it is intended for selection/association workflows where only (payment_method_id, payment_method_type) are needed.
      parameters:
      - $ref: '#/components/parameters/organization_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsListResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    title: Human readable error message
                  errors:
                    type: array
                    title: List of error details. Typically there is only one element
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          title: Human readable error message
                        error_code:
                          type: string
                          enum:
                          - organization_not_found
                          title: Machine processable error code. Clients must be prepared to handle new codes.
                          description: 'organization_not_found: Organization not found.'
      security:
      - tokenAuth: []
        oauth2:
        - billing:read
components:
  schemas:
    BankTransferGetResponse:
      type: object
      description: BankTransferGetResponse
      properties:
        create_time:
          type: string
          maxLength: 36
          description: Create Time
        currency:
          type: string
          description: Acceptable currencies for a billing group.
          title: AcceptedCurrency
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
        organization_id:
          type: string
          maxLength: 36
          description: Organization's ID
        payment_method_id:
          type: string
          maxLength: 36
          description: Payment method ID
        payment_terms_days:
          type: integer
          description: Payment Terms Days
        state:
          type: string
          description: Payment method state
        update_time:
          type: string
          maxLength: 36
          description: Update Time
      required:
      - create_time
      - currency
      - organization_id
      - payment_method_id
      - payment_terms_days
      - state
      - update_time
    CreditCardListResponse:
      type: object
      description: CreditCardListResponse
      properties:
        credit_cards:
          type: array
          description: Credit Cards
          items:
            type: object
            properties:
              brand:
                type: string
                description: Brand
              create_time:
                type: string
                maxLength: 36
                description: Create Time
              exp_month:
                type: integer
                description: Exp Month
              exp_year:
                type: integer
                description: Exp Year
              last4:
                type: string
                description: Last4
              name:
                type: string
                description: Name
              organization_id:
                type: string
                maxLength: 36
                description: Organization's ID
              payment_method_id:
                type: string
                maxLength: 36
                description: Payment method ID
              state:
                type: string
                description: Payment method state
              update_time:
                type: string
                maxLength: 36
                description: Update Time
            required:
            - brand
            - create_time
            - exp_month
            - exp_year
            - last4
            - name
            - organization_id
            - payment_method_id
            - state
            - update_time
      required:
      - credit_cards
    CreditCardCreateRequestBody:
      type: object
      description: CreditCardCreateRequestBody
      properties:
        stripe_payment_method_id:
          type: string
          description: Stripe payment method ID
      required:
      - stripe_payment_method_id
    CreditCardGetResponse:
      type: object
      description: CreditCardGetResponse
      properties:
        brand:
          type: string
          description: Brand
        create_time:
          type: string
          maxLength: 36
          description: Create Time
        exp_month:
          type: integer
          description: Exp Month
        exp_year:
          type: integer
          description: Exp Year
        last4:
          type: string
          description: Last4
        name:
          type: string
          description: Name
        organization_id:
          type: string
          maxLength: 36
          description: Organization's ID
        payment_method_id:
          type: string
          maxLength: 36
          description: Payment method ID
        state:
          type: string
          description: Payment method state
        update_time:
          type: string
          maxLength: 36
          description: Update Time
      required:
      - brand
      - create_time
      - exp_month
      - exp_year
      - last4
      - name
      - organization_id
      - payment_method_id
      - state
      - update_time
    PaymentMethodCustomGetResponse:
      type: object
      description: PaymentMethodCustomGetResponse
      properties:
        create_time:
          type: string
          maxLength: 36
          description: Create Time
        organization_id:
          type: string
          maxLength: 36
          description: Organization's ID
        payment_method_id:
          type: string
          maxLength: 36
          description: Payment method ID
        state:
          type: string
          description: Payment method state
        type:
          type: string
          description: An enumeration.
          title: PaymentMethodCustomType
          enum:
          - disabled
          - no_payment_expected
          - partner
        update_time:
          type: string
          maxLength: 36
          description: Update Time
      required:
      - create_time
      - organization_id
      - payment_method_id
      - state
      - type
      - update_time
    PaymentMethodsListResponse:
      type: object
      description: PaymentMethodsListResponse
      properties:
        payment_methods:
          type: array
          description: Payment Methods
          items:
            type: object
            properties:
              payment_method_id:
                type: string
                maxLength: 36
                description: Payment method ID
              payment_method_type:
                type: string
                description: An enumeration.
                title: Payment method type
                enum:
                - aws_subscription
                - azure_subscription
                - bank_transfer
                - credit_card
                - gcp_subscription
                - custom
            required:
            - payment_method_id
            - payment_method_type
      required:
      - payment_methods
    CreditCardDeleteResponse:
      type: object
      description: CreditCardDeleteResponse
      properties:
        brand:
          type: string
          description: Brand
        create_time:
          type: string
          maxLength: 36
          description: Create Time
        exp_month:
          type: integer
          description: Exp Month
        exp_year:
          type: integer
          description: Exp Year
        last4:
          type: string
          description: Last4
        name:
          type: string
          description: Name
        organization_id:
          type: string
          maxLength: 36
          description: Organization's ID
        payment_method_id:
          type: string
          maxLength: 36
          description: Payment method ID
        state:
          type: string
          description: Payment method state
        update_time:
          type: string
          maxLength: 36
          description: Update Time
      required:
      - brand
      - create_time
      - exp_month
      - exp_year
      - last4
      - name
      - organization_id
      - payment_method_id
      - state
      - update_time
    PaymentMethodCustomListResponse:
      type: object
      description: PaymentMethodCustomListResponse
      properties:
        custom_methods:
          type: array
          description: Custom Methods
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: Create Time
              organization_id:
                type: string
                maxLength: 36
                description: Organization's ID
              payment_method_id:
                type: string
                maxLength: 36
                description: Payment method ID
              state:
                type: string
                description: Payment method state
              type:
                type: string
                description: An enumeration.
                title: PaymentMethodCustomType
                enum:
                - disabled
                - no_payment_expected
                - partner
              update_time:
                type: string
                maxLength: 36
                description: Update Time
            required:
            - create_time
            - organization_id
            - payment_method_id
            - state
            - type
            - update_time
      required:
      - custom_methods
    BankTransferListResponse:
      type: object
      description: BankTransferListResponse
      properties:
        bank_transfers:
          type: array
          description: Bank Transfers
          items:
            type: object
            properties:
              create_time:
                type: string
                maxLength: 36
                description: Create Time
              currency:
                type: string
                description: Acceptable currencies for a billing group.
                title: AcceptedCurrency
                enum:
                - AUD
                - CAD
                - CHF
                - DKK
                - EUR
                - GBP
                - JPY
                - NOK
                - NZD
                - SEK
                - SGD
                - USD
              organization_id:
                type: string
                maxLength: 36
                description: Organization's ID
              payment_method_id:
                type: string
                maxLength: 36
                description: Payment method ID
              payment_terms_days:
                type: integer
                description: Payment Terms Days
              state:
                type: string
                description: Payment method state
              update_time:
                type: string
                maxLength: 36
                description: Update Time
            required:
            - create_time
            - currency
            - organization_id
            - payment_method_id
            - payment_terms_days
            - state
            - update_time
      required:
      - bank_transfers
    CreditCardCreateResponse:
      type: object
      description: CreditCardCreateResponse
      properties:
        brand:
          type: string
          description: Brand
        create_time:
          type: string
          maxLength: 36
          description: Create Time
        exp_month:
          type: integer
          description: Exp Month
        exp_year:
          type: integer
          description: Exp Year
        last4:
          type: string
          description: Last4
        name:
          type: string
          description: Name
        organization_id:
          type: string
          maxLength: 36
          description: Organization's ID
        payment_method_id:
          type: string
          maxLength: 36
          description: Payment method ID
        state:
          type: string
          description: Payment method state
        update_time:
          type: string
          maxLength: 36
          description: Update Time
      required:
      - brand
      - create_time
      - exp_month
      - exp_year
      - last4
      - name
      - organization_id
      - payment_method_id
      - state
      - update_time
  parameters:
    organization_id:
      in: path
      name: organization_id
      description: ID of an organization
      schema:
        type: string
      required: true
    payment_method_id:
      in: path
      name: payment_method_id
      description: ID of the payment method
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
