openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Cloud Platforms API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Cloud platforms
  x-displayName: Cloud platforms
paths:
  /clouds:
    get:
      summary: List cloud platforms
      tags:
      - Cloud platforms
      operationId: ListClouds
      description: Returns a list of available cloud platforms.
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCloudsResponse'
  /project/{project}/clouds:
    get:
      summary: List cloud platforms for a project
      tags:
      - Cloud platforms
      operationId: ListProjectClouds
      description: Returns a list of cloud platforms available for a project.
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/listprojectclouds_sort_by_proximity'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectCloudsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - projects:read
  /tenants/{tenant}/privatelink-availability:
    get:
      summary: List privatelink clouds and prices
      tags:
      - Cloud platforms
      operationId: PublicPrivatelinkAvailabilityList
      description: Returns a list of cloud platforms supporting privatelink along with privatelink costs for specific cloud platforms.
      parameters:
      - $ref: '#/components/parameters/tenant'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPrivatelinkAvailabilityListResponse'
  /tenants/{tenant}/static-ip-availability:
    get:
      summary: List static IP clouds and prices
      tags:
      - Cloud platforms
      operationId: PublicStaticIPAvailabilityList
      description: Returns a list of cloud platforms supporting static IP addresses along with static IP addresses costs for specific cloud platforms.
      parameters:
      - $ref: '#/components/parameters/tenant'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStaticIPAvailabilityListResponse'
components:
  schemas:
    ListProjectCloudsResponse:
      type: object
      description: ListProjectCloudsResponse
      properties:
        clouds:
          type: array
          description: List of available clouds
          items:
            type: object
            properties:
              cloud_description:
                type: string
                description: Cloud provider and location
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              geo_latitude:
                type: number
                description: Approximate geographic latitude of the datacenters
              geo_longitude:
                type: number
                description: Approximate geographic longitude of the datacenters
              geo_region:
                type: string
                description: Geographical region
              provider:
                type: string
                description: Cloud provider name
              provider_description:
                type: string
                description: Cloud provider description
            required:
            - cloud_name
            - geo_region
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - clouds
    ListCloudsResponse:
      type: object
      description: ListCloudsResponse
      properties:
        clouds:
          type: array
          description: List of available clouds
          items:
            type: object
            properties:
              cloud_description:
                type: string
                description: Cloud provider and location
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              geo_latitude:
                type: number
                description: Approximate geographic latitude of the datacenters
              geo_longitude:
                type: number
                description: Approximate geographic longitude of the datacenters
              geo_region:
                type: string
                description: Geographical region
              provider:
                type: string
                description: Cloud provider name
              provider_description:
                type: string
                description: Cloud provider description
            required:
            - cloud_name
            - geo_region
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - clouds
    PublicPrivatelinkAvailabilityListResponse:
      type: object
      description: PublicPrivatelinkAvailabilityListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        privatelink_availability:
          type: array
          description: Privatelink pricing information for supported clouds
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              price_usd:
                type: string
                description: Hourly privatelink price in this cloud region
            required:
            - cloud_name
            - price_usd
      required:
      - privatelink_availability
    PublicStaticIPAvailabilityListResponse:
      type: object
      description: PublicStaticIPAvailabilityListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        static_ip_address_availability:
          type: array
          description: Paginated array
          items:
            type: object
            properties:
              cloud_name:
                type: string
                maxLength: 256
                description: Target cloud
              price_usd:
                type: string
                description: Hourly static IP address price in this cloud region
            required:
            - cloud_name
            - price_usd
      required:
      - static_ip_address_availability
  parameters:
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
    tenant:
      in: path
      name: tenant
      description: Aiven tenant ID
      schema:
        type: string
      required: true
    listprojectclouds_sort_by_proximity:
      in: query
      name: sort_by_proximity
      description: When true, order clouds by proximity to the caller's IP (closest first).
      schema:
        type: boolean
        default: true
      required: false
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
