openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: 'Aiven API Documentation Service: Kafka Mirror Maker API'
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Service:_Kafka_MirrorMaker
  x-displayName: 'Service: Kafka MirrorMaker'
paths:
  /project/{project}/service/{service_name}/mirrormaker/replication-flows:
    post:
      summary: Create a replication flow
      tags:
      - Service:_Kafka_MirrorMaker
      operationId: ServiceKafkaMirrorMakerCreateReplicationFlow
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaMirrorMakerCreateReplicationFlowRequestBody'
            example:
              config_properties_exclude: min\.insync\.replicas, follower\.replication\.throttled\.replicas, leader\.replication\.throttled\.replicas, message\.timestamp\.difference\.max\.ms, message\.timestamp\.type, unclean\.leader\.election\.enable, min\.insync\.replicas
              emit_backward_heartbeats_enabled: 'true'
              emit_heartbeats_enabled: 'true'
              enabled: 'true'
              exactly_once_delivery_enabled: 'false'
              follower_fetching_enabled: 'true'
              offset_lag_max: 100
              offset_syncs_topic_location: source
              replication_factor: 3
              replication_policy_class: org.apache.kafka.connect.mirror.DefaultReplicationPolicy
              source_cluster: kafka-abc
              sync_group_offsets_enabled: 'true'
              sync_group_offsets_interval_seconds: 60
              target_cluster: kafka-abc
              topics:
              - .*
              topics\.blacklist:
              - .*[\-\.]internal
              - .*\.replica
              - __.*
              topics\.exclude:
              - .*[\-\.]internal
              - .*\.replica
              - __.*
              topics_exclude:
              - .*[\-\.]internal
              - .*\.replica
              - __.*
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaMirrorMakerCreateReplicationFlowResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get replication flows
      tags:
      - Service:_Kafka_MirrorMaker
      operationId: ServiceKafkaMirrorMakerGetReplicationFlows
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaMirrorMakerGetReplicationFlowsResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/mirrormaker/replication-flows/{source_cluster}/{target_cluster}:
    delete:
      summary: Delete a replication flow
      tags:
      - Service:_Kafka_MirrorMaker
      operationId: ServiceKafkaMirrorMakerDeleteReplicationFlow
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/source_cluster'
      - $ref: '#/components/parameters/target_cluster'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaMirrorMakerDeleteReplicationFlowResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get a replication flow
      tags:
      - Service:_Kafka_MirrorMaker
      operationId: ServiceKafkaMirrorMakerGetReplicationFlow
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/source_cluster'
      - $ref: '#/components/parameters/target_cluster'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaMirrorMakerGetReplicationFlowResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Update a replication flow
      tags:
      - Service:_Kafka_MirrorMaker
      operationId: ServiceKafkaMirrorMakerPatchReplicationFlow
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      - $ref: '#/components/parameters/source_cluster'
      - $ref: '#/components/parameters/target_cluster'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKafkaMirrorMakerPatchReplicationFlowRequestBody'
            example:
              config_properties_exclude: min\.insync\.replicas, follower\.replication\.throttled\.replicas, leader\.replication\.throttled\.replicas, message\.timestamp\.difference\.max\.ms, message\.timestamp\.type, unclean\.leader\.election\.enable, min\.insync\.replicas
              emit_backward_heartbeats_enabled: 'true'
              emit_heartbeats_enabled: 'true'
              enabled: 'true'
              exactly_once_delivery_enabled: 'false'
              follower_fetching_enabled: 'true'
              offset_lag_max: 100
              offset_syncs_topic_location: source
              replication_factor: 3
              replication_policy_class: org.apache.kafka.connect.mirror.DefaultReplicationPolicy
              sync_group_offsets_enabled: 'true'
              sync_group_offsets_interval_seconds: 60
              topics:
              - .*
              topics\.blacklist:
              - .*[\-\.]internal
              - .*\.replica
              - __.*
              topics\.exclude:
              - .*[\-\.]internal
              - .*\.replica
              - __.*
              topics_exclude:
              - .*[\-\.]internal
              - .*\.replica
              - __.*
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceKafkaMirrorMakerPatchReplicationFlowResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
components:
  parameters:
    target_cluster:
      in: path
      name: target_cluster
      description: Target cluster alias
      schema:
        type: string
      required: true
    service_name:
      in: path
      name: service_name
      description: Service name
      schema:
        type: string
      required: true
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
    source_cluster:
      in: path
      name: source_cluster
      description: Source cluster alias
      schema:
        type: string
      required: true
  schemas:
    ServiceKafkaMirrorMakerCreateReplicationFlowRequestBody:
      type: object
      description: ServiceKafkaMirrorMakerCreateReplicationFlowRequestBody
      properties:
        config_properties_exclude:
          type: string
          maxLength: 2048
          description: A comma separated list of topic configuration properties and/or regexes that should not be replicated. If omitted, MirrorMaker will use default list of exclusions. For stability reasons, we always include the unclean.leader.election.enable field in the excluded parameters. If you have specific requirements for this configuration, please reach out to our support team for assistance.
          title: Topic configuration properties that should not be replicated
        emit_backward_heartbeats_enabled:
          type: boolean
          description: Whether to emit heartbeats to the direction opposite to the flow, i.e. to the source cluster
          title: Emit backward heartbeats enabled
        emit_heartbeats_enabled:
          type: boolean
          description: Whether to emit heartbeats to the target cluster
          title: Emit heartbeats enabled
        enabled:
          type: boolean
          description: Is replication flow enabled
        exactly_once_delivery_enabled:
          type: boolean
          description: Whether to enable exactly-once message delivery. We recommend you set this to enabled for new replications.
          title: Enable exactly-once message delivery
        follower_fetching_enabled:
          type: boolean
          description: Assigns a Rack ID based on the availability-zone to enable follower fetching and rack awareness per replication flow.
          title: Enable follower fetching
        offset_lag_max:
          type: integer
          minimum: 0
          description: 'How out-of-sync a remote partition can be before it is resynced (default: 100)'
          title: How out-of-sync a remote partition can be before it is resynced
        offset_syncs_topic_location:
          type: string
          description: The location of the offset-syncs topic
          title: Offset syncs topic location
          enum:
          - source
          - target
        replication_factor:
          type: integer
          minimum: 1
          description: Replication factor used when creating the remote topics. If the replication factor surpasses the number of nodes in the target cluster, topic creation will fail.
          title: Replication factor
        replication_policy_class:
          type: string
          description: Class which defines the remote topic naming convention
          title: Replication policy class
          enum:
          - org.apache.kafka.connect.mirror.DefaultReplicationPolicy
          - org.apache.kafka.connect.mirror.IdentityReplicationPolicy
        source_cluster:
          type: string
          maxLength: 128
          description: 'The alias of the source cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
          title: Source cluster alias
        sync_group_offsets_enabled:
          type: boolean
          description: Whether to periodically write the translated offsets of replicated consumer groups (in the source cluster) to __consumer_offsets topic in target cluster, as long as no active consumers in that group are connected to the target cluster
          title: Sync consumer group offsets
        sync_group_offsets_interval_seconds:
          type: integer
          minimum: 1
          description: 'Frequency at which consumer group offsets are synced (default: 60, every minute)'
          title: Frequency of consumer group offset sync
        target_cluster:
          type: string
          maxLength: 128
          description: 'The alias of the target cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
          title: Target cluster alias
        topics:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should be replicated. MirrorMaker will replicate these topics if they are not matched by &quot;topics.exclude&quot;. Currently defaults to [&quot;.*&quot;].
          title: List of topics and/or regular expressions to replicate.
          items:
            type: string
        topics.blacklist:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
          title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
          items:
            type: string
        topics.exclude:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
          title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
          items:
            type: string
        topics_exclude:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
          title: List of topics and/or regular expressions to not replicate.
          items:
            type: string
      required:
      - enabled
      - source_cluster
      - target_cluster
    ServiceKafkaMirrorMakerPatchReplicationFlowResponse:
      type: object
      description: ServiceKafkaMirrorMakerPatchReplicationFlowResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        replication_flow:
          type: object
          description: Replication flow
          properties:
            config_properties_exclude:
              type: string
              maxLength: 2048
              description: A comma separated list of topic configuration properties and/or regexes that should not be replicated. If omitted, MirrorMaker will use default list of exclusions. For stability reasons, we always include the unclean.leader.election.enable field in the excluded parameters. If you have specific requirements for this configuration, please reach out to our support team for assistance.
              title: Topic configuration properties that should not be replicated
            emit_backward_heartbeats_enabled:
              type: boolean
              description: Whether to emit heartbeats to the direction opposite to the flow, i.e. to the source cluster
              title: Emit backward heartbeats enabled
            emit_heartbeats_enabled:
              type: boolean
              description: Whether to emit heartbeats to the target cluster
              title: Emit heartbeats enabled
            enabled:
              type: boolean
              description: Is replication flow enabled
            exactly_once_delivery_enabled:
              type: boolean
              description: Whether to enable exactly-once message delivery. We recommend you set this to enabled for new replications.
              title: Enable exactly-once message delivery
            follower_fetching_enabled:
              type: boolean
              description: Assigns a Rack ID based on the availability-zone to enable follower fetching and rack awareness per replication flow.
              title: Enable follower fetching
            offset_lag_max:
              type: integer
              minimum: 0
              description: 'How out-of-sync a remote partition can be before it is resynced (default: 100)'
              title: How out-of-sync a remote partition can be before it is resynced
            offset_syncs_topic_location:
              type: string
              description: The location of the offset-syncs topic
              title: Offset syncs topic location
              enum:
              - source
              - target
            replication_factor:
              type: integer
              minimum: 1
              description: Replication factor used when creating the remote topics. If the replication factor surpasses the number of nodes in the target cluster, topic creation will fail.
              title: Replication factor
            replication_policy_class:
              type: string
              description: Class which defines the remote topic naming convention
              title: Replication policy class
              enum:
              - org.apache.kafka.connect.mirror.DefaultReplicationPolicy
              - org.apache.kafka.connect.mirror.IdentityReplicationPolicy
            replication_progress:
              type: number
              minimum: 0
              maximum: 1
              description: The overall progress of replication across topics
              title: Replication progress
            source_cluster:
              type: string
              maxLength: 128
              description: 'The alias of the source cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
              title: Source cluster alias
            sync_group_offsets_enabled:
              type: boolean
              description: Whether to periodically write the translated offsets of replicated consumer groups (in the source cluster) to __consumer_offsets topic in target cluster, as long as no active consumers in that group are connected to the target cluster
              title: Sync consumer group offsets
            sync_group_offsets_interval_seconds:
              type: integer
              minimum: 1
              description: 'Frequency at which consumer group offsets are synced (default: 60, every minute)'
              title: Frequency of consumer group offset sync
            target_cluster:
              type: string
              maxLength: 128
              description: 'The alias of the target cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
              title: Target cluster alias
            topics:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should be replicated. MirrorMaker will replicate these topics if they are not matched by &quot;topics.exclude&quot;. Currently defaults to [&quot;.*&quot;].
              title: List of topics and/or regular expressions to replicate.
              items:
                type: string
            topics.blacklist:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
              title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
              items:
                type: string
            topics.exclude:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
              title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
              items:
                type: string
            topics_exclude:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
              title: List of topics and/or regular expressions to not replicate.
              items:
                type: string
          required:
          - enabled
          - source_cluster
          - target_cluster
      required:
      - replication_flow
    ServiceKafkaMirrorMakerGetReplicationFlowsResponse:
      type: object
      description: ServiceKafkaMirrorMakerGetReplicationFlowsResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        replication_flows:
          type: array
          maxItems: 256
          description: Describes data replication flows between Kafka clusters
          title: Replication flows
          items:
            type: object
            properties:
              config_properties_exclude:
                type: string
                maxLength: 2048
                description: A comma separated list of topic configuration properties and/or regexes that should not be replicated. If omitted, MirrorMaker will use default list of exclusions. For stability reasons, we always include the unclean.leader.election.enable field in the excluded parameters. If you have specific requirements for this configuration, please reach out to our support team for assistance.
                title: Topic configuration properties that should not be replicated
              emit_backward_heartbeats_enabled:
                type: boolean
                description: Whether to emit heartbeats to the direction opposite to the flow, i.e. to the source cluster
                title: Emit backward heartbeats enabled
              emit_heartbeats_enabled:
                type: boolean
                description: Whether to emit heartbeats to the target cluster
                title: Emit heartbeats enabled
              enabled:
                type: boolean
                description: Is replication flow enabled
              exactly_once_delivery_enabled:
                type: boolean
                description: Whether to enable exactly-once message delivery. We recommend you set this to enabled for new replications.
                title: Enable exactly-once message delivery
              follower_fetching_enabled:
                type: boolean
                description: Assigns a Rack ID based on the availability-zone to enable follower fetching and rack awareness per replication flow.
                title: Enable follower fetching
              offset_lag_max:
                type: integer
                minimum: 0
                description: 'How out-of-sync a remote partition can be before it is resynced (default: 100)'
                title: How out-of-sync a remote partition can be before it is resynced
              offset_syncs_topic_location:
                type: string
                description: The location of the offset-syncs topic
                title: Offset syncs topic location
                enum:
                - source
                - target
              replication_factor:
                type: integer
                minimum: 1
                description: Replication factor used when creating the remote topics. If the replication factor surpasses the number of nodes in the target cluster, topic creation will fail.
                title: Replication factor
              replication_policy_class:
                type: string
                description: Class which defines the remote topic naming convention
                title: Replication policy class
                enum:
                - org.apache.kafka.connect.mirror.DefaultReplicationPolicy
                - org.apache.kafka.connect.mirror.IdentityReplicationPolicy
              replication_progress:
                type: number
                minimum: 0
                maximum: 1
                description: The overall progress of replication across topics
                title: Replication progress
              source_cluster:
                type: string
                maxLength: 128
                description: 'The alias of the source cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
                title: Source cluster alias
              sync_group_offsets_enabled:
                type: boolean
                description: Whether to periodically write the translated offsets of replicated consumer groups (in the source cluster) to __consumer_offsets topic in target cluster, as long as no active consumers in that group are connected to the target cluster
                title: Sync consumer group offsets
              sync_group_offsets_interval_seconds:
                type: integer
                minimum: 1
                description: 'Frequency at which consumer group offsets are synced (default: 60, every minute)'
                title: Frequency of consumer group offset sync
              target_cluster:
                type: string
                maxLength: 128
                description: 'The alias of the target cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
                title: Target cluster alias
              topics:
                type: array
                maxItems: 8192
                description: Topic names and regular expressions that match topic names that should be replicated. MirrorMaker will replicate these topics if they are not matched by &quot;topics.exclude&quot;. Currently defaults to [&quot;.*&quot;].
                title: List of topics and/or regular expressions to replicate.
                items:
                  type: string
              topics.blacklist:
                type: array
                maxItems: 8192
                description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
                title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
                items:
                  type: string
              topics.exclude:
                type: array
                maxItems: 8192
                description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
                title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
                items:
                  type: string
              topics_exclude:
                type: array
                maxItems: 8192
                description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
                title: List of topics and/or regular expressions to not replicate.
                items:
                  type: string
            required:
            - enabled
            - source_cluster
            - target_cluster
      required:
      - replication_flows
    ServiceKafkaMirrorMakerGetReplicationFlowResponse:
      type: object
      description: ServiceKafkaMirrorMakerGetReplicationFlowResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        replication_flow:
          type: object
          description: Replication flow
          properties:
            config_properties_exclude:
              type: string
              maxLength: 2048
              description: A comma separated list of topic configuration properties and/or regexes that should not be replicated. If omitted, MirrorMaker will use default list of exclusions. For stability reasons, we always include the unclean.leader.election.enable field in the excluded parameters. If you have specific requirements for this configuration, please reach out to our support team for assistance.
              title: Topic configuration properties that should not be replicated
            emit_backward_heartbeats_enabled:
              type: boolean
              description: Whether to emit heartbeats to the direction opposite to the flow, i.e. to the source cluster
              title: Emit backward heartbeats enabled
            emit_heartbeats_enabled:
              type: boolean
              description: Whether to emit heartbeats to the target cluster
              title: Emit heartbeats enabled
            enabled:
              type: boolean
              description: Is replication flow enabled
            exactly_once_delivery_enabled:
              type: boolean
              description: Whether to enable exactly-once message delivery. We recommend you set this to enabled for new replications.
              title: Enable exactly-once message delivery
            follower_fetching_enabled:
              type: boolean
              description: Assigns a Rack ID based on the availability-zone to enable follower fetching and rack awareness per replication flow.
              title: Enable follower fetching
            offset_lag_max:
              type: integer
              minimum: 0
              description: 'How out-of-sync a remote partition can be before it is resynced (default: 100)'
              title: How out-of-sync a remote partition can be before it is resynced
            offset_syncs_topic_location:
              type: string
              description: The location of the offset-syncs topic
              title: Offset syncs topic location
              enum:
              - source
              - target
            replication_factor:
              type: integer
              minimum: 1
              description: Replication factor used when creating the remote topics. If the replication factor surpasses the number of nodes in the target cluster, topic creation will fail.
              title: Replication factor
            replication_policy_class:
              type: string
              description: Class which defines the remote topic naming convention
              title: Replication policy class
              enum:
              - org.apache.kafka.connect.mirror.DefaultReplicationPolicy
              - org.apache.kafka.connect.mirror.IdentityReplicationPolicy
            replication_progress:
              type: number
              minimum: 0
              maximum: 1
              description: The overall progress of replication across topics
              title: Replication progress
            source_cluster:
              type: string
              maxLength: 128
              description: 'The alias of the source cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
              title: Source cluster alias
            sync_group_offsets_enabled:
              type: boolean
              description: Whether to periodically write the translated offsets of replicated consumer groups (in the source cluster) to __consumer_offsets topic in target cluster, as long as no active consumers in that group are connected to the target cluster
              title: Sync consumer group offsets
            sync_group_offsets_interval_seconds:
              type: integer
              minimum: 1
              description: 'Frequency at which consumer group offsets are synced (default: 60, every minute)'
              title: Frequency of consumer group offset sync
            target_cluster:
              type: string
              maxLength: 128
              description: 'The alias of the target cluster to use in this replication flow. Can contain the following symbols: ASCII alphanumerics, ''.'', ''_'', and ''-''.'
              title: Target cluster alias
            topics:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should be replicated. MirrorMaker will replicate these topics if they are not matched by &quot;topics.exclude&quot;. Currently defaults to [&quot;.*&quot;].
              title: List of topics and/or regular expressions to replicate.
              items:
                type: string
            topics.blacklist:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
              title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
              items:
                type: string
            topics.exclude:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
              title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
              items:
                type: string
            topics_exclude:
              type: array
              maxItems: 8192
              description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
              title: List of topics and/or regular expressions to not replicate.
              items:
                type: string
          required:
          - enabled
          - source_cluster
          - target_cluster
      required:
      - replication_flow
    ServiceKafkaMirrorMakerDeleteReplicationFlowResponse:
      type: object
      description: ServiceKafkaMirrorMakerDeleteReplicationFlowResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceKafkaMirrorMakerPatchReplicationFlowRequestBody:
      type: object
      description: ServiceKafkaMirrorMakerPatchReplicationFlowRequestBody
      properties:
        config_properties_exclude:
          type: string
          maxLength: 2048
          description: A comma separated list of topic configuration properties and/or regexes that should not be replicated. If omitted, MirrorMaker will use default list of exclusions. For stability reasons, we always include the unclean.leader.election.enable field in the excluded parameters. If you have specific requirements for this configuration, please reach out to our support team for assistance.
          title: Topic configuration properties that should not be replicated
        emit_backward_heartbeats_enabled:
          type: boolean
          description: Whether to emit heartbeats to the direction opposite to the flow, i.e. to the source cluster
          title: Emit backward heartbeats enabled
        emit_heartbeats_enabled:
          type: boolean
          description: Whether to emit heartbeats to the target cluster
          title: Emit heartbeats enabled
        enabled:
          type: boolean
          description: Is replication flow enabled
        exactly_once_delivery_enabled:
          type: boolean
          description: Whether to enable exactly-once message delivery. We recommend you set this to enabled for new replications.
          title: Enable exactly-once message delivery
        follower_fetching_enabled:
          type: boolean
          description: Assigns a Rack ID based on the availability-zone to enable follower fetching and rack awareness per replication flow.
          title: Enable follower fetching
        offset_lag_max:
          type: integer
          minimum: 0
          description: 'How out-of-sync a remote partition can be before it is resynced (default: 100)'
          title: How out-of-sync a remote partition can be before it is resynced
        offset_syncs_topic_location:
          type: string
          description: The location of the offset-syncs topic
          title: Offset syncs topic location
          enum:
          - source
          - target
        replication_factor:
          type: integer
          minimum: 1
          description: Replication factor used when creating the remote topics. If the replication factor surpasses the number of nodes in the target cluster, topic creation will fail.
          title: Replication factor
        replication_policy_class:
          type: string
          description: Class which defines the remote topic naming convention
          title: Replication policy class
          enum:
          - org.apache.kafka.connect.mirror.DefaultReplicationPolicy
          - org.apache.kafka.connect.mirror.IdentityReplicationPolicy
        sync_group_offsets_enabled:
          type: boolean
          description: Whether to periodically write the translated offsets of replicated consumer groups (in the source cluster) to __consumer_offsets topic in target cluster, as long as no active consumers in that group are connected to the target cluster
          title: Sync consumer group offsets
        sync_group_offsets_interval_seconds:
          type: integer
          minimum: 1
          description: 'Frequency at which consumer group offsets are synced (default: 60, every minute)'
          title: Frequency of consumer group offset sync
        topics:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should be replicated. MirrorMaker will replicate these topics if they are not matched by &quot;topics.exclude&quot;. Currently defaults to [&quot;.*&quot;].
          title: List of topics and/or regular expressions to replicate.
          items:
            type: string
        topics.blacklist:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
          title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
          items:
            type: string
        topics.exclude:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
          title: List of topics and/or regular expressions to not replicate. Deprecated property, use 'topics_exclude instead'.
          items:
            type: string
        topics_exclude:
          type: array
          maxItems: 8192
          description: Topic names and regular expressions that match topic names that should not be replicated. MirrorMaker will not replicate these topics even if they are matched by &quot;topics&quot;. If not set, MM2 uses the default exclusion.
          title: List of topics and/or regular expressions to not replicate.
          items:
            type: string
    ServiceKafkaMirrorMakerCreateReplicationFlowResponse:
      type: object
      description: ServiceKafkaMirrorMakerCreateReplicationFlowResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
