openapi: 3.2.0
info:
  contact:
    email: support@aiven.io
    name: Aiven support team
    url: https://aiven.io/support-services
  title: Aiven API Documentation Service Integrations API
  version: v1
  x-logo:
    altText: Aiven logo
    backgroundColor: '#fafafa'
    href: https://api.aiven.io/doc
    url: https://aiven.io/assets/img/aiven-logo.png
  description: '# Introduction


    Direct link to openapi.json for use with external tools


    Aiven is a modern fully-managed open source data platform for streaming, storing, and analyzing data on any public cloud.'
servers:
- url: https://api.aiven.io/v1
tags:
- name: Service Integrations
  x-displayName: Service Integrations
paths:
  /project/{project}/integration:
    post:
      summary: Create a new service integration
      tags:
      - Service Integrations
      operationId: ServiceIntegrationCreate
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceIntegrationCreateRequestBody'
            example:
              dest_endpoint_id: 5bdeef77-a901-4487-a0db-54eba23539f8
              dest_project: myproject1
              dest_service: service2
              integration_type: alertmanager
              source_endpoint_id: 543e420d-aa63-43e8-b8e8-294a78c600e7
              source_project: myproject1
              source_service: service1
              user_config: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/integration/{integration_id}:
    delete:
      summary: Delete a service integration
      tags:
      - Service Integrations
      operationId: ServiceIntegrationDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/integration_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get service integration
      tags:
      - Service Integrations
      operationId: ServiceIntegrationGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/integration_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Update a service integration
      tags:
      - Service Integrations
      operationId: ServiceIntegrationUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/integration_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceIntegrationUpdateRequestBody'
            example:
              user_config: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/integration_endpoint:
    post:
      summary: Create a new service integration endpoint
      tags:
      - Service Integrations
      operationId: ServiceIntegrationEndpointCreate
      parameters:
      - $ref: '#/components/parameters/project'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceIntegrationEndpointCreateRequestBody'
            example:
              endpoint_name: Testing Datadog account
              endpoint_type: autoscaler
              user_config: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationEndpointCreateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: List available integration endpoints for project
      tags:
      - Service Integrations
      operationId: ServiceIntegrationEndpointList
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationEndpointListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/integration_endpoint/{integration_endpoint_id}:
    delete:
      summary: Delete a service integration endpoint
      tags:
      - Service Integrations
      operationId: ServiceIntegrationEndpointDelete
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/integration_endpoint_id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationEndpointDeleteResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
    get:
      summary: Get service integration endpoint
      tags:
      - Service Integrations
      operationId: ServiceIntegrationEndpointGet
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/integration_endpoint_id'
      - $ref: '#/components/parameters/serviceintegrationendpointget_include_secrets'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationEndpointGetResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
    put:
      summary: Update service integration endpoint
      tags:
      - Service Integrations
      operationId: ServiceIntegrationEndpointUpdate
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/integration_endpoint_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceIntegrationEndpointUpdateRequestBody'
            example:
              user_config: {}
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationEndpointUpdateResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:write
  /project/{project}/integration_endpoint_types:
    get:
      summary: List available service integration endpoint types
      tags:
      - Service Integrations
      operationId: ServiceIntegrationEndpointTypes
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationEndpointTypesResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/service/{service_name}/integration:
    get:
      summary: List available integrations for a service
      tags:
      - Service Integrations
      operationId: ServiceIntegrationList
      parameters:
      - $ref: '#/components/parameters/project'
      - $ref: '#/components/parameters/service_name'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationListResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
  /project/{project}/integration_types:
    get:
      summary: List available service integration types
      tags:
      - Service Integrations
      operationId: ServiceIntegrationTypes
      parameters:
      - $ref: '#/components/parameters/project'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceIntegrationTypesResponse'
      security:
      - tokenAuth: []
        oauth2:
        - services:read
components:
  schemas:
    ServiceIntegrationCreateResponse:
      type: object
      description: ServiceIntegrationCreateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integration:
          type: object
          description: Service integration
          properties:
            active:
              type: boolean
              description: True when integration is active
            description:
              type: string
              description: Description of the integration
            dest_endpoint:
              type: string
              description: Destination endpoint name
            dest_endpoint_id:
              type: string
              description: Destination endpoint id
            dest_project:
              type: string
              maxLength: 63
              description: Project name
            dest_service:
              type: string
              description: Destination service name
            dest_service_type:
              type: string
              maxLength: 64
              description: Service type code
            enabled:
              type: boolean
              description: True when integration is enabled
            integration_status:
              type: object
              description: Integration status
              properties:
                state:
                  type: object
                  description: Service integration state
                  properties:
                    errors:
                      type: array
                      description: Errors
                      items:
                        type: string
                    likely_error_cause:
                      type: string
                      description: Most likely cause of the errors
                      enum:
                      - 'null'
                      - destination
                      - integration
                      - source
                      - unknown
                    nodes:
                      type: object
                      description: Nodes
                      properties: {}
                    status:
                      type: string
                      description: Service integration status
                      enum:
                      - failed
                      - inactive
                      - running
                      - starting
                      - unknown
                  required:
                  - errors
                  - nodes
                  - status
                status_user_desc:
                  type: string
                  description: Integration status description
              required:
              - state
              - status_user_desc
            integration_type:
              type: string
              description: Type of the integration
            service_integration_id:
              type: string
              description: Integration ID
            source_endpoint:
              type: string
              description: Source endpoint name
            source_endpoint_id:
              type: string
              description: Source endpoint ID
            source_project:
              type: string
              maxLength: 63
              description: Project name
            source_service:
              type: string
              description: Source service name
            source_service_type:
              type: string
              maxLength: 64
              description: Service type code
            user_config:
              type: object
              description: Service integration settings
              properties: {}
          required:
          - active
          - description
          - dest_project
          - dest_service_type
          - enabled
          - integration_type
          - service_integration_id
          - source_project
          - source_service
          - source_service_type
      required:
      - service_integration
    ServiceIntegrationListResponse:
      type: object
      description: ServiceIntegrationListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integrations:
          type: array
          description: List of service integrations in current project for a service
          items:
            type: object
            properties:
              active:
                type: boolean
                description: True when integration is active
              description:
                type: string
                description: Description of the integration
              dest_endpoint:
                type: string
                description: Destination endpoint name
              dest_endpoint_id:
                type: string
                description: Destination endpoint id
              dest_project:
                type: string
                maxLength: 63
                description: Project name
              dest_service:
                type: string
                description: Destination service name
              dest_service_type:
                type: string
                maxLength: 64
                description: Service type code
              enabled:
                type: boolean
                description: True when integration is enabled
              integration_status:
                type: object
                description: Integration status
                properties:
                  state:
                    type: object
                    description: Service integration state
                    properties:
                      errors:
                        type: array
                        description: Errors
                        items:
                          type: string
                      likely_error_cause:
                        type: string
                        description: Most likely cause of the errors
                        enum:
                        - 'null'
                        - destination
                        - integration
                        - source
                        - unknown
                      nodes:
                        type: object
                        description: Nodes
                        properties: {}
                      status:
                        type: string
                        description: Service integration status
                        enum:
                        - failed
                        - inactive
                        - running
                        - starting
                        - unknown
                    required:
                    - errors
                    - nodes
                    - status
                  status_user_desc:
                    type: string
                    description: Integration status description
                required:
                - state
                - status_user_desc
              integration_type:
                type: string
                description: Type of the integration
              service_integration_id:
                type: string
                description: Integration ID
              source_endpoint:
                type: string
                description: Source endpoint name
              source_endpoint_id:
                type: string
                description: Source endpoint ID
              source_project:
                type: string
                maxLength: 63
                description: Project name
              source_service:
                type: string
                description: Source service name
              source_service_type:
                type: string
                maxLength: 64
                description: Service type code
              user_config:
                type: object
                description: Service integration settings
                properties: {}
            required:
            - active
            - description
            - dest_project
            - dest_service_type
            - enabled
            - integration_type
            - service_integration_id
            - source_project
            - source_service
            - source_service_type
      required:
      - service_integrations
    ServiceIntegrationEndpointDeleteResponse:
      type: object
      description: ServiceIntegrationEndpointDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceIntegrationEndpointCreateRequestBody:
      type: object
      description: ServiceIntegrationEndpointCreateRequestBody
      properties:
        endpoint_name:
          type: string
          minLength: 1
          maxLength: 40
          description: Integration endpoint name
        endpoint_type:
          type: string
          description: Service integration endpoint type
          enum:
          - autoscaler
          - autoscaler_service
          - datadog
          - external_aws_cloudwatch_logs
          - external_aws_cloudwatch_metrics
          - external_aws_s3
          - external_azure_blob_storage
          - external_clickhouse
          - external_elasticsearch_logs
          - external_google_cloud_bigquery
          - external_google_cloud_logging
          - external_kafka
          - external_mysql
          - external_object_storage_config
          - external_opensearch_logs
          - external_postgresql
          - external_prometheus
          - external_redis
          - external_schema_registry
          - external_sumologic_logs
          - jolokia
          - prometheus
          - rsyslog
        user_config:
          type: object
          description: Service integration endpoint settings
          properties: {}
      required:
      - endpoint_name
      - endpoint_type
      - user_config
    ServiceIntegrationUpdateResponse:
      type: object
      description: ServiceIntegrationUpdateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integration:
          type: object
          description: Service integration
          properties:
            active:
              type: boolean
              description: True when integration is active
            description:
              type: string
              description: Description of the integration
            dest_endpoint:
              type: string
              description: Destination endpoint name
            dest_endpoint_id:
              type: string
              description: Destination endpoint id
            dest_project:
              type: string
              maxLength: 63
              description: Project name
            dest_service:
              type: string
              description: Destination service name
            dest_service_type:
              type: string
              maxLength: 64
              description: Service type code
            enabled:
              type: boolean
              description: True when integration is enabled
            integration_status:
              type: object
              description: Integration status
              properties:
                state:
                  type: object
                  description: Service integration state
                  properties:
                    errors:
                      type: array
                      description: Errors
                      items:
                        type: string
                    likely_error_cause:
                      type: string
                      description: Most likely cause of the errors
                      enum:
                      - 'null'
                      - destination
                      - integration
                      - source
                      - unknown
                    nodes:
                      type: object
                      description: Nodes
                      properties: {}
                    status:
                      type: string
                      description: Service integration status
                      enum:
                      - failed
                      - inactive
                      - running
                      - starting
                      - unknown
                  required:
                  - errors
                  - nodes
                  - status
                status_user_desc:
                  type: string
                  description: Integration status description
              required:
              - state
              - status_user_desc
            integration_type:
              type: string
              description: Type of the integration
            service_integration_id:
              type: string
              description: Integration ID
            source_endpoint:
              type: string
              description: Source endpoint name
            source_endpoint_id:
              type: string
              description: Source endpoint ID
            source_project:
              type: string
              maxLength: 63
              description: Project name
            source_service:
              type: string
              description: Source service name
            source_service_type:
              type: string
              maxLength: 64
              description: Service type code
            user_config:
              type: object
              description: Service integration settings
              properties: {}
          required:
          - active
          - description
          - dest_project
          - dest_service_type
          - enabled
          - integration_type
          - service_integration_id
          - source_project
          - source_service
          - source_service_type
      required:
      - service_integration
    ServiceIntegrationTypesResponse:
      type: object
      description: ServiceIntegrationTypesResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        integration_types:
          type: array
          description: List of service integration types
          items:
            type: object
            properties:
              dest_description:
                type: string
                description: Description of the destination service
              dest_service_type:
                type: string
                description: 'Service type. DEPRECATED: Use dest_service_types instead'
              dest_service_types:
                type: array
                description: Supported destination service types
                items:
                  type: string
              integration_type:
                type: string
                description: Integration type name
              source_description:
                type: string
                description: Description of the source service
              source_service_types:
                type: array
                description: Supported source service types
                items:
                  type: string
              user_config_schema:
                type: object
                description: JSON-Schema for the 'user_config' properties
                properties: {}
            required:
            - dest_description
            - dest_service_type
            - dest_service_types
            - integration_type
            - source_description
            - source_service_types
            - user_config_schema
        message:
          type: string
          description: Printable result of the request
      required:
      - integration_types
    ServiceIntegrationUpdateRequestBody:
      type: object
      description: ServiceIntegrationUpdateRequestBody
      properties:
        user_config:
          type: object
          description: Service integration settings
          properties: {}
      required:
      - user_config
    ServiceIntegrationEndpointCreateResponse:
      type: object
      description: ServiceIntegrationEndpointCreateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integration_endpoint:
          type: object
          description: Service integration endpoint
          properties:
            endpoint_config:
              type: object
              description: Service integration endpoint backend settings
              properties: {}
            endpoint_id:
              type: string
              description: Integration endpoint ID
            endpoint_name:
              type: string
              minLength: 1
              maxLength: 40
              description: Integration endpoint name
            endpoint_type:
              type: string
              description: Integration endpoint type
              enum:
              - autoscaler
              - autoscaler_service
              - datadog
              - external_aws_cloudwatch_logs
              - external_aws_cloudwatch_metrics
              - external_aws_s3
              - external_azure_blob_storage
              - external_clickhouse
              - external_elasticsearch_logs
              - external_google_cloud_bigquery
              - external_google_cloud_logging
              - external_kafka
              - external_mysql
              - external_object_storage_config
              - external_opensearch_logs
              - external_postgresql
              - external_prometheus
              - external_redis
              - external_schema_registry
              - external_sumologic_logs
              - jolokia
              - prometheus
              - rsyslog
            user_config:
              type: object
              description: Service integration endpoint settings
              properties: {}
          required:
          - endpoint_config
          - endpoint_id
          - endpoint_name
          - endpoint_type
          - user_config
      required:
      - service_integration_endpoint
    ServiceIntegrationDeleteResponse:
      type: object
      description: ServiceIntegrationDeleteResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
    ServiceIntegrationCreateRequestBody:
      type: object
      description: ServiceIntegrationCreateRequestBody
      properties:
        dest_endpoint_id:
          type: string
          maxLength: 36
          description: Integration destination endpoint ID
        dest_project:
          type: string
          maxLength: 63
          description: Defaults to project in the request path
          title: Destination project name
        dest_service:
          type: string
          maxLength: 64
          description: Destination service name
        integration_type:
          type: string
          description: Service integration type
          enum:
          - alertmanager
          - application_service_credential
          - autoscaler
          - autoscaler_service
          - caching
          - clickhouse_credentials
          - clickhouse_kafka
          - clickhouse_postgresql
          - dashboard
          - datadog
          - datahub_metadata_ingestion
          - datasource
          - disaster_recovery
          - external_aws_cloudwatch_logs
          - external_aws_cloudwatch_metrics
          - external_elasticsearch_logs
          - external_google_cloud_logging
          - external_opensearch_logs
          - flink
          - flink_external_bigquery
          - flink_external_kafka
          - flink_external_postgresql
          - internal_connectivity
          - jolokia
          - kafka_connect
          - kafka_connect_postgresql
          - kafka_inkless_postgresql
          - kafka_logs
          - kafka_mirrormaker
          - logs
          - metrics
          - opensearch_cross_cluster_replication
          - opensearch_cross_cluster_search
          - prometheus
          - read_replica
          - rsyslog
          - schema_registry_proxy
          - service_composition
          - stresstester
          - thanos_distributed_query
          - thanos_migrate
          - thanos_object_storage
          - thanoscompactor
          - thanosquery
          - thanosruler
          - thanosstore
          - vector
          - vmalert
        source_endpoint_id:
          type: string
          maxLength: 36
          description: Integration source endpoint ID
        source_project:
          type: string
          maxLength: 63
          description: Defaults to project in the request path
          title: Source project name
        source_service:
          type: string
          maxLength: 64
          description: Source service name
        user_config:
          type: object
          description: Service type-specific settings
          properties: {}
      required:
      - integration_type
    ServiceIntegrationEndpointGetResponse:
      type: object
      description: ServiceIntegrationEndpointGetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integration_endpoint:
          type: object
          description: Service integration endpoint
          properties:
            endpoint_config:
              type: object
              description: Service integration endpoint backend settings
              properties: {}
            endpoint_id:
              type: string
              description: Integration endpoint ID
            endpoint_name:
              type: string
              minLength: 1
              maxLength: 40
              description: Integration endpoint name
            endpoint_type:
              type: string
              description: Integration endpoint type
              enum:
              - autoscaler
              - autoscaler_service
              - datadog
              - external_aws_cloudwatch_logs
              - external_aws_cloudwatch_metrics
              - external_aws_s3
              - external_azure_blob_storage
              - external_clickhouse
              - external_elasticsearch_logs
              - external_google_cloud_bigquery
              - external_google_cloud_logging
              - external_kafka
              - external_mysql
              - external_object_storage_config
              - external_opensearch_logs
              - external_postgresql
              - external_prometheus
              - external_redis
              - external_schema_registry
              - external_sumologic_logs
              - jolokia
              - prometheus
              - rsyslog
            user_config:
              type: object
              description: Service integration endpoint settings
              properties: {}
          required:
          - endpoint_config
          - endpoint_id
          - endpoint_name
          - endpoint_type
          - user_config
      required:
      - service_integration_endpoint
    ServiceIntegrationEndpointUpdateRequestBody:
      type: object
      description: ServiceIntegrationEndpointUpdateRequestBody
      properties:
        user_config:
          type: object
          description: Service integration endpoint settings
          properties: {}
      required:
      - user_config
    ServiceIntegrationEndpointListResponse:
      type: object
      description: ServiceIntegrationEndpointListResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integration_endpoints:
          type: array
          description: List of service integrations
          items:
            type: object
            properties:
              endpoint_config:
                type: object
                description: Service integration endpoint backend settings
                properties: {}
              endpoint_id:
                type: string
                description: Integration endpoint ID
              endpoint_name:
                type: string
                minLength: 1
                maxLength: 40
                description: Integration endpoint name
              endpoint_type:
                type: string
                description: Integration endpoint type
                enum:
                - autoscaler
                - autoscaler_service
                - datadog
                - external_aws_cloudwatch_logs
                - external_aws_cloudwatch_metrics
                - external_aws_s3
                - external_azure_blob_storage
                - external_clickhouse
                - external_elasticsearch_logs
                - external_google_cloud_bigquery
                - external_google_cloud_logging
                - external_kafka
                - external_mysql
                - external_object_storage_config
                - external_opensearch_logs
                - external_postgresql
                - external_prometheus
                - external_redis
                - external_schema_registry
                - external_sumologic_logs
                - jolokia
                - prometheus
                - rsyslog
              user_config:
                type: object
                description: Service integration endpoint settings
                properties: {}
            required:
            - endpoint_config
            - endpoint_id
            - endpoint_name
            - endpoint_type
            - user_config
      required:
      - service_integration_endpoints
    ServiceIntegrationEndpointTypesResponse:
      type: object
      description: ServiceIntegrationEndpointTypesResponse
      properties:
        endpoint_types:
          type: array
          description: List of service integration endpoint types
          items:
            type: object
            properties:
              endpoint_type:
                type: string
                description: Endpoint type name
              service_types:
                type: array
                description: Supported service types
                items:
                  type: string
              title:
                type: string
                description: Endpoint type description
              user_config_schema:
                type: object
                description: JSON-Schema for the 'user_config' properties
                properties: {}
            required:
            - endpoint_type
            - service_types
            - title
            - user_config_schema
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
      required:
      - endpoint_types
    ServiceIntegrationGetResponse:
      type: object
      description: ServiceIntegrationGetResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integration:
          type: object
          description: Service integration
          properties:
            active:
              type: boolean
              description: True when integration is active
            description:
              type: string
              description: Description of the integration
            dest_endpoint:
              type: string
              description: Destination endpoint name
            dest_endpoint_id:
              type: string
              description: Destination endpoint id
            dest_project:
              type: string
              maxLength: 63
              description: Project name
            dest_service:
              type: string
              description: Destination service name
            dest_service_type:
              type: string
              maxLength: 64
              description: Service type code
            enabled:
              type: boolean
              description: True when integration is enabled
            integration_status:
              type: object
              description: Integration status
              properties:
                state:
                  type: object
                  description: Service integration state
                  properties:
                    errors:
                      type: array
                      description: Errors
                      items:
                        type: string
                    likely_error_cause:
                      type: string
                      description: Most likely cause of the errors
                      enum:
                      - 'null'
                      - destination
                      - integration
                      - source
                      - unknown
                    nodes:
                      type: object
                      description: Nodes
                      properties: {}
                    status:
                      type: string
                      description: Service integration status
                      enum:
                      - failed
                      - inactive
                      - running
                      - starting
                      - unknown
                  required:
                  - errors
                  - nodes
                  - status
                status_user_desc:
                  type: string
                  description: Integration status description
              required:
              - state
              - status_user_desc
            integration_type:
              type: string
              description: Type of the integration
            service_integration_id:
              type: string
              description: Integration ID
            source_endpoint:
              type: string
              description: Source endpoint name
            source_endpoint_id:
              type: string
              description: Source endpoint ID
            source_project:
              type: string
              maxLength: 63
              description: Project name
            source_service:
              type: string
              description: Source service name
            source_service_type:
              type: string
              maxLength: 64
              description: Service type code
            user_config:
              type: object
              description: Service integration settings
              properties: {}
          required:
          - active
          - description
          - dest_project
          - dest_service_type
          - enabled
          - integration_type
          - service_integration_id
          - source_project
          - source_service
          - source_service_type
      required:
      - service_integration
    ServiceIntegrationEndpointUpdateResponse:
      type: object
      description: ServiceIntegrationEndpointUpdateResponse
      properties:
        errors:
          type: array
          description: List of errors occurred during request processing
          items:
            type: object
            properties:
              message:
                type: string
                description: Printable error message
              more_info:
                type: string
                description: URL to the documentation of the error
              status:
                type: integer
                description: HTTP error status code
            required:
            - message
            - status
        message:
          type: string
          description: Printable result of the request
        service_integration_endpoint:
          type: object
          description: Service integration endpoint
          properties:
            endpoint_config:
              type: object
              description: Service integration endpoint backend settings
              properties: {}
            endpoint_id:
              type: string
              description: Integration endpoint ID
            endpoint_name:
              type: string
              minLength: 1
              maxLength: 40
              description: Integration endpoint name
            endpoint_type:
              type: string
              description: Integration endpoint type
              enum:
              - autoscaler
              - autoscaler_service
              - datadog
              - external_aws_cloudwatch_logs
              - external_aws_cloudwatch_metrics
              - external_aws_s3
              - external_azure_blob_storage
              - external_clickhouse
              - external_elasticsearch_logs
              - external_google_cloud_bigquery
              - external_google_cloud_logging
              - external_kafka
              - external_mysql
              - external_object_storage_config
              - external_opensearch_logs
              - external_postgresql
              - external_prometheus
              - external_redis
              - external_schema_registry
              - external_sumologic_logs
              - jolokia
              - prometheus
              - rsyslog
            user_config:
              type: object
              description: Service integration endpoint settings
              properties: {}
          required:
          - endpoint_config
          - endpoint_id
          - endpoint_name
          - endpoint_type
          - user_config
      required:
      - service_integration_endpoint
  parameters:
    service_name:
      in: path
      name: service_name
      description: Service name
      schema:
        type: string
      required: true
    serviceintegrationendpointget_include_secrets:
      in: query
      name: include_secrets
      description: Explicitly indicates that the client wants to read secrets that might be returned by this endpoint.
      schema:
        type: boolean
      required: false
    integration_endpoint_id:
      in: path
      name: integration_endpoint_id
      description: Endpoint ID
      schema:
        type: string
      required: true
    integration_id:
      in: path
      name: integration_id
      description: Integration ID
      schema:
        type: string
      required: true
    project:
      in: path
      name: project
      description: Project name
      schema:
        type: string
      required: true
  securitySchemes:
    tokenAuth:
      description: 'Header should be of the format `authorization: aivenv1 <TOKEN>`. Tokens can be obtained from [your Aiven profile page](https://console.aiven.io/profile/auth)'
      scheme: bearer
      type: http
    oauth2:
      type: oauth2
      description: OAuth2 security scheme
      flows:
        authorizationCode:
          authorizationUrl: https://console.aiven.io/oauth/authorize
          tokenUrl: https://api.aiven.io/v1/oauth2/token
          scopes:
            all: Provide full access to the API
            accounts: Allow enumerating and reading accounts configuration
            accounts:read: Allow modifying account configuration
            accounts:write: Provides full access to authentication related API
            authentication: Provides full access to authentication related API
            authentication:read: Allow reading authentication related configuration on resources (user profile, accounts)
            authentication:write: Allow modifying authentication related configurations on resources (user profile, accounts)
            billing: Provide full access to billing APIs
            billing:read: Allow reading billing information and configuration
            billing:write: Allow writing billing configuration
            payments: Provide full access to payment method APIs
            payments:read: Allow reading the payment method configurations
            payments:write: Allows writing payment method configuration
            privatelink: Provide full access to private link APIs
            privatelink:read: Allow enumerating and reading private link items and configurations
            privatelink:write: Allow writing (creating, modifying, deleting) private link items
            projects: Provide full access to projects APIs
            projects:read: Allow enumerating projects and reading their configuration
            projects:write: Allow writing (creating, modifying, deleting) projects
            scim: Provide full access to SCIM operations
            scim:read: Allow reading SCIM endpoints
            scim:write: Allow writing (modifying) SCIM endpoints
            services: Provide full access to services APIs
            services:read: Allow enumerating services and reading their configuration
            services:write: Allow writing (creating, modifying, deleting) services
            static_ips: Provide full access to static IPs APIs
            static_ips:read: Allow enumerating and reading static IP items and configurations
            static_ips:write: Allow writing (creating, modifying, deleting) static IP items
            tickets: Provide full access to support ticket APIs
            tickets:read: Allow enumerating and reading support tickets
            tickets:write: Allow writing (creating, modifying) support tickets
            user: Provide full access to user profile APIs
            user:read: Allow reading user profile and configuration
            user:write: Allow writing (modifying) user profile and configuration
externalDocs:
  description: Aiven CLI client
  url: https://github.com/aiven/aiven-client
